.button {

  @include border-radius(4px);
  border: 1px solid transparent;

  display: inline-block;

  text-align: center;
  padding: 6px 12px;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
  }

  &--icon {
    .fa {
      margin-right: 0.5em;
    }
  }

  &--full {
    display: block;
    min-width: 100%;
  }

  &--disabled {
    &:hover {
      cursor: default;
    }
  }

  &--blue {
    background-color: $main-blue;
    &, &:hover, &:active, &:focus {
      color: $white;
    }
  }

  &--orange {
    background-color: $main-orange;
    &, &:hover, &:active, &:focus {
      color: $white;
    }
  }

  &--light-blue {
    background-color: $main-light-blue;
    &, &:hover, &:active, &:focus {
      color: $white;
    }
  }
}
