.button {
  border-radius: 4px;
  border: 1px solid transparent;
  display: inline-block;
  text-align: center;
  padding: 6px 12px;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    text-decoration: underline;
  }

  &:disabled {
    background-color: $main-grey;

    &:hover {
      cursor: not-allowed;
      text-decoration: none;
    }
  }

  &--icon {
    .fa {
      margin-right: 0.5em;
    }
  }

  &--full {
    display: block;
    min-width: 100%;
  }

  &--disabled {
    &:hover {
      cursor: default;
    }
  }

  &--plain {
    border-color: $default-border-color;
  }

  &--blue {
    background-color: $main-blue;

    &,
    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }

  &--orange {
    background-color: $main-orange;

    &,
    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }

  &--light-blue {
    background-color: $main-light-blue;

    &,
    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }

  &--fade {
    opacity: 0.7;
    transition: opacity 0.5s ease;
    font-weight: normal;

    &:hover,
    &:active,
    &:focus {
      opacity: 1;
    }
  }

  &--vertical-center {
    display: inline-flex;
    align-items: center;
  }

  &__icon {
    background: $main-orange;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-appearance: none;
    border: none;
    border-radius: 4px;

    &:hover {
      background: darken($main-orange, 10%);
    }
  }

  &--order {
    border-radius: 0 4px 4px 0;
  }

  &__add {
    width: 100%;
  }

  // Sizes
  &--large {
    padding: 12px 18px;
  }
}
