{% load i18n %}

{% if custom_id %}
<li class="photo album" id="{{ custom_id }}">
{% else %}
<li class="photo album" id="album_{{ album.id }}">
{% endif %}
    <input type="hidden" name="album_id" value="{{ album.id }}" />
    <div class="album-title">
        <a href="{{ album.get_absolute_url }}" title="{{ album.title }}">
            {% if album.clean_title|length > 19 %}
                {{ album.clean_title|truncatechars:19 }}
            {% else %}
                {{ album.clean_title }}
            {% endif %}
        </a>
    </div>
    
    <div class="properties">
        {% blocktrans count counter=album.number_of_photos %}1 photo{% plural %}{{ counter }} photos{% endblocktrans %} &#45; {{ album.views }} views
    </div>
    
    {% spaceless %}
    <a class="photo album" href="{{ album.get_absolute_url }}">
        {% if album.cover_thumb_url %}
            <img class="thumb" src="{{ album.cover_thumb_url }}" 
            width="{{ album.get_cover.get_thumb_width }}" 
            height="{{ album.get_cover.get_thumb_height }}" alt="thumb"/>
        {% endif %}
            
            {% if not album.public %}
                <img class="private" src="{% static 'images/icons/private.png' %}" width="16" 
                height="16" alt="private" title="{% trans 'This album is only visible for me' %}"/>
            {% elif album.writable_to == "g" %}
                <img class="private" src="{% static 'images/icons/group.png' %}" width="16" 
                height="16" alt="group" title="{% trans 'This album is writable for a group' %}"/>
            {% endif %}
            
            {% if not album.trash and album.user == request.user %}
               <img class="edit" src="{% static 'images/icons/edit.png' %}" alt="edit" 
                height="16" title="{% trans 'Edit album' %}"/>
            
                <img class="remove" src="{% static 'images/icons/remove.png' %}" alt="edit" 
                height="16" title="{% trans 'Move album to trash' %}"/>
            {% elif album.trash %}
                <img class="restore" src="{% static 'images/icons/restore.png' %}" alt="restore" 
                height="16" title="{% trans 'Restore album' %}"/>
            {% endif %}
    </a>
    {% endspaceless %}
                
    <div class="properties">
        <span class="date">{% trans 'modified' %} {{ album.last_upload|date:"d b Y, H:i" }}</span>
        <br />
        <span class="date">{% trans 'created' %} {{ album.created|date:"d b Y, H:i" }}</span>
    </div>
</li>
