{% extends "base.html" %}
{% load i18n %}

{% block title %}Modelbrouwers.nl - BrouwersAlbums{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css?v={{ software_version }}" charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/albums.css?v={{ software_version }}" charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.8.22.custom.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/uploadify.css?v={{ software_version }}" />
<!--[if IE]>
	<style type="text/css">
		ul#menu{
			background-color: #0A1871;
			background-image: url('/static/images/nav/bg_menu.png');
			background-repeat: repeat-x;
		}
		div.tab{
			border-bottom: solid 2px #6F8698;
		}
	</style>
<![endif]-->
    {% block extrastyle %}
    {% endblock extrastyle %}
{% endblock style %}
	
{% block scripts %}
    <script type="text/javascript">
	    var trans_new_album = "{% trans 'New album' %}";
	    var trans_edit_album = "{% trans 'Edit album' %}";
	    var trans_save = "{% trans 'Save' %}";
	    var trans_cancel = "{% trans 'Cancel' %}";
	    var trans_trash = "{% trans 'Move to trash?' %}";
	    var trans_confirm = "{% trans 'Confirm' %}";
	    var trans_search_albums = "{% trans 'search albums...' %}";
	    var trans_pick_cover = "{% trans 'choose an album cover' %}";
	    var trans_find_users = "{% trans 'find users...' %}";
	    var trans_revoke_rights = "{% trans 'click to remove from group' %}";
	</script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/common.js?v={{ software_version }}"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8.23.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/albums.js?v={{ software_version }}"></script>
	{% block extrascript %}
	{% endblock %}
{% endblock scripts %}

{% block nav_tabs %}
    {% include "albums/nav_tabs.html" %}
{% endblock %}

{% block announcement %}
	<div>Meer info over de nieuwe albums vind je in <a href="/albums/about/" target="_blank">dit topic</a>.</div>
{% endblock %}

{% block menu %}
	<li><a href="{% url albums.views.index %}">Home</a></li>
	<li><a href="
		{% if album_preferences.default_uploader == 'F' %}
    		{% url albums.views.uploadify %}
		{% else %}
			{% url albums.views.upload %}
		{% endif %}
		">{% trans 'Add photos' %}</a>
	</li>
	<li><a href="{% url albums.views.my_albums_list %}">{% trans 'My albums' %}</a></li>
	<li><a href="{% url albums.views.albums_list %}">{% trans 'All albums' %}</a></li>
	<li><a href="{% url albums.views.my_last_uploads %}?page=1">{% trans 'My last uploads' %}</a></li>
	<li><a href="{% url albums.views.preferences %}">{% trans 'Preferences' %}</a></li>
	<!--<li><a href="/albums/coppermine/index.php" style="font-size:0.7em;">Oude albums</a></li>-->
{% endblock %}

{% block above_content %}
{% if spotlight_albums %}
<!-- start spotlight banner -->
<div id="spotlight">
    <ul class="albums-list">
        {% for album in spotlight_albums %}
            <li class="photo album" id="album_{{ album.id }}">
                <div class="album-link">
                    {% spaceless %}
                    <a class="photo album" href="{{ album.get_absolute_url }}">
                        {% if album.cover_thumb_url %}
                            <img class="thumb" src="{{ album.cover_thumb_url }}" 
                            width="{{ album.get_cover.get_thumb_width }}" 
                            height="{{ album.get_cover.get_thumb_height }}" alt="thumb"/>
                        {% endif %}
                    </a>
                    {% endspaceless %}
                </div>
                <div class="description">
                    <a href="{{ album.get_absolute_url }}" title="{{ album.title }}">
                        <strong>
                        {% if album.clean_title|length > 38 %}
                            {{ album.clean_title|truncatechars:38 }}
                        {% else %}
                            {{ album.clean_title }}
                        {% endif %}
                        </strong>
                    </a>
                    <br />
                    <span class="description">
                        {% if album.description|length > 100 %}
                            {{ album.description|truncatechars:100 }}
                        {% else %}
                            {{ album.description }}
                        {% endif %}
                    </span>
                </div>
                <div class="clear"></div>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- end spotlight banner -->
{% endif %}
{% endblock %}

{% block content %}
	<div class="tab">{% trans 'Last modified albums' %}</div>
	<div id="albums-list-homepage">
    	{% include "albums/albums_list/public_albums_rows.html" %}
        
		{% if needs_closing_tag_row_albums %}
	        </div>
		{% endif %}
		<div class="clear"></div>
		<br />
    </div>
	
	<div class="tab">{% trans 'Last uploads' %}</div>
	<div id="last_uploads">
		{% for photo in last_uploads %}
			{% cycle '<div class="row">' '' '' '' '' %}
				{% spaceless %}
				<div class="photo">
					<a class="photo" href="{{ photo.get_absolute_url }}">
						<img class="thumb" src="{{ photo.thumb_url }}" alt="thumb"
						width="{{ photo.get_thumb_width }}" 
						height="{{ photo.get_thumb_height }}"/>
					</a>
					
					<div class="properties">
						{{ photo.views }} views
						<br />
						<a href="{{ photo.user.get_absolute_url }}">{{ photo.get_username }}</a>
					</div>
				</div>
				{% endspaceless %}
			{% cycle '' '' '' '' '</div>' %}
		{% endfor %}
		{% if needs_closing_tag_row %}
			</div>
		{% endif %}
	</div>
	<div id="new-album-dialog">
        <form id="new-album" action=".">
            {% include "form_in_table_jquery-ui.html" %}
        </form>
    </div>
{% endblock content %}

