{% extends "albums/base.html" %}
{% load i18n %}{% load staticfiles %}

{% block title %}Modelbrouwers.nl album &bull; {{ album.title }}{% endblock %}

{% block extrascript %}
<script type="text/javascript">
	var url_edit = "{% url albums.ajax_views.edit_album %}";
	var url_covers = "{% url albums.ajax_views.get_covers %}";
	var url_get_group = "{% url albums.ajax_views.edit_albumgroup %}";
	var user_search_url = "{% url general.ajax_views.search_users %}";
</script>
{% endblock %}

{% block content %}
<div class="album-photos-list">
    <div class="tab album-title">
        <span style="font-weight: normal;">{% trans 'Album' %}:</span> <span class="album-title">{{ album.title }}</span>
         &bull; <a href="{{ album.user.get_absolute_url }}">{{ album.user.get_profile.forum_nickname }}</a>
        {% if album.build_report %}
            &bull; <a href="{{ album.build_report }}" target="_blank">{% trans 'Build report' %}</a>
        {% endif %}
        <span class="album-stats">
            {% if user.id == album.user.id or user_is_album_admin %}
                <a href="{% url albums.views.edit_album album.id %}" onclick="openEditDialog(event, null, {{ album.id }});return false;">bewerken</a> &#124; 
            {% endif %}
            {{ album.views }} views &#124; {% trans 'modified' %} {{ album.last_upload|date:"d b Y, H:i" }} &#124; {% trans 'created' %} {{ album.created|date:"d b Y, H:i" }}
        </span>
    </div>
    
    <div class="photos-list margin">
        {% for photo in photos %}
            {% cycle '<div class="row">' '' '' '' %}
                {% spaceless %}
                <div class="photo{% if photo == photo.album.cover %} cover{% endif %}" 
                {% if photo == photo.album.cover %}title="Album cover"{% endif %}>
                    <a class="photo" href="{{ photo.get_absolute_url }}" id="photo_{{ photo.id }}">
                        
                        {% if photo.album.user == user or user_is_album_admin %}
                        <img class="set_cover" src="{% static 'images/icons/cover.png' %}" 
                        width="24" height="24" alt="cover" title="{% trans 'set as album cover' %}"/>
                        <img class="delete" src="{% static 'images/icons/remove2.png' %}" 
                        width="24" height="24" alt="delete" title="{% trans 'delete photo' %}"/>
                        {% endif %}
                        
                        <img class="thumb" src="{{ photo.thumb_url }}" alt="{{ photo.id }}" 
                        width="{{ photo.get_thumb_width_200 }}" 
                        height="{{ photo.get_thumb_height_150 }}"/>
                    </a>
                    
                    <div class="description">
                    {% if photo.description %}
                        &ldquo;{{ photo.description|truncatechars:40 }}&rdquo;
                    {% endif %}
                    </div>
                </div>
                {% endspaceless %}
            {% cycle '' '' '' '</div>' %}
        {% endfor %}
        
        {% if needs_closing_tag_row %}
            </div>
        {% endif %}
    </div>
    
    {% with page='page' objects=photos %}
        {% include "pagination.html" %}
    {% endwith %}
    <div class="center">
        <a class="download-link" href="{% url albums.views.download_album album.id %}" target="_blank">{% trans 'download album (.zip)' %}</a>
    </div>
</div>
<div id="edit-dialog"></div>
{% endblock content %}
