{% extends "albums/base.html" %}
{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/uploadify.css' %}" />
<style type="text/css">
	div#uploading{
	    margin-bottom: 2em;
	    padding-bottom: 2em;
	}
	div.upload{
		clear: both;
		margin-left: 20px;
	}
	div.upload p{
		margin: 5px;
	}
	div.thumb{
		float: left;
		margin-bottom: 15px;
		margin-right: 15px;
	}
	label{
		width: 150px;
		float: left;
	}
	div.upload textarea{
		width: 280px;
		height: 50px;
	}
	div.upload input[type="text"]{
		width: 30px;
	}
</style>
{% endblock %}

{% block content %}
<div id="uploading">
	<div style="margin:1em;">
	    {% blocktrans count counter=photos_before %}There was 1 photo in the album {{ album }} prior to this upload.{% plural %}There were {{ photos_before }} photos in the album {{ album }} prior to this upload.{% endblocktrans %}
	</div>
	<form action="/albums/upload/extra_info/" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
		{{ formset.management_form }}
		
		{% for form in formset %}
		<div class="upload">
			<div class="thumb">
				{% if form.instance.image %}
				<img src="{{ form.instance.thumb_url }}" width="120" />
				{% endif %}
			</div>
			<div>{{ form.as_p }}</div>
		</div>
		{% endfor %}
		
		<div class="upload center">
		    <input type="hidden" name="next" value="{{ next }}" />
		    <input type="submit" value="{% trans 'Save' %}" class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;"/>
		</div>
	</form>
</div>
{% endblock %}
