{% extends "albums/base.html" %}
{% load i18n %}

{% block extrastyle %}
<!--[if IE]>
<style type="text/css">
    div.in-photo-navigation{background: transparent url('/static/images/varia/transparent.png') repeat 0 0;}
</style>
<![endif]-->
{% endblock %}

{% block content %}
<div class="tab photo-title">
    {% spaceless %}
        {% trans 'From' %} 
        <a href="{{ photo.user.get_absolute_url }}"><strong>{{ photo.user.get_profile.forum_nickname }}</strong></a>
        <span style="font-weight: normal;">, {% trans 'in the album' %} </span> 
        <a href="{{ photo.album.get_absolute_url }}"><strong>{{ photo.album.title }}</strong></a> 
        <span class="properties">&nbsp;{% blocktrans count counter=photo.album.number_of_photos %}(1 image){% plural %}({{ counter }} images){% endblocktrans%}</span>
        {% if photo.album.build_report %}
            &bull; <a href="{{ photo.album.build_report }}" target="_blank">{% trans 'Build report' %}</a>
        {% endif %}
    {% endspaceless %}
    
    <span class="photo-stats">
        {% if user.id == photo.user.id or user_is_album_admin %}
            <a href="{% url albums.views.edit_photo photo.id %}">{% trans 'edit' %}</a> &#124; 
        {% endif %}
        {{ photo.views }} views &#124; {% trans 'uploaded' %} {{ photo.uploaded|date:"d b Y, H:i" }} 
        &#124; <a href="{{ photo.image.url }}" target="_blank"><img src="{% static 'images/icons/save.png' %}" height="12" width="12" title="{% trans 'Download photo' %}" alt="download"/></a>
    </span>
</div>

<div class="photo-container">
    <div class="photo-container2">
        <div>
            <img id="photo_{{ photo.id }}" class="photo" src="{{ photo.image.url }}" alt="photo {{ photo.id }}" />
            <div id="in-photo-navigation-container">
                <div id="previous-photo" class="in-photo-navigation">
                    {% if photo.get_previous %}
                    <a href="{{ photo.get_previous.get_absolute_url }}#photo_{{ photo.get_previous.id }}">
	                    <img class="nav-arrow arrow-left" src="{% static 'images/nav/arrow-left.png' %}" alt="previous"/>
                    </a>
                    {% endif %}
                </div>
                
                <div id="next-photo" class="in-photo-navigation">
                    {% if photo.get_next %}
                    <a href="{{ photo.get_next.get_absolute_url }}#photo_{{ photo.get_next.id }}">
                         <img class="nav-arrow arrow-right" src="{% static 'images/nav/arrow-right.png' %}" alt="next"/>
                    </a>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    
    {% if photo.description %}
       <div class="description">
           &ldquo;{{ photo.description }}&rdquo;
       </div>
    {% endif %}
</div>

<div id="photo-navigation">
    <a class="navigation" href="{{ photo.url_back_3 }}"{% if not photo.url_back_3 %} style="visibility: hidden;"{% endif %}>&lsaquo;</a>
    
    {% for photo in photo.get_previous_3 reversed %}
        {% spaceless %}
        <a class="previous" href="{{ photo.get_absolute_url }}">
            <img src="{{ photo.thumb_url }}" alt="photo {{ photo.id }}"/>
        </a>
        {% endspaceless %}
    {% endfor %}
    
    {% spaceless %}
    <a class="current" href="{{ photo.get_absolute_url }}">
        <img src="{{ photo.thumb_url }}" alt="photo {{ photo.id }}"/>
    </a>
    {% endspaceless %}
    
    {% for photo in photo.get_next_3 %}
        {% spaceless %}
        <a class="next" href="{{ photo.get_absolute_url }}">
            <img src="{{ photo.thumb_url }}" alt="photo {{ photo.id }}"/>
        </a>
        {% endspaceless %}
    {% endfor %}
    
    <a class="navigation" href="{{ photo.url_forward_3 }}"{% if not photo.url_forward_3 %} style="visibility: hidden;"{% endif %}>&rsaquo;</a>
</div>
{% endblock %}
