{% load staticfiles %}
<tr id="url-row">
    <th class="label">{{ urlform.url.label }}</th>
    <td class="field">
        {{ urlform.url }}
        {% if urlform.url.help_text %}
            <img src="{% static 'images/icons/help.png' %}" width="16" height="16" alt="?" title="{{ urlform.url.help_text }}"/>
        {% endif %}
        
        <span id="url-errors">
        {% for error in urlform.url.errors %}
            <br />
            <span class="error">{{ error }}</span>
        {% endfor %}
        </span>
    </td>
    <td class="help_text">
        <!-- TODO: weghalen -->
    </td>
</tr>
