{% extends "albums/base.html" %}{% load i18n %}

{% block extrastyle %}<style type="text/css">
#id_amount{width:3em;}
#refresh-page{margin-left:-6px;}
#upload-form{padding:0.5em;}
div#file-inputs{margin-top:0.5em;}
div.file-input{padding-top:0.2em;padding-bottom:0.2em;width:50%;float:left;}
div.clear{margin-bottom:1em;}
</style>{% endblock %}

{% block content %}
<div class="tab">
    <form action="." method="get">
        {% trans 'Upload images' %} &bull;
		{% trans 'Specify the number of pictures you want to upload' %}: {{ amountform.amount }}
		<input type="submit" value="{% trans 'Refresh' %}" id="refresh-page"/>
	</form>
</div>
<div id="uploading">
	<form action="." method="post" enctype="multipart/form-data" id="upload-form">
	    {% csrf_token %}
		{% trans 'Upload to' %}: {{ albumform.album }}
		{{ formset.management_form }}
		<div id="file-inputs"><div>
		{% for form in formset %}
			<div class="file-input">{{ form }}</div>
		{% endfor %}
		</div></div>
		<div class="clear"></div>
		<div class="center"><input class="submit-button" type="submit" value="{% trans 'add photos' %}" /></div>
	</form>
</div>
{% endblock %}
