{% extends "base.html" %}

{% block extrastyle %}
<style type="text/css">
table{
    width: 100%;
}
table tr td.fieldlabel{
    text-align: right;
    padding-right: 1em;
}
input[type="text"], input[type="password"]{
    width: 16em;
}
</style>
{% endblock %}

{% block content %}
<form action="." method="POST">
    <table>
        {% include "2_col_form_v2.html" %}
        <tr><td colspan="2" style="text-align: center">
            <input type="submit" value="Bevestigen" />
        </td></tr>
    </table>
</form>
{% endblock %}
