{% extends "base.html" %}

{% block title %}
Registratie
{% endblock %}

{% block content %}
<h1>Registratie</h1>
<hr />
<br />
<p>
    Beste gebruiker,
    <br />
    Op deze pagina registreert u zich voor de extra applicaties rond Modelbrouwers.nl. U geeft als gebruikersnaam uw forumgebruikersnaam op.
</p>
<br />
<br />
<form action="" method="POST">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <p class="error"><strong>{{ error|escape }}</strong></p>
    {% endfor %}
    
    {% include "form_in_table.html" %}
    <br />
    <h4>Anti-spam maatregelen</h4>
    {{ questionform }}
    {{ question.question }}
    <br />
    {{ answerform }} <span class="error">{{ error }}</span>
    <br />
<br />
<input type = "submit" value="Registreer"/>
</form>
<br />
Alle velden zijn verplicht en in uw profiel kunt u opties instellen.
<br />
<br />
<br />

{% endblock %}
