{% extends "users/profile_edit.html" %}{% load formulation i18n %}

{% block title %}{% trans 'Modelbrouwers.nl &bull; Reset password' %}{% endblock %}

{% block container %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h2>{% trans "Reset password" %}</h2>
        <p>{% trans "Enter either your username or e-mail address to reset your password" %}</p>
        <form class="well form-horizontal" action="{% url 'users:pw_reset' %}" method="post">
        {% form 'horizontal.form' %}{% with label_grid='col-md-5 col-xs-12 col-xl-4' field_grid='col-md-7 col-xs-12 col-xl-8' %}
            {% csrf_token %}

            {% use 'non_field_errors' %}

            {% field form.username %}
            {% field form.email %}

            <div class="submit-wrapper">
                <button type="submit" class="btn bg-main-orange">{% trans "Change password" %}</button>
            </div>

        {% endwith %}{% endform %}
        </form>
    </div>
</div>
{% endblock %}
