{% extends "users/profile_edit.html" %}{% load formulation i18n %}

{% block container %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        {% if validlink %}
            <h2>{% trans "Reset password" %}</h2>
            <form class="well form-horizontal" action="." method="post">
            {% form 'horizontal.form' %}{% with label_grid='col-md-5 col-xs-12 col-xl-4' field_grid='col-md-7 col-xs-12 col-xl-8' %}
                {% csrf_token %}

                {% field form.new_password1 %}
                {% field form.new_password2 %}

                <div class="submit-wrapper">
                    <button type="submit" class="btn bg-main-orange">{% trans "Reset password" %}</button>
                </div>

            {% endwith %}{% endform %}
            </form>
        {% else %}
            <h2>{% trans 'Password reset unsuccessful' %}</h2>

            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
