{% extends "base_html5.html" %}
{% load i18n sniplates %}

{% block title %}{% trans 'Modelbrouwers.nl &bull; Edit profile' %}{% endblock %}


{% block eye-catcher %}
<header class="container-fluid eye-catcher">
    <div class="container">

        <h1>{% trans "Your profile" %}</h1>

        <p>{% blocktrans %}
            Here you can configure various site-wide settings.
        {% endblocktrans %}</p>
    </div>
</header>
{% endblock %}


{% block content %}
    {% block container %}
    <div class="row">

        <form action="." method="post" class="form-horizontal col-md-8 col-xs-12">
            {% load_widgets form='horizontal.form' %}{% with label_grid='col-sm-4' field_grid='col-sm-8' %}
            {% csrf_token %}

            {{ profiles.management_form }}
            {{ profiles.0.id }}

            {% if form.errors or profiles.0.errors %}
                <div class="text-danger">{% trans "You have form errors, check the tabs below" %}</div>
                {% widget 'form:non_field_errors' %}
                {{ profiles.0.errors }}
            {% endif %}

            {% load_widgets tabs='sniplates/tabs.html' %}

            <div role="tabpanel">

                <ul class="nav nav-tabs" role="tablist">
                    {% nested_widget 'tabs:tab' target='tab-user' active=True %}
                        {% trans "User details" %}
                    {% endnested %}

                    {% nested_widget 'tabs:tab' target='tab-address' %}
                        {% trans "Address" %}
                    {% endnested %}

                    {% nested_widget 'tabs:tab' target='tab-awards' %}
                        {% trans "Awards" %}
                    {% endnested %}

                    {% nested_widget 'tabs:tab' target='tab-privacy' %}
                        {% trans "Social settings" %}
                    {% endnested %}

                    {% nested_widget 'tabs:tab' url=PHPBB_URL|add:"ucp.php?i=profile&amp;mode=profile_info" %}
                        {% trans "Forum profile" %}
                    {% endnested %}
                </ul>

                <div class="tab-content">

                    <fieldset class="tab-pane active" id="tab-user">
                        {% form_field form.email %}
                        {% form_field form.first_name %}
                        {% form_field form.last_name %}
                    </fieldset>

                    <fieldset class="tab-pane" id="tab-address">
                        {% form_field profiles.0.street %}
                        {% form_field profiles.0.number %}
                        {% form_field profiles.0.postal %}
                        {% form_field profiles.0.city %}
                        {% form_field profiles.0.province %}
                    </fieldset>

                    <fieldset class="tab-pane" id="tab-awards">
                        {% form_field profiles.0.exclude_from_nomination %}
                    </fieldset>

                    <fieldset class="tab-pane" id="tab-privacy">
                        {% form_field profiles.0.allow_sharing %}
                    </fieldset>

                </div>
            </div>

            <div class="submit-wrapper">
                {% block submit_button %}
                    <button type="submit" class="btn btn-primary">{% block submit-btn %}{% trans "Save changes" %}{% endblock %}</button>
                {% endblock %}
            </div>
        {% endwith %}
        </form>

        <aside class="col-xs-12 col-md-4">
            <h3 class="align-tabs">{% trans "Change password" %}</h3>
            <form action="{% url 'users:change_pw' %}" class="form-horizontal well" method="post">
            {% with label_grid='col-md-6 col-xs-12' field_grid='col-md-6 col-xs-12' %}
                {% csrf_token %}

                {% form_field pw_form.old_password %}
                {% form_field pw_form.new_password1 %}
                {% form_field pw_form.new_password2 %}

                <div class="submit-wrapper">
                    <button type="submit" class="btn bg-main-orange">{% trans "Change password" %}</button>
                </div>
            {% endwith %}
            </form>

            <h3>{% trans "Download data" %}</h3>
            <form action="{% url 'users:data-download' %}" method="post">
                {% csrf_token %}

                <p>{% blocktrans trimmed %}
                    Modelbrouwers.nl takes your privacy seriously. You can download all the data
                    related to your account by clicking the button below.
                {% endblocktrans %}</p>

                <div class="submit-wrapper">
                    <button type="submit" class="btn bg-main-orange">{% trans "Download" %}</button>
                </div>
            </form>
        </aside>

    </div>
    {% endblock container %}
{% endblock content %}
