{% extends "base.html" %}
{% load i18n %}

{% block title %}
Modelbrouwers.nl &bull; Brouwverslagenoverzicht
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/builds.css" charset="utf-8"/>
{% endblock %}

{% block announcement %}
<p style="border: solid 2px red;background-color:#CCC;padding:5px;">
    De layout van deze pagina is... vreselijk en staat op de planning voor herwerking ;)
</p>
{% endblock %}

{% block menu %}
    <li><a href="{% url builds.views.builders_overview %}">{% trans "All builds" %}</a></li>
    <li><a href="{% url builds.views.add %}">{% trans 'Add build' %}</a></li>
    {% if user.is_authenticated %}
        <li><a href="/builds/profile/{{ user.get_profile.id }}/">{% trans 'My builds' %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<h1>Brouwverslagenoverzicht</h1>
<hr />
<br />
<p>Op deze pagina kan je de verslagen van andere brouwers terugvinden. Geef in het zoekveld (een stuk van) de forumnaam op, en klik op 'zoeken'. Klik vervolgens op de juiste nickname om een overzicht te krijgen.</p>
<br />
<br />
<form action="." method="post">{% csrf_token %}
	<p>{{form.nickname}} <input type = "submit" value="Zoek"/></p>
	{% for error in form.nickname.errors %}
		<p class="error"><strong>{{error}}</strong></p>
	{% endfor %}
</form>
<br />
<br />
{% block results %}
<h1>Laatst toegevoegd</h1>
<hr />
<br />
{% for build in builds %}
<p><a class="link" href="/builds/profile/{{build.profile.id}}/">{{build.profile}}</a>: <a class="link project" href="/builds/{{build.id}}/">{{build.title}}</a></p>
<br />
{% endfor %}
{% endblock %}
{% endblock %}
