{% extends "builds/base.html" %}
{% load i18n %}

{% block content %}
    <div class="tab">
        {% trans "Build reports overview" %}
        {# TODO: remove this when this template is hooked into the profile page (next to albums) #}
        &bull; 
        <a href="{{ user.get_absolute_url }}">
            {{ user.get_profile.forum_nickname }}
        </a>
    </div>

    {# TODO: make the table headers as filters? #}
    <table id="builds-overview">
        <tr id="table-header">
            <th></th>
            <th class="title">{% trans "Title" %}</th>
            <th class="brand">{% trans "Brand" %}</th>
            <th class="scale">{% trans "Scale" %}</th>
            <th class="topic-url">{% trans "Topic url" %}</th>
        </tr>
        {% for build in builds %}
            <tr class="content {% cycle 'light' 'dark' %}">
                <td>{{ forloop.counter }}.</td>
                <td class="title" id="{{ build.slug }}">
                    <a class="link-project" href="{{ build.get_absolute_url }}">
                        {{ build.title }}
                    </a>
                </td>
                <td class="brand">
                    {{ build.brand_name }}
                </td>
                <td class="scale">
                    {% if build.scale %}
                        {{ build.get_scale }}
                    {% else %}
                        {% trans "Unknown" %}
                    {% endif %}
                </td>
                <td class="topic-url">
                    <a class="topic-url" href="{{ build.topic_url }}">
                        {% trans "Go to topic..." %}
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr class="content light">
                <td colspan="4">{% trans "No build reports were found for this user!" %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
