{% extends "builds/base.html" %}
{% load url from future %}

{% block content %}
{% with profile.id|add:"-1" as prev_id %}
<p id="buttons">
<a id="button_left" href="{% url 'builds:profile_detail' prev_id %}" title="Vorige"><img src="{{STATIC_URL}}images/prev.gif" width="26" height="25" alt="previous"/></a>
{% endwith %}
{% with profile.id|add:"1" as next_id %}
<a id="button_right" href="{% url 'builds:profile_detail' next_id %}" title="Volgende"><img src="{{STATIC_URL}}images/next.gif" width="26" height="25" alt="next"/></a>
{% endwith %}
</p>
<h1>Brouwverslagenoverzicht van {{profile.forum_nickname}}</h1>
<hr />
<br />
<br />
<table id="builds">
	<tr><th>Titel</th><th>Merk</th><th>Schaal</th><th>Topic</th></tr>
	{% for build in profile.build_set.all %}
	<tr class="content light"><td><a class="link project" href="/builds/{{build.id}}/">{{build.title}}</a></td><td class="center">{{build.brand}}</td><td class="center">{{build.scale}}</td><td class="center"><a href="{{build.url}}" target="_blank">klik!</a></td></tr>
	{% empty %}
	<tr class="content light"><td colspan="4">Deze gebruiker heeft nog geen verslagen aan zijn/haar profiel toegevoegd.</td></tr>
	{% endfor %}
</table>
{% endblock %}
