{% extends "albums/base.html" %}
{% load i18n %}

{% block content %}
<div class="tab">
    {% blocktrans with album_url=form.instance.album.get_absolute_url album=form.instance.album %}Photo in the album <a href="{{ album_url }}"><strong>{{ album }}</strong></a>{% endblocktrans %}
</div>
<div id="edit-photo" class="margin">
    <form action="." method="post">
        <div class="edit-photo">
            <img src="{{ form.instance.thumb_url }}" width="150" alt="thumb" />
        </div>
        
        {% include "form_in_table.html" %}
        
        <div class="center clear">
            <input type="submit" value="{% trans 'Save' %}" name="manage" class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;"/>
        </div>
    </form>
</div>
{% endblock %}
