{% extends "albums/base.html" %}
{% load i18n %}

{% block extrascript %}
<script type="text/javascript">
    var trans_search_album = "{% trans 'search albums...' %}";
</script>
{% endblock %}

{% block content %}
<div class="tab">
    <form action="." method="get" id="album-list-searchform">
        {{ searchform.as_p }}
<!--        <input type="submit" value="zoeken" />-->
    </form>
</div>
<div id="albums-list" style="padding:0;">
    {% include "albums/albums_list/public_albums_rows_5col.html" %}
    
    {% if needs_closing_tag_row %}
        </div>
    {% endif %}
    
    {% with page='page' objects=albums %}
        {% include "pagination.html" %}
    {% endwith %}
</div>
{% endblock %}
