{% extends "albums/base.html" %}
{% load i18n %}

{% block content %}
<div class="tab" id="new">{% trans 'Create new album' %}</div>
<div id="new-album">
    <form action="." method="post">
        {% csrf_token %}
        {% for field in add_album_form.hidden_fields %}
            {{ field }}
        {% endfor %}
	    <table>
		    {% for field in add_album_form.visible_fields %}
            <tr>
                <th class="label{% if field.field.required %} required{% endif %}">{{ field.label }}</th>
                <td class="field">
                    {{ field }}
                    
                </td>
                <td class="help_text">
                    {% if field.help_text %}
                        <img src="{{ STATIC_URL }}images/icons/help.png" width="16" height="16" alt=""/>
                    {% endif %}
                    {{ field.help_text }}
                </td>
            </tr>
            {% for error in field.errors %}
                <tr class="error">
                    <td>{% trans 'Fix the error' %}:</td>
                    <td class="error" colspan="2">{{ error }}</td>
                </tr>
            {% endfor %}
            {% endfor %}
        </table>
	    <div class="center" style="margin-bottom:1em;">
	        <input type="submit" value="{% trans 'Add album' %}" name="add" 
	        class="uploadify-button" style="height:34px;line-height:30px;width:180px;margin-top:1em;"/>
	    </div>
    </form>
</div>

<div class="tab">{% trans 'Organize albums' %}</div>
<div id="albums-list">
	<form action="." method="post">
	    {% csrf_token %}
		{{ albumformset.management_form }}
		<input id="top-right-submit" type="submit" value="{% trans 'Save' %}" name="manage" 
		class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;"/>
        
		{% for form in albumformset %}
		<div class="album-form">
			<div class="thumb-container">
			    {% if form.instance.cover %}
			        <img src="{{ form.instance.cover_thumb_url }}" {% if form.instance.cover.is_wider_than_higher %}
                    width="140"{% else %}height="105"{% endif %} alt="thumb"/>
                {% endif %}
			</div>
			
			{% for error in form.non_field_errors %}
				<div class="error">
					{{ error }}
				</div>
			{% endfor %}
			
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			
			<table>
			    {% for field in form.visible_fields %}
			        <tr>
			            <th>{{ field.label }}</th>
			            <td>{{ field }}</td>
			            <td class="help_text">
			                {% if field.help_text %}
                                <img src="{{ STATIC_URL }}images/icons/help.png" 
                                width="16" height="16" alt=""/>
                            {% endif %}
                            {{ field.help_text }}
                        </td>
			        </tr>
			        {% for error in field.errors %}
			            <tr class="error">
			                <th>{% trans 'error' %}:</th>
			                <td colspan="2" class="error">{{ error }}</td>
			            </tr>
			        {% endfor %}
			    {% endfor %}
			    
			</table>
		</div>
		{% endfor %}
		<div class="center">
		    <input type="submit" value="{% trans 'Save' %}" name="manage" class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;"/>
		</div>
	</form>
</div>
{% endblock %}
