{% extends "albums/base.html" %}

{% block extrascript %}
<script type="text/javascript">
	var url_edit = "{% url brouwers.albums.ajax_views.edit_album %}";
	var url_remove = "{% url brouwers.albums.ajax_views.remove_album %}";
	var url_restore = "{% url brouwers.albums.ajax_views.restore_album %}";
	var url_get_title = "{% url brouwers.albums.ajax_views.get_title %}";
	var url_new = "{% url brouwers.albums.ajax_views.new_album_jquery_ui %}";
</script>
{% endblock %}

{% block content %}
<div id="album_list">
    {% spaceless %}
    <div class="tab">
        Mijn persoonlijke albums &bull; 
        <a href="#" id="new-album-popup">
            <strong>Nieuw album</strong>
        </a>
        &bull;
        <a href="{% url brouwers.albums.views.manage %}">
            Beheren
        </a>
        &bull; 
        {% if trash %}
            <a href="." class="highlight" title="Klik nogmaals om te verlaten">
                Prullenbak
            </a>
        {% else %}
            <a href="./?trash=True">
                Prullenbak
            </a>
        {% endif %}
        <span class="right small-text">
            <a id="ShowAllAlbums" href="{% url brouwers.albums.views.my_albums_list %}?all=1">
                Toon al mijn persoonlijke albums
            </a>
        </span>
    </div>
    {% endspaceless %}
    <div class="no-javascript" class="margin">
        Je browser ondersteunt geen Javascript. Om je albums te organiseren, kan je deze <a href="{% url brouwers.albums.views.manage %}">alternatieve pagina</a> gebruiken.
    </div>
    
    <div class="albums_container">
        {% with albums_data.0.albums as albums %}
            {% include "albums/albums_list/albums_li.html" %}
            
            {% with "page_own" as page %}
                {% include "albums/albums_list/pagination.html" %}
            {% endwith %}
        {% endwith %}
    </div>
    
    {% if albums_data.1.albums %}
        <div class="tab clear">Mijn publieke albums &#45; schrijfbaar voor anderen</div>
        <div class="albums_container">
            {% with albums_data.1.albums as albums %}
                {% include "albums/albums_list/albums_li.html" %}
                
                {% with "page_pub" as page %}
                    {% include "albums/albums_list/pagination.html" %}
                {% endwith %}
            {% endwith %}
        </div>
    {% endif %}
    
    {% if albums_data.2.albums %}
        <div class="tab clear">Publieke albums &#45; ook schrijfbaar voor mij</div>
        <div class="albums_container">
            {% with albums_data.2.albums as albums %}
                {% include "albums/albums_list/albums_rows.html" %}
                
                {% if albums_data.2.closing_tag %}
                    </div>
                {% endif %}
                
                {% with "page_other" as page %}
                    {% include "albums/albums_list/pagination.html" %}
                {% endwith %}
            {% endwith %}
        </div>
    {% endif %}
    
    <div id="new-album-dialog">
        <form id="new-album">
            {% include "form_in_table_jquery-ui.html" %}
        </form>
    </div>
    <div id="edit-dialog"></div>
    <div id="remove-dialog" style="display:none">
    	<p class="warn">Ben je zeker dat je het album &lsquo;<span id="id-album-title"></span>&rsquo; naar de prullenbak wil verplaatsen?</p>
    	<input type="hidden" name="album" id="remove-album" value=""/>
    </div>
    
</div>
{% endblock %}
