{% extends "albums/base.html" %}
{% load i18n %}

{% block extrascript %}
<script type="text/javascript">
	var url_edit = "{% url brouwers.albums.ajax_views.edit_album %}";
	var url_remove = "{% url brouwers.albums.ajax_views.remove_album %}";
	var url_restore = "{% url brouwers.albums.ajax_views.restore_album %}";
	var url_get_title = "{% url brouwers.albums.ajax_views.get_title %}";
	var url_new = "{% url brouwers.albums.ajax_views.new_album_jquery_ui %}";
    var user_search_url = "{% url brouwers.general.ajax_views.search_users %}";
</script>
{% endblock %}

{% block content %}
<div id="album_list">
    {% spaceless %}
    <div class="tab">
        {% trans 'My personal albums' %} &bull; 
        <a href="#" id="new-album-popup">
            <strong>{% trans 'New album' %}</strong>
        </a>
        &bull;
        <a href="{% url brouwers.albums.views.manage %}">
            {% trans 'Manage' %}
        </a>
        &bull; 
        {% if trash %}
            <a href="." class="highlight" title="Klik nogmaals om te verlaten">
                {% trans 'Trash' %}
            </a>
        {% else %}
            <a href="./?trash=True">
                {% trans 'Trash' %}
            </a>
        {% endif %}
        <span class="right small-text">
            <a id="ShowAllAlbums" href="{% url brouwers.albums.views.my_albums_list %}?all=1">
                {% trans 'Show all my personal albums' %}
            </a>
        </span>
    </div>
    {% endspaceless %}
    <div class="no-javascript" class="margin">
        {% url brouwers.albums.views.manage as manage_url %}
        {% blocktrans %}Your browser has no javascript. You can reorganize your albums on an <a href="{{ manage_url }}">alternative page</a>.{% endblocktrans %}
    </div>
    
    <div class="albums_container">
        <ul id="personal-albums" class="my-albums-list">
        {% with albums=albums_data.0.albums %}
            {% include "albums/albums_list/albums_li.html" %}
            
            {% with page="page_own" objects=albums %}
                {% include "pagination.html" %}
            {% endwith %}
        {% endwith %}
        </ul>
    </div>
    
    {% if albums_data.1.albums %}
        <div class="tab clear">{% trans 'My public albums &#45; others can add photos' %}</div>
        <div class="albums_container">
            <ul id="public-albums" class="my-albums-list">
            {% with albums_data.1.albums as albums %}
                {% include "albums/albums_list/albums_li.html" %}
                
                {% with page="page_pub" objects=albums %}
                    {% include "pagination.html" %}
                {% endwith %}
            {% endwith %}
            </ul>
        </div>
    {% endif %}
    
    {% if albums_data.2.albums %}
        <div class="tab clear">{% trans 'Public albums &#45; writable for me' %}</div>
        <div class="albums_container">
            <ul id="public-albums-others" class="other-albums-list">
            {% with albums_data.2.albums as albums %}
                {% include "albums/albums_list/albums_li.html" %}
                
                {% with page="page_other" objects=albums %}
                    {% include "pagination.html" %}
                {% endwith %}
            {% endwith %}
            </ul>
        </div>
    {% endif %}
    
    <div id="new-album-dialog">
        <form id="new-album">
            {% include "form_in_table_jquery-ui.html" %}
            <input type="hidden" name="from-page" value="my_albums_list" />
        </form>
    </div>
    <div id="edit-dialog"></div>
    <div id="remove-dialog" style="display:none">
    	<p class="warn">{% trans 'Are you sure you want to move the album &lsquo;<span id="id-album-title"></span>&rsquo; to the trash?' %}</p>
    	<input type="hidden" name="album" id="remove-album" value=""/>
    </div>
</div>
{% endblock %}
