{% extends "albums/base.html" %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/uploadify.css" />
{% endblock %}

{% block extrascript %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.uploadify-3.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/albums.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    /* uploadify */
    var albumId;
	var photo_ids = "";
    $('#uploadify_input').uploadify({
        'swf'       : '{{ STATIC_URL }}scripts/uploadify.swf',
        'uploader'  : '{% url brouwers.albums.ajax_views.uploadify %}',
        'auto'      : {% if album_preferences.auto_start_uploading %}true{% else %}false{% endif %},
        'buttonText': 'Selecteer foto\'s',
        'queueID'   : 'upload_queue',
        'preventCaching': true,
        'fileSizeLimit' : '18MB',
        'fileTypeDesc'  : 'Afbeeldingen',
        'fileTypeExts'  : '*.jpeg; *.jpg; *.png; *.PNG; *.JPG; *.JPEG',
        'formData'  : {'album': 'nope'},
        'method'    : 'post',
        'removeCompleted'   : false,
        'onUploadStart' : function(file) {
            albumId = $('#id_album').val();
            $("#uploadify_input").uploadify("settings", "formData", {'album': albumId, '{{ session_cookie_name }}': '{{ session_key }}'});
        },
        'onUploadSuccess': function(file, data, response) {
            photo_ids += data + "+";
        },
        'onUploadError' : function(file, errorCode, errorMsg, errorString) {
            alert(errorString);
        },
        'onQueueComplete' : function(queueData) {
            //remove the previous button
            var button = '<button class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;">Volgende stap</button>';
            var href = '/albums/upload/uploadify/complete/?album='+albumId+'&photo_ids='+photo_ids;
            $('a#next_step').html(button);
            $('a#next_step').attr("href", href);
            $('a#next_step').show();
        },
        'onDialogOpen' : function() {
            $('#queue-title').show();
            $('a#next_step').hide();
        }
    });
    
    $('a#create_new_album').click(function(){
        $.get('{% url brouwers.albums.ajax_views.new_album %}', {}, function(html){
            $('div#new_album').html(html);
            $('div#new_album').show();
        });
        $(this).hide();
        return false;
    });
});
function add_album(e){
    //POST data
    var title = $('#id_title').val();
    var desc = $('#id_description').val();
    var cat = $('#id_category').val();
    var pub = $('#id_public').val();
    var build_report = $('#id_build_report').val();
    var perm = $('#id_writable_to').val();
    // post the data
    $.post('{% url brouwers.albums.ajax_views.new_album %}', {
        title: title,
        description: desc,
        category: cat,
        public: pub,
        build_report: build_report,
        writable_to: perm
        },
        function(response){
            alert(response);
            var status = $(response).find('#status').val();
            var id = status;
            var title = $(response).attr('title');
            if (status == 'invalid'){ //show form error(s)
                $('div#new_album').html(response);
            } else { // add option to select and remove selected option
                $('#id_album').append($("<option></option>").attr("value", id).text(title));
                $('#id_album').val(id);
                $('a#create_new_album').show();
                $(e).parent().parent().parent().parent().parent().remove();
            }
        }
    );
} 
</script>
{% endblock extrascript %}

{% block content %}
<div class="tab">Upload images</div>
<div class="no-javascript" class="margin">
    Je browser ondersteunt geen Javascript, wat vereist is voor deze uploader. Je kan de <a href="{% url brouwers.albums.views.upload %}">alternatieve uploader</a> gebruiken.
</div>

<div class="info margin">Op deze pagina kan je foto's uploaden. Kies het album waarnaar je wil uploaden en voeg de foto's toe. In een volgende stap kan je desgewenst een beschrijving invullen.</div>

<div id="pick-album" class="margin">
    Uploaden naar {{ albumform.album }} <a href="/albums/manage/#new" id="create_new_album" >
    <button>Nieuw album</button></a>
</div>
<div id="new_album" class="margin" style="display: none;"></div>

<div id="uploadify">
    <input type="file" name="file_upload" id="uploadify_input" />
    <a href="javascript:$('#uploadify_input').uploadify('upload', '*')" id="start_upload">
        <button class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;">Begin upload</button></a>
    <a id="next_step" href="" style="display:none;">&nbsp;</a>
    <div class="subtitle tab" style="display: none;" id="queue-title">Upload queue</div>
    <div id="upload_queue"></div>
</div>
<div class="clear"></div>
{% endblock content %}
