{% extends "migration/base.html" %}

{% block content %}
{{ count }} available
<form action="." method="post">{% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="migreren" />
</form>
Aantal: {{ photos|length }}
<ul>
    {% for photo in photos %}
    <li style="margin-left:2em;margin-bottom:0.2em;">
        {{ photo }} ({{ photo.image }})
    </li>
    {% endfor %}
</ul>

<h2>Failed:</h2>
<ol style="margin-left:1em;">
    {% for dict in failed_migrations %}
        <li style="margin-left:1em;">
            <ul style="margin-left:1em;">
                <li>{{ dict.id }}</li>
                <li>filename: <i>{{ dict.filename }}</i></li>
                <li>cleaned filename: {{ dict.cleaned_filename }}</li>
                <li>new filename: <i>{{ dict.new_filename }}</i></li>
            </ul>
        </li>
    {% endfor %}
</ol>
{% endblock %}
