{% extends "migration/base.html" %}

{% block content %}
{{ count }} available
<form action="." method="POST">
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="migreren" />
</form>
Aantal: {{ photos|length }}
<ul>
    {% for photo in photos %}
    <li style="margin-left:2em;margin-bottom:0.2em;">
        {{ photo }}
    </li>
    {% endfor %}
</ul>

<h2>Failed:</h2>
{{ failed_migrations }}
<ol>
    {% for dict in failed_migrations %}
        <li>{{ dict.id }} - filename: {{ filename }} ({{ cleaned_filename }})</li>
    {% endfor %}
</ol>
{% endblock %}
