{% load i18n sniplates staticfiles thumbnail %}

<div class="modal fade" id="add-kit-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{% trans "Add new kit to the database" %}</h4>
                <p>{% trans "Please, only add new kits if they were not available via the search function." %}</p>
            </div>
            {% load_widgets form='horizontal.form' %}
            <div class="modal-body">
                {# can't use <form> tag because that results in nested tags #}
                {% with label_grid='col-sm-4' field_grid='col-sm-8' %}
                <div class="form-horizontal">
                    <!-- brand select -->
                    {% form_field add_form.brand widget='form:typeaheadinput' raw_value=data.brand placeholder=_('choose the brand') %}

                    <!-- scale select -->
                    {% form_field add_form.scale widget='form:typeaheadinput' raw_value=data.scale placeholder=_('choose the scale') %}

                    <!-- name -->
                    {% form_field add_form.name placeholder=_('kit name') raw_value=data.kit_name required=False %}

                    <!-- kit number -->
                    {% form_field add_form.kit_number placeholder=_('kit number') raw_value=data.kit_number required=False %}

                    <!-- boxart -->
                    {% form_field add_form.box_image placeholder=_('box image') required=False %}

                    <!-- difficulty as on the box -->
                    {% form_field add_form.difficulty placeholder=_('difficulty') required=False %}
                </div>
                {% endwith %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn bg-main-grey" data-dismiss="modal">{% trans "Close" %}</button>
                <button type="submit" class="btn bg-main-blue">{% trans "Save" %}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

{# Template for Fine-Uploader #}
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="{% trans "Drop files here" %}">

        <div class="qq-total-progress-bar-container-selector">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-uploader__progress-bar"></div>
        </div>

        <div class="qq-upload-drop-area-selector qq-uploader__drop-area" qq-hide-dropzone="false">
            <span class="qq-upload-drop-area-text-selector"></span>

            <div class="qq-upload-button-selector qq-uploader__upload-button-container">
                <div class="qq-uploader__upload-button button button--blue">
                    <i class="fa fa-upload"></i> {% trans "Upload a file" %}
                </div>
            </div>

        </div>

        <span class="qq-drop-processing-selector qq-uploader__drop-processing">
            <span>{% trans "Processing dropped files..." %}</span>
            <span class="qq-drop-processing-spinner-selector qq-uploader__drop-spinner"></span>
        </span>

        <ul class="qq-upload-list-selector qq-uploader__upload-list" aria-live="polite" aria-relevant="additions removals">
            <li class="qq-uploader__upload-list-item">
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-uploader__progress-bar"></div>
                </div>

                <div class="qq-uploader__preview">
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector qq-uploader__thumb" qq-max-size="100" qq-server-scale>
                </div>

                <div class="qq-uploader__upload-actions">
                    <span role="status" class="qq-upload-status-text-selector qq-uploader__status-text"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector button button--fade">
                        {% trans "Cancel" %}
                    </button>
                    <button type="button" class="qq-btn qq-upload-retry-selector button button--blue button--fade">
                        {% trans "Retry" %}
                    </button>
                </div>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">{% trans "Close" %}</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">{% trans "No" %}</button>
                <button type="button" class="qq-ok-button-selector">{% trans "Yes" %}</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button type="button" class="qq-cancel-button-selector">{% trans "Cancel" %}</button>
                <button type="button" class="qq-ok-button-selector">{% trans "Ok" %}</button>
            </div>
        </dialog>
    </div>
</script>
