:root {
  // colors
  --mb-color-main-blue: #006699;
  --mb-color-main-red: #e91d1d;
  --mb-color-main-green: #32bb5b;
  --mb-color-main-light-blue: #4095fd;
  --mb-color-main-pink: #df4ac5;
  --mb-color-main-grey: #919291;
  --mb-color-main-orange: #d46400;
  --mb-color-light-grey: #dbdee1;
  // typography colors
  --mb-color-text: #333333;
}
