/* css file for on the forum */
@import "compass";

@import "partials/fonts";
@import "partials/colors";
@import "partials/utils";
@import "partials/pagination";
@import "partials/perfect_scrollbar";

@import "partials/forum/albums";
@import "partials/forum/awards";
@import "partials/forum/builds";
@import "partials/forum/groupbuilds";
