@import "partials/fonts";
@import "partials/colors";
@import "partials/utils";

* {
    box-sizing: border-box;
}

@page {
    size: A4;
    margin: 0;
}

html {
    font-size: 12px;
}

div.model {
    float: left;
    width: 48.2%;
    border: solid 1px #DDD;
    height: 11.5em;
    margin: 0.5em 0.5%;
    padding: 1.5em 1em;
    color: #333;

    position: relative;
    overflow: hidden;

    .watermark {
        background: url('../images/logo/logo_modelbrouwers.png') no-repeat center center;
        background-size: 80%;
        position: absolute;
        top: 6.5em;
        left: 0;
        width: 100%;
        height: 5em;
        opacity: 0.2;
    }

    &.competition {
        height: 8em;

        .watermark {
            top: 3em;
        }
    }

    .row {
        margin-bottom: 0.5em;
        &:last-child {
            margin-bottom: 0;
        }

        label {
            display: inline-block;
            width: 18%;
            color: $main-blue;
            &:after {
                content: ":";
            }
        }

        &.float label {
            float: left;
        }
    }


    .model-name {
        font-weight: 700;
        display: block;
        margin-left: 18%;
    }
}
div.clearfix {
    clear: both;
    height: 0;
}
.pull-right {
    float: right;
}
.circle {
    color: $main-blue;
    font-weight: bold;
    border: solid 1px $main-blue;
    border-radius: 13px;
    min-width: 22px;
    text-align: center;
    padding: 3px;
}
