{
    "presets": [
        "@babel/env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "react-intl",
            {
                "messagesDir": "./src/js/locale/messages/"
            }
        ]
    ]
}
