{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "formatjs",
            {
                "idInterpolationPattern": "[sha512:contenthash:base64:6]",
                "ast": true
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            { "legacy": true }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            { "loose": true }
        ],
        "@babel/plugin-transform-runtime",
    ],
}
