{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "react-intl",
            {
                "messagesDir": "./src/js/locale/messages/"
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            { "legacy": true }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            { "loose": true }
        ],
        "@babel/plugin-syntax-dynamic-import"
    ],
}
