node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.vscode
env/
.env
local.py

/media/
/media_sendfile/
/mails/
/static/

/doc/
/vendor/

/src/static/js
/src/static/css
!/src/static/css/base.css
!/src/static/css/common.css
!/src/static/css/images
