*.pyc

# [sublime]
*.sublime*

# [phpBB3 symlinks]
phpBB3/styles/subsilver2_dead_topics/template/common/_settings.php
phpBB3/styles/subsilver2_dead_topics/template/common/_nav_tabs.php

# public html symlink (required for composer opencart)
/public_html

# settings
apache
/brouwers/settings/local_settings.py
src/conf/settings/local.py
secrets.py

# Collection directories
/media
/media_sendfile
/static
/mails
/test_media
*.log

# Annoying windows files
Thumbs.db

# Random
/failed_migrations.txt
.sass-cache

# Tests & coverage
/.coverage
/coverage.xml
cover/
_codecov_coverage.xml

# PHP composer
/vendor/
/shop

# Frontend package managers
/node_modules
npm-debug.log
/src/static/jspm_packages

# Docs
/doc/_build

# Pycharm-specific files
.idea/
src/brouwers/__pycache__/
src/brouwers/albums/__pycache__/
src/brouwers/awards/__pycache__/
src/brouwers/banning/__pycache__/
src/brouwers/brouwersdag/__pycache__/
src/brouwers/builds/__pycache__/
src/brouwers/forum_tools/__pycache__/
src/brouwers/general/__pycache__/
src/brouwers/general/migrations/0002_auto_20180401_1643.py
src/brouwers/groupbuilds/__pycache__/
src/brouwers/kitreviews/__pycache__/
src/brouwers/kits/__pycache__/
src/brouwers/migration/__pycache__/
src/brouwers/online_users/__pycache__/
src/brouwers/secret_santa/
src/brouwers/shirts/
src/brouwers/shop/scripts.py
src/brouwers/users/__pycache__/
src/brouwers/utils/__pycache__/
src/conf/__pycache__/
src/conf/settings/__pycache__/
src/static/css/forum.css
src/static/css/ie.css
src/static/css/maps/
src/static/css/print.css
src/static/css/print_brouwersdag.css
src/static/css/screen.css
src/static/js/
