/__pycache__/
*.pyc

# [sublime]
*.sublime*

# [phpBB3 symlinks]
phpBB3/styles/subsilver2_dead_topics/template/common/_settings.php
phpBB3/styles/subsilver2_dead_topics/template/common/_nav_tabs.php

# public html symlink (required for composer opencart)
/public_html

# settings
apache
src/brouwers/conf/local.py
secrets.py
.env

# Collection directories
/media
/media_sendfile
/static
/mails
/test_media
*.log

# Annoying windows files
Thumbs.db

# Random
/failed_migrations.txt
.sass-cache

# Tests & coverage
/.coverage
/coverage.xml
cover/
_codecov_coverage.xml

# PHP composer
/vendor/
/shop

# Frontend package managers
/node_modules
npm-debug.log
/src/static/jspm_packages

# Docs
/doc/_build

# Pycharm-specific files
.idea/

# Build results
src/static/css/
src/static/bundles/
!src/static/css/images
!src/static/css/base.css
!src/static/css/common.css
!src/static/css/jquery-ui-1.10.2.custom.css

src/static/js/

# docker pre-populate
/docker/mysql/*.sql.gz
/docker/postgres/modelbrouwers.sql.gz
