*.pyc

# [sublime]
*.sublime*

# [phpBB3 symlinks]
phpBB3/styles/subsilver2_dead_topics/template/common/_settings.php
phpBB3/styles/subsilver2_dead_topics/template/common/_nav_tabs.php

# settings
apache
/brouwers/settings/local_settings.py
secrets.py

# Collection directories
/media
/static
/mails

# Annoying windows files
Thumbs.db

# Random
/failed_migrations.txt
