<!-- DEFINE $S_IN_INDEX = 1 -->
<!-- INCLUDE overall_header.html -->

<!-- $Id: portal_main.html,v 1.2 2007/04/14 02:05:17 angelside Exp $ //-->
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr>
<!-- [+] left block area -->
	<td width="180" valign="top">

<!--// [+] main menu //-->
		<!-- INCLUDE bb3portal/block/main_menu.html -->
<!--// [-] main menu //-->

<!--// [+] search //-->
		<!-- IF S_DISPLAY_SEARCH -->
		<!-- INCLUDE bb3portal/block/search.html -->
		<!-- ENDIF -->
<!--// [-] search //-->

<!--// [+] make a donation //-->
		<!-- IF S_DISPLAY_PAY_S -->
		<!-- INCLUDE bb3portal/block/donation/donation_small.html -->
		<!-- ENDIF -->
<!--// [-] make a donation //-->

<!--// [+] latest members //-->
		<!-- INCLUDE bb3portal/block/latest_members.html -->
<!--// [-] latest members //-->

<!--// [+] random member //-->
		<!-- INCLUDE bb3portal/block/random_member.html -->
<!--// [-] random member //-->

<!--// [+] clock //-->
		<!-- INCLUDE bb3portal/block/clock.html -->
<!--// [-] clock //-->

<!--// [+] link us //-->
		<!-- INCLUDE bb3portal/block/link_us.html -->
<!--// [-] link us //-->

<!--// [+] links //-->
		<!-- INCLUDE bb3portal/block/links.html -->
<!--// [-] links //-->

<!--// [+] last bots //-->
		<!-- IF S_LAST_VISITED_BOTS -->
		<!-- INCLUDE bb3portal/block/last_bots.html -->
		<!-- ENDIF -->
<!--// [-] last bots //-->

<!--// [+] poll //-->
		<!-- IF S_HAS_POLL -->
		<!-- INCLUDE bb3portal/block/poll.html -->
		<!-- ENDIF -->		
<!--// [-] poll //-->

<!--// [+] birthday list //-->
		<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
		<!-- INCLUDE bb3portal/block/birthday_list.html -->
		<!-- ENDIF -->
<!--// [-] birthday list //-->

	</td>
<!-- [-] left block area -->
	<td width="4" valign="top"></td>

<!-- [+] center block area -->
	<td valign="top">


<!--// [+] welcome //-->
	<!-- INCLUDE bb3portal/block/welcome.html -->
<!--// [-] welcome //-->

<!--// [+] make a donation //-->
		<!-- IF S_DISPLAY_PAY_C -->
		<!-- INCLUDE bb3portal/block/donation/donation.html -->
		<!-- ENDIF -->
<!--// [-] make a donation //-->

<!--// [+] recent topic //-->
	<!-- INCLUDE bb3portal/block/recent.html -->
<!--// [-] recent topic //-->

<!--// [+] global announcments //-->
	<!-- IF S_DISPLAY_ANNOUNCMENTS_LIST -->
	<!-- INCLUDE bb3portal/block/announcments.html -->
	<!-- ENDIF -->
<!--// [-] global announcments //-->

<!--// [+] news //-->
	<!-- IF S_DISPLAY_NEWS_LIST -->
	<!-- INCLUDE bb3portal/block/news.html -->
	<!-- ENDIF -->
<!--// [-] news //-->


<!--// [+] jumpbox //-->
	<!-- INCLUDE bb3portal/block/jumpbox.html -->
<!--// [-] jumpbox //-->

	</td>
<!-- [-] center block area -->
	<td width="4" valign="top"></td>

<!-- [+] right block area -->
	<td width="180" valign="top">


<!--// [+] login_box //-->
		<!-- IF not S_USER_LOGGED_IN -->
		<!-- INCLUDE bb3portal/block/login_box.html -->
		<!-- ENDIF -->
<!--// [-] login_box //-->
		
<!--// [+] user menu //-->
		<!-- IF S_USER_LOGGED_IN -->
		<!-- INCLUDE bb3portal/block/user_menu.html -->
		<!-- ENDIF -->
<!--// [-] user menu //-->

<!--// [+] online_friends //-->
	<!-- IF S_USER_LOGGED_IN -->
		<!-- IF S_ZEBRA_ENABLED -->
		<!-- INCLUDE bb3portal/block/online_friends.html -->
		<!-- ENDIF -->
	<!-- ENDIF -->
<!--// [-] online_friends //-->

<!--// [+] advanced stat //-->
		<!-- INCLUDE bb3portal/block/stat_adv.html -->
<!--// [-] advanced stat //-->

<!--// [+] stat //-->
		<!-- INCLUDE bb3portal/block/stat.html -->
<!--// [-] stat //-->

<!--// [+] who is online //-->
		<!-- IF S_DISPLAY_ONLINE_LIST -->
		<!-- INCLUDE bb3portal/block/whos_online.html -->
		<!-- ENDIF -->
<!--// [-] who is online //-->

<!--// [+] leaders //-->
		<!-- INCLUDE bb3portal/block/leaders.html -->
<!--// [-] leaders //-->

<!--// [+] most poster //-->
		<!-- INCLUDE bb3portal/block/most_poster.html -->
<!--// [-] most poster //-->

	</td>
<!-- [-] right block area -->
</tr>
</table>
<!--// phpBB3 portal by Sevdin Filiz, phpbb3portal.com //-->
<!-- INCLUDE overall_footer.html -->