interactions:
- request:
    body: '{"from_address": {"country_code": "NL"}, "to_address": {"country_code":
      "BE"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://panel.sendcloud.sc/api/v3/shipping-options
  response:
    body:
      string: '{"data":[{"code":"dpd:shop2shop","name":"DPD Shop2Shop","carrier":{"code":"dpd","name":"DPD"},"product":{"code":"dpd:shop2shop","name":"DPD
        Shop2Shop"},"functionalities":{"b2b":true,"b2c":true,"ers":false,"size":null,"tyres":false,"sorted":false,"boxable":false,"premium":false,"returns":false,"segment":null,"tracked":true,"id_check":false,"incoterm":null,"manually":false,"priority":null,"age_check":null,"insurance":520,"labelless":false,"last_mile":"service_point","signature":true,"surcharge":false,"first_mile":"dropoff","multicollo":true,"bulky_goods":false,"form_factor":"parcel","fresh_goods":false,"eco_delivery":false,"service_area":"international","flex_delivery":false,"fragile_goods":false,"non_conveyable":false,"dangerous_goods":false,"delivery_before":null,"cash_on_delivery":null,"harmonized_label":false,"weekend_delivery":null,"carrier_insurance":false,"delivery_attempts":1,"delivery_deadline":"best_effort","neighbor_delivery":false,"customs_value_limit":null,"registered_delivery":false,"carrier_billing_type":null,"personalized_delivery":false,"direct_contract_only":false},"max_dimensions":{"width":"50.00","length":"100.00","height":"50.00","unit":"cm"},"weight":{"min":{"value":"0.001","unit":"kg"},"max":{"value":"20.001","unit":"kg"}},"parcel_billed_weights":[{"unit":"kg","value":"1.000","volumetric":false,"calculation":null,"parcel_number":1}],"contract":{"id":52024,"client_id":"","carrier_code":"dpd","name":"Sendcloud
        broker (bulk)"},"requirements":{"fields":[],"export_documents":false,"is_service_point_required":true},"quotes":[],"charging_type":"label_creation"},{"code":"sendcloud:letter","name":"Unstamped
        letter","carrier":{"code":"sendcloud","name":"Sendcloud"},"product":{"code":"sendcloud:letter","name":"Unstamped
        letter"},"functionalities":{"b2b":true,"b2c":true,"ers":false,"size":null,"tyres":false,"sorted":false,"boxable":false,"premium":false,"returns":false,"segment":null,"tracked":false,"id_check":false,"incoterm":null,"manually":false,"priority":null,"age_check":null,"insurance":null,"labelless":false,"last_mi[...]
