interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://panel.sendcloud.sc/api/v3/user/auth/metadata
  response:
    body:
      string: '{"errors":[{"status":"403","code":"authentication_failed","detail":"Wrong
        pass or user"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 403
      message: Forbidden
- request:
    body: null
    headers:
    method: GET
    uri: https://panel.sendcloud.sc/api/v3/user/auth/metadata
  response:
    body:
      string: '{"data":{"user_id":1961,"integration_id":5195}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
