{% load i18n %}{% load staticfiles %}{% load cycle from future %}

{% for album in albums %}
    {% autoescape off %}{% cycle '<div class="row">' '' '' '' %}{% endautoescape %}
        <div class="photo album">
            <div class="album-title">
                <a href="{{ album.get_absolute_url }}" title="{{ album.title }}">
                    {% if album.title|length > 19 %}
                        {{ album.title|truncatechars:19 }}
                    {% else %}
                        {{ album.title }}
                    {% endif %}
                </a>
            </div>

            <div class="properties">
                {% blocktrans count counter=album.photo_set.count %}1 photo{% plural %}{{ counter }} photos{% endblocktrans %} &#45; {{ album.views }} views
            </div>

            {% spaceless %}
            <a class="photo album" href="{{ album.get_absolute_url }}">
                {% if album.cover_thumb_url %}
                    <img class="thumb" src="{{ album.cover_thumb_url }}"
                    width="{{ album.get_cover.get_thumb_width }}"
                    height="{{ album.get_cover.get_thumb_height }}" alt="thumb"/>
                {% endif %}

                    {% if not album.public %}
                        <img class="private" src="{% static 'images/icons/private.png' %}" width="16"
                        height="16" alt="private" title="{% trans 'This album is only visible for me' %}"/>
                    {% endif %}

                    {% ifequal album.user user %}
                    <img class="edit" src="{% static 'images/icons/edit.png' %}" alt="edit"
                    height="16" onclick="alert('edit');" title="{% trans 'Edit album' %}"/>

                    <img class="remove" src="{% static 'images/icons/remove.png' %}" alt="edit"
                    height="16" onlick="alert('remove');" title="{% trans 'Move album to trash' %}"/>
                    {% endifequal %}
            </a>
            {% endspaceless %}

            <div class="properties">
                <span class="date">{% trans 'modified' %} {{ album.last_upload|date:"d b Y, H:i" }}</span>
                <br />
                <span class="date">{% trans 'created' %} {{ album.created|date:"d b Y, H:i" }}</span>
            </div>
        </div>
    {% autoescape off %}{% cycle '' '' '' '</div>' %}{% endautoescape %}
{% endfor %}
