{% load i18n %}{% load cycle from future %}

{% for album in albums %}
{% autoescape off %}{% cycle '<div class="row">' '' '' '' %}{% endautoescape %}
    {% spaceless %}
        <div class="homepage-album">
            <div class="album-title">
                <a href="{{ album.get_absolute_url }}" title="{{ album.title }}">{{ album.title|truncatechars:25 }}</a>
            </div>
            <div class="properties">
                {% blocktrans count album.number_of_photos as counter %}1 photo{% plural %}{{ counter }} photos{% endblocktrans %}
            </div>
            {% with coverdata=album.get_cover_data %}
            <a class="photo album" href="{{ album.get_absolute_url }}">
                {% if album.cover_thumb_url %}
                    <img class="thumb" src="{{ coverdata.thumb_url }}"
                    width="{{ coverdata.width }}"
                    height="{{ coverdata.height }}" alt="thumb"/>
                {% endif %}
            </a>
            {% endwith %}
            <div class="properties">
                {{ album.views }} views
                {% if not total %}
                    <br />
                    <a href="{{ album.user.get_absolute_url }}">{{ album.get_username }}</a>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% autoescape off %}{% cycle '' '' '' '</div>' %}{% endautoescape %}
{% endfor %}
