.review-ratings {
  padding-top: 2em;

  &.review-ratings--in-preview {
    max-height: 200px;
    position: relative;
    min-height: 50px;
    overflow: hidden;

    &:after {
      content: ' ';
      position: absolute;
      width: 100%;
      display: block;
      height: 50px;

      bottom: 0;
      left: 0;

      background: linear-gradient(180deg, transparent, $white);
    }
  }

  & &__item {
    opacity: 0.85;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 1;
    }

    .progress {
      margin-bottom: 15px;
    }
  }

  @include lte-mobile {
    .review-rating__label {
      text-align: left;
    }
  }
}
