{% extends "base.html" %}
{% load i18n shop %}

{% block title %} {% trans "Orders" %}{% endblock %}

{% block body-class %}shop-backoffice{% endblock body-class %}

{% block eye-catcher %}
    <header class="container-fluid eye-catcher">
        <div class="container">
            <div class="row">
                <h1 class="col-md-8">{% trans "Orders" %}</h1>
                <div class="col-md-4">
                    <br />
                    <i class="pull-right fa fa-building fa-2x"></i>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section>
        {% for order in orders %}
            <div class="order-summary">

                <div class="order-summary__details">
                    <span class="order-summary__reference" title="{% trans 'Order number' %}">
                        {{ order.reference }}
                    </span>
                    <span class="order-summary__name" title="{% trans 'Customer' %}">
                        {{ order.get_full_name }}
                    </span>
                </div>

                {# Status information #}
                <div class="order-summary__status-row">
                    <span class="order-summary__status-title">
                        {% trans 'Order status' %}
                    </span>
                    {% order_status order %}

                    <span class="order-summary__status-title">
                        {% trans 'Payment status' %}
                    </span>
                    {% if order.payment %}
                        {% payment_status order.payment %}
                    {% else %}
                        {% trans "No payment information." %}
                    {% endif %}
                </div>

                <div class="order-summary__price key-value key-value--stretch-mobile key-value--plain">
                    <div class="key-value__label">
                        {% trans "Total price" %}
                    </div>
                    <div class="key-value__text">
                        {{ order.payment.format_amount }}
                    </div>
                </div>

                <div class="order-summary__created key-value key-value--stretch-mobile key-value--plain">
                    <div class="key-value__label">
                        {% trans 'Placed' %}
                    </div>
                    <div class="key-value__text">
                        <time datetime="{{ order.created.isoformat }}">
                        {% blocktrans with since=order.created|timesince trimmed %}
                            {{ since }} ago
                        {% endblocktrans %}
                        </time>
                    </div>
                </div>

                <div class="order-summary__modified key-value key-value--stretch-mobile key-value--plain">
                    <div class="key-value__label">
                        {% trans 'Last modified' %}
                    </div>
                    <div class="key-value__text">
                        <time datetime="{{ order.modified.isoformat }}">
                        {% blocktrans with since=order.modified|timesince trimmed %}
                            {{ since }} ago
                        {% endblocktrans %}
                        </time>
                    </div>
                </div>

            </div>
        {% endfor %}
    </section>
    {% include "includes/pagination.html" %}
{% endblock %}
