{% extends "shop/backoffice/base.html" %}
{% load i18n %}

{% block title %} {% trans "Shop backoffice | Orders" %}{% endblock %}

{% block body-class %}shop-backoffice{% endblock body-class %}

{% block eye-catcher %}
    <header class="container-fluid eye-catcher">
        <div class="container">
            <h1>
                {% trans "Orders" %}
                <i class="pull-right fa fa-shopping-bag fa-2x"></i>
            </h1>

            <p>{% blocktrans trimmed %}
                Overview of all orders, sorted by most recently placed first.
            {% endblocktrans %}</p>
        </div>
    </header>
{% endblock %}

{% block content %}
    <ol class="order-list">
        {% for order in orders %}
            {% url 'shop:order-detail' reference=order.reference as detail_url %}
            <li class="order-summary {% if order.status == 'received' %}order-summary--new{% endif %}">

                <heading class="order-summary__heading">
                    <h2 class="order-summary__reference">
                        <a href="{{ detail_url }}" class="order-summary__reference-link" title="{% trans 'Order number' %}">
                            {{ order.reference }}
                        </a>
                    </h2>

                    {% if order.payment %}
                        <div class="order-summary__price">
                            {{ order.payment.format_amount }}
                        </div>
                    {% endif %}
                </heading>

                <span class="order-summary__name" title="{% trans 'Customer' %}">
                    {{ order.get_full_name }}
                </span>

                <div class="order-summary__metadata">
                    <div class="key-value key-value--stretch-mobile">
                        <div class="key-value__label">
                            {% trans "Payment status" %}
                        </div>
                        <div class="key-value__text">
                            {% if order.payment %}
                                {{ order.payment.get_status_display }}
                            {% else %}
                                {% trans "No payment information." %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="key-value key-value--stretch-mobile">
                        <div class="key-value__label">
                            {% trans "Order status" %}
                        </div>
                        <div class="key-value__text">
                            {{ order.get_status_display }}
                        </div>
                    </div>

                    <div class="key-value key-value--stretch-mobile">
                        <div class="key-value__label">
                            {% trans 'Placed' %}
                        </div>
                        <div class="key-value__text">
                            <time datetime="{{ order.created.isoformat }}">
                            {% blocktrans with since=order.created|timesince trimmed %}
                                {{ since }} ago
                            {% endblocktrans %}
                            </time>
                        </div>
                    </div>
                </div>

                <div class="text-right">
                    <a href="{{ detail_url }}" class="button button--orange">
                        {% trans "Manage order" %}
                    </a>
                </div>
            </li>
        {% endfor %}
    </section>
    {% include "includes/pagination.html" %}
{% endblock %}
