{% extends "base_html5.html" %}
{% load i18n staticfiles %}

{% block body-class %}error-page{% endblock %}

{% block eye-catcher %}
<header class="container-fluid eye-catcher">
    <div class="container">
        <h1>{% trans "404: page not found" %}</h1>
    </div>
</header>
{% endblock %}


{% block content %}
<article class="text-center">
    {% url 'index' as url_index %}
    <a href="{{ url_index }}" class="error__logo">
        <img src="{% static 'images/logo/logo.gif' %}"alt="logo"width="592" height="92">
    </a>
    {% block error_code %}
        <p class="error__code">{% trans "Oops... a 404!" %}</p>
    {% endblock error_code %}
    {% block error_msg %}
        <p class="error__text">{% blocktrans trimmed with return=request.META.HTTP_REFERER %}
            The requested page could not be found or isn't accessible because of
            limited user rights. Click on the big logo above or click
            <a href="{{ url_index }}">here</a> to return to the homepage.
            Alternatively, use the back button in your browser or click
            <a href="{{ return }}">here</a> to return to the previous page.
        {% endblocktrans %}</p>
    {% endblock error_msg %}
</article>
{% endblock %}
