{% load compress static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="en" {% block data-page %}{% endblock %}>
    <head>
        <meta charset="utf-8">
        <title>Modelbrouwers.nl &bull;{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="">
        <meta name="description" content="Modelbrouwers.nl is de 'place to be' voor alle fanaten van kunststof schaalmodellen van bijvoorbeeld Revell of AMT. Een forum en plaats om je modelbouwfoto's te uploaden in je eigen fotoalbum!" />
        <meta name="keywords" content="amt, revell, tamiya, verf , modelbouw, modelkit, paint, enamel, humbroll, revell, airbrush, academy, hobby, model, kits, kit, doyusha, dragon, bigscale, scale, schaal, schaalmodel, hasegawa, italeri, minicrafts, pst, polystyreen" />

        <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

        {% compress css %}
            <link href="{% static 'css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
            <link href="{% static 'css/print.css' %}" media="print" rel="stylesheet" type="text/css" />
            {% block extrastyle %}{% endblock %}
        {% endcompress %}
        <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}">
    </head>

    <body class="{% block body-class %}{% endblock %}">
        {% include "nav_top.html" %}

        {% block messages %}
            {% if messages %}
            <div class="container"><ul class="messages list-group">
                {% for message in messages %}
                    <li class="list-group-item list-group-item-{{ message.tags }}">{{ message|safe }}</li>
                {% endfor %}
            </ul></div>
            {% endif %}
        {% endblock messages %}

        {% block sub-nav %}
        <div class="container">
            <div class="row">
                <div class="col-md-6">{% block page-title %}{% endblock %}</div>
                <div class="col-md-6 sub-nav-links">{% block sub-nav-links %}{% endblock %}</div>
            </div>
        </div>
        {% endblock %}

        {% block eye-catcher %}{% endblock %}

        <div class="ad-container">
            <div class="container">
                {% block content %}{% endblock content %}
                {% block ads %}
                    {% include "includes/ads.html" %}
                {% endblock %}
            </div>
        </div>

        <footer>

            <div class="container text-right text-muted">
                {% if user.is_authenticated %}
                    {% url 'users:profile' as profile_url %}
                    <i class="fa fa-user"></i>
                    {% blocktrans %}logged in as <a href="{{ profile_url }}">{{ user }}</a>{% endblocktrans %}
                    &bull;
                    <a href="{% url 'users:logout' %}">{% trans "logout" %}</a>
                {% else %}
                    <a href="{% url 'users:login' %}?next={{ request.path }}">{% trans "Login" %}</a>
                    &bull;
                    <a href="{% url 'users:register' %}">{% trans "Register" %}</a>
                {% endif %}
                &bull;
                <a href="/winkel/privacy/">{% trans "Privacy statement" %}</a>
            </div>

            <div class="container-fluid text-center">{% block footer %}
                {# {% include "footer_banner.html" %} #}
                <p class="text-muted">
                    <img src="{% static 'images/varia/email.png' %}" width="158" height="15" alt="admins[[@]]modelbrouwers.nl" />
                    <br />
                    &copy; 2005-{% now "Y" %} Modelbrouwers.nl &amp; Sergei Maertens

                    &bull; We're <a href="https://github.com/modelbrouwers/modelbrouwers">Open Source</a>!

                    {% if user.is_superuser %}<br />[ <a href="/admin/">Django admin</a> ]{% endif %}

                    <a href="{{ HONEYPOT_URL }}" style="display: none;">ozone-inevitable</a>
                </p>
            {% endblock %}</div>
        </footer>

        {% block modals %} {% endblock %}

        {% block js_no_compress %}{% endblock %}

        {% include "includes/google-analytics.html" %}
        <script src="{% static 'js/main.js' %}"></script>
        {% block extrascript %}{% endblock %}

    </body>


</html>
