{% load staticfiles %}
{% spaceless %}
<div id="shop-footer">
    <ul>
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/winkel/decals-en-benodigdheden">decalbenodigdheden</a>
            <!--<br />-->
            <div id="footer-decals" class="blokje">
                <a class="div_link" href="http://www.modelbrouwers.nl/winkel/decals-en-benodigdheden"></a>
            </div>
        </li>

        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/winkel/schuren-en-polijsten">schuur- en polijstmaterialen</a>
            <div id="footer-schuur-polijst" class="blokje">
                <a class="div_link" href="http://www.modelbrouwers.nl/winkel/schuren-en-polijsten"></a>
            </div>
        </li>

        {% comment %}
        <li id="new_product">
            <div>
                <iframe src="/shop/catalog/products_new_small2.php"
                name="whats_new" scrolling="no"
                frameborder="0" width="135px" height="163px">
                </iframe>
            </div>
        </li>
        {% endcomment %}

        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/winkel/mal-en-kunstharsproducten">mal- en gietproducten</a>
            <div id="footer-gieten" class="blokje">
                <a class="div_link" href="http://www.modelbrouwers.nl/winkel/mal-en-kunstharsproducten"></a>
            </div>
         </li>

        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/winkel/verlichtingsets">verlichtingsmaterialen</a>
            <div id="footer-verlichting" class="blokje">
               <a class="div_link" href="http://www.modelbrouwers.nl/winkel/verlichtingsets"></a>
            </div>
        </li>
    </ul>
    <img src="{% static 'images/logo/tekst.gif' %}" width="773" height="52" alt="logo Modelbrouwers" />
</div>
{% endspaceless %}
