{% load i18n staticfiles brouwers %}

{% url 'brouwers.general.views.index' as url_home %}
{% url 'brouwers.albums.views.index' as url_albums %}
{% url 'brouwers.kitreviews:index' as url_kitreviews %}

{% spaceless %}
    <li id="tab-home" class="tab">
        <a href="{{ url_home }}"
            {% ifequal request.path url_home %} class="nav active"{% endifequal %}
            title="{% if not request.path|startswith:url_home %}{% trans 'Visit the homepage!' %}{% endif %}"></a>
    </li>

    <li id="tab-forum" class="tab">
        <a href="/phpBB3/" title="{% trans 'Visit the forums!' %}"></a>
    </li>

    <li id="tab-shop" class="tab">
        <a href="/winkel/" title="{% trans 'Visit the shop!' %}"></a>
    </li>

    <li id="tab-albums" class="tab">
        <a href="{{ url_albums }}"
            {% if request.path|startswith:url_albums %} class="nav active"{% endif %}
            title="{% if request.path|startswith:url_albums %}{% trans 'You are now in the photo albums!' %}{% else %}{% trans 'Go to the albums!' %}{% endif %}"></a>
    </li>

    <li id="tab-kitreviews" class="tab">
        <a href="{{ url_kitreviews }}"{% if request.path|startswith:url_kitreviews %} class="nav active"{% endif %}
            title="{% if not request.path|startswith:url_kitreviews %}{% trans 'Visit the kit reviews!' %}{% endif %}"></a>
    </li>
    <!--<li>
        <img src="{% static 'images/nav/modelbouw_wiki.png' %}" alt="Modelbouw Wiki"/>
    </li>-->
{% endspaceless %}
