{% extends "404.html" %}{% load i18n %}

{% block error_code %}
    <p class="error__code">{% trans "Oops! This has been removed..." %}</p>
{% endblock error_code %}

{% block error_msg %}
    <p class="error__text">{% blocktrans trimmed %}
        Sorry! The Secret Santa application is no longer available. Since it was
        barely used, this has been removed.
    {% endblocktrans %}
    </p>

    <p class="error__text">
        {% blocktrans trimmed with return=request.META.HTTP_REFERER %}
        Click on the big logo above or click
        <a href="{{ url_index }}">here</a> to return to the homepage.
        Alternatively, use the back button in your browser or click
        <a href="{{ return }}">here</a> to return to the previous page.
    {% endblocktrans %}</p>
{% endblock error_msg %}
