{% load static %}
{% with '/winkel/' as shop_base_url %}
<li>
    <a href="{{ shop_base_url }}uhu" id="shop-uhu"></a>
</li>
<li>
    <a href="{{ shop_base_url }}xuron" id="shop-xuron"></a>
</li>
<li>
    <a href="{{ shop_base_url }}revell" id="shop-revell"></a>
</li>
<li>
    <a href="{{ shop_base_url }}alclad2" id="shop-alclad"></a>
</li>
<li>
    <a href="{{ shop_base_url }}bare-metal-foil" id="shop-bmf"></a>
</li>
<li>
    <a href="{{ shop_base_url }}birchwood-casey" id="shop-birchwood"></a>
</li>
<li>
    <a href="{{ shop_base_url }}evergreen" id="shop-evergreen"></a>
</li>
<li>
    <a href="{{ shop_base_url }}scale-productions-nl" id="shop-sp"></a>
</li>
<li>
    <a href="{{ shop_base_url }}excel" id="shop-excel"></a>
</li>
<li>
    <a href="{{ shop_base_url }}intech" id="shop-intech"></a>
</li>
<li>
    <a href="{{ shop_base_url }}microscale" id="shop-microscale"></a>
</li>
<li>
    <a href="{{ shop_base_url }}milliput" id="shop-miliput"></a>
</li>
<li>
    <a href="{{ shop_base_url }}modelbrouwers" id="shop-mb"></a>
</li>
<li>
    <a href="{{ shop_base_url }}rustall" id="shop-rustall"></a>
</li>
<li>
    <a href="{{ shop_base_url }}scalemotorsport" id="shop-sms"></a>
</li>
<li>
    <a href="{{ shop_base_url }}vallejo" id="shop-vallejo"></a>
</li>
{% endwith %}
