{% load i18n %}

<div class="helptext">
    <button id="insert-all">{% trans 'Insert all' %}</button><br />
    ({% trans 'click on the image to insert' %})
</div>
<ul id="photos-list">
    {% for photo in photos %}
        <li class="photo">
            {% spaceless %}
            <a href="#" class="photo" data-BBCode="{{ photo.BBCode }}">
                <img class="thumb" src="{{ photo.thumb_url }}" alt="photo_{{ photo.id }}"
                    width="{{ photo.get_thumb_width_100 }}"
                    height="{{ photo.get_thumb_height_75 }}"/>
            </a>
            {% endspaceless %}
        </li>
    {% empty %}
        <li>{% blocktrans %}You don't seem to have photos here. Upload some in <a href="{% url 'albums:upload' %}">our albums</a>!{% endblocktrans %}</li>
    {% endfor %}
</ul>
