{% load i18n %}

        <div class="tab" id="sidebar-header">
            <span>{% trans 'My albums' %}</span>

            {% spaceless %}
            <a href="#" onclick="toggleSidebar();">
                <img id="control_icon" src="{{ STATIC_URL }}images/icons/remove2.png" width="16" height="16" alt="close">
            </a>
            {% endspaceless %}

        </div>

        <div id="albums-list">
            <form>
                {{ form }}
                {% csrf_token %}
                <input type="text" class="autocomplete" id="autocomplete-album" value="{% trans 'Search albums' %}" />
            </form>
        </div>

        <ul id="photos-list">
        </ul>
