    <!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div></div>
<!-- end wrapcentre -->

<div id="wrapfooter">
    <!-- INCLUDEPHP styles/subsilver2_dead_topics/template/common/bottom.php -->

    <!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><!-- ENDIF -->
    <!-- IF U_MCP --><span class="gensmall">[ <a href="/admin/">Django admin</a> ]</span><br /><br /><!-- ENDIF -->
    <span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
    <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
    <!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
    &bull;
    Hosting by <a href="http://www.flexwebhosting.nl">Flexwebhosting</a>
    &bull;
    Cross-browser testing via <a href="https://www.browserstack.com/">Browserstack</a>
</div>
<div id="popup"></div>
<div id="chat-window"></div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-385491-1");
pageTracker._trackPageview();
} catch(err) {}</script>

<!-- static backend, provides the $storage variable -->
<!-- PHP -->
    $storage = new ManifestStaticFilesStorage();
    $storage2 = new CombinedManifestStaticFilesStorage();

    $js = array(
        'config.js',
        'scripts/forum/chat.js',
    );
    $apps = array(
        'forum_tools/js/forum/app.js', // JSPM:SYSTEMJSAPP
        'albums/js/forum/app.js', // JSPM:SYSTEMJSAPP
        'groupbuilds/js/forum/app.js', // JSPM:SYSTEMJSAPP
    );
<!-- ENDPHP -->

<script type="text/javascript" src="<!-- PHP --> echo $storage->url('scripts/jquery-ui-1.10.2.custom.min.js');<!-- ENDPHP -->"></script>
<script type="text/javascript" src="<!-- PHP --> echo $storage->url('scripts/q.min.js');<!-- ENDPHP -->"></script>
<script src="<!-- PHP --> echo $storage->url('jspm_packages/system.js');<!-- ENDPHP -->"></script>
<script type="text/javascript" src="<!-- PHP --> echo $storage2->url($js, 'js');<!-- ENDPHP -->"></script>
<!-- PHP --> echo $storage2->system_import($apps);<!-- ENDPHP -->

<!-- IF U_MCP || U_ACP -->
    <script type="text/javascript" src="<!-- PHP --> echo $storage->url('scripts/mods.js');<!-- ENDPHP -->"></script>
<!-- ENDIF -->

<!-- imagency.com test implementation, temporarily -->
<iframe width="0" height="0" frameborder="0" src="http://imadb.imagency.com/stats/9354/?utm_source=9354&utm_medium=https%3A%2F%2Fmodelbrouwers.nl%2FphpBB3%2F&utm_content=TEST Maykin Media" scrolling="no"></iframe>
<!-- end IMA tracking widget -->

</body>
</html>
