    <!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div></div>
<!-- end wrapcentre -->

<div id="wrapfooter">
    <!-- INCLUDEPHP src/templates/php_templates/bottom.php -->

    <!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><!-- ENDIF -->
    <!-- IF U_MCP --><span class="gensmall">[ <a href="/admin/">Django admin</a> ]</span><br /><br /><!-- ENDIF -->
    <span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
    <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
    <!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
    &bull;
    <a href="/winkel/privacy-policy">Privacy statement</a>
</div>
<div id="popup"></div>

<!-- static backend, provides the $storage variable -->
<!-- PHP -->
    $storage = new ManifestStaticFilesStorage();
<!-- ENDPHP -->

<script type="text/javascript" src="<!-- PHP --> echo $storage->url('bundles/forum.js');<!-- ENDPHP -->"></script>

<!-- IF U_MCP || U_ACP -->
    <script type="text/javascript" src="<!-- PHP --> echo $storage->url('scripts/mods.js');<!-- ENDPHP -->"></script>
<!-- ENDIF -->

</body>
</html>
