{% csrf_token %}

{% for field in form %}
	<tr id="field_{{ field.id_for_label }}">
	    <td class="fieldlabel">{{ field.label }}{% if field.field.required %}<strong style="color: red;">*</strong>{% endif %}:</td>
	    <td>{{ field }}</td>
	</tr>
	{% if not initial %}
	    {% for error in field.errors %}
		    <tr><td colspan="2" class="error">{{ error }}</td></tr>
	    {% endfor %}
	{% endif %}
	{% if field.help_text %}
		<tr><td></td><td class="helptext">{{ field.help_text }}</td></tr>
	{% endif %}
{% endfor %}
