<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
	<title>{% block title %}Modelbrouwers - Materialen en kennisbank voor de modelbouw.{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta name="description" content="Modelbrouwers.nl is de 'place to be' voor alle fanaten van kunststof schaalmodellen van bijvoorbeeld Revell of AMT. Een forum en plaats om je modelbouwfoto's te uploaden in je eigen fotoalbum!" /> 
	<meta name="keywords" content="amt, revell, tamiya, verf , modelbouw, modelkit, paint, enamel, humbroll, revell, airbrush, academy, hobby, model, kits, kit, doyusha, dragon, bigscale, scale, schaal, schaalmodel, hasegawa, italeri, minicrafts, pst, polystyreen" />
	
	{% block style %}
	    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css?v={{ software_version }}" charset="utf-8"/>
	    {% block extrastyle %}
	    {% endblock extrastyle %}
	{% endblock style %}
	
	{% block scripts %}
	    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}scripts/common.js?v{{ software_version }}"></script>
	    {% block extrascript %}
	    {% endblock %}
	{% endblock scripts %}
    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" /> 
</head>

<body>
    <div id="top">
        <div id="navigation">
            <ul id="tabs">
                <li>
                    <a href="/">
                        <img src="{{ STATIC_URL }}images/nav/home_achter.png" alt="Ga naar de homepage!" /></a>
                </li>
                <li>
                    <a href="/phpBB3/"><img src="{{ STATIC_URL }}images/nav/forum_achter.png" alt="Ga naar het forum!"/></a>
                </li>
                <li>
                    <a href="/shop/catalog/"><img src="{{ STATIC_URL }}images/nav/shop_achter.png" alt="Ga naar de shop!"/></a>
                </li>
                <li>
                    <a href="/albums/">{% block album_tab %}<img src="{{ STATIC_URL }}images/nav/albums_achter.png" alt="Je bent nu in de fotoalbums!"/>{% endblock %}</a>
                </li>
                <li id="kitreviews">
                    <a href="/kitreviews/"><img src="{{ STATIC_URL }}images/nav/kitreviews_achter.png" alt="Ga naar de kitreviews!"/></a>
                </li>
                <!--<li>
                    <img src="{{ STATIC_URL }}images/nav/modelbouw_wiki.png" alt="Modelbouw Wiki"/>
                </li>-->
            </ul>
        </div> 
        <!-- end navigation -->
        
        <div id="shop_banner">
            <ul>
                <li>
                    <a href="/shop/catalog/uhu-m-28.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/uhu.gif" alt="UHU" width="54" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/xuron-m-52.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/xuron.gif" alt="Xuron" width="102" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/revell-m-14.html?language=nl&sort=3d">
                        <img src="{{ STATIC_URL }}images/shop/revell.gif" alt="Revell" width="62" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/alclad2-m-19.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/alclad.gif" alt="Alclad" width="65" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/bare-metal-foil-m-15.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/bmf.gif" alt="Bare Metal Foil" width="66" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/birchwood-casey-m-44.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/birchwood_casey.gif" alt="Birchwood Casey" width="52" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/createx-m-23.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/createx.gif" alt="Createx" width="54" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/evergreen-m-11.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/evergreen.gif" alt="Evergreen" width="50" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/billing-boats-m-29.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/billing.gif" alt="Billing Boats" width="41" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/excel-m-35.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/excel.gif" alt="Excel" width="56" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/rc-afstandbestuurbaar-rcsets-billing-boats-c-106_120.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/graupner.gif" alt="Graupner" width="65" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/mamoli-m-32.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/mamoli.gif" alt="Mamoli" width="82" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/microscale-m-17.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/microscale.gif" alt="Microscale" width="62" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/milliput-m-26.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/milliput.gif" alt="Milliput" width="93" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/modelbrouwers-m-12.html?language=nl&page=1&sort=3d">
                        <img src="{{ STATIC_URL }}images/shop/modelbrouwers.gif" alt="Modelbrouwers" width="127" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/rustall-m-53.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/rustall.gif" alt="Rustall" width="93" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/scalemotorsport-m-24.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/scalemotorsport.gif" alt="Scale Motorsport" width="25" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/pro-modeller-m-43.html?language=nl&sort=2a">
                    <img src="{{ STATIC_URL }}images/shop/promodeller.gif" alt="" width="57" /></a>
                </li>
                <li>
                    <a href="/shop/catalog/vallejo-m-42.html?language=nl&sort=2a">
                        <img src="{{ STATIC_URL }}images/shop/vallejo.gif" alt="Vallejo" width="42" /></a>
                </li>
            </ul>
        </div>
        <!-- end shop products banner -->
    </div>
    <!-- end top div -->
    
    <div id="container">
        <!-- div with logos and misc -->
        <div id="logo">
             <div class="left">
                 <a href="{% url brouwers.general.views.index %}">
                    <img src="{{ STATIC_URL }}images/logo/logo_modelbrouwers.png" width="395" height="75" alt="Terug 
naar de Modelbrouwers.nl homepage"/></a>
            </div>
            <div class="left">
                {% block announcement %}
                {% endblock %}
            </div>
            <div class="right">
                <a href="http://www.modelbouwmagazine.nl/acties.html" target="_blank">
                    <img class="rounded" src="{{ STATIC_URL }}images/varia/MM-actie.gif" 
                        alt="Modelbouwmagazine / Modelbrouwers ACTIE" width="308" height="60"></a>
                <a href="http://www.flexwebhosting.nl/" target="_blank">
                    <img class="rounded" src="{{ STATIC_URL }}images/varia/flex_webhosting.gif" width="234" height="60" alt="Flexwebhosting.nl"></a>
            </div>
        </div>
        <!-- end logo div -->
        
        <div id="content_wrapper">
            {% block important_message %}
            {% endblock %}
            
            <div id="menu_wrapper">
                <ul id="menu">
                    {% block menu %}
                        <li><a href="{% url brouwers.general.views.index %}">Home</a></li>
                        {% if user.is_superuser %}
                            <li><a href="{% url brouwers.migration.views.index %}">Migraties</a></li>
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <li><a href="{% url brouwers.general.views.custom_login %}">Inloggen</a></li>
                            <li><a href="{% url brouwers.general.views.register %}">Registreren</a></li>
                        {% else %}
                            <li class="right" style="font-weight:normal;">
                                <a href="{% url brouwers.general.views.custom_logout %}">uitloggen</a>
                            </li>
                            <li id="profile-link" class="right" style="font-weight:normal;">
                                <a href="{% url brouwers.general.views.profile %}">Profiel [ {{ user.get_profile.forum_nickname }} ]</a>
                            <li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
            
            {% block above_content %}
            {% endblock %}
            
            <div id="content">
            {% block content %}
                <!-- TODO inhoud voor homepage genereren -->
            {% endblock content %}
            </div>
            <!-- end content -->
        </div>
        <!-- end content wrapper -->
    </div>
    <!-- end container -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-385491-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
