<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en">
<head>
	<title>{% block title %}Modelbrouwers.nl externe applicaties{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/stylesheet.css" charset="utf-8"/>
	<link rel="shortcut icon" href="{{MEDIA_URL}}images/favicon.ico" /> 
	{% block extrastyle %}
	{% endblock %}
</head>

<body>
	<div id="container">	
		<div id="header">
			<a href="http://www.modelbrouwers.nl/"><img id="logo" src="{{MEDIA_URL}}logo.png" alt="logo"/></a>
			{% block extra_logo %}
			{% endblock %}
		</div>
		<div id="main">
			<div id="sidebar">
			{% block sidebar %}
				<div class="side_header">
					<h2><a href="/">Home/Nieuws</a></h2>
					<br />
					<br />
					<hr />
						{% block sidebar_links %}		
						<div class="side_header">
							<h1><a href="/awards/">Awards</a></h1>
								<div class="side_header">
									<h1><a href="/secret_santa/">Secret Santa</a></h1>
										<div class="side_header">
											<h1><a href="/builds/">Verslagen</a></h1>
						{% endblock %}
								<br />
								<br />
								<hr />
								<br />
								{% block user_authentication %}
								<div class="side_header">
								{% if user.is_authenticated %} 
									<p>Welkom, <strong>{{user.username}}</strong> (<a class="url_oranje" href="/logout/">Uitloggen<span style="color: white;">)</span></a></p>
										<div class="side_header">
											<a class="url_oranje" href="/profile/">Gebruikersprofiel</a>
											{% if user.is_staff %}
												<div class="side_header">
													<a class="url_oranje" href="/admin/" target="_blank">Admin</a>
												</div>
											{% endif %}
										</div>
								{% else %} 
									<h3><a href="/login/">Inloggen</a></h3>
										<div class="side_header">
											<h3><a href="/register/">Registreren</a></h3>
										</div>
								{% endif %}
								</div>
								{% endblock %}
						{% block sidebar_links_closing_tags %}
										</div>
								</div>
						</div>
						{% endblock %}
				</div>
			{% endblock %}
			</div>
		
			<div id="content">
		{% block content %}
			<div id="news"><h1>Nieuws</h1>
				<hr />
				<br />
				<br />
				<p><h4>Update 10 januari 2011</h4>
				<br />
				<ul class="updates">
					<li>Nieuwe applicatie: "verslagen". Hier kan je je brouwverslagen van het forum aan je profiel toevoegen, zodat die makkelijk terug te vinden zijn.</li>
					<li>Moderators (BBT, Arie Kabaalstra en Juggernaut) kunnen fouten eventueel aanpassen.</li>
					<li>Je kan alle info, met uitzondering van de URL wijzigen. Als de URL gewijzigd moet worden, of het verslag moet verwijderd worden, dan neem je best contact op met mij (BBT).</li>
					<li>Voorlopig is er een minimalistische zoekfunctie, die wordt uitgebreid.</li>
					<li>Er komt ook koppeling tussen de nominaties voor de awards, en de verslagen. Sowieso wordt een verslag al gelinkt aan nominaties die al bestaan, maar voorlopig heeft dit nog geen echt 'nut'.</li>
				</ul></p>
				<br />
				<br />
				<p><h4>Update 08 januari 2011</h4>
				<br />
				<ul class="updates">
					<li>Stemmen kan in meerdere keren gebeuren.</li>
					<li>Tussenstandpagina gemaakt.</li>
					<li>De tussenstandpagina is enkel zichtbaar als je ingelogd bent, én toont enkel de categorieën waarin je gestemd hebt. Zo worden eventuele latere stemmen niet beïnvloed.</li>
					<li>Redirect toegevoegd als het stemmen volledig voltooid is.</li>
				</ul></p>
				<br />
				<br />
				<p><h4>Update 30 november 2010</h4>
				<br />
				<ul class="updates">
					<li>Layout van gebruikersprofiel verbeterd.</li>
					<li>Secret Santa applicatie is klaar, op het mail-versturen gedeelte na.</li>
					<li>Bugfix in de Secret Santa.</li>
				</ul></p>
				<br />
				<br />
				
				<p><h4>Update 28 november 2010</h4>
				<br />
				<ul class="updates">
					<li>Het gebruikersprofiel uit onderstaande update staat al een tijdje online.</li>
					<li>De registraties voor Secret Santa worden bijgehouden.</li>
					<li>Na registratie word je meteen naar je profiel doorgelinkt, waar je indien gewenst nog extra gegevens kan invullen.</li>
					<li>Het random en automatisch toewijzen van zender/ontvanger voor de Secret Santa is geschreven</li>
					<li><strong>We (Juggernaut en ik) controleren of de mensen die zich opgegeven hebben daadwerkelijk de forumleden zijn die ze beweren te zijn. Dit is een check om fraude tegen te gaan.</strong></li>
				</ul></p>
				<br />
				<br />
				<p><h4>Update 16 november 2010</h4>
				<br />
				<ul class="updates">
					<li>Bij registratie kan je aangeven of je al dan niet genomineerd wil worden. Een gebruikersprofiel waarin je dit kunt veranderen komt eraan.</li>
					<li>Het is nu verplicht om bij registratie je forumnickname op te geven.</li>
					<li>Een nominatie kan nu ook de status 'rejected' krijgen. Dan wordt de nominatie nergens getoond en is ze niet stembaar.</li>
				</ul></p>
				<br />
				<br />
				<p><h4>Updates in werking sinds 10 november 2010:</h4>
				<br />
				<ul class="updates">
					<li>Een automatische check bij een nominatie gaat na of een project al eerder genomineerd is.</li>
					<li>Categorie "Overige" toegevoegd, aangezien we een project uit die categorie hebben.</li>
				</ul></p>
				<br />
				<br />
				<p><h4>Updates in werking sinds 9 november 2010:</h4>
				<br />
				<ul class="updates">
					<li>Afhandelen van foutmeldingen bij een registratieprobleem: geen 'Internal server' errorpagina's meer.</li>
					<li>Automatische controle of de link naar het verslag naar een forumtopic op Modelbrouwers.nl wijst.</li>
					<li>Overzicht van alle nominaties per categorie toegevoegd.</li>
					<li>Na registratie ben je meteen ingelogd.</li>
					<li>Enkel rechthebbenden op deze website kunnen categorieën wijzigen/toevoegen/verwijderen.</li>
				</ul></p>
				</div>
		{% endblock %}
			</div>
		</div>
	</div>

	<div id="footer">
		<span class="foot_1>">Modelbrouwers {% block appname %}Applicaties{% endblock %} v1.3.1 - <a href="{{MEDIA_URL}}privacy.html" target="_blank">Privacyverklaring</a><br />&copy; 2010 - 2011 Sergei Maertens en Modelbrouwers.nl</span>
	</div> 
</body>
</html>
