{% spaceless %}
<div id="shop-footer">
    <ul>
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/shop/catalog/decals-en-benodigdheden-c-66.html?language=nl">
                decalbenodigdheden
                <br />
                <div id="footer-decals"></div>
            </a>
        </li>
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/shop/catalog/advanced_search_result.php/keywords/mba0/sort/3d/page/1/language/nl">
                schuur- en polijstmaterialen
                <br />
                <div id="footer-schuur-polijst"></div>
            </a>
        </li>
        <li id="new_product">
            <div>
                <iframe src="/shop/catalog/products_new_small2.php" 
                name="what's new" scrolling="no" 
                frameborder="no" width="135px" height="163px">
                </iframe>
            </div>
        </li>
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/shop/catalog/mal-en-resinproducten-c-105.html?language=nl&amp;page=1&amp;sort=3a">
                schuur- en polijstmaterialen
                <br />
                <div id="footer-gieten"></div>
            </a>
         </li>
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/shop/catalog/verlichtingsets-c-117.html?language=nl&amp;sort=2a">
                verlichtingsmaterialen
                <br />
                <div id="footer-verlichting"></div>
            </a>
        </li>
    </ul>
    <img src="{{ STATIC_URL }}images/logo/tekst.gif" width="773" height="52" alt="logo Modelbrouwers" />
</div>
{% endspaceless %}