{% load staticfiles %}
{% with '/winkel/' as shop_base_url %}
<li>
    <a href="{{ shop_base_url }}uhu">
        <img src="{% static 'images/shop/uhu.gif' %}" alt="UHU" width="54" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}xuron">
        <img src="{% static 'images/shop/xuron.gif' %}" alt="Xuron" width="102" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}revell">
        <img src="{% static 'images/shop/revell.gif' %}" alt="Revell" width="62" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}alclad2">
        <img src="{% static 'images/shop/alclad.gif' %}" alt="Alclad" width="65" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}bare-metal-foil">
        <img src="{% static 'images/shop/bmf.gif' %}" alt="Bare Metal Foil" width="66" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}birchwood-casey">
        <img src="{% static 'images/shop/birchwood_casey.gif' %}" alt="Birchwood Casey" width="52" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}evergreen">
        <img src="{% static 'images/shop/evergreen.gif' %}" alt="Evergreen" width="50" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}billing-boats">
        <img src="{% static 'images/shop/billing.gif' %}" alt="Billing Boats" width="41" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}excel">
        <img src="{% static 'images/shop/excel.gif' %}" alt="Excel" width="56" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}intech">
        <img src="{% static 'images/shop/intech.gif' %}" alt="Intech" width="86" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}microscale">
        <img src="{% static 'images/shop/microscale.gif' %}" alt="Microscale" width="62" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}milliput">
        <img src="{% static 'images/shop/milliput.gif' %}" alt="Milliput" width="93" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}modelbrouwers">
        <img src="{% static 'images/shop/modelbrouwers.gif' %}" alt="Modelbrouwers" width="127" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}rustall">
        <img src="{% static 'images/shop/rustall.gif' %}" alt="Rustall" width="93" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}scalemotorsport">
        <img src="{% static 'images/shop/scalemotorsport.gif' %}" alt="Scale Motorsport" width="25" /></a>
</li>
<li>
    <a href="{{ shop_base_url }}vallejo">
        <img src="{% static 'images/shop/vallejo.gif' %}" alt="Vallejo" width="42" /></a>
</li>
{% endwith %}
