<div class="t">
    <div class="category__card">
        <div class="caption">
            <h3><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h3>
            <ul class="category__subcategories">
                {% for child in category.get_children %}
                    <li class="category__child">
                        <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
