{% load i18n %}
<div
    class="card-grid__card product-card"
    data-product="{{ product.id }}"
    data-stock="{{ product.stock }}">

    <a href="{{ product.get_absolute_url }}" class="product-card__image-link">
        <img src="{{ product.get_image_url }}" class="product-card__image" alt="{{ product.name }}">
    </a>

    <a href="{{ product.get_absolute_url }}" class="product-card__name">{{ product.name }}</a>

    <div class="product-card__price">{{ product.price }} &euro;</div>

    <div class="product-card__actions">
        {% if not product.stock %}
            <p class="message message--slim message--warning">
                <i class="fa fa-fw fa-info-circle" aria-hidden="true"></i>
                {% trans "Out of stock." %}
            </p>
        {% endif %}
        <div class="react-cart-actions"></div>
    </div>

</div>
