{% load i18n shop %}
{% category_tree as categories %}

{# TODO: accessibility controls for mobile-nav #}

<div class="mobile-nav mobile-nav--sticky-bottom mobile-nav--collapsed">

    <div class="mobile-nav__toggle-trigger" tabindex="0">
        <h2 class="h3 heading heading--plain">{% trans "Categories" %}</h2>

        <div class="mobile-nav__trigger-icons">
            <i class="fa fa-chevron-right mobile-nav__icon mobile-nav__icon--collapsed"></i>
            <i class="fa fa-chevron-down mobile-nav__icon mobile-nav__icon--expanded"></i>
        </div>
    </div>

    {% get_active_node categories category as active_node %}
    <div class="mobile-nav__content">
        {% with root=category.get_root %}
        {% for item, info in categories %}
            {% record_category_path item info as category_path %}
            {% is_in_branch item root as show_open %}

            {% if info.open %}
                <ul class="{% if item.depth == 1 %}tree-nav tree-nav--sticky{% else %}tree-nav__child{% endif %}">
                    <li class="tree-nav__item {% if show_open %}tree-nav__item--show{% endif %}">
            {% else %}
                    </li>
                    <li class="tree-nav__item {% if show_open %}tree-nav__item--show{% endif %}">
            {% endif %}

            {% is_in_branch category item as category_is_in_current_branch %}

            <a class="tree-nav__link {% if item == active_node %}tree-nav__link--active{% endif %}"
               href="{% url 'shop:catalogue' path=category_path %}"
               data-depth="{{ item.depth }}"
            >
                {{ item.name }}
            </a>

            {% for close in info.close %}
                    </li>
                </ul>
            {% endfor %}
        {% endfor %}
        {% endwith %}
    </div>
</div>
