{% load i18n shop %}
{% category_tree as categories %}

<h2 class="h3 heading heading--plain">{% trans "Categories" %}</h2>

{% with root=category.get_root %}
{% for item, info in categories %}
    {% is_descendant_of item root as show_children %}

    {% if info.open %}
        <ul class="{% if item.depth == 1 %}tree-nav tree-nav--sticky{% else %}tree-nav__child{% endif %}">
            <li class="tree-nav__item {% if show_children %}tree-nav__item--show{% endif %}">
    {% else %}
            </li>
            <li class="tree-nav__item {% if show_children or item == root %}tree-nav__item--show{% endif %}">
    {% endif %}

    <a class="tree-nav__link {% if item.id == category.id %}tree-nav__link--active{% endif %}"
       href="{{ item.get_absolute_url }}"
       data-depth="{{ item.depth }}"
    >
        {{ item.name }}
    </a>

    {% for close in info.close %}
            </li>
        </ul>
    {% endfor %}
{% endfor %}
{% endwith %}
