{% load i18n kitreviews %}
<article class="review-preview {% if show_ratings %}review-preview--with-ratings{% endif %}">
    <header class="row">
        {% if not show_ratings %}
                <h1 class="col-md-8 review-preview__title">
                    <a href="{% url 'kitreviews:review-list' slug=review.model_kit.slug %}">{{ review.model_kit }}</a>
                    <span class="review-preview__rating">{% review_rating review.rating_pct %}</span>
                </h1>
                <aside class="col-md-4 review-preview__details text-right">
                {% blocktrans trimmed with reviewer=review.reviewer_name time_ago=review.submitted_on|timesince %}
                    {{ reviewer }} &ndash; {{ time_ago }} ago
                {% endblocktrans %}
                </aside>
        {% else %}
            <h1 class="review-preview__title col-md-8">
                {{ review.reviewer_name }}
                <span class="review-preview__rating">{% review_rating review.rating_pct %}</span>
            </h1>
            <aside class="review-preview__details col-md-4 text-right">
                {% blocktrans with time_ago=review.submitted_on|timesince%}{{ time_ago }} ago{% endblocktrans %}
            </aside>
        {% endif %}
    </header>

    <div class="row">

        {% if show_ratings %}
            {% detailed_ratings review is_preview=True %}
        {% endif %}

        <div class="{{ show_ratings|yesno:"col-md-6,col-md-12" }}">
            <section class="review-preview__body">{{ review.render_raw_text|safe }}</section>
        </div>

    </div>

    <footer class="clearfix">
        <a class="button button--icon button--orange pull-right" href="{{ review.get_absolute_url }}#review-body">
            <i class="fa fa-file-text"></i>
            {% trans "read more" %}
        </a>
        {% if review.topic_url %}
            <a class="button button--icon" href="{{ review.topic_url }}">
                <i class="fa fa-comments-o"></i>
                {% trans "view topic" %}
            </a>
        {% endif %}
        {% if review.album %}
            <a class="button button--icon" href="{{ review.album.get_absolute_url }}">
                <i class="fa fa-camera"></i>
                {% trans "view album" %}
            </a>
        {% endif %}
    </footer>
</article>
