
<!-- $Id: portal_main.html,v 1.2 2007/04/14 02:05:17 angelside Exp $ //-->
<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
<tr>
<!-- [+] left block area -->
	<td width="180" valign="top">





<!--// [+] latest members //-->
		<!-- INCLUDE bb3portal/block/latest_members.html -->
<!--// [-] latest members //-->








	</td>
<!-- [-] left block area -->
	<td width="4" valign="top"></td>

<!-- [+] center block area -->
	<td valign="top">




<!--// [+] recent topic //-->
	<!-- INCLUDE bb3portal/block/recent.html -->
<!--// [-] recent topic //-->



<!--// [+] jumpbox //-->
	<!-- INCLUDE bb3portal/block/jumpbox.html -->
<!--// [-] jumpbox //-->

	</td>
<!-- [-] center block area -->
	<td width="4" valign="top"></td>

<!-- [+] right block area -->
	<td width="180" valign="top">



	</td>
<!-- [-] right block area -->
</tr>
</table>
<!--// phpBB3 portal by Sevdin Filiz, phpbb3portal.com //-->
<!-- INCLUDE overall_footer.html -->