<!-- start spotlight banner -->
{% load i18n %}
<div id="spotlight">
    <ul class="albums-list">

        {% for project in awards_winners %}
            <li class="photo album" id="project_{{ project.id }}">
                <div class="album-link">
                    {% spaceless %}
                    <a class="photo album" href="{{ project.url }}">
                        {% if project.image %}
                            <img class="thumb" src="{{ project.image.url }}"
                            width="128"
                            height="96" alt="thumb"/>
                        {% endif %}
                    </a>
                    {% endspaceless %}
                </div>
                <div class="description">
                    <a href="{{ project.url }}" title="{{ project.name }}">
                        <strong>
                        {% if project.name|length > 38 %}
                            {{ project.name|truncatechars:38 }}
                        {% else %}
                            {{ project.name }}
                        {% endif %}
                        </strong>
                    </a>
                    <br />
                    <span class="description">
                        {% blocktrans with builder=project.brouwer category=project.category.name %}
                            Built by '{{ builder }}', this project won first place in the category '{{ category }}'.
                        {% endblocktrans %}
                    </span>
                </div>
                <div class="clear"></div>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- end spotlight banner -->