{% extends "albums/base.html" %}
{% load i18n %}{% load staticfiles %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/uploadify.css' %}" />
<style type="text/css">
#new-album-upload{display:none;}
td span.help_text{display: inline-block; max-width:500px;}
</style>
<!--[if IE]>
	<style type="text/css">
		th.label{width:25%;}
		td.field{width:auto;}
	</style>
<![endif]-->
<!--[if IE 7]>
	<style type="text/css">
		#id_album{border-width:2px;}
		#special-form a#create_new_album button{padding-top:0;padding-bottom:0}
		a#start_upload, a#end-upload, a#next_step{margin-bottom:0.3em;}
	</style>
<![endif]-->
{% endblock %}

{% block vendor_js %}
    <script type="text/javascript" src="{% static 'scripts/jquery.uploadify-3.1.min.js' %}"></script>
{% endblock vendor_js %}

{% block extrascript %}
<script type="text/javascript">
var url_new = "{% url albums.ajax_views.new_album_jquery_ui %}";
var success_icon = '&nbsp;<img src="{% static "admin/img/icon-yes.gif" %}" width="10" height="10" alt="ok"></img>';
var msg_error = "{% trans 'Something went wrong, the admins have been notified.' %}";

$(document).ready(function() {
    var hasFlash = false;
    try {
      var fo = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
      if(fo) hasFlash = true;
    }catch(e){
      if(navigator.mimeTypes ["application/x-shockwave-flash"] != undefined) hasFlash = true;
    }
    if (!hasFlash){
        alert('{% trans "You need (Adobe) Flash to use this uploader." %}');
    }

    /* uploadify */
    var albumId;
    var button = '<button class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;">Extra info</button>';
    var button2 = '<button class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;">{% trans "complete" %}</button>';
	var photo_ids = "";

    $('#uploadify_input').uploadify({
        'swf'       : '{% static "scripts/uploadify.swf" %}',
        'uploader'  : '{% url albums.ajax_views.uploadify %}',
        'auto'      : {% if album_preferences.auto_start_uploading %}true{% else %}false{% endif %},
        'buttonText': '{% trans "Browse" %}',
        'queueID'   : 'upload_queue',
        'preventCaching': true,
        'fileSizeLimit' : '15MB',
        'fileTypeDesc'  : '{% trans "Images..." %}',
        'fileTypeExts'  : '*.jpeg; *.jpg; *.png; *.PNG; *.JPG; *.JPEG',
        'formData'  : {'album': 'nope'},
        'method'    : 'post',
        'removeCompleted'   : false,
        'onUploadStart' : function(file) {
            albumId = $('#id_album').val();
            $("#uploadify_input").uploadify(
                "settings",
                "formData",
                {
                    'album': albumId,
                    '{{ session_cookie_name }}': '{{ session_key }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                }
            );
        },
        'onUploadSuccess': function(file, data, response) {
            photo_ids += data + "+";
        },
        'onUploadError' : function(file, errorCode, errorMsg, errorString) {
            alert(msg_error);
        },
        'onQueueComplete' : function(queueData) {
            //remove the previous button
            var href = '/albums/upload/uploadify/complete/?album='+albumId+'&photo_ids='+photo_ids;
            $('a#next_step').html(button);
            $('a#next_step').attr("href", href);
            $('a#next_step').show();

            var href2 = '{% url albums.views.browse_album "0" %}';
            href2 = href2.replace('0', albumId);
            $('a#end-upload').html(button2);
            $('a#end-upload').attr("href", href2);
            $('a#end-upload').show();
        },
        'onDialogOpen' : function() {
            $('#queue-title').show();
            $('a#next_step').hide();
        }
    });

    $('#new-album-upload').dialog({
	    autoOpen: false,
		width: 800,
		modal: true,
		title: "{% trans 'New album' %}",
		buttons: {
		    "{% trans 'Save' %}": function(){
		        data = $('form#new-album').serializeArray();
		        $.post(
		            url_new,
		            data,
		            function (response){
		                var status = response.status
		                if (status == '1'){
		                	$('#id_album:selected').attr('selected', '');
		                	$('#id_album').prepend(response.option);
		                    $('#new-album-upload').dialog('close');
		                }

		                $('#new-album-upload').html(response.form);
		                $('img').tooltip({
							track: true
						});
		            }
		        );
		    },
		    "{% trans 'Cancel' %}": function() {
		        $(this).dialog("close");
		    }
		}
	});

    $('a#create_new_album').click(function(e){
        e.preventDefault();
        $('#new-album-upload').dialog('open');
        return false;
    });

    $('#start_upload').click(function (){
        var form = $('form#special-form');
        albumId = $('#id_album').val();

        if ($('#id_url').val() != ''){
            $.post(
                '{% url albums.ajax_views.upload_url %}',
                form.serialize(),
                function (response){
                    var intRegex = /^\d+$/;
                    if(intRegex.test(response)) { // integer? (photo id)
                        $('#url-errors').remove();
                        $('#id_url').after(success_icon);
                        var next = $('a#next_step');

                        if (next.html() == ''){
                            next.html(button);
                            href = '{% url albums.views.pre_extra_info_uploadify %}?album=';
                            href += albumId + '&photo_ids=' + response + '+';
                            next.attr("href", href);
                            next.show();
                        } else {
                            href = next.attr("href") + response + '+';
                            next.attr("href", href);
                        }
                    } else { // real response -> errors have occured
                        $('#url-row').replaceWith(response);
                        $('#url-row td.help_text div').hide();
                    }
                }
            );
        }
    });
});
</script>
{% endblock extrascript %}

{% block content %}
<div class="tab">{% trans 'Upload images' %}</div>
<noscript>
    <div class="no-javascript" class="margin">
        {% url albums.views.upload as upload_url %}
        {% blocktrans  %}Your browser doesn't support javascript, which is required for this uploader to work. You can use an <a href="{{ upload_url }}">alternative uploader</a>.{% endblocktrans %}
    </div>
</noscript>

<div class="info margin">
    {% blocktrans %}You can upload images on this page. Choose the album you want to upload to and select pictures. You can set some extra info on the images in the next step.{% endblocktrans %}
</div>

<div id="forms" class="margin">
<form id="special-form" action="." method="get">
    {% csrf_token %}
    <table>
        <tr>
            <th class="label">{% trans 'Upload to' %}</th>
            {% spaceless %}
			<td class="field">{{ albumform.album }}
                <a href="/albums/manage/#new" id="create_new_album" >
                    <button>{% trans 'New album' %}</button>
                </a>
            </td>
			{% endspaceless %}
        </tr>
        {% include "albums/uploadify_url.html" %}
    </table>
</form>
</div>

<div id="new-album-upload">
    {% include "albums/ajax/new_album_jquery-ui.html" %}
</div>

{% spaceless %}
<div id="uploadify">
    <input type="file" name="file_upload" id="uploadify_input" />
    {% spaceless %}
    <a onclick="$('#uploadify_input').uploadify('upload', '*');" id="start_upload">
        <button class="uploadify-button" style="height: 34px; line-height: 30px; width: 124px;">{% trans 'Start upload' %}</button>
    </a>
    <a id="end-upload" href="" style="display:none;"></a>
    <a id="next_step" href="" style="display:none;"></a>
    {% endspaceless %}
    <div class="subtitle tab" style="display: none;" id="queue-title">{% trans 'Upload queue' %}</div>
    <div id="upload_queue"></div>
</div>
{% endspaceless %}
<div class="clear"></div>
{% endblock content %}
