{% for album in albums %}
    {% cycle '<div class="row">' '' '' '' %}
        <div class="photo album">
            <div class="album-title">
                <a href="{{ album.get_absolute_url }}" title="{{ album.title }}">
                    {% if album.title|length > 19 %}
                        {{ album.title|truncatechars:19 }}
                    {% else %}
                        {{ album.title }}
                    {% endif %}
                </a>
            </div>
            
            <div class="properties">
                {{ album.photo_set.count }} foto&apos;s &#45; {{ album.views }} views
            </div>
            
            {% spaceless %}
            <a class="photo album" href="{{ album.get_absolute_url }}">
                {% if album.cover_thumb_url %}
                    <img class="thumb" src="{{ album.cover_thumb_url }}" 
                    width="{{ album.get_cover.get_thumb_width }}" 
                    height="{{ album.get_cover.get_thumb_height }}" alt="thumb"/>
                {% endif %}
                    
                    {% if not album.public %}
                        <img class="private" src="{{ STATIC_URL }}images/icons/private.png" width="16" 
                        height="16" alt="private" title="Dit album is enkel zichtbaar voor mezelf."/>
                    {% endif %}
                    
                    {% ifequal album.user user %}
                    <img class="edit" src="{{ STATIC_URL }}images/icons/edit.png" alt="edit" 
                    height="16" onclick="alert('edit');" title="Album bewerken"/>
                    
                    <img class="remove" src="{{ STATIC_URL }}images/icons/remove.png" alt="edit" 
                    height="16" onlick="alert('remove');" title="Album naar prullenbak verplaatsen"/>
                    {% endifequal %}
            </a>
            {% endspaceless %}
                    
            <div class="properties">
                <span class="date">Gewijzigd op {{ album.last_upload|date:"d b Y, H:i" }}</span>
                <br />
                <span class="date">Aangemaakt op {{ album.created|date:"d b Y, H:i" }}</span>
            </div>
        </div>
    {% cycle '' '' '' '</div>' %}
{% endfor %}
