<div class="pagination">
    {% if albums.number != 1 %}
        <a href="?{{ page }}=1{{ extra_parameters }}" title="Eerste pagina">&laquo;</a>
    {% else %}
        <span>&laquo;</span>
    {% endif %}
    &nbsp;&nbsp;
    {% if albums.has_previous %}
        <a href="?{{ page }}={{ albums.previous_page_number }}{{ extra_parameters }}">&lsaquo;</a>
    {% else %}
        <span>&lsaquo;</span>
    {% endif %}
    
    &nbsp;&nbsp;<a href="?{{ page }}={{ albums.number }}{{ extra_parameters }}">{{ albums.number }}</a>&nbsp;&nbsp;
    
    {% if albums.has_next %}
        <a href="?{{ page }}={{ albums.next_page_number }}{{ extra_parameters }}">&rsaquo;</a>
    {% else %}
        <span>&rsaquo;</span>
    {% endif %}
    &nbsp;&nbsp;
    {% if albums.number != albums.paginator.num_pages %}
        <a href="?{{ page }}={{ albums.paginator.num_pages }}{{ extra_parameters }}" title="Laatste pagina">&raquo;</a>
    {% else %}
        <span>&raquo;</span>
    {% endif %}
</div>
