{% for album in albums %}
{% cycle '<div class="row">' '' '' '' %}
    {% spaceless %}
        <div class="homepage-album">
            <div class="album-title">
                <a href="{{ album.get_absolute_url }}" title="{{ album.title }}">{{ album.title|truncatechars:25 }}</a>
            </div>
            <div class="properties">
                {{ album.photo_set.count }} foto&apos;s
            </div>
            <a class="photo album" href="{{ album.get_absolute_url }}">
                {% if album.cover_thumb_url %}
                    {% if album.cover %}
                        <img src="{{ album.cover_thumb_url }}" 
                        {% if album.cover.is_wider_than_higher %}width="140"{% else %}height="105"{% endif %}
                         alt="thumb"/>
                    {% else %}
                        <img src="{{ album.cover_thumb_url }}" width="140" alt="thumb"/>
                    {% endif %}
                {% endif %}
            </a>
            <div class="properties">
                {{ album.views }} views
                {% if not total %}
                    <br />
                    <a href="{{ album.user.get_absolute_url }}">{{ album.user.username }}</a>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% cycle '' '' '' '</div>' %}
{% endfor %}
