{% load i18n %}

{% for album in albums %}
{% cycle '<div class="row">' '' '' '' '' %}
    {% spaceless %}
        <div class="album-column">
            <div class="album-title">
                <a href="{{ album.get_absolute_url }}" title="{{ album.title }}">
                    {% if album.title|length > 19 %}
                        {{ album.title|truncatechars:"19"}}
                    {% else %}
                        {{ album.title}}
                    {% endif %}
                </a>
            </div>
            <div class="properties">
                {% blocktrans count counter=album.photo_set.count %}1 photo{% plural %}{{ counter }} photos{% endblocktrans %}
            </div>
            <a class="photo album" href="{{ album.get_absolute_url }}">
                {% if album.cover_thumb_url %}
                    <img class="thumb" src="{{ album.cover_thumb_url }}" 
                    width="{{ album.get_cover.get_thumb_width }}" 
                    height="{{ album.get_cover.get_thumb_height }}" alt="thumb"/>
                {% endif %}
            </a>
            <div class="properties">
                {{ album.views }} views
                {% if not total %}
                    <br />
                    <a href="{{ album.user.get_absolute_url }}">{{ album.user.get_profile.forum_nickname }}</a>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% cycle '' '' '' '' '</div>' %}
{% endfor %}
