<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}Brouwersapps &bull; Modelbrouwers.nl{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/base_old.css' %}" charset="utf-8"/>
		<link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}" /> 
		{% block extrastyle %}
		{% endblock %}
		{% block extrascript %}
		{% endblock %}
	</head>

<body>
	<!-- container containing content and sidebar -->
	<div id="container">
		<!-- begin header -->
		<div id="header">
			{% spaceless %}
			<a href="/">
			    <img src="{{ STATIC_URL }}images/logo/logo_modelbrouwers.png" width="395" height="75" alt="logo"/>
			</a>{% endspaceless %}
			
			{% block extra_logo %}
			{% endblock %}
			<!-- menu -->
			<ul id="menu">
				<li><a href="/phpBB3">Forum</a></li>
				<li><a href="/albums/">Albums</a></li>
				<li><a href="/awards/">Awards</a></li>
				<li><a href="/secret_santa/">Secret Santa</a></li>
				<li><a href="/builds/">Verslagen</a></li>
			<ul>
			<!-- end menu -->
		</div>
		<!-- end header -->
		
		
		<!-- actual content -->
		<div id="content">
			<ul id="submenu">
			{% block submenu %}
			{% endblock submenu %}
			</ul>
			
			{% block messages %}
				{% include "messages.html" %}
			{% endblock %}
			
			{% block content %}
			{% endblock %}
		</div>
		<!-- end content -->
		
		<div id="sidebar">
			{% if not user.is_authenticated %}
			<div id="login">
				<a href="/login/?next={{request.url}}">Inloggen</a>
				<br />
				<a href="/register/">Registreren</a>
			</div>
			{% else %}
			<div id="loggedIn">
				Welkom, <strong><a href="/profile/">{{user.get_profile.forum_nickname}}</a></strong>
				<br />
				<span id="logout">(<a href="/logout/">uitloggen</a>)</span>
				<br />
				<br />
				<a href="/profile/" id="profile">Gebruikersprofiel</a>
				{% if user.is_staff %}
				<br />
				<a href="/admin/" id="admin">Admin</a>
				{% endif %}
			</div>
			{% endif %}
			
		</div>
	</div>
	<!-- end container -->
	
	<div id="footer">
		<div id="real_footer">
			Modelbrouwers {% block appname %}applicaties{% endblock %} - 
			<a href="{{STATIC_URL}}privacy.html" target="_blank">Privacyverklaring</a>
			<br />
			&copy; 2010 - 2011 Sergei Maertens en Modelbrouwers.nl
		</div>
	</div>
</body>
    {% comment %}
    <script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-27403558-1']);
	_gaq.push(['_setDomainName', 'xbbtx.be']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
    </script>{% endcomment %}
</html>
