{% load staticfiles %}
{% spaceless %}
<div id="shop-footer">
    <ul>
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/shop/catalog/decals-en-benodigdheden-c-66.html?language=nl">decalbenodigdheden</a>
            <!--<br />-->
            <div id="footer-decals" class="blokje">
                <a class="div_link" href="http://www.modelbrouwers.nl/shop/catalog/decals-en-benodigdheden-c-66.html?language=nl"></a>
            </div>
        </li>
        
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/shop/catalog/advanced_search_result.php/keywords/mba0/sort/3d/page/1/language/nl">schuur- en polijstmaterialen</a>
            <div id="footer-schuur-polijst" class="blokje">
                <a class="div_link" href="http://www.modelbrouwers.nl/shop/catalog/advanced_search_result.php/keywords/mba0/sort/3d/page/1/language/nl"></a>
            </div>
        </li>
        
        <li id="new_product">
            <div>
                <iframe src="/shop/catalog/products_new_small2.php" 
                name="whats_new" scrolling="no" 
                frameborder="0" width="135px" height="163px">
                </iframe>
            </div>
        </li>
        
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/shop/catalog/mal-en-resinproducten-c-105.html?language=nl&amp;page=1&amp;sort=3a">mal- en gietproducten</a>
            <div id="footer-gieten" class="blokje">
                <a class="div_link" href="http://www.modelbrouwers.nl/shop/catalog/mal-en-resinproducten-c-105.html?language=nl&amp;page=1&amp;sort=3a"></a>
            </div>
         </li>
        
        <li>
            <a class="aankeiler" href="http://www.modelbrouwers.nl/shop/catalog/verlichtingsets-c-117.html?language=nl&amp;sort=2a">verlichtingsmaterialen</a>
            <div id="footer-verlichting" class="blokje">
               <a class="div_link" href="http://www.modelbrouwers.nl/shop/catalog/verlichtingsets-c-117.html?language=nl&amp;sort=2a"></a> 
            </div>
        </li>
    </ul>
    <img src="{% static 'images/logo/tekst.gif' %}" width="773" height="52" alt="logo Modelbrouwers" />
</div>
{% endspaceless %}
