{% load i18n %}

{% for field in form.visible_fields %}
    <tr id="id_row_{{ field.name }}">
        <th class="label{% if field.field.required %} required{% endif %}">{{ field.label_tag }}</th>
        <td class="field">
            {{ field }}
            {% if field.help_text %}
                <img src="{% static 'images/icons/help.png' %}" width="16" height="16" alt="?" title="{{ field.help_text }}"/>
                <noscript>
                	<br />
                	<span class="help_text">{{ field.help_text }}</span>
                </noscript>
            {% endif %}
        </td>
    </tr>
    {% for error in field.errors %}
        <tr class="error">
            <th>{% trans 'Fix the error:' %}</th>
            <td class="error" colspan="2">{{ error }}</td>
        </tr>
    {% endfor %}
{% endfor %}
