{% load i18n %}{% load staticfiles %}

{% if form.non_field_errors %}
</ul>
    {% for error in form.non_field_errors %}
        <li class="error">{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% csrf_token %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% if not hide_table_tags %}<table>{% endif %}
{% for field in form.visible_fields %}
    <tr id="id_row_{{ field.name }}">
        <th class="label{% if field.field.required %} required{% endif %}">{{ field.label_tag }}</th>
        <td class="field">
            {{ field }}
            {% if field.help_text %}
                <img src="{% static 'images/icons/help.png' %}" width="16" height="16" alt="?" title="{{ field.help_text }}"/>
            {% endif %}
        </td>
        <td class="help_text">
            <!-- TODO: remove -->
        </td>
    </tr>
    {% for error in field.errors %}
        <tr class="error">
            <th>{% trans 'Fix the error:' %}</th>
            <td class="error" colspan="2">{{ error }}</td>
        </tr>
    {% endfor %}
{% endfor %}
{% if not hide_table_tags %}</table>{% endif %}
