input, button, select{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.tab-content{
    margin-bottom: 2em;
}

div.column{
    width: 50%;
    float: left;
    min-height: 100%;
}
div.left-column > div{
    padding: 1em;
}
div.tab div.column{
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
/* Two column layout without background images */
#builds {
    overflow: hidden;
}
#builds div.column-container{
    float: left;
    width: 100%;
}
#builds div.container-left{
    background-color: #eef3f7;
    border-right: solid 1px #CCCCCC;
    position: relative;
    right: 50%;
}
#builds div.column{
    position: relative;
    left: 50%;
}
#builds div.right-column > div{
    position: relative;
    left: 2px;
}
#builds div.left-column.content > div{
    text-align: left;
}

/* index page */
/*
 * Anonymous users
 */
#search-box-wrapper{
    width: 60%;
    float:right;
}
#search-box-wrapper #search-builds{
    margin: 0 -1.07em 1px 0;
    white-space: nowrap;
}
#search-box-wrapper #search-builds p{
    border:none;
}
#search-box-wrapper #search-builds input{
    border: solid 1px #6F8698;
    padding: 0.1em 0.3em;
}
/* end anonymous users */
#search-builds p{
    overflow: visible;
    border-bottom: solid 1px #CCCCCC;
    white-space: nowrap;
}
#search-builds input{
    border: none;
    padding: 0.3em;
}
#search-builds input[type="text"]{
    width: 80%;
    padding-left: 1em;
}
#search-builds input[type="submit"]{
    margin-left: -5px;
    width: 20%;
    border-left: solid 1px #CCCCCC;
    background-color: #505050;
    background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #505050),
        color-stop(1, #707070)
    );
    background-position: center top;
    background-repeat: no-repeat;
    text-shadow: -1px -1px #444;
    color: white;
}
#search-builds input[type="submit"]:hover{
    background-color: #606060;
    background-image: linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #606060),
        color-stop(1, #808080)
    );
    background-position: center bottom;
}
#builds #builds-overview{
    width: 100%;
    margin: 0;
    position: relative;
    top: 1px;
}
#builds #builds-overview tr > *{
    padding: 0.2em;
}
#builds #builds-overview td.title{
    width: 50%;
}
#builds #builds-overview td.brand, 
#builds #builds-overview td.scale{
    width: 20%;
}
#photos-formset{
    list-style: none;
    white-space: nowrap;
    margin-bottom: 1em;
}
#photos-formset fieldset{
    border:none;
    margin-bottom: -1px;
}
#photos-formset input.order{
    width: 10%;
}
#photos-formset input.photo-url{
    width: 90%;
    margin-left: -6px;
}


/* overviews */
#builds-overview{
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
}
#table-header{
    background-color: #EEE;
    background: -moz-linear-gradient(top, #C7D0D7 0%, #6F8698 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C7D0D7), color-stop(100%,#6F8698));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C7D0D7', endColorstr='#C7D0D7', GradientType=0 );
    zoom: 1;
    background-image: -o-linear-gradient(top, #C7D0D7 0%, #6F8698 100%);
    background: linear-gradient(#C7D0D7 0%, #6F8698 100%);
    color: #EEE;
    text-shadow: 0px 1px #444;
}
#builds-overview tr > *{
    padding: 0.4em;
    text-align: center;
}
#builds-overview tr > td{
    border-bottom: solid 1px #CCC;
    border-top: solid 1px #CCC;
}
#builds-overview th:first-child{
    border-top-left-radius: 6px;
}
#builds-overview th:last-child{
    border-top-right-radius: 6px;
}
#builds #builds-overview th{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#builds-overview .title{
    font-weight: bold;
    width: 40%;
    text-align: left;
}
td.topic-url, td.brand{
    width: 20%;
    font-weight: bold;
}
td.brand{color: #333;}
#builds-overview tr.light{ background-color: #EEE;}
#builds-overview tr.dark { background-color: #DDD;}
a.link-project{
    background-image: url(../images/icons/permalink.gif); /* TODO: sprite */;
    background-repeat: no-repeat;
    padding-right: 18px;
    background-position: -100% 50%;
}
a.link-project:hover{
    background-position: 100% 50%;
}

/* detail page */
div.title{
    padding: 0.3em 1em 0.3em 1em;
    font-weight: bold;
    color: #333;
}

div.title > span.title {
    font-size: 1.1em;
}
.properties{
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.5em;
}

div.photos{
    text-align: center;
}
div.photos img{
    margin: 1em auto;
}

div.kit-info{
    background-color: #333;
    color: #0E72A4;
    font-weight: bold;
    height: 54px;
    border-left: solid 1px #0E72A4;
    border-right: solid 1px #0E72A4;
    width: 75%;
    margin: 0 auto;
}
div.handle.opened:hover{
    cursor: pointer;
}
div.kit-info > div.column{
    float: left;
    width: 44%;
    font-family: Helvetica, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
    font-size: 3em;
}
div.kit-info div.scale{
    text-align: right;
    padding-right: 6%;
    text-shadow: 2px 2px 1px rgba(15,51,70,0.7);/*, -1px -1px 2px rgb(0, 0, 0, 0.5);*/
}
div.kit-info div.brand{
    padding-left: 6%;
    position: relative;
}
div.kit-info div.brand img.brand-logo{
    height: 40px;
    margin-top: 7px;
}
div.handle{
    text-align: center;
    color: #CCC;
    border: solid 1px #0E72A4;
    border-top: none;
    width: 75%;
    margin: 0 auto;
    background-color: #444;
    background: -moz-linear-gradient(top, #333 0%, #444 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#444));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#333', GradientType=0 );
    zoom: 1;
    background-image: -o-linear-gradient(top, #333 0%, #444 100%);
    background: linear-gradient(#333 0%, #444 100%);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}





#img_build{
	margin-bottom: 50px;
}
#button_right img{
	float: right;
	padding-right: 25px;
}
#button_left img{
	float: left;
	padding-right: 25px;
}
