{% extends "groupbuilds/base.html" %}{% load i18n %}


{% block eye-catcher %}
<header class="container-fluid eye-catcher">
    <div class="container">

        <h1>{% trans "Group builds dashboard" %}</h1>

        <p>{% blocktrans %}
            In this section you can manage your group builds. Your group builds are split in a set of group builds that you manage, and a set of builds where you're a regular participant.
        {% endblocktrans %}</p>

        <div class="text-center pull-right">
            <a href="{% url 'groupbuilds:create' %}" class="btn bg-main-orange">{% trans "New concept/idea" %}</a>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<div class="list">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2>
                    <i class="fa fa-globe"></i>
                    {% trans "Organized by you" %}
                </h2>
                <div class="list-group">
                    {% for gb in admin_gbs %}
                        <a href="{{ gb.get_absolute_url }}" class="list-group-item gb status-{{ gb.status }}"
                        {% if gb.reason_denied and gb.is_submittable %}
                            data-content="{{ gb.reason_denied }}" data-toggle="popover" data-trigger="hover"
                            data-placement="top" title="{% trans "Request denied" %}"
                        {% endif %}>
                            <strong>{{ gb.theme }}</strong>
                            <span class="badge">{{ gb.n_participants }}</span>

                            <br>

                            {% if gb.reason_denied and gb.is_submittable %}
                                <i class="fa fa-warning"></i> &bull;
                            {% endif %}

                            {% if gb.end and gb.is_ongoing %}
                                {% blocktrans with time_left=gb.end|timeuntil %}{{ time_left }} left{% endblocktrans %}
                            {% endif %}

                        </a>
                    {% empty %}
                        {% url 'groupbuilds:create' as url_gb_concept %}
                        {% blocktrans %}
                            You haven't organized any groupbuilds yet. If you have
                            a brilliant idea, share it with us by
                            <a href="{{ url_gb_concept }}">submitting your idea</a>.
                        {% endblocktrans %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h2>
                    <i class="fa fa-user"></i>
                    {% trans "Builds you participate in" %}
                </h2>
                <div class="list-group">
                    {% for gb in participant_gbs %}
                        <a href="{{ gb.get_absolute_url }}" class="list-group-item gb status-{{ gb.status }}">
                            <strong>{{ gb.theme }}</strong>
                            <span class="badge">{{ gb.n_participants }}</span>
                            {% if gb.end and gb.is_ongoing %}
                                <br>
                                {% blocktrans with time_left=gb.end|timeuntil %}{{ time_left }} left{% endblocktrans %}
                            {% elif gb.is_open %}
                                <br>
                                {% if gb.is_ongoing %}
                                    {% blocktrans with start=gb.start %}Started {{ start }}{% endblocktrans %}
                                {% else %}
                                    {% blocktrans with start=gb.start time_until=gb.start|timeuntil %}Starts {{ start }} ({{ time_until }} from now){% endblocktrans %}
                                {% endif %}
                            {% endif %}
                        </a>
                    {% empty %}
                        {% url 'groupbuilds:groupbuild-list' as url_gb_list %}
                        {% blocktrans %}
                            You haven't joined a build yet. Maybe you can browse
                            the <a href="{{ url_gb_list }}">list</a> to find something interesting?
                        {% endblocktrans %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
