{% extends "groupbuilds/base.html" %}
{% load i18n brouwers l10n %}


{% block eye-catcher %}
<header class="container-fluid eye-catcher">
    <div class="container">

        <h1>{% trans "Group builds - some information" %}</h1>

        <p>{% blocktrans %}A group build is basically a themed build with a set start
            and end date. Builders who share interests for a certain theme can poll other
            forum members if they are interested to take part in a group build. Group builds
            usually result in tight groups of builders around a narrow field, providing
            valuable theme-specific reference documentation and small facts.
        {% endblocktrans %}</p>

        <p>{% blocktrans %}'Ok, sounds cool and all' I hear you think. But what if you have your
            own idea? Just click the button below to submit your idea! We provide the
            platform and forum-integration to get your idea going!
        {% endblocktrans %}</p>

        <div class="text-center">
            <a href="{% url 'groupbuilds:create' %}" class="btn bg-main-orange">{% trans "New concept/idea" %}</a>
            <a href="{% url 'groupbuilds:dashboard' %}" class="pull-right btn bg-main-blue">{% trans "My groupbuilds" %}</a>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<div class="list">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2><i class="fa fa-newspaper-o"></i> {% trans "New concepts" %}</h2>
                <div class="list-group">
                    {% for gb in new_concepts %}
                        <a href="{{ gb.get_absolute_url }}" class="list-group-item">
                            <strong>{{ gb.theme }}</strong>
                            <span class="badge">{{ gb.n_participants }}</span>
                        </a>
                    {% empty %}
                        {% url 'groupbuilds:create' as url_gb_concept %}
                        {% blocktrans %}
                            Nobody seems to have a clue! Maybe you can
                            <a href="{{ url_gb_concept }}">submit your own idea?</a>
                        {% endblocktrans %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="well">
                <h2>{% trans "Starting soon" %}</h2>
                <div class="list-group">
                    {% for gb in starting_soon %}
                        <a href="{{ gb.get_absolute_url }}" class="list-group-item">
                            {{ gb.start|date }} &bull; <strong>{{ gb.theme }}</strong>
                            <span class="badge">{{ gb.n_participants }}</span>
                        </a>
                    {% empty %}
                    {% blocktrans %}
                        Nothing starting in the next six weeks. Maybe there's something further
                        down the road in the <a href="#calendar">calendar</a>?
                    {% endblocktrans %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="calendar">
        <section class="calendar">
            <h2>{% trans "Calendar" %} <i class="fa fa-calendar pull-right"></i></h2>

            <div class="row month-names">
                {% for date in dates %}
                    <div class="month-name col-xs-2 text-center">{{ date|date:"F"|capfirst }}</div>
                {% endfor %}
            </div>

            {% for gb in calendar_gbs %}
            <div class="row gb-wrapper {% if forloop.last %}last{% endif %}">
                <div class="today-marker" style="left: {{ offset_today|unlocalize }}%;">&nbsp;</div>
                <div class="col-md-12 calendar-gb soft {% cycle 'bg-main-green' 'bg-main-red' 'bg-main-pink' 'bg-main-grey' 'bg-main-orange' %}"
                    style="width: {{ gb.calendar_dimensions.width|unlocalize }}%; margin-left: {{ gb.calendar_dimensions.offset|unlocalize }}%;"
                    title="Start: {{ gb.start }}, End: {{ gb.end }}">
                    <a href="{{ gb.get_absolute_url }}" title="{{ gb.theme }}, {{ gb.start|date }} - {{ gb.end|date }}">
                        {{ gb.theme }} <span class="end">{{ gb.end|date:"d/m" }}</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>

    <section id="build-list">
        <h2>{% trans "All unfinished group builds" %}</h2>

        {% regroup upcoming_builds by category as grouped %}

        <ul class="nav nav-tabs" role="tablist">
            {% for group in grouped %}
                <li class="{{ forloop.first|yesno:"active," }}">
                    <a href="#category-{{ group.grouper.id }}" role="tab" data-toggle="tab">
                        {% if group.grouper.icon_class %}<i class="fa {{ group.grouper.icon_class }}"></i>{% endif %}
                        {{ group.grouper.name }} <span class="badge">{{ group.list|length }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="tab-content">
            {% for group in grouped %}
            <div class="tab-pane {{ forloop.first|yesno:"active," }}" id="category-{{ group.grouper.id }}">
                <div class="list-group">
                    {% for gb in group.list %}
                        <a href="{{ gb.get_absolute_url }}" class="list-group-item">
                            <strong>{{ gb.theme }}</strong>
                            <span class="badge">{{ gb.n_participants }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
</div>
{% endblock content %}
