{% extends "groupbuilds/groupbuild_detail.html" %}
{% load sniplates i18n %}

{% block content-body %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <h3>{% trans "Edit your build details" %}</h3>
        <form action="." method="post" class="form-horizontal">{% csrf_token %}
            {% load_widgets form="horizontal.form" %}
            {% with field_grid='col-md-9' label_grid='col-md-3' %}
                <fieldset class="well">
                    {% for field in form %}
                        {% form_field field %}
                    {% endfor %}
                </fieldset>
            {% endwith %}

            <div class="submit-wrapper">
                <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
            </div>

        </form>
    </div>

    <div class="col-xs-12 col-md-3 col-md-offset-1">
        {% include 'groupbuilds/includes/progress.html' %}
        {% include 'groupbuilds/includes/links.html' %}
    </div>

</div>
{% endblock %}
