{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block menu %}
    <li><a href="{% url 'kitreviews:index' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'kitreviews:find_kit' %}">{% trans "Find kits/reviews" %}</a></li>
    <li><a href="{% url 'kitreviews:add_review' %}">{% trans "Add review" %}</a></li>
{% endblock %}

{% block content %}
<ul>
    {% for review in reviews %}
        <li>{{ review }} &dash; <a href="{{ review.topic_url }}">topic</a> &dash; rating: {{ review.rating_scaled }}</li>
    {% endfor %}
</ul>
{% endblock content %}