{% extends "kitreviews/base.html" %}
{% load i18n forum_tools %}
{% load url from future %}

{% block content %}{% with kit.kitreview_set.count as num_reviews %}
    <div id="kit-detail">
    <div class="tab" id="kit-title">
        {# {% trans "Kit information" %}: #}
        <strong><a href="{{ kit.brand.get_absolute_url }}">{{ kit.brand }}</a></strong>
        &bull; {{ kit.scale }}
        <span id="kit-name">
            &bull; <strong>{{ kit.name }}</strong>
        </span>
        {% if kit.kit_number %}
            &bull; {{ kit.kit_number }}
        {% endif %}
        &bull; <a href="#reviews"><strong>{% trans "Reviews" %} ({{ num_reviews }})</strong></a>
        
        <span class="small-text right">
            <a href="{% url 'kitreviews:kit_add_review' kit.id %}"><button class="add-review-button">{% trans "Add review" %}</button></a>
            &bull;
            {% blocktrans with submitter=kit.submitter|forum_name submitted_on=kit.submitted_on user_url=kit.submitter.get_absolute_url %}Submitted by <a href="{{ user_url }}">{{ submitter }}</a> on {{ submitted_on }}.{% endblocktrans %}
        </span>
    </div>

    <div id="kit-information">
        <div id="box-image" class="center">
            <img src="{{ kit.box_image.url }}" class="box-image" alt="boximg"/>
        </div>
    </div>

    <div class="tab midpage" id="reviews">
        {% trans "Reviews" %} ({{ num_reviews }})
        &bull; <a href="{% url 'kitreviews:kit_add_review' kit.id %}"><button class="add-review-button small-text">{% trans "Add review" %}</button></a>
    </div>

    <div class="tab midpage">{% trans "Related forum topics" %}</div>
</div>
{% endwith %}{% endblock content %}