<!-- $Id: links.html,v 1.1 2007/04/04 09:33:30 angelside Exp $ //-->
<style>
<!--
.ul-link {
	list-style: none;
	margin:0px 0px 0px;
	padding:0px;
}
.ul-link li{
	margin: 0px;
	padding: 0px 0px 0px 10px;
	background: url(bb3portal/images/dot.gif) no-repeat left center;
}
small, .small {
	font-size:10px; 
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
//-->
</style>

<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td class="cat"><h4>{L_LINKS}</h4></td>
</tr>
<tr>
	<td class="row1" align="left" style="line-height:150%;">
		<ul class="ul-link small">
			<li><a href="http://www.phpbb3portal.com" title="phpBB Türkiye" target="_blank">phpBB3 Portal</a></li>
			<li><a href="http://www.phpbb3project.com" title="phpBB Türkiye" target="_blank">phpBB3 Project</a></li>
			<li><a href="http://www.phpbb3turkiye.com" title="phpBB3 Türkiye" target="_blank">phpBB3 Türkiye</a></li>
			<li><a href="http://www.phpbbturkiye.net" title="phpBB Türkiye" target="_blank">phpBB Türkiye</a> phpBB3 demo</li>
			<li><a href="http://www.canver.net" title="phpBB Türkiye" target="_blank">phpBB Türkiye</a></li>
			<li><a href="http://www.canversoft.net" title="Canver Software" target="_blank">Canver Software</a></li>
		</ul>
	</td>
</tr>
</table>
<br />
