{% load i18n %}

<span class="votes">
    {% if winners_list.0 %}
            {% blocktrans count winners_list.0.votes as counter %}1 vote{% plural %}{{ counter }} votes{% endblocktrans %}
    {% else %}
        {% trans "No-one grabbed this spot!" %}
    {% endif %}
</span>
<ul>
    {% for project in winners_list %}
        <li>
            <a href="{{ project.url }}" class="topic-url">{{ project.name }}</a>
            <br />
            <span class="author">{{ project.brouwer }}</span>
        </li>
    {% endfor %}
</ul>