{% extends "albums/index.html" %}{% load i18n staticfiles %}
{% load cycle from future %}


{% block eye-catcher-content %}
<h1>
    {{ album.title }}
    <small>&bull; {{ album.user }}</small>
    <span class="fa-stack fa-lg pull-right">
        <i class="fa fa-folder-open-o fa-stack-2x"></i>
        <span class="photo-count fa fa-stack-1x">{{ paginator.count }}</span>
    </span>
</h1>

{% if album.description %}
    <p>
        <i class="fa fa-quote-left"></i><br>
        {{ album.description }}
        <i class="fa fa-quote-right"></i>
    </p>
{% endif %}

<small class="stats">
{% blocktrans with views=album.views last_upload=album.last_upload|date:'j F Y' %}
Statistics: {{ views }} views, last upload: {{ last_upload }}
{% endblocktrans %}
</small>
{% endblock %}


{% block content %}
<div class="pre-content clearfix">
    {% if album.topic %}
        <a href="{{ album.topic.get_absolute_url }}" class="pull-left btn bg-main-blue" title="{% trans "View topic" %}">{{ album.topic }}</a>
    {% endif %}

    {% include "includes/pagination.html" %}
</div>

<section>
    <div class="row">
        {% for photo in photos %}
            {% include "albums/includes/photo_thumb.html" %}
            {% autoescape off %}{% cycle '' '' '' '</div><div class="row">' %}{% endautoescape %}
        {% endfor %}
    </div>
</section>

{% include "includes/pagination.html" %}

{% endblock content %}
