{% extends "albums/index.html" %}{% load i18n staticfiles %}
{% load cycle from future %}


{% block eye-catcher-content %}
<h1>
    {{ album.title }}
    <small>&bull; {{ album.user }}</small>
    <span class="fa-stack fa-lg pull-right">
        <i class="fa fa-folder-open-o fa-stack-2x"></i>
        <span class="photo-count fa fa-stack-1x">{{ paginator.count }}</span>
    </span>
</h1>

{% if album.description %}
    <p>
        <i class="fa fa-quote-left"></i><br>
        {{ album.description }}
        <i class="fa fa-quote-right"></i>
    </p>
{% endif %}

<small class="stats">
{% blocktrans with views=album.views last_upload=album.last_upload|date:'j F Y' %}
Statistics: {{ views }} views, last upload: {{ last_upload }}
{% endblocktrans %}
</small>
{% endblock %}


{% block content %}
<div class="pre-content clearfix">
    {% if album.topic %}
        <a href="{{ album.topic.get_absolute_url }}" class="pull-left btn bg-main-blue" title="{% trans "View topic" %}">{{ album.topic }}</a>
    {% endif %}

    {% include "includes/pagination.html" %}
</div>

<section id="photo-thumbs">
    <div class="row">
        {% for photo in photos %}
            {% include "albums/includes/photo_thumb.html" %}
            {% autoescape off %}{% cycle '' '' '' '</div><div class="row">' %}{% endautoescape %}
        {% endfor %}
    </div>
</section>

{% include "includes/pagination.html" %}

{% endblock content %}


{% block modals %}
<div class="modal fade lightbox" id="modal-lightbox">
    <div class="modal-dialog">
        <div class="modal-content">
            {% comment %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Photo" %}</h4>
            </div>
            {% endcomment %}
            <div class="modal-body">
                <p>{% trans "Blablabla" %}</p>
            </div>
            {% comment %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
            {% endcomment %}
        </div>
    </div>
</div>
{% endblock %}


{% block extrascript %}
{{ block.super }}
<script src="{% static 'scripts/handlebars-v2.0.0.js' %}"></script>
<script src="{% static 'scripts/q.min.js' %}"></script>
<script src="{% static 'scripts/api.js' %}"></script>
<script src="{% static 'scripts/forum/hbsLib.js' %}"></script>
<script>
    var page = {{ page_obj.number }};
    var album = {{ album.pk }};
</script>
<script src="{% static 'scripts/model.js' %}"></script>
<script src="{% static 'albums/js/models/photo.js' %}"></script>
<script src="{% static 'albums/js/album.js' %}"></script>
{% endblock extrascript %}
