{% extends "base.html" %}
{% load i18n staticfiles cache %}{% load cycle from future %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}Modelbrouwers.nl - BrouwersAlbums{% endblock %}

{% block body-attrs %} class="fade-small-logo"{% endblock %}

{% cache 300 albums_index LANGUAGE_CODE %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/albums.css' %}" charset="utf-8"/>
{% endblock style %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
	    var trans_new_album = "{% trans 'New album' %}";
	    var trans_edit_album = "{% trans 'Edit album' %}";
	    var trans_save = "{% trans 'Save' %}";
	    var trans_cancel = "{% trans 'Cancel' %}";
	    var trans_trash = "{% trans 'Move to trash?' %}";
	    var trans_confirm = "{% trans 'Confirm' %}";
	    var trans_search_albums = "{% trans 'search albums...' %}";
	    var trans_pick_cover = "{% trans 'choose an album cover' %}";
	    var trans_find_users = "{% trans 'find users...' %}";
	    var trans_revoke_rights = "{% trans 'click to remove from group' %}";
	</script>
	<script type="text/javascript" src="{% static 'scripts/albums.js' %}"></script>
	{% block extrascript %}
	{% endblock %}
{% endblock scripts %}

{% block announcement %}
	<div>Meer info over de nieuwe albums vind je in <a href="/albums/about/" target="_blank">dit topic</a>.</div>
{% endblock %}

{% block menu %}
	<li><a href="
		{% if album_preferences.default_uploader == 'F' %}
    		{% url 'brouwers.albums.views.uploadify' %}
		{% else %}
			{% url 'brouwers.albums.views.upload' %}
		{% endif %}
		">{% trans 'Add photos' %}</a>
	</li>
	<li><a href="{% url 'brouwers.albums.views.my_albums_list' %}">{% trans 'My albums' %}</a></li>
	<li><a href="{% url 'brouwers.albums.views.albums_list' %}">{% trans 'All albums' %}</a></li>
	<li><a href="{% url 'brouwers.albums.views.my_last_uploads' %}?page=1">{% trans 'My last uploads' %}</a></li>
	<li><a href="{% url 'brouwers.albums.views.preferences' %}">{% trans 'Preferences' %}</a></li>
{% endblock %}

{% block above_content %}
{% if awards_winners %}
    {% include "albums/spotlight.html" %}
{% endif %}
{% endblock %}

{% block content %}
	<div class="tab">{% trans 'Last modified albums' %}</div>
	<div id="albums-list-homepage">
    	{% include "albums/albums_list/public_albums_rows.html" %}

		{% if needs_closing_tag_row_albums %}
	        </div>
		{% endif %}
		<div class="clear"></div>
		<br />
    </div>

	<div class="tab">{% trans 'Last uploads' %}</div>
	<div id="last_uploads">
		{% for photo in last_uploads %}
			{% autoescape off %}{% cycle '<div class="row">' '' '' '' '' %}{% endautoescape %}
				{% spaceless %}
				<div class="photo">
					<a class="photo" href="{{ photo.get_absolute_url }}">
						<img class="thumb" src="{{ photo.thumb_url }}" alt="thumb"
						width="{{ photo.get_thumb_width }}"
						height="{{ photo.get_thumb_height }}"/>
					</a>

					<div class="properties">
						{{ photo.views }} views
						<br />
						<a href="{{ photo.user.get_absolute_url }}">{{ photo.get_username }}</a>
					</div>
				</div>
				{% endspaceless %}
			{% autoescape off %}{% cycle '' '' '' '' '</div>' %}{% endautoescape %}
		{% endfor %}
		{% if needs_closing_tag_row %}
			</div>
		{% endif %}
	</div>
	<div id="new-album-dialog">
        <form id="new-album" action=".">
            {% include "form_in_table_jquery-ui.html" %}
        </form>
    </div>
{% endblock content %}
{% endcache %}
