{% extends "albums/index.html" %}{% load i18n staticfiles formulation %}


{% block eye-catcher-content %}
    <h1>
        {% trans "Create new album" %}
        <i class="pull-right fa fa-folder-open-o fa-2x"></i>
    </h1>

    <p>{% blocktrans %}
        Create a new album here. By default your album is personal and nobody
        else can upload to your album. You can give out permissions to others to
        give them access to your albums though.
    {% endblocktrans %}</p>

{% endblock %}


{% block content %}
<form action="." class="form-horizontal" method="post">
    {% csrf_token %}
    {% form 'albums/albums.form' %}{% with label_grid_offset='col-sm-offset-2' %}
        {% use 'non_field_errors' %}

        <fieldset class="well">
            {% for field in form %}
                {% field field %}
            {% endfor %}
        </fieldset>

        {% use 'submit' btn_text=_('Create album') %}

    {% endwith %}{% endform %}
</form>
{% endblock %}
