{% extends "albums/index.html" %}{% load i18n staticfiles formulation %}


{% block eye-catcher-content %}
    <h1>
        {% trans "Create new album" %}
        <i class="pull-right fa fa-folder-open-o fa-2x"></i>
    </h1>

    <p>{% blocktrans %}
        Create a new album here. By default your album is personal and nobody
        else can upload to your album. You can give out permissions to others to
        give them access to your albums though.
    {% endblocktrans %}</p>
{% endblock %}


{% block content %}
<form action="." class="form-horizontal" method="post">
    {% csrf_token %}
    {% form 'albums/albums.form' %}{% with label_grid_offset='col-sm-offset-2' %}
        {% use 'non_field_errors' %}

        <fieldset class="well">
            {% for field in form %}
                {% field field %}
            {% endfor %}
        </fieldset>

        {% use 'submit' btn_text=_('Create album') %}

    {% endwith %}{% endform %}
</form>
{% endblock %}



{% block extrascript %}
{{ block.super }}
<script src="{% static "node_modules/fine-uploader/jquery.fine-uploader/jquery.fine-uploader.min.js" %}"></script>

<script>
$(function(){
    var uploader = $('#uploader');
    uploader.fineUploader({
        debug: true,
        request: {
            endpoint: '/api/albums/upload/'
        },
        deleteFile: {
            enabled: true,
            endpoint: '/api/albums/upload/'
        },
        retry: {
           enableAuto: true
        },
        validation: {
            allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'] // only images
        },
        autoUpload: {{ album_preferences.auto_start_uploading|yesno:'true,false' }}
    });

    $('#trigger-upload').click(function() {
        uploader.fineUploader('setParams', {foo: 'bar'});
        uploader.fineUploader('uploadStoredFiles');
    });
});
</script>

<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-button-selector qq-upload-button btn">
            <div>{% trans "Pick files&hellip;" %}</div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area">
            <span>{% trans "&hellip;or drop files here to upload" %}</span>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>{% trans "Processing dropped files..." %}</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>

        <button class="btn bg-main-orange btn-lg" id="trigger-upload">{% trans "Upload" %}</button>

        <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">
                    <i class="fa fa-times" title="{% trans "Cancel" %}"></i>
                </a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">{% trans "Retry" %}</a>
                {# <a class="qq-upload-delete-selector qq-upload-delete" href="#">{% trans "Delete" %}</a> #}
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

    </div>
</script>
{% endblock %}
