{% extends "base_html5.html" %}{% load i18n staticfiles cache thumbnail %}
{% load cycle from future %}

{% block title %} &bull; {% trans "Albums" %}{% endblock %}


{% block body-class %}albums{% endblock body-class %}


{% block eye-catcher %}
<header class="container-fluid eye-catcher">
    <div class="container">
        {% block eye-catcher-content %}
            <h1>
                {% trans "Albums" %}
                <i class="pull-right fa fa-camera-retro fa-2x"></i>
            </h1>

            <p>{% blocktrans %}
                The 'BrouwersAlbums' are a section where you can create your own, personal
                albums and upload photos to them. The amount of albums or photos is unlimited.
            {% endblocktrans %}</p>

            {# {% include "albums/winners_carousel.html" %} #}

            <div>
                <a href="{% url 'albums:upload' %}" class="btn bg-main-orange">{% trans "Upload" %}</a>
                <a href="{% url 'albums:create' %}" class="btn bg-main-blue">{% trans "Create album" %}</a>
            </div>
        {% endblock %}
    </div>
</header>
{% endblock %}



{% block content %}
<section>
    <h2>
        {% trans "Most recently changed albums" %}
        <i class="pull-right fa fa-folder-open-o"></i>
    </h2>
    <div class="row">
        {% for album in albums %}
            <article class="col-sm-6 col-md-3">
                <h3><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></h3>
                <a href="{{ album.get_absolute_url }}" class="thumbnail">
                    {% if album.get_cover.exists %}
                        {% thumbnail album.cover.image "300x225" crop="center" as im %}
                            <img src="{{ im.url }}" class="img-responsive">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static "images/thumb.png" %}" class="img-responsive">
                    {% endif %}
                </a>
            </article>

            {% autoescape off %}{% cycle '' '' '' '</div><div class="row">' %}{% endautoescape %}
        {% endfor %}
    </div>
</section>

<section>
    <h2>
        {% trans "Latest uploads" %}
        <i class="pull-right fa fa-file-image-o"></i>
    </h2>
    <div class="row">
        {% for photo in latest_uploads %}
            <article class="col-sm-6 col-md-3">
                <a href="{{ photo.get_absolute_url }}" class="thumbnail">
                    {% if photo.exists %}
                        {% thumbnail photo.image "300x225" crop="center" as im %}
                            <img src="{{ im.url }}" class="img-responsive">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static "images/thumb.png" %}" class="img-responsive">
                    {% endif %}
                </a>
            </article>

            {% autoescape off %}{% cycle '' '' '' '</div><div class="row">' %}{% endautoescape %}
        {% endfor %}
    </div>
</section>


{% endblock content %}
