{% extends "albums/index.html" %}{% load i18n staticfiles thumbnail %}
{% load cycle from future %}

{% block body-class %}{{ block.super }} photo-detail{% endblock %}

{% block eye-catcher-content %}
<a href="{{ photo.album.get_absolute_url }}" class="pull-right btn bg-main-blue" title="{% trans "View album" %}">&lt; {% trans "back to album" %}</a>

<h1>
{% blocktrans with user=photo.user.username album=photo.album.title %}
    Photo by {{ user }} in album &lsquo;{{ album }}&rsquo;
{% endblocktrans %}
</h1>


<small class="stats">
{% blocktrans with views=photo.views uploaded=photo.uploaded|date:'j F Y' %}
Statistics: {{ views }} views, uploaded: {{ uploaded }}
{% endblocktrans %}
</small>
{% endblock %}


{% block content %}
<article class="photo">
    <figure>
        {% thumbnail photo.image "1280x1280" as im %}
            <img src="{{ im.url }}" class="img-responsive">
        {% endthumbnail %}

        {% if photo.description %}
            <figcaption><p>{{ photo.description }}</p></figcaption>
        {% endif %}

        <div class="controls top right">
            <i class="fa fa-fw fa-compress fa-2x"></i>
            <i class="fa fa-fw fa-expand fa-2x"></i>
        </div>

    </figure>
</article>
{% endblock content %}
