{% extends "albums/base.html" %}{% load i18n sniplates %}


{% block eye-catcher-content %}
<h1>
    {% blocktrans with album=photo.album.title %}
        Delete photo from album '{{ album }}'
    {% endblocktrans %}
    <i class="pull-right fa fa-trash fa-2x"></i>
</h1>

<small class="stats">
{% blocktrans with uploaded=photo.uploaded|date:'j F Y' %}uploaded on {{ uploaded }}{% endblocktrans %}</small>
{% endblock %}

{% block albums-nav %}{% endblock %}

{% block content %}
<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    {% load_widgets form='albums/albums.form' %}

    <div class="row"><div class="col-xs-12 col-md-8 col-xl-6">
        <p>{% blocktrans %}
            Are you sure you want to delete this photo? It will no longer be visible in the album. Deleting the photo will put it in the trash bin, and you will be able to restore it.
        {% endblocktrans %}</p>

        <p>{% blocktrans %}
            Note that the image file itself will always remain visible, whether the album or photo is deleted or not.
        {% endblocktrans %}</p>

        {% widget 'form:submit' btn_text=_('Delete photo') btn_class='bg-main-red' %}
    </div></div>
</form>
{% endblock content %}
