{% load i18n %}

{% block nav-right %}
<div class="pull-right">
    <a href="{% url 'albums:all' %}" class="btn bg-main-blue">{% trans "All albums" %}</a>

    {% if user.is_authenticated %}
    <div class="dropdown inline">
        <button type="button" class="btn bg-main-blue dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bars"></i>
        </button>

        <ul class="dropdown-menu">
            <li><a href="{% url 'albums:settings' %}">
                <i class="fa fa-fw fa-gear"></i>
                {% trans "Settings" %}
            </a></li>
            <li><a href="{% url 'albums:mine' %}">
                <i class="fa fa-fw fa-folder"></i>
                {% trans "My albums" %}
            </a></li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
