{% extends "albums/base.html" %}{% load i18n staticfiles sniplates %}


{% block extrastyle %}
{{ block.super }}
<link href="{% static 'fine-uploader/jquery.fine-uploader/fine-uploader.min.css' %}" media="screen, projection" rel="stylesheet">
{% endblock extrastyle %}


{% block eye-catcher-content %}
    <h1>
        {% trans "Upload new pictures" %}
        <i class="pull-right fa fa-upload fa-2x"></i>
    </h1>

    <p data-feature="fileDrop">{% blocktrans %}
        You can upload new pictures here. Select the album to upload to, and then
        drag your images in the drop zone!
    {% endblocktrans %}</p>
    <p class="hidden" data-feature="fileDrop">{% blocktrans %}You can upload new pictures here. Select the album to upload to,
        and then pick your files.{% endblocktrans %}</p>
{% endblock %}

{% block albums-nav-left %}
<a href="{% url 'albums:create' %}" class="btn bg-main-orange">{% trans "Create album" %}</a>
<span class="hidden-xs">{% trans "Create an album first if you haven't done so yet!" %}</span>
{% endblock %}


{% block content %}
<form action="#" id="upload-form" class="form-horizontal">
    {% csrf_token %}

    {% load_widgets form='albums/albums.form' %}
    {% form_field form.album 'form:AlbumCarousel' %}

    <div id="uploader"></div>
</form>

<div>
{% trans "On some browsers, some features might be disabled. Notable are:" %}
<ul>
    <li>{% trans "Multiple file selection: not available in IE 8 and 9 and Android" %}</li>
    <li>{% trans "Dropping files: not available in IE 8 and 9 and mobile devices alltogether" %}</li>
</ul>
</div>
{% endblock %}


{% block modals %}
<div class="modal fade" id="modal-albums">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{% trans "Incorrect album selection" %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "You must select an album, and no more than one album." %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extrascript %}
{{ block.super }}
<script src="{% static 'fine-uploader/jquery.fine-uploader/jquery.fine-uploader.min.js' %}"></script>
<script src="{% static 'albums/js/upload.js' %}"></script>
<script>
    var endpoint = '{% url "api:photo-list" %}';
    var albumDetail = '{% url "albums:detail" pk='{0}' %}';
    var autoUpload = {{ settings.auto_start_uploading|yesno:'true,false' }};
</script>


<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-button-selector qq-upload-button btn">
            <div>{% trans "Pick files&hellip;" %}</div>
        </div>

        <button class="btn bg-main-orange" id="trigger-upload">{% trans "Upload" %}</button>

        <div class="qq-upload-drop-area-selector qq-upload-drop-area" data-feature="fileDrop">
            <span>{% trans "&hellip;or drop files here to upload" %}</span>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>{% trans "Processing dropped files..." %}</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>

        <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">
                    <i class="fa fa-times" title="{% trans "Cancel" %}"></i>
                </a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">{% trans "Retry" %}</a>
                {# <a class="qq-upload-delete-selector qq-upload-delete" href="#">{% trans "Delete" %}</a> #}
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

    </div>
</script>
{% endblock %}
