* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    min-height: 100%;
    background-color: #ffffff;
    font-size: 100%;
}
a{
    text-decoration: none;
    color: #0E72A4;
}
a:hover{
    text-decoration: underline;
    color: #DD6900;
}
a.highlight{
    color: #DD6900;
}
img{
    border: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.center{
    text-align: center;
}
div#top, div#logo{
	min-width: 1300px; /* else the floating images are fugly */
}
div#container{
	padding: 5px 5px 0 5px;
}
a img{
    border: none;
}
.warning, .no-javascript{
    background-color: #F9CC79;
    border: solid 1px #BB9860;
    color: #333;
    margin: 1em 3em 1em 3em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 0.9em;
}
.small-text{
    font-size: 0.8em;
}
button.ui-button{
    padding: 0.3em;
}
/*** FORMS ***/
input[type="text"], input[type="password"], input[type="submit"], button, input[type="button"], select, textarea{
	border: solid 1px #6F8698;
}
form table{
    width: 96%;
    margin: 1em auto;
}
th.label{
    text-align: right;
    padding-right: 1em;
    font-weight: normal;
    width: 28%;
}
td.field{
    width: 22%;
}
td.help_text{
    width: 50%;
}
td.field input, td.field select{
    width: 12em;
}
td.field input[type="checkbox"]{
    width: 2.4em;
}
/*** NAVIGATION BAR, SHOP BANNER ***/
div#navigation, div#shop_banner{
    margin: 0 auto;
    text-align: center;
    min-width: 1200px;
    height: 38px;
    background-image: url("/static/images/nav/nav_bg.gif");
    background-repeat: repeat-x;
}
#navigation ul, #shop_banner ul{
    margin: 0 auto 0 auto;
    list-style: none;
    height: 38px;
    font-size: 0;
}
#navigation li, #shop_banner li{
    display: inline-block;
    list-style: none;
    margin-bottom: 3px;
    width: 130px;
    font-size: 14px;
}
#navigation li a, #shop_banner li a{
    display: inline-block;
}
#navigation li img{
    width: 130px;
    height: 35px;
}
#navigation li#kitreviews, #navigation li#kitreviews img{
    width: 173px;
}
/*** SHOP BANNER ***/
div#shop_banner, #shop_banner ul{
	height: 25px;
	background-image: none;
}
#shop_banner li{
	width: auto;
	margin: 0;
	padding: 0;
}
#shop_banner li img{
	height: 25px;
}
/*** LOGO + AANKONDIGINGEN + FLEX + MM ***/
div#logo, div#logo div{
	height: 75px;
}
div#logo a{
	display: auto;
}
div#logo div.right{
	padding: 8px 0 7px;
}
.rounded{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
}
/*** MENU ***/
ul#menu{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.95em;
	padding: 0.1em 0 0.2em 0;
	list-style: none;
	text-align: left;
	border-top: solid 1px #1d24bd;
	border-left: solid 1px #1d24bd;
	border-right: solid 1px #1d24bd;
	background-color: #069;
	background: -moz-linear-gradient(top, #069 0%, #0A1871 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#069), color-stop(100%,#0a1871));
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#069', endColorstr='#0A1871',GradientType=0 );
	zoom: 1;*/
	background-image: -o-linear-gradient(top,rgb(0,102,153),rgb(10,24,113));
	
	border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
}
ul#menu li{
	display: inline;
	list-style: none;
	margin: 0 1em 0 1em;
	text-align: center;
	font-weight: bold;
}
ul#menu li a{
	padding: 3px 10px 3px 10px;
	color: white;
	text-decoration: none;
}
ul#menu li a:hover{
	color: #DD6900;
	text-decoration: underline;
}
/*** PAGINATION ***/
div.pagination{
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: 0.5em;
    clear: both;
}
div.pagination a, div.pagination span{
    color: #369;
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.8em;
}
div.pagination a:hover{
    text-decoration: underline;
}
/*** CONTENT ***/
div#content_wrapper{
    clear: both;
	min-width: 900px;
	width: 80%;
	margin: 0 auto;
}
div#content{
    border: solid 1px #CCC;
    font-size: 0.94em;
    padding-bottom: 2em;
    margin-bottom: 2em;
}
div#albums-list-homepage .row{
    clear: both;
    border-bottom: dashed 1px #EEE;
}
div#albums-list-homepage .row:first-child{
    border: none;
}
div.homepage-album{
    float: left;
    width: 22%;
    margin: 1em 1.2% 0.2em 1.2%;
    text-align: center;
}
div.homepage-album div.album-title{
    font-size: 0.9em;
    padding-bottom: 0.2em;
}
div.homepage-album a.photo{
    display: inline-block;
    width: 140px;
    height: 105px;
    border: solid 1px #555;
    background-color: #EEE;
    margin: 0 auto;
}
.properties{
    font-size: 0.8em;
}
.properties a{
    font-weight: bold;
}
div#last_uploads{
    padding-top: 0.5em;
    border-top: none;
}
div.row{
    min-width: 840px;
    width: 98%;   
    margin: 0 auto;
}
div.photo{
    text-align: center;
    display: inline-block;
    width: 17%;
    height: 150px;
    padding: 0.2em 0 .1em 0;
    margin: 0.2em 1.25% 0.5em 1.25%;
}
div.photo a.photo{
    display: block;
    width: 140px;
    height: 105px;
    margin: 0 auto;
    margin-bottom: 0.3em;
    background-color: #EEE;
    border: solid 1px #555;
}
div.photo div.properties input{
    padding: 0.1em;
    margin: 0.2em 0 0.2em;
}
/*** LAST UPLOADS SPECIFICS ***/
div.tab{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0.1em 1em 0.1em 1em;
    background-color: #EEE;
	background: -moz-linear-gradient(top, #C7D0D7 92%, #6F8698 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(92%,#C7D0D7), color-stop(100%,#6F8698));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C7D0D7', endColorstr='#C7D0D7',GradientType=0 );
	zoom: 1;
	background-image: -o-linear-gradient(top, #C7D0D7 92%, #6F8698 100%);
	border-right: solid 1px #CCC;
	border-left: solid 1px #CCC;
}
/*** UPLOADIFY PAGE ***/
div.margin{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}
button::-moz-focus-inner, select::-moz-focus-inner {
	border: 0;
}
#id_album{
    width: 14em;
}
#id_album, #create_new_album button{
    padding: 4px 0.4em 4px 0.4em;
}
#create_new_album button{
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
}
#create_new_album button{
    margin-left: -6px;
}
#new_album input[type="text"], #new_album select{
    width: 16em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#new_album button{
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin-top: 0.8em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#new_album th.label{
    text-align: right;
    padding-right: 1em;
    font-weight: normal;
    width: 30%;
}
#new_album td.field{
    width: 50%;
}
#new_album td.help_text{
    text-align: left;
    width: 20%;
}
td.help_text{
    position: relative;
}
td.help_text div{
    background-color: #F9CC79;
    border: solid 1px #BB9860;
    width: 14em;
    z-index: 10;
    position: absolute;
    top: -1em;
    display: inline;
    padding: 0.2em;
}


div#uploadify{
    margin-top: 1em;
    position: relative;
}
#uploadify .subtitle{
    border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
}
div#upload_queue div.uploadify-queue-item{
    float: left;
    width: 30%;
    height: 2em;
    margin: 0.0em 0.3% 0.1em 0.3%;
}
div#uploadify_input{
    clear: both;
    display: inline-block;
    margin-left: 5em;
}
a#start_upload, a#next_step{
    display: inline-block;
    position: relative;
    left: 2em;
    margin-right: 2em;
}
a#start_upload:hover{
    cursor: pointer;
}
/*** ALBUMS LIST ***/
div.album-column{
    float: left;
    width: 18%;
    margin: 1em 1% 0.2em 1%;
    text-align: center;
    position: relative;
}
div.album-column div.album-title{
    font-size: 0.9em;
    padding-bottom: 0.2em;
    overflow: hidden;
    height: 1.2em;
    /*position: relative;*/
}
div.album-column a.photo{
    display: inline-block;
    width: 140px;
    height: 105px;
    border: solid 1px #555;
    background-color: #EEE;
    margin: 0 auto;
}
/*** MY ALBUMS ***/
#album_list{
    margin-bottom: 2em;
}
/* sortable stuff, with ul and li */
ul#personal-albums{
    list-style-type: none;
    width: 98%;
    margin: 1em auto;
}
ul#personal-albums li.album{
    width: 25%;
    float: left;
    text-align: center;
    height: 12em;
}
ul#personal-albums li.album:hover{
    background-color: #EEE;
    cursor: move;
}
ul#personal-albums li.album a.album{
    display: inline-block;
    width: 140px;
    height: 105px;
    border: solid 1px #555;
    background-color: #EEE;
    margin: 0 auto;
}
.sort-placeholder{
    background-color: #000;
    filter:alpha(opacity=15); /* msie */
    -moz-opacity: 0.15; /* firefox 1.0 */
    -khtml-opacity: 0.15; /* webkit */
    opacity: 0.15; /* css 3 */
    zoom: 1;/* for msie */
}
div.album{
    height: 12em;
    width: 22%;
    margin-top: 0.6em;
}
.album-title{
    font-weight: bold;
    color: #333;
}
a.album{
    position: relative;
}
a.album img.private{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.edit, .remove, .restore{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
}
.edit{
    right: 18px;
}
div.album div.properties, li.album div.properties{
    font-size: 0.7em;
}
input[type="submit"]::-moz-focus-inner{
	border: 0;
}
#album-list-searchform{
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
#id_search{
    width: 50%;
    margin-left: 1em;
}
#id_search, #album-list-searchform input{
    padding: 2px 0.2em 2px 0.2em;
    font-size: 1.03em;
}
#album-list-searchform input[type="submit"]{
    border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-khtml-border-bottom-right-radius: 6px;
	-moz-border-bottom-right-radius: 6px;
}
#album-list-searchform input[type="submit"]{
    margin-left: -6px;
}
/*#new_album input[type="text"], #new_album select{
    width: 16em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#new_album button{
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin-top: 0.8em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*/
/*** MANAGE ALBUMS ***/
div#albums-list, div#new-album{
    padding: 1em;
    width: 98%;
    margin: 0 auto;
    position: relative;
}
div.album-form{
    clear: both;
    margin-bottom: 1em;
    border-bottom: solid 1px #EEE;
}
div.thumb-container{
    width: 140px;
    height: 105px;
    background-color: #EEE;
    border: solid 1px #555;
    float: left;
    margin: 0 1em 1em 0;
    text-align: center;
}
div.album-form table{
    width: auto;
    
}
div.album-form th{
    text-align: right;
    padding-right: 1em;
    font-weight: normal;
    font-size: 0.9em;
}
div.album-form input[type="text"], #new-album input[type="text"], #new-album select{
    width: 24em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.album-form input[name$="-ORDER"], div.album-form input[type="checkbox"]{
    width: 2.4em;
    text-align: center;
}
div.album-form td.help_text, #new-album td.help_text{
    font-style: italic;
    font-size: 0.8em;
    padding-left: 1em;
}
tr.error td, tr.error th{
    font-weight: bold;
}
td.error{
    color: red;
}
#top-right-submit{
    position: absolute;
    right: 1em;
    top: 1em;
}

#new-album{
    margin-bottom: 2em;
}
#new-album .label{
    font-weight: normal;
    text-align: right;
    padding-right: 1em;
    width: 20%;
}
/*** ALBUM & PHOTO BROWSING ***/
.album-photos-list div.album-title, .photo-title{
    padding: 0.3em 1em 0.3em 1em;
}
span.album-title, span.photo-title{
    font-size: 1.1em;
}
span.album-stats, span.photo-stats{
    float: right;
    font-size: 0.7em;
    font-weight: normal;
    line-height: 2em;
}
.album-photo-list .row{
    clear: both;
}
.album-photos-list div.photo{
    display: block;
    float: left;
    width: 22.4%;
    height: 200px;
}
.album-photos-list .cover.photo a{
    padding: 1px;
    border: solid 2px #0E72A4;
    margin-top: -2px;
}
.album-photos-list div.photo a.photo{
    width: 200px;
    height: 150px;
    position: relative;
}
.album-photos-list img.set_cover{
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-right: solid 1px #0E72A4;
    border-bottom: solid 1px #0E72A4;
    display: none;
}
div.photo .description{
    font-style: italic;
    font-size: 0.85em;
}

.photo-container{
    width: 99%;
    margin: 0 auto;
    text-align: center;
}
img.photo{
    border: solid 1px #333;
    padding: 1px;
    margin: 1em auto 1em auto;
}
.photo-container .description{
    background-color: #EEE;
    margin: 0 4em 1em 4em;
    padding: 0.5em;
    border-top: solid 1px #0E72A4;
    border-bottom: solid 1px #0E72A4;
    position: relative;
}
#photo-navigation{
    background-color: #333;
    text-align: center;
    padding: 0.8em 0.6em 0.6em 0.6em;
    margin-bottom: -2em;
    border-top: solid 1px #CCC;
    position: relative;
}
#photo-navigation a{
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border: solid 1px #777;
}
#photo-navigation a.current{
    border: solid 1px #0E72A4;
}
#photo-navigation a.current img{
    padding: 1px;
}
#photo-navigation img{
    width: 100px;
    height: 75px;
}
#photo-navigation .navigation{
    display: inline-block;
    border: none;
    font-size: 3em;
    position: relative;
    bottom: 22px;
}
.photo-container2{
    position: relative;
}
.photo-container2 .in-photo-navigation{
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 2;
    margin-bottom: -22px;
    margin-left: -30px;
    visibility: hidden;
}
.photo-container2 .in-photo-navigation .nav-arrow{
    position: relative;
}

/*** EDIT ALBUM & PHOTO ***/
#edit-album form table th{
    width: 20%;
}
#edit-album form table td.field{
    width: 42%;
}
#edit-album td, #edit-album th{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
#edit-album form input[type="text"], #edit-album select, #edit-photo form input[type="text"], #edit-photo select, #edit-dialog form input[type="text"]{
    padding: 0.2em 0.4em 0.2em 0.4em;
    width: 30em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* jquery-dialog */
div.ui-widget-header{
    background: #069;
    background-image: none;
    color: white;
	background: -moz-linear-gradient(top, #069 0%, #0A1871 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#069), color-stop(100%,#0a1871));
	background-image: -o-linear-gradient(top,rgb(0,102,153),rgb(10,24,113));
}
#edit-dialog{
    text-align: center;
    background-color: #EEE;
}
#edit-dialog table{
    border-collapse: collapse;
}
#edit-dialog tr{
    border-bottom: dashed 1px #DDD;
}
#edit-dialog th{
    width: 12%;
}
#edit-dialog td,#edit-dialog td{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
#edit-dialog span.help_text{
    display: none;
    font-style: italic;
    font-size: 0.8em;
}
#edit-dialog textarea#id_description{
    height: 4em;
    width: 30em;
}
#edit-dialog form input[type="text"]{
    width: 30em;
}
#edit-dialog td{
    text-align: left;
}

#edit-dialog #photo-navigation{
    display: none;
    list-style: none;
    margin: 0 -1em 0 -1em;
    overflow: hidden;
}
#edit-dialog #photo-navigation li{
    display: inline-block;
    padding: 1px;
    border: solid 1px #777;
}
#edit-dialog #photo-navigation li.cover{
    border-color: #0E72A4;
}
#edit-dialog #photo-navigation li:hover{
    cursor: pointer;
}
#remove-dialog{
    text-align: center;
    padding-top: 1.5em;
}
#id-album-title{
    font-weight: bold;
}

#edit-photo .edit-photo{
    float: left;
    padding: 0 0.5em 0 3em;
}
#edit-photo form table{
    width: 70%;
    margin: 0;
}
#edit-photo form table th{
    width: 30%;
}
#edit-photo form table td{
    width: inherit;
}
#edit-photo textarea, #edit-album textarea, #edit-dialog textarea{
    height: 3em;
    width: 30em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
