* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    min-height: 100%;
    background-color: #ffffff;
    font-size: 100%;
}
a{
    text-decoration: none;
    color: #0E72A4;
}
a:hover{
    text-decoration: underline;
    color: #DD6900;
}
a.highlight{
    color: #DD6900;
}
img{
    border: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
.center{
    text-align: center;
}
div#top, div#logo{
	min-width: 1340px; /* else the floating images are fugly */
}
div#container{
	padding: 5px 5px 0 5px;
}
a img{
    border: none;
}
.warning, .no-javascript{
    background-color: #F9CC79;
    border: solid 1px #BB9860;
    color: #333;
    margin: 1em 3em 1em 3em;
    padding: 0.5em;
    font-weight: bold;
    font-size: 0.9em;
}
.small-text{
    font-size: 0.8em;
}
button.ui-button{
    padding: 0.3em;
}
/*** FORMS ***/
input[type="text"], input[type="password"], input[type="submit"], button, input[type="button"], select, textarea{
	border: solid 1px #6F8698;
	padding: 3px;
	font-size: 1.08em;
}
button.uploadify-button{padding:0;}
input[type="submit"].uploadify-button{padding:0;}
form table{
    width: 96%;
    margin: 1em auto;
}
th.label, tr.error th{
    text-align: right;
    padding-right: 1em;
    font-weight: normal;
    width: 25%;
}
th.required{
    font-weight: bold;
}
td.field{
    width: 25%;
}
td.help_text{
    width: 50%;
    position: relative;
}
td.help_text div{
    background-color: #F9CC79;
    border: solid 1px #BB9860;
    width: 14em;
    z-index: 10;
    position: absolute;
    top: -1em;
    display: inline;
    padding: 0.2em;
}
td.field input, td.field select{
    width: 12em;
}
td.field input[type="checkbox"]{
    width: 2.4em;
}
/* form errors */
tr.error td, li.error{
    color: red;
}

/*** NAVIGATION BAR, SHOP BANNER ***/
div#navigation, div#shop_banner{
    margin: 0 auto;
    text-align: center;
    min-width: 1200px;
    height: 38px;
    background-image: url("/static/images/nav/nav_bg.gif");
    background-repeat: repeat-x;
}
#navigation ul, #shop_banner ul{
    margin: 0 auto 0 auto;
    list-style: none;
    height: 38px;
    font-size: 0;
}
#navigation li, #shop_banner li{
    display: inline-block;
    list-style: none;
    margin-bottom: 3px;
    width: 130px;
    font-size: 14px;
	/* IE 7 hack */
	zoom: 1;
	*display: inline;
}
#navigation li a, #shop_banner li a{
    display: inline-block;
}
#navigation li img{
    width: 130px;
    height: 35px;
}
#navigation li#kitreviews, #navigation li#kitreviews img{
    width: 173px;
}
/*** SHOP BANNER ***/
div#shop_banner, #shop_banner ul{
	height: 25px;
	background-image: none;
}
#shop_banner li{
	width: auto;
	margin: 0;
	padding: 0;
}
#shop_banner li img{
	height: 25px;
}
/*** LOGO + AANKONDIGINGEN + FLEX + MM ***/
div#logo, div#logo div{
	height: 75px;
}
div#logo a{
	display: auto;
}
div#logo div.right{
	padding: 8px 0 7px;
}
.rounded{
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
}
div#logo div#announcement{
    float: left;
    max-width: 350px;
    min-width: 300px;
    position: relative;
    font-size: 0.8em;
    margin-left: 1em;
    margin-top: 2em;
    height: 60px;
}
div#announcement div{
    position: absolute;
    bottom: 0;
    left: 0;
}
/*** MENU ***/
ul#menu{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 0.95em;
	padding: 0.1em 0 0.2em 0;
	list-style: none;
	text-align: left;
	border-top: solid 1px #1d24bd;
	border-left: solid 1px #1d24bd;
	border-right: solid 1px #1d24bd;
	background-color: #069;
	background: -moz-linear-gradient(top, #069 0%, #0A1871 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#069), color-stop(100%,#0a1871));
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#069', endColorstr='#0A1871',GradientType=0 );
	zoom: 1;*/
	background-image: -o-linear-gradient(top,rgb(0,102,153),rgb(10,24,113));
	
	border-top-right-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-moz-border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	-moz-border-top-left-radius: 6px;
}
ul#menu li{
	display: inline;
	list-style: none;
	margin: 0 1em 0 1em;
	text-align: center;
	font-weight: bold;
}
ul#menu li a{
	padding: 3px 10px 3px 10px;
	color: white;
	text-decoration: none;
}
ul#menu li a:hover{
	color: #DD6900;
	text-decoration: underline;
}
/*** PAGINATION ***/
div.pagination{
    text-align: center;
    padding-top: 0.5em;
    margin-bottom: 1.5em;
    clear: both;
}
div.pagination a, div.pagination span{
    color: #369;
    text-decoration: none;
    font-weight: bolder;
    font-size: 0.8em;
}
div.pagination a:hover{
    text-decoration: underline;
}
/*** FOOTER/BANNER ***/
div#footer{text-align: center;margin-bottom: 1em;min-width: 870px;}
div#copyright{font-size: 0.6em;margin-top: 2em;}
div#shop-footer{font-family: Verdana, Arial, Helvetica, sans-serif;text-align: center;}
div#shop-footer .aankeiler{font-weight: regular; font-size: 10px; color: #999}
div#shop-footer .aankeiler:hover{text-decoration: none; color: #1d42ff;}
div#shop-footer ul{width: 96%;margin: 0 auto 0 auto;list-style: none;}
div#shop-footer li, div#shop-footer a.aankeiler
{display: inline-block;text-align: center;/* IE 7 hack */zoom: 1;*display: inline;}
div#shop-footer a.aankeiler div{width: 156px;height: 146px;margin: 0 auto;}
#footer-decals              {background: url('/static/images/shop/decal_onder.jpg');}
#footer-decals:hover        {background: url('/static/images/shop/decal_boven.gif');}
#footer-schuur-polijst      {background: url('/static/images/shop/schuur-polijst_onder.jpg');}
#footer-schuur-polijst:hover{background: url('/static/images/shop/schuur-polijst_boven.jpg');}
#footer-gieten              {background: url('/static/images/shop/gietprod_onder.gif')}
#footer-gieten:hover        {background: url('/static/images/shop/gietprod_boven.gif')}
#footer-verlichting         {background: url('/static/images/shop/verlichting_onder.gif')}
#footer-verlichting:hover   {background: url('/static/images/shop/verlichting_boven.gif')}
/*** CONTENT ***/
div#content_wrapper{
    clear: both;
	min-width: 900px;
	width: 80%;
	margin: 0 auto;
}
div#content{
    border: solid 1px #CCC;
    font-size: 0.94em;
    padding: 1em;
    margin-bottom: 2em;
    min-height: 400px;
}
div.tab{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 0.1em 1em 0.1em 1em;
    margin: -1em -1em 0 -1em;
    background-color: #EEE;
	background: -moz-linear-gradient(top, #C7D0D7 92%, #6F8698 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(92%,#C7D0D7), color-stop(100%,#6F8698));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C7D0D7', endColorstr='#C7D0D7',GradientType=0 );
	zoom: 1;
	background-image: -o-linear-gradient(top, #C7D0D7 92%, #6F8698 100%);
	border-right: solid 1px #CCC;
	border-left: solid 1px #CCC;
}
/*** MESSAGES ***/
div#messages{
	margin: 0.1em 0 0.5em 0;
	padding: 2px 20px 2px 20px;
	background-color: #F9CC79;
	border: solid 1px #BB9860;
	color: #333;
	font-size: 0.9em;
}
div#messages ul, div#sidebar div.messages ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
div#messages ul.messages li{
	font-weight: bold;
	margin: 4px 0 4px 30px;
}
div#messages ul li.success{
	list-style-image: url(/static/admin/img/icon_success.gif);
}
div#messages ul li.error{
	list-style-image: url(/static/admin/img/icon_error.gif);
	color: red;
}
div#messages ul li.info{
	list-style-image: url(/static/admin/img/icon_deletelink.gif);
}
div#messages ul li.warning{
    padding: 0;
    list-style-image: url(/static/admin/img/icon_alert.gif);
    background: none;
    border: none;
    color: auto;
}
/*** REGISTER/LOGIN ***/
div#login, div#register{}
div#login form, div#register form{margin-top: 2em;}
div#login input[type="submit"], div#register input[type="submit"]{padding: 0.3em 1em 0.3em 1em;font-size:1.1em;}
div#register input[type="text"]{width:17em;}
