.cart-detail {
  &__page-header {
    margin-bottom: 20px;
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
  }

  &__totals {
    padding: 20px;
    width: 400px;
  }

  &__row {
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    margin-right: 10px;
  }

  &__value {
    font-weight: bold;
  }

  &__action-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 0;
  }
}

.cart-detail {
  .cart-products-table-header {
    &__col-quantity {
      text-align: center;
    }

    &__col-unitPrice,
    &__col-totalheader {
      inline-size: 8em;
      text-align: start;
    }
  }
}
