{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">
p{margin-top:1em;}
code{font-size:1.2em;font-weight:bolder;}
div.preferences_ss{
    margin: 1em;
    margin-right: 5em;
    padding: 0.3em;
    background-color: #EEE;
    width: 70%;
}
</style>
{% endblock %}

{% block title %}
Modelbrouwers.nl &bull; {{ secret_santa }}
{% endblock %}

{% block content %}
<div class="tab">
    {{ secret_santa }} &bull; <a href="#participants">{% trans 'Participants' %}</a> {% if is_participant %}&bull; <a href="{% url 'secret_santa:receiver' %}">{% trans 'My Secret Santa' %}</a>{% endif %}
</div>
<img class="right" src="{{ STATIC_URL }}images/santa.jpg" alt="Santa Image">

<p>{% blocktrans with year_later=secret_santa.year|add:"1" year=secret_santa.year %}
&quot;Secret Santa is a Western Christmas tradition in which members of a group or community are randomly assigned a person to whom they anonymously give a gift.&quot; <sup>[<a href="http://en.wikipedia.org/wiki/Secret_Santa">Wikipedia</a>]</sup> Since we're a scale modelling website, the gift is in the form of a modelling kit. The intent is to finish the model by the end of {{ year_later }} (and we really hope everybody succeeds). You're supposed to put the build report in the normal subforum, provided with the tag <code>[SS {{ year }}]</code>.
{% endblocktrans %}</p>

<p>{% blocktrans with price=secret_santa.get_price_class %}
The price class is {{ price }} euros. You can always buy a more expensive kit, but expect your Secret Santa to stick with the price range. It would be fun to include a poem with the gift, since that is tradition, but it's no obligation to do so.
{% endblocktrans %}</p>

<p>{% blocktrans with enrollment_start=secret_santa.enrollment_start enrollment_end=secret_santa.enrollment_end lottery_date=secret_santa.lottery_date %}
Signing up is possible from {{ enrollment_start }} <strong>until {{ enrollment_end }}</strong>. After this date (on {{ lottery_date }}) the random assignment will be executed. After that, you're all set to buy your Secret Santa a nice present! An e-mail notification will be sent when the assignment is done.</p>{% endblocktrans %}

<div class="tab midpage">{% trans 'Sign up' %}</div>
<p>
{% url 'users:profile' as profile_url %}
{% if secret_santa.enrollment_open %}
    {% blocktrans %}To be able to sign up, you must make sure that your address
    details are complete in your <a href="{{ profile_url }}">profile</a>.{% endblocktrans %}
    <br />
    <br />
    {% if user.get_profile.is_address_ok %}
        {% if not is_participant %}
            <form action="{% url 'secret_santa:enroll' %}" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input class="submit-button" type="submit" value="{% trans 'Sign up!' %}" />
            </form>
        {% else %}
            Je bent al ingeschreven!
        {% endif %}
    {% else %}
        {% if not is_participant %}
            <input class="submit-button" type="submit" value="{% trans 'Sign up!' %}" disabled="disabled"/> {% trans 'Your address details are incomplete.' %}
        {% else %}
            {% trans 'You have signed up already.' %}
        {% endif %}
    {% endif %}
{% else %}
    {% trans 'Signing up is not possible at this time.' %}
{% endif %}
</p>

<div class="midpage tab">{% trans "Who's my Secret Santa?" %}</div>
{% url 'secret_santa:receiver' as receiver_url %}
<p>{% blocktrans %}Click <a href="{{ receiver_url }}">here</a> to find out. You should have received the information by e-mail too, though.
{% endblocktrans %}</p>

<div class="midpage tab" id="participants">{% trans 'Participants' %}</div>
<p><ul id="participants" style="margin-left:2em;">
    {% for participant in participants %}
        <li type="1">
            {{ participant.user.get_profile.forum_nickname }}
        </li>
    {% endfor %}
</ul></p>

{% if user.is_staff %}
    <div class="midpage tab staff">{% trans 'Do the lottery' %}</div>
    <p>
        {% if not secret_santa.lottery_done %}
            {% if can_do_lottery %}
                <a href="do_lottery"><button>{% trans 'Do the lottery' %}</button></a>
            {% else %}
                {% blocktrans with date=secret_santa.lottery_date|date:"d-m-y" %}The lottery can only be done on {{ date }} or later.{% endblocktrans %}
            {% endif %}
        {% else %}
            {% trans 'Done already!' %}
        {% endif %}
    </p>
{% endif %}
{% endblock %}
