{% load i18n %}

<h2>{% templatetag openvariable %}theme{% templatetag closevariable %} <span class="status">({% templatetag openvariable %}status{% templatetag closevariable %})</span></h2>
<a href="{% templatetag openvariable %}url{% templatetag closevariable %}">{% trans "View outside of forum" %}</a>

<h4>{% trans "Description" %}</h4>
<p class="description"><strong>{% trans "Start" %}: {% templatetag openvariable %}start{% templatetag closevariable %}, {% trans "end" %}: {% templatetag openvariable %}end{% templatetag closevariable %}</strong></p>
<p class="description">{% templatetag openvariable %}description{% templatetag closevariable %}</p>

{% templatetag openvariable %}#if rules{% templatetag closevariable %}
<h4>{% trans "Rules" %}</h4>
<div class="rules">{% templatetag openvariable %}rules{% templatetag closevariable %}</div>
{% templatetag openvariable %}/if{% templatetag closevariable %}

{% templatetag openvariable %}#if rules_topic{% templatetag closevariable %}
<h4>{% trans "Rules topic" %}</h4>
<a href="{% templatetag openvariable %}rules_topic.url{% templatetag closevariable %}" class="rules">{% templatetag openvariable %}rules_topic.title{% templatetag closevariable %}</a>
{% templatetag openvariable %}/if{% templatetag closevariable %}

{% templatetag openvariable %}#if participants{% templatetag closevariable %}
<h4>{% trans 'Participants' %}</h4>
<div class="participants">

    <table class="tablebg">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Brouwer" %}</th>
                <th>{% trans "Model" %}</th>
                <th>{% trans "Finished?" %}</th>
                <th>{% trans "Topic" %}</th>
            </tr>
        </thead>

        <tbody>
            {% templatetag openvariable %}#each participants{% templatetag closevariable %}
                <tr class="{% templatetag openvariable %}#if_even @index{% templatetag closevariable %}row2{% templatetag openvariable %}else{% templatetag closevariable %}row1{% templatetag openvariable %}/if_even{% templatetag closevariable %}" data-id="{% templatetag openvariable %}id{% templatetag closevariable %}">
                    <td class="num">{% templatetag openvariable %}add @index 1{% templatetag closevariable %}</td>
                    <td class="brouwer">{% templatetag openvariable %}username{% templatetag closevariable %}</td>
                    <td class="model-name">{% templatetag openvariable %}model_name{% templatetag closevariable %}</td>
                    <td class="completed {% templatetag openvariable %}#if finished{% templatetag closevariable %}finished{% templatetag openvariable %}/if{% templatetag closevariable %}">{% templatetag openvariable %}yesno finished{% templatetag closevariable %}</td>
                    <td class="topic">{% templatetag openvariable %}#if topic{% templatetag closevariable %}<a href="{% templatetag openvariable %}topic.url{% templatetag closevariable %}">{% templatetag openvariable %}topic.title{% templatetag closevariable %}</a>{% templatetag openvariable %}/if{% templatetag closevariable %}</td>
                </tr>
            {% templatetag openvariable %}/each{% templatetag closevariable %}
        </tbody>
    </table>
</div>
{% templatetag openvariable %}/if{% templatetag closevariable %}
