{% load i18n %}

<script>
    var dialogTranslations = {
        title: '{% trans "Add your project" %}',
        btnCancel: '{% trans "No, thanks" %}',
        btnSubmit: '{% trans "Sure, sign me up" %}',
    };
</script>

<h2>{% templatetag openvariable %}build.theme{% templatetag closevariable %}</h2>
<p>{% trans "You've just created a new topic in this groupbuild. Would you like to add it to the groupbuild's participants list?" %}</p>
<br />
<form id="add-participant" method="post">
    {% templatetag openvariable %}#if participant{% templatetag closevariable %}
    <input type="hidden" name="id" value="{% templatetag openvariable %}participant.id{% templatetag closevariable %}" />
    {% templatetag openvariable %}/if{% templatetag closevariable %}
    <input type="hidden" name="groupbuild" value="{% templatetag openvariable %}build.id{% templatetag closevariable %}" />
    <input type="hidden" name="topic_id" value="{% templatetag openvariable %}topic.topic_id{% templatetag closevariable %}" />
    <p>
        <label>
            {% filter capfirst %}{% trans "model name" %}{% endfilter %}
            <input type="text" name="model_name" value="{% templatetag openvariable %}#if participant{% templatetag closevariable %}{% templatetag openvariable %}participant.model_name{% templatetag closevariable %}{% templatetag openvariable %}else{% templatetag closevariable %}{% templatetag openvariable %}topic.topic_title{% templatetag closevariable %}{% templatetag openvariable %}/if{% templatetag closevariable %}" />
        </label>
        {% templatetag openvariable %}#if errors.model_name{% templatetag closevariable %}
        <ul class="errors">
            {% templatetag openvariable %}#each errors.model_name{% templatetag closevariable %}
                <li class="error">{% templatetag openvariable %}this{% templatetag closevariable %}</li>
            {% templatetag openvariable %}/each{% templatetag closevariable %}
        </ul>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
    </p>
</form>
