{% extends "brouwersdag/base.html" %}
{% load i18n brouwers %}


{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>{% trans "Brouwersdag model signup" %}</h1>

            <p>{% trans "Below you can find out which models will be on display. The list is updated after every model sign-up!" %}</p>

            <p>{% trans "What are you waiting for? If you're coming, bring a model!" %}</p>

            <p><a class="btn btn-primary btn-lg" role="button" href="{% url 'brouwersdag:model-signup' %}">{% trans "Add your models" %}</a></p>
        </div>
        <p class="text-muted">{% trans "Click the above button to sign up for the competition" %}</p>

        <section>
            <h2>{% trans "Confirmed models" %}</h2>
            <div class="row">
                {% with rows=object_list|rows:3 %}
                    <div class="col-md-4 col-xs-12">
                        {% for model in rows.0 %}
                            {% include "brouwersdag/includes/model.html" %}
                        {% endfor %}
                    </div>
                    <div class="col-md-4 col-xs-12">
                        {% for model in rows.1 %}
                            {% include "brouwersdag/includes/model.html" %}
                        {% endfor %}
                    </div>
                    <div class="col-md-4 col-xs-12">
                        {% for model in rows.2 %}
                            {% include "brouwersdag/includes/model.html" %}
                        {% endfor %}
                    </div>
                {% endwith %}
            </div>
        </section>
        <a href='#'>{% trans "Back to top" %}</a>
    </div>
{% endblock content %}
