{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>Print aanmeldingen Brouwersdag 2014</title>
    <link rel="stylesheet" href="{% static "css/print_brouwersdag.css" %}">
</head>

<body>
<div>
    {% for model in regular %}
    <div class="model">
        <div class="pull-right circle">{{ model.id }}</div>
        <div class="watermark"></div>
        <div class="row">
            <label>Model</label>
            <span class="model-name">{{ model.name }}</span>
        </div>
        <div class="row">
            <label>Naam</label>
            <span>{{ model.owner_name }}{% if model.owner %} ({{ model.owner.username }}){% endif %}</span>
        </div>
        <div class="row">
            <label>Schaal</label>
            <span>1/{{ model.scale }}</span>
        </div>
        <div class="row">
            <label>Merk</label>
            <span>{{ model.brand|default:'onbekend' }}</span>
        </div>
        <div class="row">{% if model.topic %}
            <label>Verslag</label>
            <span>{{ model.topic }}</span>{% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>

<hr>

<div>
    {% for model in competition %}
    <div class="model">
        <div class="pull-right circle">{{ model.id }}</div>
        <div class="watermark"></div>
        <div class="row">
            <label>Model</label>
            <span class="model-name">{{ model.name }}</span>
        </div>
        <div class="row">
            <label>Schaal</label>
            <span>1/{{ model.scale }}</span>
        </div>
        <div class="row">
            <label>Merk</label>
            <span>{{ model.brand|default:'onbekend' }}</span>
        </div>
    </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>


</body>
</html>
