{% extends "admin/base.html" %}
{% load i18n static admin_tools_menu_tags admin_static %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
    #header #branding h1 {
        text-indent: 0 !important;
        background: none !important;
    }
    </style>
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu_css %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block title %}{{ title }} | {% trans 'Modelbrouwers.nl admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/"><img src="{% static 'images/logo/logo_modelbrouwers.png' %}" alt="Modelbrouwers.nl" width="182" height="30"/></a></h1>
{% endblock %}

{% block extrahead %}
<link rel="shortcut icon" href="{% static "images/icons/favicon.ico" %}" />
{% endblock %}

{% block nav-global %}
    {% if user.is_active and user.is_staff %}
        {% if not is_popup %}
            {% admin_tools_render_menu %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block userlinks %}
    {{ block.super }}
    <br />
    <a href="/phpBB3/viewforum.php?f=39" target="_blank">Moddeel</a> &bull;
    <a href="/phpBB3/" target="_blank">Forum</a> &bull;
    <a href="/shop/catalog/" target="_blank">Shop</a> &bull;
    <a href="{% url 'albums:index' %}" target="_blank">Albums</a> &bull;
    <a href="{% url 'builds:index' %}">{% trans "Builds" %}</a> &bull;
    <a href="/phpBB3/memberlist.php?mode=searchuser" target="_blank">{% trans 'Find a member' %}</a>
{% endblock %}
