<!-- $Id: clock.html,v 1.1 2007/04/04 09:33:30 angelside Exp $ //-->
<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td class="cat"><h4>{L_CLOCK}</h4></td>
</tr>
<tr>
	<td class="row1" valign="top" align="center">
		<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" id="clock" width="125" height="125">
			<param name="wmode" value="transparent">
			<param name="movie" value="bb3portal/images/clock.swf" />
			<param name="quality" value="high" />
			<embed type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" name="clock" width="125" height="125" src="bb3portal/images/clock.swf" quality="high" wmode="transparent">
			</embed>
		</object>
	</td>
</tr>
</table>
<br />