<!-- $Id: latest_members.html,v 1.1 2007/04/04 09:33:30 angelside Exp $ //-->
<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td class="cat" colspan="2"><h4>{L_LATEST_MEMBERS}</h4></td>
</tr>
<tr>
	<td class="row3" align="left" nowrap="nowrap"><span class="gensmall"><strong>{L_USERNAME}</strong></span></td>
	<td class="row3" align="right" nowrap="nowrap"><span class="gensmall"><strong>{L_JOINED}</strong></span></td>
</tr>
<!-- BEGIN latest_members -->
<!-- IF latest_members.S_ROW_COUNT is even --><tr class="row2"><!-- ELSE --><tr class="row1"><!-- ENDIF -->
	<td class="gensmall" align="left" valign="middle"><img src="bb3portal/images/member.gif" /> <strong><a href="{latest_members.U_USERNAME}"><span<!-- IF latest_members.USERNAME_COLOR -->{latest_members.USERNAME_COLOR}<!-- ENDIF -->>{latest_members.USERNAME}</span></a></strong><br /></td>
	<td class="gensmall" align="right" nowrap="nowrap" valign="middle">{latest_members.JOINED}</td>
</tr>
<!-- END latest_members -->
</table>
<br />