<!-- $Id: leaders.html,v 1.1 2007/04/04 09:33:30 angelside Exp $ //-->
<table class="tablebg" cellspacing="1" width="100%" border="0">
<tr>
	<td class="cat"><h4>{L_THE_TEAM}</h4></td>
</tr>
<tr class="row3">
	<td><b class="gensmall">{L_ADMINISTRATORS}</b></td>
</tr>
<!-- BEGIN admin -->
<!-- IF admin.S_ROW_COUNT is even -->	<tr class="row1"><!-- ELSE -->	<tr class="row2"><!-- ENDIF -->
	<td class="gensmall" align="left" valign="middle"><img src="bb3portal/images/member.gif" /> <strong>{admin.USERNAME_FULL}</strong></td>
</tr>
<!-- BEGINELSE -->
<tr>
	<td class="row1" align="center"><span class="gensmall">{L_NO_ADMINISTRATORS_P}</span></td>
</tr>
<!-- END admin -->

<tr class="row3">
	<td><b class="gensmall">{L_MODERATORS}</b></td>
</tr>
<!-- BEGIN mod -->
<!-- IF mod.S_ROW_COUNT is even -->	<tr class="row1"><!-- ELSE -->	<tr class="row2"><!-- ENDIF -->
	<td class="gensmall" align="left" valign="middle"><img src="bb3portal/images/member.gif" /> <strong>{mod.USERNAME_FULL}</strong></td>
</tr>
<!-- BEGINELSE -->
<tr>
	<td class="row1" align="center" nowrap="nowrap"><span class="gensmall">{L_NO_MODERATORS_P}</span></td>
</tr>
<!-- END mod -->
</table>

<br />