<!-- $Id: login_box.html,v 1.1 2007/04/04 09:33:30 angelside Exp $ //-->
<table class="tablebg" cellspacing="1" width="100%">
<tr>
	<td class="cat"><h4><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></h4></td>
</tr>


<tr>
	<td class="row1" align="center">
		<form action="{S_LOGIN_ACTION}" method="post">
		<table cellspacing="1">
		<tr>
			<td>
				<span class="genmed">{L_USERNAME}:</span><br /><input type="text" name="username" class="post" maxlength="40" size="16" /><br /> 
				<span class="genmed">{L_PASSWORD}:</span><br /><input type="password" name="password" class="post" maxlength="100" size="16" /><br /> 
			</td>
		</tr>
		<!-- IF S_DISPLAY_FULL_LOGIN -->
		<!-- IF S_AUTOLOGIN_ENABLED -->
		<tr>
			<td><br /><input type="checkbox" class="radio" name="autologin" tabindex="3" /> <span class="gensmall">{L_UM_LOG_ME_IN}</span></td>
		</tr>
		<!-- ENDIF -->
		<tr>
			<td><input type="checkbox" class="radio" name="viewonline" tabindex="4" /> <span class="gensmall">{L_UM_HIDE_ME}</span></td>
		</tr>
		<tr>
		<td align="center"><br /><input type="hidden" name="redirect" value="{U_PORTAL}" /><input type="submit" name="login" class="btnmain" value="{L_LOGIN}" /></td>
		</tr>
		<!-- ENDIF -->
		</table>
		</form>
	</td>
</tr>
<tr>
	<td class="row2" align="center"><a href="{U_REGISTER}">{L_REGISTER}</a></td>
</tr>
</table>

<br />