<!-- $Id: main_menu.html,v 1.1 2007/04/04 09:33:30 angelside Exp $ //-->
<table class="tablebg" cellspacing="1" width="100%">
<!--
<tr>
	<th>{L_M_MENU}</th>
</tr>
-->
<tr class="row1">
	<td class="cat"><h4>{L_M_CONTENT}</h4></td>
</tr>
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{U_INDEX}'" style="cursor:pointer;">&nbsp;<a class="nav" href="{U_INDEX}">{L_INDEX}</a></td>
</tr>
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{U_SEARCH}'" style="cursor:pointer;">&nbsp;<a class="nav" href="{U_SEARCH}">{L_SEARCH}</a></td>
</tr>
<!-- IF not S_USER_LOGGED_IN -->
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{U_REGISTER}'" style="cursor:pointer;">&nbsp;<a class="nav" href="{U_REGISTER}">{L_REGISTER}</a></td>
</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{U_MEMBERLIST}'" style="cursor:pointer;">&nbsp;<a class="nav" href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></td>
</tr>
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{U_TEAM}'" style="cursor:pointer;">&nbsp;<a class="nav" href="{U_TEAM}">{L_THE_TEAM}</a></td>
</tr>
<!-- IF U_MCP -->
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{U_MCP}'" style="cursor:pointer;">&nbsp;<a class="nav" href="{U_MCP}">{L_MCP}</a></td>
</tr>
<!-- ENDIF -->
<!-- IF U_ACP -->
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{U_ACP}'">&nbsp;<a class="nav" href="{U_ACP}">{L_M_ACP}</a></td>
</tr>
<!-- ENDIF -->
<tr class="row1">
	<td class="cat" height="25"><h4>{L_M_HELP}</h4></td>
</tr>
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='{U_FAQ}'" style="cursor:pointer;">&nbsp;<a class="nav" href="{U_FAQ}">{L_FAQ}</a></td>
</tr>
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='faq.php?mode=bbcode'" style="cursor:pointer;">&nbsp;<a class="nav" href="faq.php?mode=bbcode">{L_M_BBCODE}</a></td>
</tr>
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='ucp.php?mode=terms'" style="cursor:pointer;">&nbsp;<a class="nav" href="ucp.php?mode=terms">{L_M_TERMS}</a></td>
</tr>
<tr>
	<td class="row1" nowrap="nowrap" onmouseover="this.className='row2'" onmouseout="this.className='row1'" onclick="location.href='ucp.php?mode=privacy'" style="cursor:pointer;">&nbsp;<a class="nav" href="ucp.php?mode=privacy">{L_M_PRV}</a></td>
</tr>
<tr>
	<td class="row2" align="left" nowrap="nowrap"><span class="gensmall">Portal by <a href="http://www.phpbb3portal.com" title="phpBB3 Portal" target="_blank">phpBB3 Portal</a></span></td>
</tr>
</table>
<br />