<!-- $Id: whos_online.html,v 1.1 2007/04/04 09:33:31 angelside Exp $ //-->
<table class="tablebg" cellspacing="1" width="100%">
<tr>
   <td class="cat"><h4><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h4></td>
</tr>
<tr>
   <td class="row1">
   		<table width="100" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<span style="float:left;">{L_WIO_TOTAL}:</span><span style="float:right;">{TOTAL_ONLINE_USERS}</span><br /><hr />
				<span style="float:left;">{L_WIO_REGISTERED}:</span><span style="float:right;">{VISIBLE_ONLINE}</span><br />
				<span style="float:left;">{L_WIO_HIDDEN}:</span><span style="float:right;">{HIDDEN_ONLINE}</span><br />
				<span style="float:left;">{L_WIO_GUEST}:</span><span style="float:right;">{GUEST_ONLINE}</span><br />
			</td>
		</tr>
		</table>
		<br />{RECORD_USERS}<br /><br />{LOGGED_IN_USER_LIST}
	</td>
</tr>
<!-- IF LEGEND -->
	<tr>
		<td class="row1"><b class="gensmall">{L_LEGEND} :: {LEGEND}</b></td>
	</tr>
<!-- ENDIF -->
</table>
<br />