{% extends "shop/base.html" %}{% load i18n static %}

{% block content %}
    <div class="wrapper">
        <ul class="category-sidenav">
            <li class="category-sidenav__header">
                {% trans "Categories" %}
            </li>
            {% for cat in categories %}
                <li class="category-sidenav__item">
                    <a class="category-sidenav__link" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="category__content">
            {% include 'shop/includes/breadcrumbs.html' with curr_node=category %}
            <h2 class="category__title">{{ category }}</h2>
            {% if not category.is_leaf %}
                <div class="category_subcategories">
                    {% for subcategory in category.get_children %}
                        <div class="subcategory__card">
                            <img class="subcategory_img" src="{{ subcategory.image.url }}" alt="{{ subcategory.name }}">
                            <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
