{% extends "shop/base.html" %}
{% load i18n static %}

{% block content %}
    {{ block.super }}

    <div class="page-content">
        <div class="page-content__breadcrumbs">
            {% include 'shop/includes/breadcrumbs.html' with curr_node=category %}
        </div>

        <div class="nav-wrapper">

            <h2 class="nav-wrapper__title nav-wrapper__title--content-aligned heading heading--plain">{{ category }}</h2>

            <div class="nav-wrapper__content">
                {% if not category.is_leaf %}
                    <h3 class="heading heading--plain">{% trans 'Subcategories' %}</h3>
                    <div class="card-grid card-grid--scroll card-grid--rows-2">
                        {% with category.get_catalogue_path as base_path %}
                        {% for subcategory in category.get_children %}


                            <a class="card-grid__item category-card"
                               href="{% url 'shop:catalogue' path=base_path|add:'/'|add:subcategory.slug %}">
                                <img class="category-card__img"
                                     src="{{ subcategory.image.url }}"
                                     alt="{{ subcategory.name }}"
                                     data-fallback="{% static 'images/shop/placeholder.gif' %}">
                                <span class="category-card__name">{{ subcategory.name }}</a>
                            </a>
                        {% endfor %}
                        {% endwith %}
                    </div>
                {% endif %}

                {% if products %}
                    <h3 class="heading heading--plain">{% trans 'Products' %}</h3>
                    <div class="card-grid">
                        {% for product in products %}
                            {% include 'shop/includes/product_card.html' %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <nav class="nav-wrapper__nav nav-wrapper__nav--sticky-bottom">
                {% include 'shop/includes/sidenav.html' %}
            </nav>

        </div>
    </div>

{% endblock %}
