{% extends "shop/base.html" %}{% load i18n static %}

{% block content %}
    {{ block.super }}

    {# Data and validation errors for checkout confirm #}
    {% if serializer %}
        {{ serializer.data|json_script:'checkout-data' }}
        {{ serializer.errors|json_script:'checkout-errors' }}
    {% endif %}

    {% if orderDetails %}
        {{ orderDetails|json_script:'order-details' }}
    {% endif %}

    <div
        id="react-checkout"
        data-path="{% url 'shop:checkout' %}"
        data-csrftoken="{{ csrf_token }}"
        data-confirm-path="{% url 'shop:confirm-checkout' %}"
    >
        {{ user_profile_data|json_script:"user_profile_data" }}
    </div>

{% endblock %}
