{% extends "shop/base.html" %}{% load i18n %}

{% block content %}
    <div class="row">

        <div id="category-carousel" class="category__carousel carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#category-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#category-carousel" data-slide-to="1"></li>
                <li data-target="#category-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner carousel__inner" role="listbox">
                {% for image in  carousel_images %}
                    <div class="category__carousel-item item {% if forloop.first %}active{% endif %}">
                        <img src="{{ image.image.url }}" alt="{{ image.title }}">
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#category-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Previous" %}</span>
            </a>
            <a class="right carousel-control" href="#category-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Next" %}</span>
            </a>
        </div>

        <div class="col-xs-12 category__search-container">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
                <input type="text" class="form-control" placeholder={% trans "Search for..." %}>
            </div>
        </div>
        <div class="flex-row">
            {% for category in categories %}
                {% include 'shop/includes/category_card.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
