{% extends "shop/base.html" %} {% load i18n sniplates brouwers %}

{% block title %} {{ product.name }}{% endblock %}

{% block seo %}
        <meta
            name="description"
            content="{% firstof product.meta_description product.description|striptags|truncatechars:200 %}"
        />
{% endblock %}

{% block content %}
{{ block.super }}

<div class="page-content">

    <div class="nav-wrapper">

        <div class="nav-wrapper__content">

            <div class="page-content__breadcrumbs">
                {% include 'shop/includes/breadcrumbs.html' with curr_node=from_category %}
            </div>

            <article class="product">

                {{ product.json_ld|json_ld_script }}

                <h1 class="heading heading--plain">{{ product.name }}</h1>

                <div class="product__info">

                    <aside class="product__properties">
                        {% if product.model_name %}
                            <div class="key-value key-value">
                                <span class="key-value__label">{% trans 'Model' %}</span>
                                <span class="key-value__text">{{ product.model_name }}</span>
                            </div>
                        {% endif %}

                        <div class="key-value key-value">
                            <span class="key-value__label">{% trans 'Stock' %}</span>
                            <span class="key-value__text">{{ product.stock }}</span>
                        </div>
                    </aside>

                    <figure class="product__image">
                        <img src="{{ product.get_image_url }}" class="product__picture" alt="{{ product.name }}">
                    </figure>

                    <div class="product__order">
                        <div class="product__price">
                            &euro;&nbsp;{{ product.price }}
                        </div>

                        <form class="order-button">
                            <label for="amount" class="order-button__amount-label">{% trans 'Amount' %}</label>
                            <input type="hidden" name="productId" value="{{ product.id }}" />
                            <input type="number" id="amount" name="amount" class="order-button__amount" min="0"
                                   value="1">
                            {# TODO: disable if there is no stock #}
                            <button type="submit" class="button button--blue button--order">
                                {% trans 'Add to cart' %}
                            </button>
                        </form>
                    </div>

                </div>

                <h2 class="heading heading--plain">{% trans "Description" %}</h2>
                {# because we use sectioning content, any h1-h6 inside from the wysiwyg shouldn't hurt SEO perf #}
                <section class="product__description wysiwyg">
                    {# TODO: pass through bleach #}
                    {{ product.description|safe|default:'-' }}
                </section>

            </article>

        </div>

        <nav class="nav-wrapper__nav nav-wrapper__nav--sticky-bottom">
            {% include 'shop/includes/sidenav.html' with category=from_category %}
        </nav>

    </div>
</div>
{% endblock %}

