{% if status %}
    <script type="text/javascript">
        var fail = true;
    </script>
{% endif %}

<script type="text/javascript">
    var user_search_url = "{% url brouwers.general.ajax_views.search_users %}";
</script>

<form id="form-edit-album">
    <input type="hidden" name="album" value="{{ form.instance.id }}" id="id_album" />
    <input type="hidden" name="cover" value="" id="id_hidden_cover" />
    {% include "form_in_table_jquery-ui.html" %}
</form>

<ul id="photo-navigation" class="not-downloaded">
    {% include "albums/ajax/album_covers.html" %}
</ul>

            {% if user.is_superuser and False %}
            <div id="debug" style="text-align:left">
            {% block queries %}
                Total: {{ connection.queries|length }} - time: <span style="font-weight:bold;color:red;">{{ queries_time }}</span> s
                <ol>
	            {% for query in connection.queries %}
		            <li style="margin-bottom:0.5em">Time: <strong>{{ query.time }}</strong><br />{{ query.sql }}</li>
	            {% endfor %}
	            </ol>
            {% endblock %}
            </div>
            {% endif %}
