<form id="form-edit-album">
    <input type="hidden" name="album" value="{{ form.instance.id }}" id="id_album" />
    <input type="hidden" name="cover" value="" id="id_hidden_cover" />
    {% include "form_in_table_jquery-ui.html" %}
</form>

{% if photos %}
<ul id="photo-navigation">
    {% for photo in photos %}
        {% if photo.album.cover == photo %}
            <li class="cover">
        {% else %}
            <li>
        {% endif %}
            <img src="{{ photo.thumb_url }}" alt="photo {{ photo.id }}"/>
            <input type="hidden" name="cover" value="{{ photo.id }}" />
        </li>
    {% endfor %}
</ul>
{% endif %}
