/*
 * Headers
 */
.h1-margin {
  margin-top: 34px;
  margin-bottom: 10px;
}

h1, .h1 {
  color: $main-blue;
}

h2, .h2, h3, .h3, h4, .h4 {
  color: rgba($main-blue, 0.9);
}

/*
 * Messages
 */
 ul.messages {
  margin-top: 15px;
}

.confirmed-model {
  h2, h3, h4 {
    margin-top: 10px;
  }
}


a.list-group-item:hover {
  background-color: rgba($main-light-blue, 0.5);
  color: white;
}

.eye-catcher {
  background-color: $main-light-blue;
  color: rgba($white, 0.9);
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-top: solid 2px $main-grey;
  border-bottom: solid 2px $main-grey;

  h1, h2, h3, h4, h5, h6 {
    small {
      color: rgba($white, 0.4);
    }
  }

  h1, .h1 {
    color: rgba($white, 0.95);
  }

  a {
    color: $main-blue;
    font-weight: bold;
  }
}

p {
  margin-top: 10px;
}

.feedback {
  p {
    background-color: rgba($main-pink, 0.4);
    margin-left: -5px;
    margin-right: -5px;
    padding: 5px;
  }
}
