$main-blue: #006699;
$main-red: #E91D1D;
$main-green: #32BB5B;
$main-light-blue: #4095FD;
$main-pink: #DF4AC5;
$main-grey: #919291;
$main-orange: #D46400;

/*
 * Navigation bar
 */
$nav-gradient: linear-gradient(180deg, #ececec, #f8f8f8);
$nav-gradient-reverse: linear-gradient(0deg, #ececec, #f8f8f8);
$nav-tab: #e5e5e5;
$nav-tab-highlight: #fafafa;
$nav-tab-text: #f4f4f4;
$nav-tab-text-highlight: #fafafa;
$white: rgba(255,255,255,0.5);

/*
 * Main content
 */
$box-shadow-color: rgba(0,0,0,0.1);
