/*
* Hide the dotted lines around an element when it receives focus.
*/

* { _noFocusLine: expression(this.hideFocus=true); } /* ie7 */
::-moz-focus-inner {border:0;}                       /* firefox */
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
:focus, a:focus {outline:none;}                      /* ie8, chrome, etc */


@mixin ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.r {
  background: url('../images/logo/mb_r.png') no-repeat top right;
  background-size: 25px 42px;
}

.relative {
    position: relative;
}
