/* css file for on the forum */
@font-face {
  font-family: 'SINKIN Medium';
  src: url("../fonts/sinkinsans-500medium-webfont.eot");
  src: url("../fonts/sinkinsans-500medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sinkinsans-500medium-webfont.woff") format("woff"), url("../fonts/sinkinsans-500medium-webfont.ttf") format("truetype"), url("../fonts/sinkinsans-500medium-webfont.svg#sinkin_sans500_medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 9, ../../sass/partials/_colors.scss */
.bg-main-blue {
  background-color: #006699;
}
/* line 11, ../../sass/partials/_colors.scss */
.bg-main-blue.soft {
  background-color: rgba(0, 102, 153, 0.7);
}

/* line 15, ../../sass/partials/_colors.scss */
.bg-main-red {
  background-color: #E91D1D;
}
/* line 17, ../../sass/partials/_colors.scss */
.bg-main-red.soft {
  background-color: rgba(233, 29, 29, 0.7);
}

/* line 21, ../../sass/partials/_colors.scss */
.bg-main-green {
  background-color: #32BB5B;
}
/* line 23, ../../sass/partials/_colors.scss */
.bg-main-green.soft {
  background-color: rgba(50, 187, 91, 0.7);
}

/* line 27, ../../sass/partials/_colors.scss */
.bg-main-light-blue {
  background-color: #4095FD;
}
/* line 29, ../../sass/partials/_colors.scss */
.bg-main-light-blue.soft {
  background-color: rgba(64, 149, 253, 0.7);
}

/* line 33, ../../sass/partials/_colors.scss */
.bg-main-pink {
  background-color: #DF4AC5;
}
/* line 35, ../../sass/partials/_colors.scss */
.bg-main-pink.soft {
  background-color: rgba(223, 74, 197, 0.7);
}

/* line 39, ../../sass/partials/_colors.scss */
.bg-main-grey {
  background-color: #919291;
}
/* line 41, ../../sass/partials/_colors.scss */
.bg-main-grey.soft {
  background-color: rgba(145, 146, 145, 0.7);
}

/* line 45, ../../sass/partials/_colors.scss */
.bg-main-orange {
  background-color: #D46400;
}
/* line 47, ../../sass/partials/_colors.scss */
.bg-main-orange.soft {
  background-color: rgba(212, 100, 0, 0.7);
}

/*
 * Navigation bar
 */
/*
 * Main content
 */
/*
 * Borders
 */
/*
* Hide the dotted lines around an element when it receives focus.
*/
/* line 5, ../../sass/partials/_utils.scss */
* {
  _noFocusLine: expression(this.hideFocus=true);
}

/* ie7 */
/* line 6, ../../sass/partials/_utils.scss */
::-moz-focus-inner {
  border: 0;
}

/* firefox */
/* line 7, ../../sass/partials/_utils.scss */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 11, ../../sass/partials/_utils.scss */
:focus, a:focus {
  outline: none;
}

/* ie8, chrome, etc */
/* line 20, ../../sass/partials/_utils.scss */
.r {
  background: url("../images/logo/mb_r.png") no-repeat top right;
  background-size: 25px 42px;
}

/* line 25, ../../sass/partials/_utils.scss */
.relative {
  position: relative;
}

/* line 2, ../../sass/partials/_pagination.scss */
.pagination > .active > a {
  background-color: #32BB5B;
  border-color: #32BB5B;
  color: #FFFFFF;
}

/* line 10, ../../sass/partials/_pagination.scss */
.text-right {
  text-align: right;
}

/* line 13, ../../sass/partials/_pagination.scss */
.text-left {
  text-align: left;
}

/* line 16, ../../sass/partials/_pagination.scss */
.text-center {
  text-align: center;
}

/* line 20, ../../sass/partials/_pagination.scss */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 27, ../../sass/partials/_pagination.scss */
.pagination > li {
  display: inline;
}
/* line 30, ../../sass/partials/_pagination.scss */
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
/* line 43, ../../sass/partials/_pagination.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 50, ../../sass/partials/_pagination.scss */
.pagination > li:last-child > a, .pagination > li:last-child > span {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 59, ../../sass/partials/_pagination.scss */
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

/* line 64, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container {
  overflow: hidden !important;
}
/* line 67, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
}
/* line 47, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container.ps-in-scrolling {
  pointer-events: none;
}
/* line 49, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #006699;
  opacity: 0.9;
}
/* line 51, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #32BB5B;
}
/* line 55, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #006699;
  opacity: 0.9;
}
/* line 57, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #32BB5B;
}
/* line 74, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px;
}
/* line 79, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #32BB5B;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px;
}
/* line 86, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px;
}
/* line 91, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #32BB5B;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 8px;
}
/* line 47, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover.ps-in-scrolling {
  pointer-events: none;
}
/* line 49, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #006699;
  opacity: 0.9;
}
/* line 51, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #32BB5B;
}
/* line 55, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #006699;
  opacity: 0.9;
}
/* line 57, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #32BB5B;
}
/* line 101, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
}
/* line 106, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #006699;
  opacity: 0.9;
}
/* line 109, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #32BB5B;
}
/* line 114, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #006699;
  opacity: 0.9;
}
/* line 117, ../../sass/partials/_perfect_scrollbar.scss */
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #32BB5B;
}

/* line 3, ../../sass/partials/forum/_albums.scss */
body.forum .box-sizing,
body.forum .box-sizing * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 8, ../../sass/partials/forum/_albums.scss */
body.forum #photo-sidebar {
  height: 100vh;
  padding: 5px 15px 5px 5px;
  background: rgba(0, 102, 153, 0.87);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: #FFFFFF;
  overflow: hidden;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
/* line 23, ../../sass/partials/forum/_albums.scss */
body.forum #photo-sidebar input,
body.forum #photo-sidebar select {
  width: 100%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
/* line 29, ../../sass/partials/forum/_albums.scss */
body.forum #photo-sidebar.open {
  width: 20%;
}
/* line 32, ../../sass/partials/forum/_albums.scss */
body.forum #photo-sidebar.open + .lid {
  left: 20%;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 39, ../../sass/partials/forum/_albums.scss */
body.forum #photo-sidebar.closed {
  width: 0;
  padding: 0;
}
/* line 42, ../../sass/partials/forum/_albums.scss */
body.forum #photo-sidebar.closed > * {
  display: none;
}
/* line 47, ../../sass/partials/forum/_albums.scss */
body.forum #photo-sidebar + .lid {
  background: rgba(0, 102, 153, 0.87);
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 25vh;
  width: 30px;
  height: 50px;
  margin-top: -25px;
  padding-left: 3px;
  overflow: hidden;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 0 linear 0.5s, left 0.5s ease, visibility 0 linear 0.5s;
  -moz-transition: opacity 0 linear 0.5s, left 0.5s ease, visibility 0 linear 0.5s;
  -o-transition: opacity 0 linear 0.5s, left 0.5s ease, visibility 0 linear 0.5s;
  transition: opacity 0 linear 0.5s, left 0.5s ease, visibility 0 linear 0.5s;
}
/* line 66, ../../sass/partials/forum/_albums.scss */
body.forum #photo-sidebar + .lid .fa {
  line-height: 50px;
}
/* line 74, ../../sass/partials/forum/_albums.scss */
body.forum .open-close:hover {
  cursor: pointer;
}
/* line 79, ../../sass/partials/forum/_albums.scss */
body.forum h2 {
  color: #FFFFFF;
}
/* line 83, ../../sass/partials/forum/_albums.scss */
body.forum #photo-list {
  list-style: none;
  margin: 0;
}
/* line 87, ../../sass/partials/forum/_albums.scss */
body.forum #photo-list .album-photo {
  position: relative;
  margin: 5px 0;
}
/* line 91, ../../sass/partials/forum/_albums.scss */
body.forum #photo-list .album-photo a {
  display: block;
  max-width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
}
/* line 99, ../../sass/partials/forum/_albums.scss */
body.forum #photo-list .album-photo img {
  max-width: 100%;
}
/* line 103, ../../sass/partials/forum/_albums.scss */
body.forum #photo-list .album-photo figcaption {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 3px;
  width: 100%;
  text-shadow: 0 0 3px #000000;
}
/* line 112, ../../sass/partials/forum/_albums.scss */
body.forum #photo-list .album-photo figcaption:hover {
  padding: 2px 3px 4px;
  background: rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
}

/* line 2, ../../sass/partials/forum/_awards.scss */
.topic-controls a {
  display: none;
}

/* line 1, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset {
  padding: 10px;
  max-width: 1200px;
}
/* line 5, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset h2 {
  color: #006699;
}
/* line 8, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset h2 .status {
  color: #919291;
  font-size: 80%;
}
/* line 14, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset h4 {
  margin-top: 10px;
  color: #006699;
}
/* line 19, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset p.description {
  margin-bottom: 5px;
}
/* line 23, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset .rules {
  background-color: rgba(233, 29, 29, 0.2);
  border: solid 2px #D46400;
}
/* line 27, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset div.rules {
  padding: 10px;
}
/* line 30, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset a.rules {
  border-width: 1px;
  padding: 0 10px;
}
/* line 35, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset table.tablebg {
  min-width: 60%;
  border-spacing: 1px;
}
/* line 39, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset table.tablebg td {
  padding: 3px 5px;
}
/* line 42, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset table.tablebg td.num {
  text-align: right;
  width: 1%;
}
/* line 47, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset table.tablebg td.completed {
  text-align: center;
  width: 1%;
  color: rgba(233, 29, 29, 0.8);
}
/* line 52, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset table.tablebg td.completed:hover {
  color: #E91D1D;
}
/* line 56, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset table.tablebg td.completed.finished, div.gb-inset table.tablebg td.completed.finished:hover {
  color: #32BB5B;
}
/* line 61, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset table.tablebg td.brouwer {
  color: #006699;
  font-weight: bold;
}
/* line 66, ../../sass/partials/forum/_groupbuilds.scss */
div.gb-inset table.tablebg td.model-name {
  font-weight: bold;
}
