@font-face {
  font-family: 'SINKIN Medium';
  src: url("../fonts/sinkinsans-500medium-webfont.eot");
  src: url("../fonts/sinkinsans-500medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sinkinsans-500medium-webfont.woff") format("woff"), url("../fonts/sinkinsans-500medium-webfont.ttf") format("truetype"), url("../fonts/sinkinsans-500medium-webfont.svg#sinkin_sans500_medium") format("svg");
  font-weight: normal;
  font-style: normal; }

.bg-main-blue {
  background-color: #006699; }
  .bg-main-blue.soft {
    background-color: rgba(0, 102, 153, 0.7); }

.bg-main-red {
  background-color: #E91D1D; }
  .bg-main-red.soft {
    background-color: rgba(233, 29, 29, 0.7); }

.bg-main-green {
  background-color: #32BB5B; }
  .bg-main-green.soft {
    background-color: rgba(50, 187, 91, 0.7); }

.bg-main-light-blue {
  background-color: #4095FD; }
  .bg-main-light-blue.soft {
    background-color: rgba(64, 149, 253, 0.7); }

.bg-main-pink {
  background-color: #DF4AC5; }
  .bg-main-pink.soft {
    background-color: rgba(223, 74, 197, 0.7); }

.bg-main-grey {
  background-color: #919291; }
  .bg-main-grey.soft {
    background-color: rgba(145, 146, 145, 0.7); }

.bg-main-orange {
  background-color: #D46400; }
  .bg-main-orange.soft {
    background-color: rgba(212, 100, 0, 0.7); }

/*
 * Navigation bar
 */
/*
 * Main content
 */
/*
 * Borders
 */
/*
* Hide the dotted lines around an element when it receives focus.
*/
* {
  _noFocusLine: expression(this.hideFocus=true); }

/* ie7 */
::-moz-focus-inner {
  border: 0; }

/* firefox */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

:focus, a:focus {
  outline: none; }

/* ie8, chrome, etc */
.r {
  background: url("../images/logo/mb_r.png") no-repeat top right;
  background-size: 25px 42px; }

.relative {
  position: relative; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@page {
  size: A4;
  margin: 0; }

html {
  font-size: 12px; }

div.model {
  float: left;
  width: 48.2%;
  border: solid 1px #DDD;
  height: 11.5em;
  margin: 0.5em 0.5%;
  padding: 1.5em 1em;
  color: #333;
  position: relative;
  overflow: hidden; }
  div.model .watermark {
    background: url("../images/logo/logo_modelbrouwers.png") no-repeat center center;
    background-size: 80%;
    position: absolute;
    top: 6.5em;
    left: 0;
    width: 100%;
    height: 5em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
    opacity: 0.2; }
  div.model.competition {
    height: 8em; }
    div.model.competition .watermark {
      top: 3em; }
  div.model .row {
    margin-bottom: 0.5em; }
    div.model .row:last-child {
      margin-bottom: 0; }
    div.model .row label {
      display: inline-block;
      width: 18%;
      color: #006699; }
      div.model .row label:after {
        content: ":"; }
    div.model .row.float label {
      float: left; }
  div.model .model-name {
    font-weight: 700;
    display: block;
    margin-left: 18%; }

div.clearfix {
  clear: both;
  height: 0; }

.pull-right {
  float: right; }

.circle {
  color: #006699;
  font-weight: bold;
  border: solid 1px #006699;
  border-radius: 13px;
  min-width: 22px;
  text-align: center;
  padding: 3px; }

/*# sourceMappingURL=maps/print_brouwersdag.css.map */
