/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'SINKIN Medium';
  src: url("../fonts/sinkinsans-500medium-webfont.eot");
  src: url("../fonts/sinkinsans-500medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sinkinsans-500medium-webfont.woff") format("woff"), url("../fonts/sinkinsans-500medium-webfont.ttf") format("truetype"), url("../fonts/sinkinsans-500medium-webfont.svg#sinkin_sans500_medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 9, ../../sass/partials/_colors.scss */
.bg-main-blue {
  background-color: #006699;
}
/* line 11, ../../sass/partials/_colors.scss */
.bg-main-blue.soft {
  background-color: rgba(0, 102, 153, 0.7);
}

/* line 15, ../../sass/partials/_colors.scss */
.bg-main-red {
  background-color: #E91D1D;
}
/* line 17, ../../sass/partials/_colors.scss */
.bg-main-red.soft {
  background-color: rgba(233, 29, 29, 0.7);
}

/* line 21, ../../sass/partials/_colors.scss */
.bg-main-green {
  background-color: #32BB5B;
}
/* line 23, ../../sass/partials/_colors.scss */
.bg-main-green.soft {
  background-color: rgba(50, 187, 91, 0.7);
}

/* line 27, ../../sass/partials/_colors.scss */
.bg-main-light-blue {
  background-color: #4095FD;
}
/* line 29, ../../sass/partials/_colors.scss */
.bg-main-light-blue.soft {
  background-color: rgba(64, 149, 253, 0.7);
}

/* line 33, ../../sass/partials/_colors.scss */
.bg-main-pink {
  background-color: #DF4AC5;
}
/* line 35, ../../sass/partials/_colors.scss */
.bg-main-pink.soft {
  background-color: rgba(223, 74, 197, 0.7);
}

/* line 39, ../../sass/partials/_colors.scss */
.bg-main-grey {
  background-color: #919291;
}
/* line 41, ../../sass/partials/_colors.scss */
.bg-main-grey.soft {
  background-color: rgba(145, 146, 145, 0.7);
}

/* line 45, ../../sass/partials/_colors.scss */
.bg-main-orange {
  background-color: #D46400;
}
/* line 47, ../../sass/partials/_colors.scss */
.bg-main-orange.soft {
  background-color: rgba(212, 100, 0, 0.7);
}

/*
 * Navigation bar
 */
/*
 * Main content
 */
/*
 * Borders
 */
/*
* Hide the dotted lines around an element when it receives focus.
*/
/* line 5, ../../sass/partials/_utils.scss */
* {
  _noFocusLine: expression(this.hideFocus=true);
}

/* ie7 */
/* line 6, ../../sass/partials/_utils.scss */
::-moz-focus-inner {
  border: 0;
}

/* firefox */
/* line 7, ../../sass/partials/_utils.scss */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 11, ../../sass/partials/_utils.scss */
:focus, a:focus {
  outline: none;
}

/* ie8, chrome, etc */
/* line 20, ../../sass/partials/_utils.scss */
.r {
  background: url("../images/logo/mb_r.png") no-repeat top right;
  background-size: 25px 42px;
}

/* line 25, ../../sass/partials/_utils.scss */
.relative {
  position: relative;
}

/*
 * Headers
 */
/* line 4, ../../sass/partials/_base.scss */
.h1-margin {
  margin-top: 34px;
  margin-bottom: 10px;
}

/* line 9, ../../sass/partials/_base.scss */
h1, .h1 {
  color: #006699;
}

/* line 13, ../../sass/partials/_base.scss */
h2, .h2, h3, .h3, h4, .h4 {
  color: rgba(0, 102, 153, 0.9);
}

/* line 18, ../../sass/partials/_base.scss */
h1.align-tabs, h2.align-tabs, h3.align-tabs, h4.align-tabs, h5.align-tabs, h6.align-tabs {
  margin-top: -5px;
}

/*
 * Messages
 */
/* line 26, ../../sass/partials/_base.scss */
ul.messages {
  margin-top: 15px;
}

/* line 31, ../../sass/partials/_base.scss */
.confirmed-model h2, .confirmed-model h3, .confirmed-model h4 {
  margin-top: 10px;
}

/* line 37, ../../sass/partials/_base.scss */
a.list-group-item:hover {
  background-color: rgba(64, 149, 253, 0.5);
  color: white;
}

/* line 42, ../../sass/partials/_base.scss */
.eye-catcher {
  background-color: #4095FD;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-top: solid 2px #919291;
  border-bottom: solid 2px #919291;
}
/* line 51, ../../sass/partials/_base.scss */
.eye-catcher h1 small, .eye-catcher h2 small, .eye-catcher h3 small, .eye-catcher h4 small, .eye-catcher h5 small, .eye-catcher h6 small {
  color: rgba(255, 255, 255, 0.4);
}
/* line 56, ../../sass/partials/_base.scss */
.eye-catcher h1, .eye-catcher .h1 {
  color: rgba(255, 255, 255, 0.95);
}
/* line 60, ../../sass/partials/_base.scss */
.eye-catcher a {
  color: #006699;
  font-weight: bold;
}
/* line 64, ../../sass/partials/_base.scss */
.eye-catcher a.btn {
  color: #FFFFFF;
}

/* line 70, ../../sass/partials/_base.scss */
p {
  margin-top: 10px;
}

/* line 75, ../../sass/partials/_base.scss */
.feedback p {
  background-color: rgba(223, 74, 197, 0.4);
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
}

/* line 83, ../../sass/partials/_base.scss */
body > footer {
  margin-top: 50px;
}

/* line 3, ../../sass/partials/_header.scss */
.navbar-center .navbar-nav {
  display: inline-block;
  float: none;
}
/* line 7, ../../sass/partials/_header.scss */
.navbar-center .navbar-collapse {
  text-align: center;
}

/* line 12, ../../sass/partials/_header.scss */
#main-nav li.tab {
  font-family: "SINKIN Medium", sans-serif;
}

/* line 16, ../../sass/partials/_header.scss */
body.fade-small-logo .navbar-brand img {
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

@media (min-width: 768px) {
  /* line 22, ../../sass/partials/_header.scss */
  .navbar-brand {
    position: absolute;
    padding: 0;
    top: 0;
    left: 30px;
  }
  /* line 27, ../../sass/partials/_header.scss */
  .navbar-brand img {
    height: 35px;
    width: 184px;
  }

  /* line 32, ../../sass/partials/_header.scss */
  .navbar-collapse.collapse {
    height: 35px !important;
  }

  /* line 35, ../../sass/partials/_header.scss */
  .sprue-tabs {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -moz-linear-gradient(270deg, #ececec, #f8f8f8);
    background: -webkit-linear-gradient(270deg, #ececec, #f8f8f8);
    background: linear-gradient(180deg, #ececec, #f8f8f8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 35px;
    max-height: 35px;
    margin: 0 -15px;
  }
  /* line 44, ../../sass/partials/_header.scss */
  .sprue-tabs li.tab > a {
    color: #f4f4f4;
    background-color: #e5e5e5;
    display: block;
    padding: 3px 20px 6px;
    margin: 5px 10px 0;
    font-size: 115%;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: #AAA 1px 1px 3px, #AAA 1px 1px 1px, #BBB 1px 1px 0, #BBB 0 0 1px;
    border: solid 1px #c8c8c8;
    border-bottom: none;
    -moz-box-shadow: #AAA 0 -1px 1px -1px, 3px 0 4px rgba(0, 0, 0, 0.1), inset rgba(255, 255, 255, 0.5) 0 2px 1px;
    -webkit-box-shadow: #AAA 0 -1px 1px -1px, 3px 0 4px rgba(0, 0, 0, 0.1), inset rgba(255, 255, 255, 0.5) 0 2px 1px;
    box-shadow: #AAA 0 -1px 1px -1px, 3px 0 4px rgba(0, 0, 0, 0.1), inset rgba(255, 255, 255, 0.5) 0 2px 1px;
    overflow: hidden;
  }
  /* line 57, ../../sass/partials/_header.scss */
  .sprue-tabs li.tab > a:hover, .sprue-tabs li.tab > a:focus, .sprue-tabs li.tab > a:active, .sprue-tabs li.tab > a.active {
    background-color: #fafafa;
    color: #fafafa;
    padding-top: 5px;
    margin-top: 3px;
  }
}
@media (max-width: 768px) {
  /* line 68, ../../sass/partials/_header.scss */
  .navbar-brand {
    height: 50px;
    padding: 7.5px 15px;
  }
  /* line 71, ../../sass/partials/_header.scss */
  .navbar-brand img {
    height: 35px;
    width: 184px;
  }

  /* line 77, ../../sass/partials/_header.scss */
  .navbar-center .navbar-collapse {
    text-align: left;
    padding: 0;
  }
  /* line 81, ../../sass/partials/_header.scss */
  .navbar-center .navbar-nav {
    width: 100%;
    margin: 0;
  }

  /* line 86, ../../sass/partials/_header.scss */
  li.tab {
    border: solid 1px #e5e5e5;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -moz-linear-gradient(270deg, #ececec, #f8f8f8);
    background: -webkit-linear-gradient(270deg, #ececec, #f8f8f8);
    background: linear-gradient(180deg, #ececec, #f8f8f8);
  }
  /* line 89, ../../sass/partials/_header.scss */
  li.tab:hover, li.tab.active, li.tab:focus, li.tab:active {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -moz-linear-gradient(90deg, #ececec, #f8f8f8);
    background: -webkit-linear-gradient(90deg, #ececec, #f8f8f8);
    background: linear-gradient(0deg, #ececec, #f8f8f8);
  }
}
/*
 * Shop banner
 */
@media (min-width: 650px) {
  /* line 100, ../../sass/partials/_header.scss */
  #shop-banner {
    text-align: center;
    padding: 5px 15px 0;
    -moz-box-shadow: inset #c8c8c8 0 5px 5px -5px;
    -webkit-box-shadow: inset #c8c8c8 0 5px 5px -5px;
    box-shadow: inset #c8c8c8 0 5px 5px -5px;
    margin: 0 -15px;
    font-size: 0;
  }
  /* line 106, ../../sass/partials/_header.scss */
  #shop-banner li {
    display: inline-block;
  }
  /* line 108, ../../sass/partials/_header.scss */
  #shop-banner li a {
    display: block;
    height: 25px;
    background-image: url("../images/shop/products_sprite.png");
    background-repeat: no-repeat;
  }
}
@media (max-width: 650px) {
  /* line 118, ../../sass/partials/_header.scss */
  #shop-banner {
    display: none;
  }
}
/* brands, individual */
/* line 124, ../../sass/partials/_header.scss */
#shop-uhu {
  width: 54px;
  background-position: 0px -293px;
}

/* line 128, ../../sass/partials/_header.scss */
#shop-xuron {
  width: 102px;
  background-position: -54px -293px;
}

/* line 132, ../../sass/partials/_header.scss */
#shop-revell {
  width: 62px;
  background-position: -156px -293px;
}

/* line 136, ../../sass/partials/_header.scss */
#shop-alclad {
  width: 65px;
  background-position: -218px -293px;
}

/* line 140, ../../sass/partials/_header.scss */
#shop-bmf {
  width: 66px;
  background-position: -283px -293px;
}

/* line 144, ../../sass/partials/_header.scss */
#shop-birchwood {
  width: 52px;
  background-position: -349px -293px;
}

/* line 148, ../../sass/partials/_header.scss */
#shop-evergreen {
  width: 50px;
  background-position: -516px -318px;
}

/* line 152, ../../sass/partials/_header.scss */
#shop-sp {
  width: 74px;
  background-position: -442px -318px;
}

/* line 156, ../../sass/partials/_header.scss */
#shop-excel {
  width: 56px;
  background-position: -442px -293px;
}

/* line 160, ../../sass/partials/_header.scss */
#shop-intech {
  width: 86px;
  background-position: -498px -293px;
}

/* line 164, ../../sass/partials/_header.scss */
#shop-microscale {
  width: 62px;
  background-position: 0 -318px;
}

/* line 168, ../../sass/partials/_header.scss */
#shop-miliput {
  width: 93px;
  background-position: -62px -318px;
}

/* line 172, ../../sass/partials/_header.scss */
#shop-mb {
  width: 127px;
  background-position: -155px -318px;
}

/* line 176, ../../sass/partials/_header.scss */
#shop-rustall {
  width: 93px;
  background-position: -282px -318px;
}

/* line 180, ../../sass/partials/_header.scss */
#shop-sms {
  width: 25px;
  background-position: -375px -318px;
}

/* line 184, ../../sass/partials/_header.scss */
#shop-vallejo {
  width: 42px;
  background-position: -400px -318px;
}

/* line 1, ../../sass/partials/_nav.scss */
.nav-pills {
  margin-top: 5px;
  margin-bottom: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 6, ../../sass/partials/_nav.scss */
.nav > li > a {
  padding: 5px 15px;
}

/* line 1, ../../sass/partials/_forms.scss */
label {
  font-weight: 500;
}
/* line 4, ../../sass/partials/_forms.scss */
label.required {
  font-weight: 700;
}
/* line 6, ../../sass/partials/_forms.scss */
label.required:after {
  content: "*";
}

/* line 12, ../../sass/partials/_forms.scss */
textarea.form-control {
  height: 100px;
}

/* line 16, ../../sass/partials/_forms.scss */
li.error {
  color: red;
  font-weight: bolder;
}

/* line 22, ../../sass/partials/_forms.scss */
form .submit-wrapper {
  text-align: right;
  margin-bottom: 30px;
}
/* line 30, ../../sass/partials/_forms.scss */
form fieldset.well h3 {
  margin-top: 0;
}
/* line 35, ../../sass/partials/_forms.scss */
form fieldset.tab-pane {
  border: solid 1px #DDD;
  border-top: none;
  padding: 15px;
  margin-bottom: 15px;
}

/* buttons */
/* line 46, ../../sass/partials/_forms.scss */
.btn {
  color: #FFFFFF;
}
/* line 49, ../../sass/partials/_forms.scss */
.btn:hover, .btn:active, .btn:focus {
  color: #FFFFFF;
  text-decoration: underline;
}
/* line 54, ../../sass/partials/_forms.scss */
.btn.btn-default {
  background-color: #919291;
}

/* line 59, ../../sass/partials/_forms.scss */
.selectpicker {
  color: #333333;
}
/* line 62, ../../sass/partials/_forms.scss */
.selectpicker.btn-default {
  background-color: transparent;
}
/* line 66, ../../sass/partials/_forms.scss */
.selectpicker:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

/* line 2, ../../sass/partials/_ads.scss */
.ad-container {
  position: relative;
}

/* line 6, ../../sass/partials/_ads.scss */
#ads {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1340px) {
  /* line 6, ../../sass/partials/_ads.scss */
  #ads {
    z-index: -1;
  }
}
@media (min-width: 1600px) {
  /* line 6, ../../sass/partials/_ads.scss */
  #ads {
    right: 30px;
  }
}
/* line 18, ../../sass/partials/_ads.scss */
#ads a {
  display: block;
  width: 90px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.01);
  margin-bottom: 15px;
  border: dotted 1px #EEE;
}

/* line 3, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-drop-area {
  position: static;
  min-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: dashed 2px #919291;
  background: rgba(145, 146, 145, 0.2);
}
/* line 11, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-drop-area > span {
  text-transform: uppercase;
  font-weight: bolder;
  color: rgba(145, 146, 145, 0.8);
  position: static;
  margin-top: 0;
  line-height: 100px;
}
/* line 20, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-drop-area.qq-upload-drop-area-active {
  border-color: #D46400;
}
/* line 25, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-list {
  margin-top: 10px;
}
/* line 30, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album {
  margin-bottom: 20px;
}
/* line 33, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input[type="checkbox"] {
  display: none;
}
/* line 37, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control {
  max-width: 50px;
}
/* line 40, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control > .fa {
  position: absolute;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
/* line 47, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control > .fa-arrow-left {
  left: 5px;
}
/* line 51, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control > .fa-arrow-right {
  right: 5px;
}
/* line 57, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input + label {
  margin-bottom: 0;
}
/* line 60, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input + label:hover, body.albums #carousel-album input + label:active, body.albums #carousel-album input + label:focus {
  cursor: pointer;
  border-color: #4095FD;
}
/* line 67, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input + label span.h4 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 77, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input:checked + label {
  border-color: #006699;
}
/* line 84, ../../sass/partials/apps/_albums.scss */
body.albums .photo-count {
  left: 20px;
  font-size: 65%;
  background-color: rgba(50, 187, 91, 0.85);
  line-height: 1;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 4px 0;
}

/* line 3, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .detail {
  margin-bottom: 25px;
}
/* line 7, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds a.btn {
  color: white;
  font-weight: bolder;
}
/* line 11, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds a.btn:hover {
  background-color: #D46400;
  text-decoration: underline;
}
/* line 17, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .tab-content {
  min-height: 100px;
  margin-bottom: 25px;
}
/* line 22, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds #calendar, body.groupbuilds #build-list {
  margin-top: 15px;
  background-color: #f5f5f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e3e3e3;
  padding: 0 15px;
}
/* line 30, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar {
  margin-bottom: 15px;
}
/* line 34, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names {
  margin-left: 0;
  margin-right: 0;
}
/* line 38, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names .month-name {
  background-color: rgba(0, 102, 153, 0.6);
  padding: 5px inherit;
  color: #FFFFFF;
}
/* line 43, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names .month-name:nth-child(odd) {
  background-color: rgba(0, 102, 153, 0.68);
}
/* line 47, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names .month-name:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 50, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names .month-name:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 56, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar > div:last-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 62, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .today-marker {
  width: 3px;
  position: absolute;
  top: -5px;
  height: 100px;
  border: dotted 1px rgba(0, 102, 153, 0.3);
  border-top: none;
  border-bottom: none;
  margin-bottom: -10px;
  z-index: 2;
}
/* line 74, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper {
  overflow: hidden;
  padding: 20px 0 0;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  background-color: #FFFFFF;
}
/* line 85, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper .calendar-gb {
  border: solid 1px #CCC;
  text-align: center;
  padding: 0;
}
/* line 90, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper .calendar-gb a {
  display: block;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 97, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper .calendar-gb a span.end {
  font-size: 80%;
  line-height: 20px;
  float: right;
}
/* line 105, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper.last {
  padding-bottom: 20px;
  border-bottom: solid 1px #CCC;
}
/* line 112, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .category-icon {
  position: absolute;
  top: 25px;
  right: 50px;
  font-size: 500%;
  color: rgba(0, 102, 153, 0.3);
}
/* line 120, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds #build-list .tab-content {
  padding: 15px;
  background-color: #FFFFFF;
  border: solid 1px #DDD;
  border-top: none;
}

/* line 3, ../../sass/partials/apps/_users.scss */
body.users #form-login {
  margin-top: 75px;
}
