/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'SINKIN Medium';
  src: url("../fonts/sinkinsans-500medium-webfont.eot");
  src: url("../fonts/sinkinsans-500medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sinkinsans-500medium-webfont.woff") format("woff"), url("../fonts/sinkinsans-500medium-webfont.ttf") format("truetype"), url("../fonts/sinkinsans-500medium-webfont.svg#sinkin_sans500_medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 9, ../../sass/partials/_colors.scss */
.bg-main-blue {
  background-color: #006699;
}
/* line 11, ../../sass/partials/_colors.scss */
.bg-main-blue.soft {
  background-color: rgba(0, 102, 153, 0.7);
}

/* line 15, ../../sass/partials/_colors.scss */
.bg-main-red {
  background-color: #E91D1D;
}
/* line 17, ../../sass/partials/_colors.scss */
.bg-main-red.soft {
  background-color: rgba(233, 29, 29, 0.7);
}

/* line 21, ../../sass/partials/_colors.scss */
.bg-main-green {
  background-color: #32BB5B;
}
/* line 23, ../../sass/partials/_colors.scss */
.bg-main-green.soft {
  background-color: rgba(50, 187, 91, 0.7);
}

/* line 27, ../../sass/partials/_colors.scss */
.bg-main-light-blue {
  background-color: #4095FD;
}
/* line 29, ../../sass/partials/_colors.scss */
.bg-main-light-blue.soft {
  background-color: rgba(64, 149, 253, 0.7);
}

/* line 33, ../../sass/partials/_colors.scss */
.bg-main-pink {
  background-color: #DF4AC5;
}
/* line 35, ../../sass/partials/_colors.scss */
.bg-main-pink.soft {
  background-color: rgba(223, 74, 197, 0.7);
}

/* line 39, ../../sass/partials/_colors.scss */
.bg-main-grey {
  background-color: #919291;
}
/* line 41, ../../sass/partials/_colors.scss */
.bg-main-grey.soft {
  background-color: rgba(145, 146, 145, 0.7);
}

/* line 45, ../../sass/partials/_colors.scss */
.bg-main-orange {
  background-color: #D46400;
}
/* line 47, ../../sass/partials/_colors.scss */
.bg-main-orange.soft {
  background-color: rgba(212, 100, 0, 0.7);
}

/*
 * Navigation bar
 */
/*
 * Main content
 */
/*
 * Borders
 */
/*
* Hide the dotted lines around an element when it receives focus.
*/
/* line 5, ../../sass/partials/_utils.scss */
* {
  _noFocusLine: expression(this.hideFocus=true);
}

/* ie7 */
/* line 6, ../../sass/partials/_utils.scss */
::-moz-focus-inner {
  border: 0;
}

/* firefox */
/* line 7, ../../sass/partials/_utils.scss */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 11, ../../sass/partials/_utils.scss */
:focus, a:focus {
  outline: none;
}

/* ie8, chrome, etc */
/* line 20, ../../sass/partials/_utils.scss */
.r {
  background: url("../images/logo/mb_r.png") no-repeat top right;
  background-size: 25px 42px;
}

/* line 25, ../../sass/partials/_utils.scss */
.relative {
  position: relative;
}

/*
 * Headers
 */
/* line 4, ../../sass/partials/_base.scss */
.h1-margin {
  margin-top: 34px;
  margin-bottom: 10px;
}

/* line 9, ../../sass/partials/_base.scss */
h1, .h1 {
  color: #006699;
}

/* line 13, ../../sass/partials/_base.scss */
h2, .h2, h3, .h3, h4, .h4 {
  color: rgba(0, 102, 153, 0.9);
}

/* line 18, ../../sass/partials/_base.scss */
h1.align-tabs, h2.align-tabs, h3.align-tabs, h4.align-tabs, h5.align-tabs, h6.align-tabs {
  margin-top: -5px;
}

/*
 * Messages
 */
/* line 26, ../../sass/partials/_base.scss */
ul.messages {
  margin-top: 15px;
}

/* line 31, ../../sass/partials/_base.scss */
.confirmed-model h2, .confirmed-model h3, .confirmed-model h4 {
  margin-top: 10px;
}

/* line 37, ../../sass/partials/_base.scss */
a.list-group-item:hover {
  background-color: rgba(64, 149, 253, 0.5);
  color: white;
}

/* line 42, ../../sass/partials/_base.scss */
.eye-catcher {
  background-color: #4095FD;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-top: solid 2px #919291;
  border-bottom: solid 2px #919291;
}
/* line 51, ../../sass/partials/_base.scss */
.eye-catcher h1 small, .eye-catcher h2 small, .eye-catcher h3 small, .eye-catcher h4 small, .eye-catcher h5 small, .eye-catcher h6 small {
  color: rgba(255, 255, 255, 0.4);
}
/* line 56, ../../sass/partials/_base.scss */
.eye-catcher h1, .eye-catcher .h1 {
  color: rgba(255, 255, 255, 0.95);
}
/* line 60, ../../sass/partials/_base.scss */
.eye-catcher a {
  color: #006699;
  font-weight: bold;
}
/* line 64, ../../sass/partials/_base.scss */
.eye-catcher a.btn {
  color: #FFFFFF;
}

/* line 70, ../../sass/partials/_base.scss */
p {
  margin-top: 10px;
}

/* line 75, ../../sass/partials/_base.scss */
.feedback p {
  background-color: rgba(223, 74, 197, 0.4);
  margin-left: -5px;
  margin-right: -5px;
  padding: 5px;
}

/* line 83, ../../sass/partials/_base.scss */
body > footer {
  margin-top: 50px;
}

/* line 87, ../../sass/partials/_base.scss */
.popover {
  background-color: #32BB5B;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #227f3e;
}
/* line 93, ../../sass/partials/_base.scss */
.popover.top > .arrow:after {
  border-top-color: #32BB5B;
}
/* line 93, ../../sass/partials/_base.scss */
.popover.bottom > .arrow:after {
  border-bottom-color: #32BB5B;
}
/* line 93, ../../sass/partials/_base.scss */
.popover.left > .arrow:after {
  border-left-color: #32BB5B;
}
/* line 93, ../../sass/partials/_base.scss */
.popover.right > .arrow:after {
  border-right-color: #32BB5B;
}

/* line 99, ../../sass/partials/_base.scss */
.inline {
  display: inline;
}

/* line 1, ../../sass/partials/_typography.scss */
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
  text-align: left;
}

/* line 4, ../../sass/partials/_typography.scss */
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
  text-align: center;
}

/* line 7, ../../sass/partials/_typography.scss */
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
  text-align: right;
}

/* line 10, ../../sass/partials/_typography.scss */
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
  text-align: justify;
}

@media (max-width: 767px) {
  /* line 15, ../../sass/partials/_typography.scss */
  .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
    text-align: inherit;
  }

  /* line 18, ../../sass/partials/_typography.scss */
  .text-left-xs {
    text-align: left;
  }

  /* line 21, ../../sass/partials/_typography.scss */
  .text-center-xs {
    text-align: center;
  }

  /* line 24, ../../sass/partials/_typography.scss */
  .text-right-xs {
    text-align: right;
  }

  /* line 27, ../../sass/partials/_typography.scss */
  .text-justify-xs {
    text-align: justify;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 32, ../../sass/partials/_typography.scss */
  .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
    text-align: inherit;
  }

  /* line 35, ../../sass/partials/_typography.scss */
  .text-left-sm {
    text-align: left;
  }

  /* line 38, ../../sass/partials/_typography.scss */
  .text-center-sm {
    text-align: center;
  }

  /* line 41, ../../sass/partials/_typography.scss */
  .text-right-sm {
    text-align: right;
  }

  /* line 44, ../../sass/partials/_typography.scss */
  .text-justify-sm {
    text-align: justify;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 49, ../../sass/partials/_typography.scss */
  .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
    text-align: inherit;
  }

  /* line 52, ../../sass/partials/_typography.scss */
  .text-left-md {
    text-align: left;
  }

  /* line 55, ../../sass/partials/_typography.scss */
  .text-center-md {
    text-align: center;
  }

  /* line 58, ../../sass/partials/_typography.scss */
  .text-right-md {
    text-align: right;
  }

  /* line 61, ../../sass/partials/_typography.scss */
  .text-justify-md {
    text-align: justify;
  }
}
@media (min-width: 1200px) {
  /* line 66, ../../sass/partials/_typography.scss */
  .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
    text-align: inherit;
  }

  /* line 69, ../../sass/partials/_typography.scss */
  .text-left-lg {
    text-align: left;
  }

  /* line 72, ../../sass/partials/_typography.scss */
  .text-center-lg {
    text-align: center;
  }

  /* line 75, ../../sass/partials/_typography.scss */
  .text-right-lg {
    text-align: right;
  }

  /* line 78, ../../sass/partials/_typography.scss */
  .text-justify-lg {
    text-align: justify;
  }
}
@media (max-width: 480px) {
  /* line 2, ../../sass/partials/_mobile.scss */
  * + .pull-right {
    float: none !important;
    padding-top: 5px;
  }
}
/* line 3, ../../sass/partials/_header.scss */
.navbar-center .navbar-nav {
  display: inline-block;
  float: none;
}
/* line 7, ../../sass/partials/_header.scss */
.navbar-center .navbar-collapse {
  text-align: center;
}

/* line 12, ../../sass/partials/_header.scss */
#main-nav li.tab {
  font-family: "SINKIN Medium", sans-serif;
}

/* line 16, ../../sass/partials/_header.scss */
body.fade-small-logo .navbar-brand img {
  filter: gray;
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: grayscale(100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

@media (min-width: 768px) {
  /* line 22, ../../sass/partials/_header.scss */
  .navbar-brand {
    position: absolute;
    padding: 0;
    top: 0;
    left: 30px;
  }
  /* line 27, ../../sass/partials/_header.scss */
  .navbar-brand img {
    height: 35px;
    width: 184px;
  }

  /* line 32, ../../sass/partials/_header.scss */
  .navbar-collapse.collapse {
    height: 35px !important;
  }

  /* line 35, ../../sass/partials/_header.scss */
  .sprue-tabs {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -moz-linear-gradient(270deg, #ececec, #f8f8f8);
    background: -webkit-linear-gradient(270deg, #ececec, #f8f8f8);
    background: linear-gradient(180deg, #ececec, #f8f8f8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    min-height: 35px;
    max-height: 35px;
    margin: 0 -15px;
  }
  /* line 44, ../../sass/partials/_header.scss */
  .sprue-tabs li.tab > a {
    color: #f4f4f4;
    background-color: #e5e5e5;
    display: block;
    padding: 3px 20px 6px;
    margin: 5px 10px 0;
    font-size: 115%;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    text-shadow: #AAA 1px 1px 3px, #AAA 1px 1px 1px, #BBB 1px 1px 0, #BBB 0 0 1px;
    border: solid 1px #c8c8c8;
    border-bottom: none;
    -moz-box-shadow: #AAA 0 -1px 1px -1px, 3px 0 4px rgba(0, 0, 0, 0.1), inset rgba(255, 255, 255, 0.5) 0 2px 1px;
    -webkit-box-shadow: #AAA 0 -1px 1px -1px, 3px 0 4px rgba(0, 0, 0, 0.1), inset rgba(255, 255, 255, 0.5) 0 2px 1px;
    box-shadow: #AAA 0 -1px 1px -1px, 3px 0 4px rgba(0, 0, 0, 0.1), inset rgba(255, 255, 255, 0.5) 0 2px 1px;
    overflow: hidden;
  }
  /* line 57, ../../sass/partials/_header.scss */
  .sprue-tabs li.tab > a:hover, .sprue-tabs li.tab > a:focus, .sprue-tabs li.tab > a:active, .sprue-tabs li.tab > a.active {
    background-color: #fafafa;
    color: #fafafa;
    padding-top: 5px;
    margin-top: 3px;
  }
}
@media (max-width: 768px) {
  /* line 68, ../../sass/partials/_header.scss */
  .navbar-brand {
    height: 50px;
    padding: 7.5px 15px;
  }
  /* line 71, ../../sass/partials/_header.scss */
  .navbar-brand img {
    height: 35px;
    width: 184px;
  }

  /* line 77, ../../sass/partials/_header.scss */
  .navbar-center .navbar-collapse {
    text-align: left;
    padding: 0;
  }
  /* line 81, ../../sass/partials/_header.scss */
  .navbar-center .navbar-nav {
    width: 100%;
    margin: 0;
  }

  /* line 86, ../../sass/partials/_header.scss */
  li.tab {
    border: solid 1px #e5e5e5;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -moz-linear-gradient(270deg, #ececec, #f8f8f8);
    background: -webkit-linear-gradient(270deg, #ececec, #f8f8f8);
    background: linear-gradient(180deg, #ececec, #f8f8f8);
  }
  /* line 89, ../../sass/partials/_header.scss */
  li.tab:hover, li.tab.active, li.tab:focus, li.tab:active {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -moz-linear-gradient(90deg, #ececec, #f8f8f8);
    background: -webkit-linear-gradient(90deg, #ececec, #f8f8f8);
    background: linear-gradient(0deg, #ececec, #f8f8f8);
  }
}
/*
 * Shop banner
 */
@media (min-width: 650px) {
  /* line 100, ../../sass/partials/_header.scss */
  #shop-banner {
    text-align: center;
    padding: 5px 15px 0;
    -moz-box-shadow: inset #c8c8c8 0 5px 5px -5px;
    -webkit-box-shadow: inset #c8c8c8 0 5px 5px -5px;
    box-shadow: inset #c8c8c8 0 5px 5px -5px;
    margin: 0 -15px;
    font-size: 0;
  }
  /* line 106, ../../sass/partials/_header.scss */
  #shop-banner li {
    display: inline-block;
  }
  /* line 108, ../../sass/partials/_header.scss */
  #shop-banner li a {
    display: block;
    height: 25px;
    background-image: url("../images/shop/products_sprite.png");
    background-repeat: no-repeat;
  }
}
@media (max-width: 650px) {
  /* line 118, ../../sass/partials/_header.scss */
  #shop-banner {
    display: none;
  }
}
/* brands, individual */
/* line 124, ../../sass/partials/_header.scss */
#shop-uhu {
  width: 54px;
  background-position: 0px -293px;
}

/* line 128, ../../sass/partials/_header.scss */
#shop-xuron {
  width: 102px;
  background-position: -54px -293px;
}

/* line 132, ../../sass/partials/_header.scss */
#shop-revell {
  width: 62px;
  background-position: -156px -293px;
}

/* line 136, ../../sass/partials/_header.scss */
#shop-alclad {
  width: 65px;
  background-position: -218px -293px;
}

/* line 140, ../../sass/partials/_header.scss */
#shop-bmf {
  width: 66px;
  background-position: -283px -293px;
}

/* line 144, ../../sass/partials/_header.scss */
#shop-birchwood {
  width: 52px;
  background-position: -349px -293px;
}

/* line 148, ../../sass/partials/_header.scss */
#shop-evergreen {
  width: 50px;
  background-position: -516px -318px;
}

/* line 152, ../../sass/partials/_header.scss */
#shop-sp {
  width: 74px;
  background-position: -442px -318px;
}

/* line 156, ../../sass/partials/_header.scss */
#shop-excel {
  width: 56px;
  background-position: -442px -293px;
}

/* line 160, ../../sass/partials/_header.scss */
#shop-intech {
  width: 86px;
  background-position: -498px -293px;
}

/* line 164, ../../sass/partials/_header.scss */
#shop-microscale {
  width: 62px;
  background-position: 0 -318px;
}

/* line 168, ../../sass/partials/_header.scss */
#shop-miliput {
  width: 93px;
  background-position: -62px -318px;
}

/* line 172, ../../sass/partials/_header.scss */
#shop-mb {
  width: 127px;
  background-position: -155px -318px;
}

/* line 176, ../../sass/partials/_header.scss */
#shop-rustall {
  width: 93px;
  background-position: -282px -318px;
}

/* line 180, ../../sass/partials/_header.scss */
#shop-sms {
  width: 25px;
  background-position: -375px -318px;
}

/* line 184, ../../sass/partials/_header.scss */
#shop-vallejo {
  width: 42px;
  background-position: -400px -318px;
}

/* line 192, ../../sass/partials/_header.scss */
header .dropdown-toggle {
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 64, ../../sass/partials/_utils.scss */
header .dropdown-toggle:hover, header .dropdown-toggle:focus, header .dropdown-toggle:active {
  background-color: #0088cc;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  color: #FFFFFF;
}
/* line 196, ../../sass/partials/_header.scss */
header .dropdown-menu {
  top: auto;
  right: 0;
  left: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #006699;
  padding: 0;
}
/* line 204, ../../sass/partials/_header.scss */
header .dropdown-menu > li > a {
  color: #FFFFFF;
  font-weight: bold;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 64, ../../sass/partials/_utils.scss */
header .dropdown-menu > li > a:hover, header .dropdown-menu > li > a:focus, header .dropdown-menu > li > a:active {
  background-color: #0088cc;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  color: #FFFFFF;
}

/* line 1, ../../sass/partials/_nav.scss */
.nav-pills {
  margin-top: 5px;
  margin-bottom: 5px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 6, ../../sass/partials/_nav.scss */
.nav > li > a {
  padding: 5px 15px;
}

/* line 1, ../../sass/partials/_forms.scss */
label {
  font-weight: 500;
}
/* line 4, ../../sass/partials/_forms.scss */
label.required {
  font-weight: 700;
}
/* line 6, ../../sass/partials/_forms.scss */
label.required:after {
  content: "*";
}

/* line 12, ../../sass/partials/_forms.scss */
textarea.form-control {
  height: 100px;
}

/* line 16, ../../sass/partials/_forms.scss */
li.error {
  color: red;
  font-weight: bolder;
}

/* line 22, ../../sass/partials/_forms.scss */
form .submit-wrapper {
  text-align: right;
  margin-bottom: 30px;
}
/* line 30, ../../sass/partials/_forms.scss */
form fieldset.well h3 {
  margin-top: 0;
}
/* line 35, ../../sass/partials/_forms.scss */
form fieldset.tab-pane {
  border: solid 1px #DDD;
  border-top: none;
  padding: 15px;
  margin-bottom: 15px;
}

/* buttons */
/* line 46, ../../sass/partials/_forms.scss */
.btn {
  color: #FFFFFF;
}
/* line 49, ../../sass/partials/_forms.scss */
.btn:hover, .btn:active, .btn:focus {
  color: #FFFFFF;
  text-decoration: underline;
}
/* line 54, ../../sass/partials/_forms.scss */
.btn.btn-default {
  background-color: #919291;
}
/* line 58, ../../sass/partials/_forms.scss */
.btn.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 62, ../../sass/partials/_forms.scss */
.btn.fade:hover, .btn.fade:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 69, ../../sass/partials/_forms.scss */
.selectpicker {
  color: #333333;
}
/* line 72, ../../sass/partials/_forms.scss */
.selectpicker.btn-default {
  background-color: transparent;
}
/* line 76, ../../sass/partials/_forms.scss */
.selectpicker:hover {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

/* line 2, ../../sass/partials/_ads.scss */
.ad-container {
  position: relative;
}

/* line 6, ../../sass/partials/_ads.scss */
#ads {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1340px) {
  /* line 6, ../../sass/partials/_ads.scss */
  #ads {
    z-index: -1;
  }
}
@media (min-width: 1600px) {
  /* line 6, ../../sass/partials/_ads.scss */
  #ads {
    right: 30px;
  }
}
/* line 18, ../../sass/partials/_ads.scss */
#ads a {
  display: block;
  width: 90px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.01);
  margin-bottom: 15px;
  border: dotted 1px #EEE;
}

/* line 2, ../../sass/partials/_pagination.scss */
.pagination > .active > a {
  background-color: #32BB5B;
  border-color: #32BB5B;
  color: #FFFFFF;
}

/* line 10, ../../sass/partials/_pagination.scss */
.text-right {
  text-align: right;
}

/* line 13, ../../sass/partials/_pagination.scss */
.text-left {
  text-align: left;
}

/* line 16, ../../sass/partials/_pagination.scss */
.text-center {
  text-align: center;
}

/* line 20, ../../sass/partials/_pagination.scss */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 27, ../../sass/partials/_pagination.scss */
.pagination > li {
  display: inline;
}
/* line 30, ../../sass/partials/_pagination.scss */
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
/* line 43, ../../sass/partials/_pagination.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 50, ../../sass/partials/_pagination.scss */
.pagination > li:last-child > a, .pagination > li:last-child > span {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 59, ../../sass/partials/_pagination.scss */
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

@-webkit-keyframes change-color {
  0% {
    color: #E91D1D;
  }
  20% {
    color: #32BB5B;
  }
  40% {
    color: #4095FD;
  }
  60% {
    color: #DF4AC5;
  }
  80% {
    color: #919291;
  }
  100% {
    color: #006699;
  }
}
@keyframes change-color {
  0% {
    color: #E91D1D;
  }
  20% {
    color: #32BB5B;
  }
  40% {
    color: #4095FD;
  }
  60% {
    color: #DF4AC5;
  }
  80% {
    color: #919291;
  }
  100% {
    color: #006699;
  }
}
/* Lightbox */
/* line 7, ../../sass/partials/_lightbox.scss */
.lightbox .modal-dialog {
  width: 75vw;
  padding: 0;
}
/* line 12, ../../sass/partials/_lightbox.scss */
.lightbox .modal-content {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
/* line 19, ../../sass/partials/_lightbox.scss */
.lightbox .modal-content > * {
  padding: 0;
  border: none;
  max-height: 100%;
}
/* line 25, ../../sass/partials/_lightbox.scss */
.lightbox .fa-spinner {
  line-height: 90vh;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  -webkit-animation: fa-spin 1s infinite steps(8), change-color 1s infinite steps(6);
  animation: fa-spin 1s infinite steps(8), change-color 1s infinite steps(6);
}
/* line 31, ../../sass/partials/_lightbox.scss */
.lightbox .carousel {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 2.5vh 0;
}
/* line 36, ../../sass/partials/_lightbox.scss */
.lightbox .item {
  text-align: center;
  height: 85vh;
}
/* line 40, ../../sass/partials/_lightbox.scss */
.lightbox .item img {
  max-height: 100%;
  margin: 0 auto;
  padding: 5px;
}
/* line 47, ../../sass/partials/_lightbox.scss */
.lightbox .carousel-control {
  line-height: 90vh;
}

/* line 3, ../../sass/partials/apps/_albums.scss */
body.albums .album-preview {
  position: relative;
}
/* line 6, ../../sass/partials/apps/_albums.scss */
body.albums .album-preview h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 10, ../../sass/partials/apps/_albums.scss */
body.albums .album-preview a.thumbnail + ul.list-inline {
  top: 62px;
}
/* line 15, ../../sass/partials/apps/_albums.scss */
body.albums a.thumbnail + ul.list-inline {
  position: absolute;
  top: 6px;
  right: 21px;
  background: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 24, ../../sass/partials/apps/_albums.scss */
body.albums a.thumbnail + ul.list-inline:hover {
  background: rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
}
/* line 29, ../../sass/partials/apps/_albums.scss */
body.albums a.thumbnail + ul.list-inline > li {
  padding-left: 0;
  padding-right: 0;
}
/* line 32, ../../sass/partials/apps/_albums.scss */
body.albums a.thumbnail + ul.list-inline > li:first-child {
  padding-left: 2px;
}
/* line 35, ../../sass/partials/apps/_albums.scss */
body.albums a.thumbnail + ul.list-inline > li:last-child {
  padding-right: 2px;
}
/* line 40, ../../sass/partials/apps/_albums.scss */
body.albums a.thumbnail + ul.list-inline a {
  color: #FFFFFF;
}
/* line 45, ../../sass/partials/apps/_albums.scss */
body.albums .cover {
  border-color: #006699;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
}
/* line 49, ../../sass/partials/apps/_albums.scss */
body.albums .cover + ul .set-cover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 55, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-button {
  width: auto;
  display: inline-block;
  padding: 6px;
}
/* line 61, ../../sass/partials/apps/_albums.scss */
body.albums #trigger-upload {
  font-weight: bold;
}
/* line 65, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-drop-area {
  position: static;
  min-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: dashed 2px #919291;
  background: rgba(145, 146, 145, 0.2);
}
/* line 73, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-drop-area > span {
  text-transform: uppercase;
  font-weight: bolder;
  color: rgba(145, 146, 145, 0.8);
  position: static;
  margin-top: 0;
  line-height: 100px;
}
/* line 82, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-drop-area.qq-upload-drop-area-active {
  border-color: #D46400;
}
/* line 87, ../../sass/partials/apps/_albums.scss */
body.albums .qq-upload-list {
  margin-top: 10px;
}
/* line 92, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album {
  margin-bottom: 10px;
}
/* line 95, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-inner {
  padding: 10px 5px;
  margin-left: -5px;
  margin-right: -5px;
}
/* line 100, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-inner .item.next,
body.albums #carousel-album .carousel-inner .item.prev {
  top: 10px;
}
/* line 106, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control {
  background-image: none;
  color: #006699;
}
@media (min-width: 768px) {
  /* line 111, ../../sass/partials/apps/_albums.scss */
  body.albums #carousel-album .carousel-control.left {
    margin-left: -50px;
  }
  /* line 114, ../../sass/partials/apps/_albums.scss */
  body.albums #carousel-album .carousel-control.right {
    margin-right: -50px;
  }
}
/* line 120, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input[type="checkbox"] {
  display: none;
}
/* line 124, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control {
  max-width: 50px;
}
/* line 127, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control > .fa {
  position: absolute;
  top: 50%;
  display: inline-block;
  margin-top: -20px;
}
/* line 134, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control > .fa-arrow-left {
  left: 5px;
}
/* line 138, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album .carousel-control > .fa-arrow-right {
  right: 5px;
}
@media (min-width: 768px) {
  /* line 144, ../../sass/partials/apps/_albums.scss */
  body.albums #carousel-album input + label {
    margin-bottom: 0;
  }
}
/* line 149, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input + label:hover, body.albums #carousel-album input + label:active, body.albums #carousel-album input + label:focus {
  cursor: pointer;
  border-color: #4095FD;
}
/* line 156, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input + label span.h4 {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  margin-bottom: 2px;
}
/* line 166, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input + label + .fa {
  display: none;
  position: absolute;
  top: 5px;
  right: 0.6em;
  color: #32BB5B;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4), 0 5px 7px rgba(0, 0, 0, 0.3);
  text-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
}
/* line 175, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input:checked + label {
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
}
/* line 179, ../../sass/partials/apps/_albums.scss */
body.albums #carousel-album input:checked + label + .fa {
  display: block;
}
/* line 187, ../../sass/partials/apps/_albums.scss */
body.albums .photo-count {
  left: 20px;
  font-size: 65%;
  background-color: rgba(50, 187, 91, 0.9);
  line-height: 1;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 4px 12px;
  width: auto;
}
/* line 197, ../../sass/partials/apps/_albums.scss */
body.albums .stats {
  color: rgba(255, 255, 255, 0.5);
}
/* line 200, ../../sass/partials/apps/_albums.scss */
body.albums .stats + .controls,
body.albums .stats + div {
  margin-top: 30px;
}
/* line 206, ../../sass/partials/apps/_albums.scss */
body.albums .pre-content {
  margin-bottom: 20px;
}
/* line 209, ../../sass/partials/apps/_albums.scss */
body.albums .pre-content .pagination {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 215, ../../sass/partials/apps/_albums.scss */
body.albums.modal-open .modal-backdrop.in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
/* line 219, ../../sass/partials/apps/_albums.scss */
body.albums #modal-lightbox .carousel-control {
  max-width: 75px;
}

/* line 227, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail header {
  margin-bottom: 10px;
}
/* line 231, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail header h1 {
  font-size: 24px;
}
/* line 235, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail header a.pull-right {
  margin-top: 20px;
}
/* line 242, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo figure {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.25);
  position: relative;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 5px 7px 0 rgba(0, 0, 0, 0.3);
  -moz-transition: box-shadow 1s ease;
  -o-transition: box-shadow 1s ease;
  -webkit-transition: box-shadow 1s ease;
  transition: box-shadow 1s ease;
}
/* line 253, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo figure:hover, body.albums.photo-detail .photo figure:focus, body.albums.photo-detail .photo figure:active {
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 10px 14px 0 rgba(0, 0, 0, 0.3);
}
/* line 259, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo figure img {
  margin: 0 auto;
}
/* line 263, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo figure figcaption {
  margin: 10px auto 0;
  width: 90%;
}
/* line 269, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls-group {
  position: absolute;
  z-index: 10;
}
/* line 274, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls-group.top {
  top: 20px;
}
/* line 274, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls-group.bottom {
  bottom: 20px;
}
/* line 274, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls-group.left {
  left: 20px;
}
/* line 274, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls-group.right {
  right: 20px;
}
/* line 280, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.85);
  border: solid 1px rgba(0, 0, 0, 0.25);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
}
/* line 287, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls > .fa-fw {
  display: block;
  max-height: 1.28571429em;
  line-height: 1.28571429em;
  z-index: 101;
  border-bottom: solid 1px #CCC;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 296, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls > .fa-fw:last-child {
  border-bottom: none;
}
/* line 300, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls > .fa-fw:hover, body.albums.photo-detail .photo .controls > .fa-fw:active, body.albums.photo-detail .photo .controls > .fa-fw.active, body.albums.photo-detail .photo .controls > .fa-fw:focus {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 309, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo .controls .popover {
  min-width: 200px;
}
/* line 314, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo figure.compress img {
  max-height: 98vh;
}
/* line 318, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo figure.rotate-left img {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 322, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo figure.rotate-right img {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 326, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo figure.rotate-180 img {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 330, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .photo footer {
  margin-top: 15px;
}
/* line 335, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}
/* line 338, ../../sass/partials/apps/_albums.scss */
body.albums.photo-detail .modal-backdrop .fa-spinner {
  -webkit-animation: fa-spin 1s infinite steps(8), change-color 1s infinite steps(6);
  animation: fa-spin 1s infinite steps(8), change-color 1s infinite steps(6);
  line-height: 100vh;
}

/* line 5, ../../sass/partials/apps/_builds.scss */
body.builds .preview h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 9, ../../sass/partials/apps/_builds.scss */
body.builds .preview .thumbnail {
  position: relative;
}
/* line 12, ../../sass/partials/apps/_builds.scss */
body.builds .preview .thumbnail h4 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2em;
  position: absolute;
  top: 0;
  left: 4px;
  right: 4px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  background: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  color: #FFFFFF;
}
/* line 28, ../../sass/partials/apps/_builds.scss */
body.builds .pull-right .fa-cubes {
  position: relative;
  right: -0.75em;
  color: #DF4AC5;
  z-index: 1;
}

/* line 3, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .detail {
  margin-bottom: 25px;
}
/* line 7, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds a.btn {
  color: white;
  font-weight: bolder;
}
/* line 11, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds a.btn:hover {
  background-color: #D46400;
  text-decoration: underline;
}
/* line 17, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .tab-content {
  min-height: 100px;
  margin-bottom: 25px;
}
/* line 22, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds #calendar, body.groupbuilds #build-list {
  margin-top: 15px;
  background-color: #f5f5f5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid 1px #e3e3e3;
  padding: 0 15px;
}
/* line 30, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar {
  margin-bottom: 15px;
}
/* line 34, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names {
  margin-left: 0;
  margin-right: 0;
}
/* line 38, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names .month-name {
  background-color: rgba(0, 102, 153, 0.6);
  padding: 5px inherit;
  color: #FFFFFF;
}
/* line 43, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names .month-name:nth-child(odd) {
  background-color: rgba(0, 102, 153, 0.68);
}
/* line 47, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names .month-name:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 50, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .month-names .month-name:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 56, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar > div:last-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 62, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .today-marker {
  width: 3px;
  position: absolute;
  top: -5px;
  height: 100px;
  border: dotted 1px rgba(0, 102, 153, 0.3);
  border-top: none;
  border-bottom: none;
  margin-bottom: -10px;
  z-index: 2;
}
/* line 74, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper {
  overflow: hidden;
  padding: 20px 0 0;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  background-color: #FFFFFF;
}
/* line 85, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper .calendar-gb {
  border: solid 1px #CCC;
  text-align: center;
  padding: 0;
}
/* line 90, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper .calendar-gb a {
  display: block;
  padding: 5px;
  color: #FFFFFF;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 97, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper .calendar-gb a span.end {
  font-size: 80%;
  line-height: 20px;
  float: right;
}
/* line 105, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .calendar .gb-wrapper.last {
  padding-bottom: 20px;
  border-bottom: solid 1px #CCC;
}
/* line 112, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds .category-icon {
  position: absolute;
  top: 25px;
  right: 50px;
  font-size: 500%;
  color: rgba(0, 102, 153, 0.3);
}
/* line 120, ../../sass/partials/apps/_groupbuilds.scss */
body.groupbuilds #build-list .tab-content {
  padding: 15px;
  background-color: #FFFFFF;
  border: solid 1px #DDD;
  border-top: none;
}

/* line 3, ../../sass/partials/apps/_users.scss */
body.users #form-login {
  margin-top: 75px;
}
