{% extends "base_html5.html" %}{% load i18n %}

{% block title %}{% blocktrans with year=brouwersdag.date.year %}Brouwersdag {{ year }}{% endblocktrans %}{% endblock %}

{% block sub-nav-links %}
    {% url 'brouwersdag:index' as url_bd_index %}
    {% url 'brouwersdag:model-signup' as url_bd_signup %}
    {% url 'brouwersdag:my-models' as url_bd_my_models %}
    <ul class="nav nav-pills pull-right">
      <li{% if request.path == url_bd_index %} class="active"{% endif %}><a href="{{ url_bd_index }}">Home</a></li>
      <li{% if request.path == url_bd_signup %} class="active"{% endif %}><a href="{{ url_bd_signup }}">{% trans "Signup" %}</a></li>
      <li{% if request.path == url_bd_my_models %} class="active"{% endif %}><a href="{{ url_bd_my_models }}">{% trans "My models" %}</a></li>
    </ul>
{% endblock %}
