{% extends "brouwersdag/base.html" %}
{% load i18n formulation %}

{% block content %}
<div class="main-content">

    <div class="row">
        <div class="col-sm-8">
            <h1 class="text-primary">
                {% blocktrans with year=brouwersdag.date.year %}Brouwersdag {{ year }}{% endblocktrans %}
                <small>{% trans "Time to do your models sign-up!" %}</small>
            </h1>

            <p class="text-muted">
                {% trans "If you want to display multiple models, just fill in the form again for each extra model." %}
            </p>

            {% form 'horizontal.form' %}
            <form action="." method="post" class="form-horizontal" role="form">
                {% csrf_token %}

                {{ form.errors }}

                {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% for field in form %}
                    {% field field placeholder=field.label label_grid='col-sm-3' field_grid='col-sm-8' %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-primary">{% block submit_button %}{% trans "Add model" %}{% endblock %}</button>
                    </div>
                </div>
            </form>
            {% endform %}
        </div>

        <div class="col-sm-4">
            <h2 class="text-muted">{% trans "Competition information" %}</h2>
            <aside>
                {% if not form.competition %}
                    {% trans "There's no competition planned (yet)." %}
                {% else %}
                <p>
                    {% blocktrans with fee=form.competition.price|floatformat:'-2' %}
                        There will be a competition during this edition.
                        The competition entry fee per model is &euro;{{ fee }}, to be paid when entering the venue.
                    {% endblocktrans %}
                </p>

                {% if form.competition.max_num_models %}
                <p class="text-warning">{% blocktrans count n=form.competition.max_num_models %}
                    Attention! You can enter only one model in the competition. Extra models will be rejected.
                    {% plural %}
                    Attention! You can enter a maximum of <strong>{{ n }}</strong> models in the competition. Extra models will be rejected.
                {% endblocktrans %}

                <p>{% trans "This restriction is <strong>only for competition models</strong>. You can bring as many models as you want outside of the competition!" %}
                {% endif %}
                {% endif %}
            </aside>
        </div>

    </div>

</div>
{% endblock content %}
