{% extends "base_legacy.html" %}
{% load i18n static %}

{% block title %}
Modelbrouwers.nl &bull; Awards
{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/awards.css" %}" charset="utf-8" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/awards.js" %}"></script>
{% endblock scripts %}

{% block menu %}
    <li><a href="{% url 'awards_index' %}">
		{% trans "Awards home" %}
	</a></li>
    <li><a href="{% url 'add_nomination' %}">
    	{% trans "Nominations" %}
	</a></li>
    <li><a href="{% url 'category-list' %}">
		{% trans "Categories" %}
	</a></li>
    <li><a href="{% url 'voting' %}">
    	{% trans "Voting" %}
    </a></li>
	<li><a href="{% url 'winners' %}">
		{% trans "Winners" %}
	</a></li>
{% endblock %}

{% block body-attrs %} id="awards" class="fade-small-logo"{% endblock %}

{% block content %}
<div id="algemene_info">
	<div class="tab"><strong>Wat zijn de brouwersawards?</strong></div>
	<br />
	<p>De brouwersawards zijn te vergelijken met het principe van film- en/of muziekawards, maar dan met modelbouwprojecten. Het is puur voor de eer bedoeld, en geeft hopelijk net een tikkeltje meer motivatie om het ultieme model af te werken.</p>
	<br />
	<br />
	<div class="tab"><strong>Hoe gaat het in z'n werk?</strong></div>
	<br />
	<p>In het submenu vind je de drie delen van het hele awardsgebeuren. De categorieën waarin een project geplaatst kan worden, zijn reeds bepaald. Enkel site-admins kunnen categorieën wijzigen, toevoegen of verwijderen. Standaard zijn de categorieën de verschillende forumdelen, er is echter uitbreiding mogelijk en daarvoor zullen later suggesties kunnen ingediend worden.</p>
	<br />
	<p>Vervolgens heb je een volledig jaar de tijd om modellen te nomineren binnen een bepaalde categorie. Als je een indrukwekkend, leuk of gewoon supermooi project ziet op het forum, en je vindt dan ook nog dat de brouwer eeuwige roem verdient daarvoor, dan kan je in luttele seconden het project nomineren binnen de juiste categorie. Dit kan op ieder moment van de dag, week, maand of jaar. Er wordt automatisch bijgehouden wat de nominatiedatum is, zodat het project bij de juiste editie van de BrouwersAwards gevoegd wordt. <strong>Let op! Je mag enkel projecten nomineren die dit jaar afgewerkt zijn!</strong> Projecten van 2011 kunnen in 2013 niet meer meedoen.</p>
	<br />
	<p>En dan... het deel waar het om draait: stemmen! Vanaf 1 januari 2014 kan je geen projecten meer nomineren voor de editie van 2013 en gaat de stemming open.</p>
</div>
{% endblock %}
