{% extends "awards/base.html" %}
{% load i18n %}{% load cycle from future %}

{% block content %}
	<div class="tab">{% trans "Categories" %}</div>

	<div id="categories-list">

		{% for category in categories %}
			<div class="category">
				<h1>
					<a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
				</h1>

				{% with category.latest.count as num_nominations %}

					{% if num_nominations %}

						{% blocktrans count num_nominations=num_nominations %}
							Latest nomination:
						{% plural %}
							Latest {{ num_nominations }} nominations:
						{% endblocktrans %}

						<ul class="latest_nominations">
							{% for nomination in category.latest %}
								<li class="{% cycle 'light' 'dark' %}">
									<a href="{{ nomination.url }}" target="_blank">{{ nomination.name }}</a>
								</li>
							{% endfor %}

							{% if category.num_nominations > num_nominations %}
								<li><a href="{{ category.get_absolute_url }}">{% trans "more&hellip;" %}</a>
							{% endif %}
						</ul>

					{% else %}
						<span class="no-nominations">{% trans "No nominations yet! Maybe you could submit the first one?" %}</span>
					{% endif %}

				{% endwith %}

			</div>
		{% endfor %}

	</li>

	<div class="clear"></div>

{% endblock %}
