{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Awards" %}{% endblock %}

{% block eye-catcher %}
<header class="container-fluid eye-catcher">
    <div class="container">
        {% block eye-catcher-content %}
            <h1>
                {% trans "Awards" %}
                <i class="pull-right fa fa-trophy fa-2x"></i>
            </h1>

            <p>{% blocktrans trimmed %}
                The 'Brouwers Awards' can be compared to movie or music awards, but applied to build report topics!
                Topics get nominated within a category, and everyone can vote their favourites within each category,
                ultimately leading to a top-three.
            {% endblocktrans %}</p>

        {% endblock %}
    </div>
</header>
{% endblock %}

{% block content %}

<div class="col-md-6">

    <h2>{% trans "Go to" %}</h2>

    <a class="button button--orange button--icon btn-lg button--vertical-center" href="{% url 'awards:winners' %}">
        <i class="fa fa-flag-checkered fa-2x"></i>
        {% trans "Hall of fame" %}
    </a>

    <a class="button button--blue button--icon btn-lg button--vertical-center" href="{% url 'awards:nomination-list' %}">
        <i class="fa fa-ticket fa-2x"></i>
        {% trans "View nominations" %}
    </a>

</div>

<div class="col-md-6">
    <h2>{% trans "How does it work?" %}</h2>

    <p>{% blocktrans trimmed %}
        <strong>Currently the awards functionality is disabled because we are re-working it, sorry for that!</strong>
        <br>
        <br>
        Normally, you can nominate topics for every edition - e.g. in 2021 you can nominate projects that were finished
        between Jan. 1st 2021 and Dec. 31st 2021. Moderators will validate every submission by checking if the topic
        was indeed finished in that year.
        <br>
        <br>
        Between Jan. 1st and Jan. 15th of the next year (2022 in the example), users can submit their votes.
        <br>
        <br>
        Finally, after the voting period, the top-three within each category are recorded in our hall-of-fame.
    {% endblocktrans %}</p>
</div>

{% endblock %}
