{% extends "awards/base.html" %}
{% load i18n %}{% load cycle from future %}

{% block content %}
	<div class="tab">{% trans "New nomination" %}</div>

	<div class="warning">
		Enkel projecten die in {{ current_year }} <strong>afgewerkt</strong> werden, zijn geldige nominaties!
	</div>

	<form action="." method="post" id="nomination_form">

		{% for error in form.non_field_errors %}
			<p class="error"><strong>{{ error|escape }}</strong></p>
		{% endfor %}

		{% include "form_in_table.html" %}

		<div class="center">
			<input type="submit" value="{% trans "Nominate" %}" class="submit-button" />
		</div>
	</form>

	<div class="tab midpage">{% trans "Latest nominations" %}</div>

	<div id="latest-nominations">
		<table>
			<tr id="table-header">
				<th>{% trans "Topic" %}</th>
				<th>{% trans "Author" %}</th>
				<th>{% trans "Nomination date" %}</th>
			</tr>
			{% for project in last_nominations %}
				<tr class="{% cycle 'light' 'dark' %}
					{% if project.brouwer|lower == project.nominator.forum_nickname|lower %} self-nomination{% endif %}
					">
					<td>
						<a href="{{ project.url }}" target="_blank" class="title link-project">
							{{ project.name }}
						</a>
					</td>
					<td class="author">
						<strong>{{ project.brouwer }}</strong>
						{# TODO: linking #}
					</td>
					<td class="date">{{ project.nomination_date|date }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}
