{% load i18n %}
{% if projects %}

    <div class="awards-category__projects">
        {% for project in projects %}
            <a class="awards-category__project" href="{{ project.url }}" target="_blank" rel="noopener nofollow">
                {{ project.name }} ({{ project.brouwer }})
            </a>
        {% endfor %}
    </div>

    <div class="awards-category__points">
        {% blocktrans count projects.0.votes as counter %}1 point{% plural %}{{ counter }} points{% endblocktrans %}
    </div>
{% else %}
    {% trans "No-one grabbed this spot!" %}
{% endif %}
