{% extends "awards/landing.html" %}
{% load i18n %}

{% block title %} {% trans "Awards" %} / {% trans "Projects" %}{% endblock %}

{% block content %}

<h1>
    {% trans "Nominated projects" %}
    {% if category %}<small>{{ category.name }}</small>{% endif %}
</h1>

<div>
    <a class="button button--light-blue button--fade btn-xs"
       href="{% url 'awards:nomination-list' %}"
       style="margin-bottom: 3px"
    >
        {% trans "All categories" %}
    </a>
    {% for category in all_categories %}
        <a class="button button--light-blue button--fade btn-xs"
           href="{% url 'awards:nomination-list' slug=category.slug %}"
           style="margin-bottom: 3px"
        >
            {{ category.name }}
        </a>
    {% endfor %}
</div>


<ul class="list-group">
{% for project in projects %}
    <li class="list-group-item" title="{{ project.category.name }}">
        {# phpBB stores the HTML escaped titles in DB #}
        {{ project.topic.topic_title|safe }}

        <div class="pull-right">
            {{ project.topic.author }} &mdash;
            <a href="{{ project.topic.get_absolute_url }}">
                {% trans "view topic" %}
            </a>
        </div>
    </li>
{% empty %}
    <li class="list-group-item">
        {% trans "No projects found :(" %}
    </li>
{% endfor %}
</ul>

{% include "pagination.html" with objects=projects %}

{% endblock %}
