{% extends "awards/base.html" %}
{% load i18n awards %}


{% block content %}
<div class="tab">{% trans "Vote your favourite projects" %}</div>
<noscript>{% trans "You need to enable javascript to be able to cast your votes" %}</noscript>
<div id="voting">
    <p class="warning">{% trans "You can leave categories blank, and vote them later. However, as soon as you vote <em>one</em> project in a category, you can no longer change that vote." %}</p>
    <form action="." method="post">
        {% csrf_token %}
        {% for category, formdata in forms.items %}
            {% with formdata.form as form %}
                {% if not form.instance.id %}

                    <div class="category">
                        <h1>{{ category }}</h1>

                        {% for field in form %}{{ field }}{% endfor %}

                        {% if form.has_changed and form.non_field_errors %}
                            <ul class="errors">
                                {% for error in form.non_field_errors %}
                                    <li class="error">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="vote-blocks">

                            {% with position='first' position_n=1 field=form.project1 instance_field=form.instance.project1 %}
                                {% include "awards/vote_block.html" %}
                            {% endwith %}

                            {% with position='second' position_n=2 field=form.project2 instance_field=form.instance.project2 %}
                                {% include "awards/vote_block.html" %}
                            {% endwith %}

                            {% with position='third' position_n=3 field=form.project3 instance_field=form.instance.project3 %}
                                {% include "awards/vote_block.html" %}
                            {% endwith %}

                            <div href="#" class="clear clearfix"></div>
                        </div>

                        <ul class="projects-list">
                            {% for project in formdata.projects|exclude_selected:form %}
                                {% include "awards/voting_project.html" %}
                            {% endfor %}
                        </ul>
                        <div class="center clear submit">
                            <input type="submit" value="{% trans "Submit vote" %}" class="submit-button" />
                        </div>
                    </div>

                {% endif %}
            {% endwith %}
        {% endfor %}

    </form>

</div>
{% endblock content %}
