.payment-method {

  &__container {
    padding: 0 64px;
  }

  &__row {
    display: flex;

    &--logos {
      //justify-content: space-between;
      flex-flow: wrap;
      padding: 24px 0;
    }
  }

  &__card {
    display: flex;
    width: 100px;
    margin: 0 24px 24px 0;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 8px;

    &:hover {
      border-color: $main-blue;
      cursor: pointer;
    }
  }

  &__logo {
    width: 100%;
  }
}
