{% load i18n sniplates system_tags %}



{% block ModelKitSelect %}

{% load_widgets fields='horizontal.form' %}

<div class="model-kit-select">

    {% widget 'fields:_label' %}

    <div class="{{ field_grid|default:'col-sm-10' }}">
        <div>
            {% widget "fields:_help" %}
            {% widget "fields:_errors" %}
        </div>

        <div class="row" data-filters="true">
            {% with form=widget.form %}
                <div class="col-xs-12 col-sm-4">
                    <!-- brand select -->
                    {% form_field form.brand widget='fields:_Select' %}
                </div>

                <div class="col-xs-12 col-sm-4">
                    <!-- scale select -->
                    {% form_field form.scale widget='fields:_Select' %}
                </div>

                <div class="col-xs-12 col-sm-4">
                    <!-- search box -->
                    {% form_field form.name widget='fields:_input' placeholder=_('filter by name') %}
                </div>
            {% endwith %}
        </div>

        <div class="kit-suggestions row"></div>

    </div>

</div>

{% endblock %}


{% block ModelKitSelectJS %}
{% systemjs_import 'kits/js/modelkit.widget' %}
{% endblock %}
