{% load i18n static %}

<div class="item active"><div class="row">
{% templatetag openvariable %}#each albums{% templatetag closevariable %}
    <div class="col-sm-2">
        <input type="checkbox" name="album" value="{% templatetag openvariable %}id{% templatetag closevariable %}" id="id_album_{% templatetag openvariable %}id{% templatetag closevariable %}">
        <label for="id_album_{% templatetag openvariable %}id{% templatetag closevariable %}" class="thumbnail text-center">
            {% templatetag openvariable %}#if cover{% templatetag closevariable %}
                <img src="{% templatetag openvariable %}cover.url{% templatetag closevariable %}" class="img-responsive" alt="album: {% templatetag openvariable %}title{% templatetag closevariable %}">
            {% templatetag openvariable %}else{% templatetag closevariable %}
                <img src="{% static "images/thumb.png" %}" class="img-responsive" alt="album">
            {% templatetag openvariable %}/if{% templatetag closevariable %}
            <span class="h4">{% templatetag openvariable %}title{% templatetag closevariable %}</span>
        </label>
        <i class="fa fa-check fa-3x"></i>
    </div>
    {% templatetag openvariable %}cycle '' '' '' '' '' '</div></div><div class="item"><div class="row">'{% templatetag closevariable %}
{% templatetag openvariable %}/each{% templatetag closevariable %}
</div></div>
