{% load i18n %}
{% templatetag openvariable %}#each photos{% templatetag closevariable %}
    <li>
        <figure class="album-photo" data-id="{% templatetag openvariable %} id {% templatetag closevariable %}">
            <a href="#"><img src="{% templatetag openvariable %} image.thumb {% templatetag closevariable %}" alt="{% templatetag openvariable %} description {% templatetag closevariable %}"></a>
            <figcaption>{% templatetag openvariable %} description {% templatetag closevariable %}</figcaption>
        </figure>
    </li>
{% templatetag openvariable %}else{% templatetag closevariable %}
    <li>
        {% url 'albums:upload' as upload_url %}
        {% blocktrans %}
            There are no photo's in this album yet. You can upload some
            <a href="{{upload_url}}" target="_blank">here</a>.
        {% endblocktrans %}
    </li>
{% templatetag openvariable %}/each{% templatetag closevariable %}
