{% load i18n handlebars %}
{% hbs_verbatim %}

<div id="photo-sidebar" class="closed box-sizing">
    <div class="pull-right open-close" data-close="#photo-sidebar">
        <i class="fa fa-times fa-2x"></i>
    </div>
    <div class="lid open-close" data-open="#photo-sidebar">
        <i class="fa fa-camera fa-rotate-270 fa-2x"></i>
    </div>

    <div>
        <h2>{% trans "Albums" %}</h2>

        <select name="album">
            {{#each albums}}
                <option value="{{id}}">{{title}}</option>
            {{/each}}
        </select>



        <h2>{% trans "Photos" %}</h2>
        <ul id="photo-list"></ul>
    </div>

</div>

{% hbs_endverbatim %}
