{% load i18n %}
<nav class="text-right">
  <ul class="pagination">
    {% templatetag openvariable %}#with page_obj{% templatetag closevariable %}
    <li class="{% templatetag openvariable %}#unless has_previous{% templatetag closevariable %}disabled{% templatetag openvariable %}/unless{% templatetag closevariable %}">
        {% templatetag openvariable %}#if has_previous{% templatetag closevariable %}
          <a href="#" data-page="{% templatetag openvariable %}previous_page_number{% templatetag closevariable %}" aria-label="{% trans "Previous" %}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        {% templatetag openvariable %}else{% templatetag closevariable %}
            <a href="#"><span aria-hidden="true">&laquo;</span></a>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
    </li>

    {% templatetag openvariable %}#each page_range {% templatetag closevariable %}
        <li class="{% templatetag openvariable %}#ifequal ../number this{% templatetag closevariable %}active{% templatetag openvariable %}/ifequal{% templatetag closevariable %}">
            <a href="#" data-page="{% templatetag openvariable %}this{% templatetag closevariable %}">{% templatetag openvariable %}this{% templatetag closevariable %}</a>
        </li>
    {% templatetag openvariable %}/each{% templatetag closevariable %}

    <li class="{% templatetag openvariable %}#unless has_next{% templatetag closevariable %}disabled{% templatetag openvariable %}/unless{% templatetag closevariable %}">
        {% templatetag openvariable %}#if has_next {% templatetag closevariable %}
          <a href="" data-page="{% templatetag openvariable %}next_page_number{% templatetag closevariable %}" aria-label="{% trans "Next" %}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        {% templatetag openvariable %}else{% templatetag closevariable %}
            <a href="#"><span aria-hidden="true">&raquo;</span></a>
        {% templatetag openvariable %}/if{% templatetag closevariable %}
    </li>
    {% templatetag openvariable %}/with{% templatetag closevariable %}
  </ul>
</nav>
