{% load i18n %}
<div class="modal-body">

  <div id="carousel-photo" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% templatetag openvariable %}#each photos{% templatetag closevariable %}
        <li data-target="#carousel-photo" data-slide-to="{% templatetag openvariable %}@index{% templatetag closevariable %}" {% templatetag openvariable %}#if state.selected{% templatetag closevariable %}class="active"{% templatetag openvariable %}/if{% templatetag closevariable %}></li>
      {% templatetag openvariable %}/each{% templatetag closevariable %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% templatetag openvariable %}#each photos{% templatetag closevariable %}
      <div class="item {% templatetag openvariable %}#if state.selected{% templatetag closevariable %}active{% templatetag openvariable %}/if{% templatetag closevariable %}" data-slide-number="{% templatetag openvariable %}@index{% templatetag closevariable %}">
        <img src="{% templatetag openvariable %}image.large{% templatetag closevariable %}" class="img-responsive" alt="">
      </div>
      {% templatetag openvariable %}/each{% templatetag closevariable %}
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-photo" role="button" data-slide="prev">
      <span class="fa fa-3x fa-chevron-circle-left" aria-hidden="true"></span>
      <span class="sr-only">{% trans 'Previous' %}</span>
    </a>
    <a class="right carousel-control" href="#carousel-photo" role="button" data-slide="next">
      <span class="fa fa-3x fa-chevron-circle-right" aria-hidden="true"></span>
      <span class="sr-only">{% trans 'Next' %}</span>
    </a>
  </div>

</div>
