{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">
    div#shirts{position:relative;}
    div#shirts p{margin-top:1em;}
    div#shirts p.padding{padding-right:250px;}
    img#shirt_preview{position:absolute;top:3em;right:0}
    div.tiny{margin-top:2em;font-size:0.7em;}
</style>
{% endblock %}

{% block extrascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('#id_color').change(function(){
        updateImage();
    });
    $('#id_moderator').change(function(){
        updateImage();
    });
});
function updateImage(){
    var color = $('#id_color').val();
    var mod = $('#id_moderator').is(':checked');
    
    if (color == "B" && mod){
        var src = '/static/images/shirts/black_mod.png';
    } else if (color == "B" && !mod) {
        var src = '/static/images/shirts/black.jpg';
    } else if (color == "W" && mod) {
        var src = '/static/images/shirts/white_mod.png';
    } else {
        var src = '/static/images/shirts/white.jpg';
    }
    $('#shirt_preview').attr('src', src);
}
</script>
{% endblock %}

{% block content %}
<div class="tab">{% trans 'Shirt ordering' %}</div>
<div class="margin" id="shirts">
    {#{% include "messages.html" %}#}
    <p class="padding">{% blocktrans %}With this form, you can order a Modelbrouwers.nl shirt. After ordering, you will receive an e-mail with account details. You must pay the shirt to complete the order.{% endblocktrans %}</p>
    <p class="padding">{% blocktrans %}If you don't wish the shirt to be mailed, the delivery of the shirt will happen on some meeting. You will be contacted for this through your e-mail.
    {% endblocktrans %}</p>
    <p class="padding">{% trans 'The price of a shirt is 10 euros + 8 if you want it mailed.' %}</p>
    <form action="." method="POST">
        {% include "form_in_table.html" %}
        <div class="center">
            <input type="submit" value="{% trans 'Place order' %}" />
        </div>
    </form>
    <img id="shirt_preview" src="{{ STATIC_URL }}images/shirts/white.jpg" width="240" height="240" alt="preview"/>
    <div class="tiny">{% trans 'Note: the preview of the shirt is a mock-up. The actual shirt may be slightly different.' %}</div>
</div>
{% endblock %}
