.product-card {
  @at-root .card-grid__card#{&} {
    padding: 1em;
  }

  display: flex;
  flex-direction: column;
  height: auto;
  border: $border;

  &__image-link {
    display: block;
    width: 100%;
    flex: 1 0 auto;
  }

  &__image {
    width: 100%;
    flex: 1 0 auto;
  }

  &__name {
    padding: 5px 0;
    flex: 1 0 auto;
    font-size: 1.1em;
  }

  &__price {
    font-weight: bold;
    margin: 5px 0;
    flex: 0;
    text-align: right;
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0.5em;

    > * {
      flex-grow: 1;
      width: 100%;
    }
  }

  @include gt-mobile {
    &__image-link {
      order: 1;
    }

    &__name {
      color: $text-color;
      order: 2;
    }

    &__price {
      order: 4;
    }

    .react-cart-actions {
      order: 2;
      margin-top: 0.5em;
    }

    &__actions {
      order: 5;
    }
  }
}
