.product {
  &__info {
    display: flex;
    gap: 1em;
    justify-content: flex-start;

    @include lte-mobile {
      flex-wrap: wrap;
    }
  }

  &__image {
    width: 50%;
    flex-grow: 1.3;

    @include lte-mobile {
      flex-basis: 100%;
      width: 100%;
    }
  }

  &__picture {
    max-width: 100%;
  }

  &__details {
    flex-grow: 1;

    @include lte-mobile {
      flex-basis: 100%;
      display: flex;
      gap: 0.5em;
    }
  }

  &__order {
    display: flex;
    padding: 1em 0;
    justify-content: flex-start;

    @include lte-mobile {
      justify-content: flex-end;
      order: 2;
      width: 50%;
    }

    @include gt-mobile {
      position: sticky;
      top: 1em;
    }
  }

  &__properties {
    @include lte-mobile {
      order: 1;
      width: 50%;
      padding: 1em 0;
    }
  }

  &__amount-label {
    display: none;
  }

  &__amount {
    width: 50px;
    padding: 0 5px;
    border: 1px solid $main-blue;
    border-radius: 4px 0 0 4px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
