/*#awards #content {
    background: url(../images/awards.png) no-repeat;
    background-position: 100% 40%;
}*/

a.active{
    font-weight: bold;
    color: #DD6900;;
}

#id_url, #id_name{
    width: 30em;
}
#latest-nominations table{
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
}
#table-header{
    background-color: #EEE;
    background: -moz-linear-gradient(top, #C7D0D7 0%, #6F8698 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C7D0D7), color-stop(100%,#6F8698));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C7D0D7', endColorstr='#C7D0D7', GradientType=0 );
    zoom: 1;
    background-image: -o-linear-gradient(top, #C7D0D7 0%, #6F8698 100%);
    background: linear-gradient(#C7D0D7 0%, #6F8698 100%);
    color: #EEE;
    text-shadow: 0px 1px #444;
}
#latest-nominations tr > *{
    padding: 0.4em;
    text-align: center;
}
#latest-nominations tr > td{
    border-bottom: solid 1px #CCC;
    border-top: solid 1px #CCC;
}
#latest-nominations th:first-child{
    border-top-left-radius: 6px;
}
#latest-nominations th:last-child{
    border-top-right-radius: 6px;
}
#builds #latest-nominations th{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#latest-nominations .title{
    font-weight: bold;
    width: 40%;
    text-align: left;
}
td.topic-url, td.brand{
    width: 20%;
    font-weight: bold;
}
td.brand{color: #333;}
.light{ background-color: #EEE;}
.dark { background-color: #DDD;}
a.link-project{
    background-image: url(../images/icons/permalink.gif); /* TODO: sprite */
    background-repeat: no-repeat;
    padding-right: 18px;
    background-position: -100% 50%;
}
a.link-project:hover{
    background-position: 100% 50%;
}
tr.self-nomination td{
    opacity: 0.4;
}

#categories-list{
    color: #333;
    margin: 1em 0;
}
div.category{
    width: 31%;
    margin: 1em 1%;
    padding: 0.5em 1em 0;
    height: 16em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    float: left;
    overflow: auto;
}
div.category h1{
    font-size: 150%;
    border-bottom: solid 2px #DDD;
    position: relative;
}
div.category ul{
    list-style: none;
    margin: 0.5em 0;
}
div.category ul li{
    padding: 0.2em 0.5em;
    font-weight: bolder;
}
div.category ul li a{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis ;
}
span.no-nominations{
    display: inline-block;
    position: relative;
    top: 4em;
    left: 0;
}

/*** winners ***/
#winners{
    position: relative;
}
li.clearfix{
    width: 0;
    height: 0;
    clear: both;
}
#winners-title{
    text-align: center;
}
#winners-title span{
    font-size: 150%;
    padding: 0 ;
}
#winners-title span.trophy{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/trophy-icons.png) no-repeat -80px -32px;
    margin: 0 1em;
}

#dates-sidebar{
    width: 10em;
    min-height: 100px;
    border-left: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    position: absolute;
    top: -1em;
    right: -1em;
    padding: 1em 1em 1em 0.5em;
    background: #EEE;
}
#dates-sidebar h2{
    font-size: 90%;
    margin-bottom: 0.5em;
    margin-top: 0;
}
#dates-sidebar li{
    margin-left: 1.5em;
    font-weight: bolder;
}

#results{
    margin-right: 9em;
}

#winners div.category{
    width: 95%;
    margin: 1em auto;
    float: none;
    height: auto;
    overflow: auto;
}
#winners div.category h1{
    color: #333;
    text-transform: uppercase;
    font-size: 110%;
}

ul.winners-list {
    margin-bottom: 1em;
}

ul.winners-list li.trophy-container{
    float: left;
    width: 31%;
    margin: 0 1%;
    box-sizing: border-box;
    text-align: center;
    color: #333;
}
ul.winners-list li.trophy-container em{
    background: url(../images/trophy-icons.png) no-repeat -100px 0;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0.5em auto;
}
ul.winners-list li.trophy-container.first em{
    background-position: 0 -100px;
}
ul.winners-list li.trophy-container.second em{
    background-position: -100px -100px;
}
ul.winners-list li.trophy-container .votes{
    font-style: italic;
    font-size: 80%;
}
ul.winners-list li.trophy-container li{
    border-top: solid 1px #EEE;
}
ul.winners-list li.trophy-container a.topic-url{
    font-size: 121%;
}