a.active{
    font-weight: bold;
    color: #DD6900;
}

#id_url, #id_name{
    width: 30em;
}
#latest-nominations table{
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
}
#table-header{
    background-color: #EEE;
    background: -moz-linear-gradient(top, #C7D0D7 0%, #6F8698 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C7D0D7), color-stop(100%,#6F8698));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C7D0D7', endColorstr='#C7D0D7', GradientType=0 );
    zoom: 1;
    background-image: -o-linear-gradient(top, #C7D0D7 0%, #6F8698 100%);
    background: linear-gradient(#C7D0D7 0%, #6F8698 100%);
    color: #EEE;
    text-shadow: 0px 1px #444;
}
#latest-nominations tr > *{
    padding: 0.4em;
    text-align: center;
}
#latest-nominations tr > td{
    border-bottom: solid 1px #CCC;
    border-top: solid 1px #CCC;
}
#latest-nominations th:first-child{
    border-top-left-radius: 6px;
}
#latest-nominations th:last-child{
    border-top-right-radius: 6px;
}
#builds #latest-nominations th{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#latest-nominations .title{
    font-weight: bold;
    width: 40%;
    text-align: left;
}
td.topic-url, td.brand{
    width: 20%;
    font-weight: bold;
}
td.brand{color: #333;}
.light{ background-color: #EEE;}
.dark { background-color: #DDD;}
a.link-project{
    background-image: url(../images/icons/permalink.gif); /* TODO: sprite */
    background-repeat: no-repeat;
    padding-right: 18px;
    background-position: -100% 50%;
}
a.link-project:hover{
    background-position: 100% 50%;
}
tr.self-nomination td{
    opacity: 0.4;
}

#categories-list{
    color: #333;
    margin: 1em 0;
}
div.category{
    width: 31%;
    margin: 1em 1%;
    padding: 0.5em 1em 0;
    height: 16em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    float: left;
    overflow: auto;
}
div.category h1{
    font-size: 150%;
    border-bottom: solid 2px #DDD;
    position: relative;
}
div.category ul{
    list-style: none;
    margin: 0.5em 0;
}
div.category ul li{
    padding: 0.2em 0.5em;
    font-weight: bolder;
}
div.category ul li a{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis ;
}
span.no-nominations{
    display: inline-block;
    position: relative;
    top: 4em;
    left: 0;
}

/*** winners ***/
#winners{
    position: relative;
}
li.clearfix{
    width: 0;
    height: 0;
    clear: both;
}
#winners-title{
    text-align: center;
}
#winners-title span{
    font-size: 150%;
    padding: 0 ;
}
#winners-title span.trophy{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/trophy-icons.png) no-repeat -80px -32px;
    margin: 0 1em;
}

#dates-sidebar{
    width: 10em;
    min-height: 100px;
    border-left: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    position: absolute;
    top: -1em;
    right: -1em;
    padding: 1em 1em 1em 0.5em;
    background: #EEE;
}
#dates-sidebar h2{
    font-size: 90%;
    margin-bottom: 0.5em;
    margin-top: 0;
}
#dates-sidebar li{
    margin-left: 1.5em;
    font-weight: bolder;
}

#results{
    margin-right: 9em;
}

#winners div.category, #voting div.category{
    width: 95%;
    margin: 1em auto;
    float: none;
    height: auto;
    overflow: auto;
}
#winners div.category h1, #voting div.category h1{
    color: #333;
    text-transform: uppercase;
    font-size: 110%;
}

ul.winners-list {
    margin-bottom: 1em;
}

ul.winners-list li.trophy-container{
    float: left;
    width: 31%;
    margin: 0 1%;
    box-sizing: border-box;
    text-align: center;
    color: #333;
}
ul.winners-list li.trophy-container em{
    background: url(../images/trophy-icons.png) no-repeat -100px 0;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0.5em auto;
}
ul.winners-list li.trophy-container.first em{
    background-position: 0 -100px;
}
ul.winners-list li.trophy-container.second em{
    background-position: -100px -100px;
}
ul.winners-list li.trophy-container .votes{
    font-style: italic;
    font-size: 80%;
}
ul.winners-list li.trophy-container li{
    border-top: solid 1px #EEE;
}
ul.winners-list li.trophy-container a.topic-url{
    font-size: 121%;
}
/*** voting ***/
.vote-blocks .vote{
    width: 31%;
    margin: 1em 1%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border: dashed 2px #999;
    position: relative;
}
.vote-blocks .vote > span{
    font-size: 5em;
    line-height: 1.5em;
    color: #999;
    opacity: 0.5;
}
.vote-blocks .vote:last-child:after{
    clear: both;
}
.vote-blocks .vote a.reset{
    background: url('../images/awards-iconset.png') no-repeat center center;
    background-position: -24px 0;
    display: block;
    width: 24px;
    height: 24px;
    margin: 2px 6px;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.8;
}
.vote-blocks .vote a.reset:hover{
    background-position: 0 0;
    opacity: 1;
}
ul.projects-list li.project,
ul.vote-accept li.project{
    text-align: center;
    background-color: #427C99;
    background: -moz-linear-gradient(top, #427C99 0%, #9EC2D5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#427C99), color-stop(100%,#9EC2D5));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#427C99', endColorstr='#9EC2D5',GradientType=0 );
    background: linear-gradient(#427C99, #9EC2D5);
    zoom: 1;

    margin: 0.5em 1%;
    border-radius: 0.5em;
    opacity: 0.8;

    box-sizing: border-box;
    border: solid 1px #333;
}
ul.projects-list li.project{
    width: 48%;
    float: left;
}
.voteable:hover{
    background: url(../images/draggable.png) no-repeat center left;
    cursor: move;
}

ul.projects-list li.project a,
ul.vote-accept li.project a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1em;
    min-width: 50%;
    max-width: 90%;
}

ul.projects-list li.project p.author,
ul.vote-accept li.project p.author{
    color: #333;
    font-size: 0.9em;
}

ul.projects-list li.project.ui-draggable-dragging{
    border-color: #DD6900;
    width: 30%;
}
ul.projects-list li.project.ui-draggable-dragging{
    border-width: 2px;
}
.vote-blocks .vote.highlight-border{
    border-color: #DD6900;
}
ul.vote-accept{
    position: absolute;
    left: 0;
    top: 0;
    width: 98%;
}
ul.vote-accept li.project.dropped{
    border-color: #DD6900;
    width: 100%;
}
div.submit{
    margin: 1em;
    padding-top: 1em;
}
div.vote ul.errors{
    position: absolute;
    top: 0;
    left: 0;
}