{% load i18n static %}
{% templatetag openvariable %}#each photos{% templatetag closevariable %}
<div class="col-sm-6 col-md-3">
    <input type="checkbox" name="build-photo-{% templatetag openvariable %}id{% templatetag closevariable %}" id="id_build-photo-{% templatetag openvariable %}id{% templatetag closevariable %}" data-id="{% templatetag openvariable %}id{% templatetag closevariable %}">
    <label for="id_build-photo-{% templatetag openvariable %}id{% templatetag closevariable %}">
        <figure class="thumbnail album-photo">
            <img src="{% templatetag openvariable %}image.thumb{% templatetag closevariable %}" alt="{% templatetag openvariable %}description{% templatetag closevariable %}" data-large="{% templatetag openvariable %}image.large{% templatetag closevariable %}">
        </figure>
    </label>
    <i class="fa fa-check fa-3x"></i>
</div>
{% templatetag openvariable %}/each{% templatetag closevariable %}
