@use "../../modules/responsive";

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 20px;

  @include responsive.lte-mobile {
    grid-template-colums: 1fr;
  }
}
