.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1em;
  row-gap: 1em;

  &#{&}--scroll {
    overflow: auto;
  }

  &#{&}--rows-2 {
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
  }

  &__card {
    padding: 1em 0;
  }

  &__card-title {
    display: block;
    color: $main-orange;
  }

  &__card-link {
    color: $main-orange;

    &:hover {
      color: $main-orange;
    }
  }

  &__item-link {
    display: block;
    color: $main-orange;
    padding: 0.2em 0;

    & + & {
      border-top: solid 1px $default-border-color;
    }
  }

  @include gt-mobile {
    grid-template-columns: 1fr 1fr 1fr;

    &#{&}--rows-2 {
      grid-auto-flow: row;
      grid-template-rows: auto;
    }

    &__card {
      padding: 1em;
    }

    &__card-title {
      border-bottom: solid 2px $light-grey;
    }

    &__item-link {
      & + & {
        border-top: none;
      }
    }
  }
}
