@use "../modules/bem";
@use "../modules/responsive";

.key-value {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;

  @include responsive.lte-mobile {
    justify-content: flex-start;
    gap: 2rem;
  }

  @include bem.modifier(inline) {
    gap: 0;

    @include bem.element("label") {
      &:after {
        content: ":";
        padding-right: 0.2rem;
      }
    }

    &:not(:last-child) {
      &:after {
        content: "|";
        padding-left: 0.5rem;
        color: var(--mb-color-main-grey);
      }
    }
  }

  @include bem.element("label") {
    color: var(--mb-color-main-grey);
  }

  @include bem.element("text") {
    font-weight: 900;
  }
}
