.message {
  display: block;
  padding: 1em;
  border: solid 1px $default-border-color;
  border-radius: 4px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  > .fa {
    margin-right: 0.5em;
  }

  &--info {
    background-color: #cde4ff;
  }
}
