@use "../../modules/bem";
@use "../../modules/responsive";

.order-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "status customer"
    "products customer"
    "buttonrow customer";
  gap: 10px;

  address {
    margin: 0;
  }

  @include bem.element("status") {
    grid-area: status;
  }

  @include bem.element("products") {
    grid-area: products;
  }

  @include bem.element("customer") {
    grid-area: customer;
    display: flex;
    flex-direction: column;
  }

  @include bem.element("form") {
    .form-group {
      display: flex;
      gap: 10px;
      align-items: center;

      label {
        margin-bottom: 0;
      }
    }

    .form-control {
      width: auto;
    }
  }

  @include bem.element("button-row") {
    grid-area: buttonrow;
    box-shadow: 0 2px 8px 0 rgba(186, 198, 208, 0.5),
      0 2px 8px 0 rgba(0, 157, 255, 0.05);
    background-color: white;
    padding-block: 10px;
    padding-inline: 10px;
    position: sticky;
    bottom: 0;
  }
}

@include responsive.lte-mobile {
  .order-detail {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "status"
      "products"
      "customer"
      "buttonrow";
  }
}

@include responsive.gte-tablet {
  .order-detail {
    @include bem.element("status") {
      box-shadow: 0 2px 8px 0 rgba(186, 198, 208, 0.5),
        0 2px 8px 0 rgba(0, 157, 255, 0.05);
      padding-inline-start: 10px;
      padding-inline-end: 10px;
    }

    @include bem.element("customer") {
      align-self: start;
      position: sticky;
      top: 20px;
      box-shadow: 0 2px 8px 0 rgba(186, 198, 208, 0.5),
        0 2px 8px 0 rgba(0, 157, 255, 0.05);
      padding-inline-start: 10px;
      padding-inline-end: 10px;
    }
  }
}
