@use "../../modules/bem";
@use "../../modules/responsive";

.order-summary {
  display: block;
  padding: 1em;
  border: solid 1px #e6e6e6;

  &:not(:last-child) {
    margin-block-end: 20px;
  }

  @include bem.element("details") {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    border-bottom: solid 2px #999;
    padding-block-end: 0.5em;
    margin-block-end: 0.5em;
  }

  @include bem.element("reference") {
    font-weight: 700;
  }

  @include bem.element("status-row") {
    padding: 0.5em;
    background: #ededed;
    margin-block-end: 0.5em;
  }

  @include bem.element("status-title") {
    display: block;
    font-weight: 900;

    &:not(:first-child) {
      margin-block-start: 1em;
    }
  }

  @include bem.element("status-row-header") {
    display: block;
    border-bottom: solid 1px #e6e6e6;
    margin-block-end: 0.5em;
  }

  @include gt-mobile {
    @include bem.element("status-row-header") {
      display: none;
    }
  }
}

@mixin kv-grid-column($area) {
  @include bem.element($area) {
    grid-area: $area;
    display: block;
    padding-inline: 1em;

    &.key-value .key-value__label {
      display: none;
    }
  }
}

@include responsive.gte-tablet {
  .order-summary {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0 1em;
    grid-template-areas:
      "details created modified price"
      "statuses statuses statuses statuses";
    align-items: start;
    padding-inline: 0;
    padding-block: 1em 0;
    border-block-end: dotted 1px $main-grey;

    &:not(:last-child) {
      margin-block-end: 0;
    }

    &:not(:first-child) {
      border-block-start: none;
    }

    @include bem.element("details") {
      grid-area: details;
      border-block: none;
      margin-block: 0;
      padding-block: 0 1em;
      padding-inline: 1em;
      justify-content: flex-start;
      font-size: 1.2em;
    }

    @include kv-grid-column(created);
    @include kv-grid-column(modified);
    @include kv-grid-column(price);

    @include bem.element("status-row") {
      grid-area: statuses;
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      gap: 0 2em;
      margin-block-end: 0;
      padding-inline: 1em;
    }

    @include bem.element("status-title") {
      display: flex;
      font-weight: 400;

      &:not(:first-child) {
        margin-block-start: 0;
      }
    }
  }
}
