@use '../../modules/bem';
@use '../../modules/responsive';

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1em;
  border: solid 1px #e6e6e6;

  &:hover {
    box-shadow:
      0 2px 8px 0 rgba(186, 198, 208, 0.5),
      0 2px 8px 0 rgba(0, 157, 255, 0.05);
    background-color: rgba($main-blue, 0.05);
  }

  @include bem.modifier('new') {
    @include bem.element('reference') {
      display: flex;
      justify-content: flex-start;
      gap: 4px;
      align-items: center;
      margin-inline-start: -10px;

      &:before {
        content: '';
        background-color: $main-pink;
        display: block;
        border-radius: 50%;
        block-size: 6px;
        inline-size: 6px;
      }
    }
  }

  @include bem.element('heading') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include bem.element('reference') {
    font-weight: 700;
    margin-block: 0;
  }

  @include bem.element('price') {
    font-size: 1.1em;
    font-weight: 700;
    background-color: $light-grey;
    color: $main-grey;
    display: block;
    padding-inline: 6px;
    padding-block: 4px;
    border-radius: 10px 3px;
  }

  @include bem.element('name') {
    font-weight: 700;
    font-size: 1.1em;
  }
}

@include responsive.gte-tablet {
  .order-summary {
    @include bem.element('metadata') {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .key-value {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
