{% verbatim %}
<script type="text/x-handlebars" data-template-name="albums-list">
    <div class="dropdown">
        <select id="id_album">
            {{each album in albums}}
                <option value="{{album.id}}">{{album.title}}</option>
            {{/each}}
        </select>
    </div>
    
    <ul class="photos">
    </ul>
</script>
{% endverbatim %}