{% load handlebars %}
{% verbatim %}
<div class="dropdown">
    {{!-- <select id="id_album">
        {{each albums}}
            <option value="{{album.id}}">{{album.title}}</option>
        {{/each}}
    </select> --}}
</div>

<ul class="photos">
</ul>
{% endverbatim %}