<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en">
<head>
	<title>{% block title %}Modelbrouwers.nl externe applicatie - Brouwersawards{% endblock %}</title>
	<link rel="stylesheet" type="text/css" 
href="/media/css/stylesheet.css" charset="utf-8"/>
</head>

<body>

	<div id="container">
	
		<div id="header">
			<a href="/awards/"><img id="logo" 
src="/media/logo.png" alt="logo"/></a> <img id="logo2" src="/media/awards.png" alt="Awards" />
		</div>
		<div id="main">
			<div id="sidebar">
			{% block sidebar %}
				<div class="side_header">
					<h1><a href="/awards/categories/">Categorieën</a></h1>
					<div>
						<div class="side_header">
						<h1><a href="/awards/nomination/">Nominaties</a></h1>
							<div>
								<div class="side_header">
									<h1><a href="/awards/vote/">Stemmen</a>
									</h1>
								</div>
							</div>
						</div>
					</div>
					<div class="side_header">
					{% if user.is_authenticated %} 
						Welkom, <b>{{user.username}}</b>(<a class="url_oranje" href="/awards/logout/">Uitloggen</a>)
						{% if user.is_staff %}
						<div class="side_header">
						<a class="url_oranje" href="/admin/">Admin</a>
						</div>
						{% endif %}
					{% else %} 
						<h3><a href="/awards/login/">Inloggen</a></h3>
					{% endif %}
					{% if not user.is_authenticated %} 
						<div class="side_header">
							<h3><a href="/awards/register/">Registreren</a></h3>
						</div>
					{% endif %}
					</div>
				</div>
			{% endblock %}
			</div>	
		
			<div id="content">
		{% block content %}
		
			Dit is de indexpagina. Gebruik het menu aan de linkerzijde om categorieën te bekijken, nominaties toe te voegen en om te stemmen (pas mogelijk vanaf januari 2011).
			<br />
			<br />
			<hr />
			<br />
				<div id="algemene_info">
				<strong>Wat zijn de brouwersawards?</strong>
				<br />
				<p>De brouwersawards zijn te vergelijken met het principe van film- en/of muziekawards, maar dan met modelbouwprojecten. Het is puur voor de eer bedoeld, en geeft hopelijk net een tikkeltje meer motivatie om het ultieme model af te werken.</p>
				<br />
				<strong>Hoe gaat het in z'n werk?</strong>
				<br />
				<p>Aan de linkerzijde zie je de drie delen van het hele awardsgebeuren. De categorieën waarin een project geplaatst kan worden, worden bepaald. Enkel site-admins kunnen categorieën wijzigen, toevoegen of verwijderen. Standaard zijn de categorieën de verschillende forumdelen, er is echter uitbreiding mogelijk en daarvoor zullen later suggesties kunnen ingediend worden.</p>
				<br />
				<p>Vervolgens heb je een volledig jaar de tijd om modellen te nomineren binnen een bepaalde categorie. Als je een indrukwekkend, leuk of gewoon supermooi project ziet op het forum, en je vindt dat de brouwer eeuwige roem verdient daarvoor, dan kan je in luttele seconen het project nomineren binnen de juiste categorie. Dit kan op ieder moment van de dag, week, maand of jaar. Er wordt automatisch bijgehouden wat de nominatiedatum is, zodat het project bij de juiste editie van de BrouwersAwards gevoegd wordt. Let op! Je mag enkel projecten nomineren die afgewerkt zijn, en dat binnen het juiste (huidige) jaar! Projecten van 2009 kunnen in 2010 helaas niet meer meedoen.</p>
				<br />
				<p>En dan... het deel waar het om draait: stemmen! Vanaf 1 januari 2011 kan je geen projecten meer nomineren voor 2010 en gaat de stemming open. Zoals je merkt, kan je nu niet stemmen en krijg je een melding dat je 'voor dit jaar al gestemd hebt'. Dit is een standaardmededeling op basis van een configuratieveld in je gebruikersaccount. Vanaf 2011 klopt dit gewoon allemaal zoals het hoort.</p>
				<br />
				<strong>En verder...?</strong>
				<p>Verder zal deze website uitgebreid worden met specifieke awardsfunctionaliteit, zoals extra controles, extra functies en sterkere uitbouw in het algemeen. Het was de bedoeling om nog op projecten van 2010 te kunnen stemmen, en zoals je ziet is het gelukt om de 1.0 versie online te krijgen. Verdere plannen zijn ook uitbouw van andere applicaties, maar dat zien jullie wel verschijnen ter zijner tijd.
				<br />
				<br />
				<hr />
				<br />
				Updates in werking sinds 9 november 2010:
				<br />
				<br />
				<ul id="updates">
				<li>Afhandelen van foutmeldingen bij een registratieprobleem: geen 'Internal server' errorpagina's meer.</li>
				<li>Automatische controle of de link naar het verslag naar een forumtopic op Modelbrouwers.nl wijst.</li>
				<li>Overzicht van alle nominaties per categorie toegevoegd.</li>
				<li>Na registratie ben je meteen ingelogd.</li>
				<li>Enkel rechthebbenden op deze website kunnen categorieën wijzigen/toevoegen/verwijderen.</li>
				</ul>
				<br />
				<br />
				<hr />
				<br />
				Updates in werking sinds 10 november 2010:
				<br />
				<br />
				<ul id="updates">
				<li>Een automatische check bij een nominatie gaat na of een project al eerder genomineerd is.</li>
				<li>Categorie "Overige" toegevoegd, aangezien we een project uit die categorie hebben.</li>
				</ul>
				</p>
				</div>
			{% if message %}
			<br />
			<br />
			<strong>{{message}}</strong>
			{% endif %}
			{% if status %}
			<br />
			<br />
			<strong>{{status}}</strong>
			{% endif %}
		{% endblock %}
			</div>
		</div>
	</div>

	<div id="footer">
		<span class="foot_1>">Modelbrouwers Awards v1.0.3 - <a href="/media/privacy.html" target="_blank">Privacyverklaring</a><br />&copy; 2010 Sergei Maertens en Modelbrouwers.nl</span>
	</div>
</body>
</html>
