{% extends "awards/base.html" %}

{% block title %}
BrouwersAwards - Categorieën
{% endblock %}

{% block content %}
<h1>Bestaande categorieën</h1>
<hr />
<br />
<p>Klik op de categorietitel voor een overzicht van de nominaties binnen die categorie. Een overzicht van ALLE nominaties vind je <a class="link" href="/awards/vote/overview">hier</a>.</p>
<br />
<br />
{% for category in categories%}
<h2><a href="/awards/categories/{{category.id}}/">{{category.name}}</a></h2>
{% endfor %}
<br />
<br />
<br />
{% if allowed %}
<form action="." method="POST">
Categorie:&nbsp;&nbsp;{{ form.name}}
<input type = "submit" value="Voeg categorie toe"/>
</form>
{% endif %}
<p id="status"><br />{{ status }}</p>
<br />
<br />
<br />

{% endblock %}
