{% extends "awards/base.html" %}

{% block title %}
Nominaties in de categorie {{ category.name }}
{% endblock %}

{% block content %}
<h1>Nominaties in de categorie "{{ category.name }}"</h1>
<hr />
<br />
<br />
<p>Klik op de titel van het project om het brouwverslag te bekijken.</p>
<br />
<br />
{% if projects %}
	{% for project in projects %}
	<p>{#<b>Project:</b>&nbsp;#}<a class="project_link" href="{{project.url}}" target="_blank">{{project.name}}</a> gebouwd door <i>{{project.brouwer}}</i></p>
	<br />
	{% endfor %}
{% else %}
<p>Er is nog niets genomineerd in deze categorie!</p>
{% endif %}
{% endblock %}
