{% extends "awards/base.html" %}

{% block title %}
BrouwersAwards
{% endblock %}

{% block content %}
<div class="title">Categorieën</div>
{% for category in categories %}
	<div class="category">
		<div class="subtitle"><a href="/awards/categories/{{category.id}}/">{{category.name}}</a></div>
		<p>Laatste {{category.latest.count}} nominaties:</p>
		<ul class="latest_nominations">
		{% for nomination in category.latest %}
			<li><a href="nomination.url" target="_blank">{{nomination.name}}</a></li>
		{% endfor %}
		{% if category.latest.count != 0 %}
			<li><a class="overview" href="/awards/categories/{{category.id}}/">meer</a>...
		{% endif %}
		</ul>
	</div>
{% endfor %}
{% endblock %}
