{% extends "awards/base.html" %}

{% block title %}
Modelbrouwers.nl externe applicatie - Brouwersawards - Stemmen
{% endblock %}

{% block content %}
<h1>Stemmen Awards {{year}}</h1>
<hr />
<br/>
<p>Op deze pagina kan je je stem uitbrengen. Het is niet verplicht om bij elke categorie te stemmen. De projectnamen zijn links naar het brouwverslag.</p>
<br/>
<p style="font-size: 80%;">Bij waarschuwingsbordjes: laat je muis eens even op de afbeelding staan en kijk wat er gebeurt...</p>
<br/>
<br/>
<form action="." method="POST">
{% if not voted %}
{% for category, projects in data.items %}
{% if category and projects %}
	<div class="category">
	<h2>{{category.name}}</h2>
	<hr />
	<br />
		<div class="list_category">
			{% for project in projects %}
				<input type="radio" name="{{category}}" id="{{project.id}}" value="{{project.id}}"/>&nbsp;
				<label for="{{project.id}}">
				<a class="link" href="{{project.url}}" target="_blank">{{project.name}}</a> gebouwd door <i>{{project.brouwer}}</i>
{% if project.brouwer|lower == project.nominator.forum_nickname|lower %}<img src="{{STATIC_URL}}images/warning.png" height="18" width="21" title="Deze persoon nomineerde zijn/haar eigen project!"/>{% endif %}</label>
				<br />
				<br />
			{% endfor %}
			<input type="radio" name="{{category}}" value="No vote" checked/>&nbsp;--- lege stem ---
		</div>
	<br />
	</div>
{% else %}
<input type="radio" name="{{category}}" value="No vote" style="display:none" checked/>
{% endif %}
{% endfor %}
<br />
<br />
<p class="submit"><input type="submit" value="Stem uitbrengen"/></p>
</form>
{% endif %}
{% endblock content%}
