{% extends "awards/base.html" %}

{% block title %}
Brouwersawards - Stemmentussenstand
{% endblock %}

{% block content %}
<h1>Tussenstand Awards {{year}}</h1>
<hr />
<br/>
<p>Op deze pagina zie je hoe de top 5 in elke categorie er momenteel uitziet.</p>
<br/>
<p><span class="big">{{voters}}</span> mensen hebben al gestemd!</p>
<br />
<br/>
<table id="vote_scores">
{% for dict in data %}
	<tr class="category"><td colspan="3"><h2>{{dict.category.name}}</h2><hr /><br />Aantal stemmen in deze categorie: {{dict.total}}<br /><br /></td></tr>
	<tr><th>Project</th><th>Brouwer</th><th colspan="2">Stemmen</th></tr>
		{% for project in dict.projects %}
		<tr class="content light"><td><a class="link project" href="{{project.url}}" target="_blank">{{project.name}}</a></td><td class="builder">{{project.brouwer}}</td><td class="votes"><img src="/media/images/poll_left.gif" height="12" width="4"/><img src="/media/images/poll_center.gif" height="12" width="{% widthratio project.votes dict.total 100 %}"/><img src="/media/images/poll_right.gif" height="12" width="4"/></td><td class="votes_num">{% widthratio project.votes dict.total 100 %}%&nbsp;[{{project.votes}}]</td></tr>
		{% endfor %}
		<tr><td colspan="3"><br /><br /></td></tr>
{% endfor %}
</table>
<br />
<br />
{% endblock content%}
