{% extends "awards/base.html" %}

{% block title %}
Modelbrouwers.nl externe applicatie - Brouwersawards - Stemmen
{% endblock %}

{% block content %}
<h1>Stemmen Awards {{year}}</h1>
<hr />
<br/>
<p>Op deze pagina kan je je stem uitbrengen. Het is niet verplicht om bij elke categorie te stemmen. De projectnamen zijn links naar het brouwverslag.</p>
<br/>
<p style="font-size: 80%;">Bij waarschuwingsbordjes: laat je muis eens even op de afbeelding staan en kijk wat er gebeurt...</p>
<br/>
<br/>
<form action="." method="POST">
{% csrf_token %}
{% if not voted %}
{% for category, projects in data.items %}
{% if category and projects %}
	<div class="category">
	<h2>{{category.name}}</h2>
	<hr />
	<br />
		<div class="list_category">
			{% for project in projects %}
				<input type="radio" name="{{category}}" id="{{project.id}}" value="{{project.id}}"/>&nbsp;
				<label for="{{project.id}}">{% include "awards/project.html" %}</label>
				<br />
				<br />
			{% endfor %}
			<input type="radio" name="{{category}}" value="No vote" style="display:none" checked/>
		</div>
	<br />
	</div>
{% else %}
<input type="radio" name="{{category}}" value="No vote" style="display:none" checked/>
{% endif %}
{% endfor %}
<br />
<br />
<p class="submit"><input type="submit" value="Stem"/></p>
</form>
{% else %}
	<div>
	{% if status %}
		<p><strong>{{status}}</strong></p>
		<br />
		<p>Een tussenstand vind je <a class="link" href="./scores/">hier</a>, een voorbeeld van wat stembaar zal zijn voor de editie van {{year|add:1}} staat <a class="link" href="/awards/vote/overview">hier</a>.</p>
	{% else %}
		Bedankt voor je stem!
	{% endif %}
	</div>
{% endif %}
{% endblock content%}
