{% extends "awards/base.html" %}

{% block title %}
Brouwersawards - Stemmen
{% endblock %}

{% block content %}
<h1>Stemmen Awards {{year}}</h1>
<hr />
<br/>
<p>Dit is een overzichtspagina van alles dat stembaar is. Beschouw het als een soort tussenstandspagina voor alle nominaties.</p>
<p style="font-size: 80%;">Bij waarschuwingsbordjes: laat je muis eens even op de afbeelding staan en kijk wat er gebeurt...</p>
<br/>
<br/>
{% for category, projects in data.items %}
{% if category and projects %}
	<div class="category">
	<h2>{{category.name}}</h2>
	<hr />
	<br />
		<div class="list_category">
			{% for project in projects %}
				{% include "awards/project.html" %}
			{% endfor %}
		</div>
	<br />
	</div>
{% else %}
	<div class="category">
	<h2>{{category.name}}</h2>
	<hr />
	<br />
		<div class="list_category">
			<p>Er zijn geen projecten gevonden.</p>
		</div>
	<br />
	</div>
{% endif %}
{% endfor %}
<br />
<br />
{% endblock content%}
