{% extends "awards/base.html" %}

{% block content %}
<form action="." method="GET" id="yearform">
	{{form.year}}
	<input type="submit" value="Bekijk jaar" id="submit_year" />
	{% for error in form.year.errors %}
		<p class="error"><strong>{{error}}</strong></p>
	{% endfor %}
</form>
<div class="title">Winaars editie {{year}}</div>
{% for dict in data %}
	<div class="top_three">
		<div class="subtitle">{{dict.category}}</div>
		<div class="winners">
		{% for project in dict.top_three %}
			<div class="pos_{{forloop.counter}}">
				<span class="brouwer">{{project.brouwer}}</span>
				<br />
				<a href="{{project.url}}" target="_blank">{{project.name}}</a>
			</div>
		{% endfor %}
		</div>
	</div>
{% empty %}
Er zijn geen resultaten voor dit jaar.
{% endfor %}
{% endblock %}
