{% extends "builds/base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrastyle %}
    <style type="text/css">
        div#content{padding: 1em 0 0 0;min-height:300px;}
        div.tab {margin-left: 0;margin-right: 0;}
    </style>
{% endblock extrastyle %}

{% block extrascript %}
    <script type="text/javascript">
        var photo_row = '{{ photos_formset.empty_form|escapejs }}';
    </script>
{% endblock extrascript %}


{% block content %}
<div class="tab">
    {% if user.is_authenticated %}
        <div class="column left-column">
            {% block header %}
                {% trans "Add a build report" %}
            {% endblock header %}
        </div>
        <div class="column right-column">
            {% trans "Last 20 builds" %}
        </div>
        <div class="clear"></div>
    {% else %}
        <div id="search-box-wrapper">
            <form action="./#builds-overview" method="get" id="search-builds">
                {% include "search_form.html" %}
            </form>
        </div>
        <div style="padding-top:3px;">
            {% trans "Last 20 builds" %}
        </div>
        <div class="clear"></div>
    {% endif %}
</div>

<div id="builds">
    {% if user.is_authenticated %}
        <div class="column-container container-right">
            <div class="column-container container-left">
                
                <div class="column left-column content">
                    <div>
                        {% block info %}
                            <p class="info margin">
                                {% trans "Use this page to link your projects to your profile. Caution, everything you enter here is public for all visitors!" %}
                            </p>
                        {% endblock info %}

                        <form action="{{ request.path }}" method="post">
                            {% include "form_in_table.html" %}
                            {% include "builds/photos_formset.html" %}
                            <div class="center">
                                <input type="submit" value="{% trans 'Save' %}" name="add_build" class="uploadify-button" />
                            </div>
                        </form>
                    </div>
                </div>

                <!-- right block, show form to add a build -->
                <div class="column right-column content">
                    <div id="builds-list-overview">
                        <form action="./#builds-overview" method="get" id="search-builds">
                            {% include "search_form.html" %}
                        </form>
                        {% include "builds/builds_list.html" %}
                    </div>

                    <div id="album-photos">
                        <div class="center" id="div-loading">
                            <img src="{% static "images/loading_big.gif" %}" alt="{% trans "loading" %}" width="32" height="32" />
                        </div>
                        <div id="photos-list"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    {% else %}
        <div style="padding:1em;">
            <p class="info">{% trans "Sign in to add your own build reports!" %}</p>
            {% include "builds/builds_list.html" %}
        </div>
    {% endif %}
</div>
{% endblock %}
