{% load i18n %}

{% if photos_formset %}
    <hr />
    <br />
    <div class="subtab">
        <div id="radio">
            {% trans "Build photos" %}<!--:-->
            <input type="radio" name="input-method" id="add-albumphoto" />
            <label for="add-albumphoto">{% trans "From albums" %}</label>
            <input type="radio" name="input-method" id="add-urlphoto" />
            <label for="add-urlphoto">{% trans "URL" %}</label>
        </div>
    </div>

    <div id="photos-dropzone"></div>

    {{ photos_formset.management_form }}

    <ul id="photos-formset">

        {% for form in photos_formset %}

            <li class="photo-form" data-used="false">

                <div class="preview"></div>

                <fieldset>
                    <p>
                        {{ form.id }}
                        {% if form.DELETE %}
                            <span class="delete checkbox" title="{% trans "Check to delete photo" %}">
                                {{ form.DELETE }}
                            </span>
                        {% endif %}

                        {% if form.photo.errors %}
                            <span class="errored">{{ form.photo }}</span>
                        {% else %}
                            {{ form.photo }}
                        {% endif %}

                        {% if form.photo_url.errors %}
                            <span class="errored">{{ form.photo_url }}</span>
                        {% else %}
                            {{ form.photo_url }}
                        {% endif %}
                    </p>
                    {{ form.non_field_errors }}
                    {{ form.photo.errors }}
                    {{ form.photo_url.errors }}
                </fieldset>

            </li>

        {% endfor %}

    </ul>

{% endif %}