{% load i18n %}

{% if photos_formset %}
    <hr />
    <br />
    <div class="subtab">
        {% trans "Add photos" %}:
        <button type="button" id="add-albumphoto">{% trans "From albums" %}</button>
        <button type="button" id="add-urlphoto">{% trans "URL" %}</button>
    </div>
    
    <div id="photos-dropzone"></div>
    
    {{ photos_formset.management_form }}

    <ul id="photos-formset">
        
        {% for form in photos_formset %}
            
            <li class="photo-form">
                
                <div class="preview"></div>

                <fieldset>
                    {{ form.photo }}
                    {{ form.order }}
                    {{ form.photo_url }}
                </fieldset>
                            
            </li>
        
        {% endfor %}

    </ul>

{% endif %}