{% extends "base.html" %}
{% block data-page %}data-page="kitreviews"{% endblock %}
{% load i18n sniplates staticfiles %}


{% block title %} {% trans "Kit Reviews" %}{% endblock %}


{% block body-class %}{{ block.super }} kitreviews{% endblock body-class %}


{% block eye-catcher %}
    <header class="container-fluid eye-catcher">
        <div class="container">
            {% block eye-catcher-content %}
                <h1>
                    {% trans "Kit Reviews" %}
                    <i class="pull-right fa fa-file-text-o fa-2x"></i>
                </h1>

                <p>{% blocktrans trimmed %}
                Use the kit reviews to check if the kit you have your eye on is
                worth it! And, anyone can leave reviews for a kit, so don't
                forget to contribute back.
                {% endblocktrans %}</p>
            {% endblock %}

            {% block menu %}
                <a href="{% url 'kitreviews:index' %}" class="btn bg-main-blue">
                    {% trans "Home" %}
                </a>
                {% if kit %}
                    {% url 'kitreviews:review-add' slug=kit.slug as add_url %}
                {% else %}
                    {% url 'kitreviews:add_review' as add_url %}
                {% endif %}
                <a href="{{ add_url }}" class="btn bg-main-orange">
                    <i class="fa fa-plus"></i> {% trans "Add review" %}
                </a>
            {% endblock %}
        </div>
    </header>
{% endblock %}
