{% extends "kitreviews/base.html" %}
{% load i18n sniplates staticfiles thumbnail %}

{% block content %}
    <h3>{% trans 'Find model kit(s) &dash; Enter your search parameters' %}</h3>

    <form action="." method="get">
        {{ form.non_field_errors }}

        {% include "kitreviews/find_kit_form.html" %}

        <div class="center">
            <input type="submit" value="{% trans 'Find kits' %}" class="btn btn-primary"/>
        </div>
    </form>

    {% if form.data %}
    <h3>{% blocktrans with num_results=kits.count %}Search results ({{ num_results }}){% endblocktrans %}</h3>

    <section class="kitreviews__listing">
        <div class="row">
        {% for kit in kits %}
            <article class="col-xs-6 col-sm-4 col-md-3 col-xl-2 preview" data-id="{{ kit.id }}">
                <a href="{{ kit.get_absolute_url }}">{{ kit.name }}</a>
                {% if kit.has_box_image %}
                    {% thumbnail kit.box_image "300x225" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive">
                    {% endthumbnail %}
                {% else %}
                    <img src="{% static "images/thumb.png" %}" class="img-responsive">
                {% endif %}
                <span class="h5">
                    <strong>
                        {{ kit.name }}
                        {% if kit.kit_number %}<small>{{ kit.kit_number }}</small>{% endif %}
                    </strong>
                </span>

                <p>{{ kit.scale }}</p>
                <p>{{ kit.category }}</p>

                <span class="small-text">
                    <br/>
                    ({% blocktrans count counter=kit.num_reviews %}{{ counter }} review
                    {% plural %}{{ counter }} reviews{% endblocktrans %})
                    <a href="{% url 'kitreviews:kit_add_review' kit.id %}">{% trans "Add review" %}</a>
                </span>

            </article>
        {% endfor %}
        </div>
    </section>
    {% endif %}

{% endblock content %}
