{% load i18n sniplates %}


<fieldset class="well">
    {% load_widgets form='horizontal.form' %}
    <div class="row">
        <div class="col-md-6">
            {% form_field form.brand %}
            {% form_field form.scale %}
        </div>
        <div class="col-md-6">
            {% form_field form.kit_name %}
            {% form_field form.kit_number %}
        </div>
    </div>
    <div class="small">
        {% trans "Find kits using the search form - all fields are optional." %}
    </div>

    <div class="button-group">

        <button type="submit" class="button button--icon button--blue {% if user.is_authenticated %}find-kit-form__button-search{% endif %}">
            <i class="fa fa-search"></i> {% trans 'Find kits' %}
        </button>

        {% if user.is_authenticated %}
            {% trans "or" %}

            <button class="button button--icon button--orange find-kit-form__button-add-kit">
                <i class="fa fa-plus"></i> {% trans 'Add new kit' %}
            </button>
        {% endif %}

    </div>
</fieldset>
