{% extends "kitreviews/base.html" %}
{% load i18n kitreviews kit_tags %}


{% block content %}

    <form action="{% url 'kitreviews:find_kit' %}" method="get" class="find-kit-form">
        {{ form.non_field_errors }}
        {% include "kitreviews/find_kit_form.html" %}
    </form>

    <section>
        <h2>{% trans "Latest reviews" %}</h2>

        {% for review in reviews %}
            {% render_review_preview review show_ratings=False %}
        {% endfor %}
    </section>

{% endblock content %}


{% block modals %}
    {{ block.super }}
    {% include "kits/includes/add_kit_modal_react.html" %}
{% endblock modals %}
