{% extends "kitreviews/base.html" %}
{% load i18n sniplates staticfiles thumbnail %}

{% block content %}

<article class="kitreviews--kit">
    {% with kit=object %}

    <header>
        <h1>{{ kit.name }} <small>{{ kit.kit_number }}</small></h1>

        {% if kit.brand.logo %}
            {% thumbnail kit.brand.logo '100x100' as im %}
                <img src="{{ im.url }}" alt="logo-{{ kit.brand.slug }}" title="{{ kit.brand.name }}">
            {% endthumbnail %}
        {% else %}
            <h2>{{ kit.brand.name }}</h2>
        {% endif %}

        {% if kit.scale %}
            <p>{{ kit.scale }}</p>
        {% endif %}
    </header>

    <figure>
        {% if kit.has_box_image %}
            {% thumbnail kit.box_image "800x600" crop="center" as im %}
                <img src="{{ im.url }}" class="img-responsive">
            {% endthumbnail %}
        {% else %}
            <img src="{% static "images/thumb.png" %}" class="img-responsive">
        {% endif %}
    </figure>

    {% endwith %}

    <section>
        {% blocktrans trimmed count count=object_list.count %}
            There is one review
        {% plural %}
            There are {{ count }} reviews
        {% endblocktrans %}:

        <div class="kitreviews--review-list">
            {% for review in object_list %}
                <article class="kitreviews--review-preview">
                    <header>
                        {% blocktrans trimmed with reviewer=review.reviewer_name time_ago=review.submitted_on|timesince %}
                            {{ reviewer }} &ndash; {{ time_ago }} ago
                        {% endblocktrans %}
                    </header>

                    {# TODO #}
                    {# <p>{{ review.votes }}</p> #}

                    <div class="row">

                        <ul class="list-unstyled kitreviews--ratings-list col-md-6">
                            {% for rating in review.ratings.all %}
                                <li class="row">
                                    <div class="col-md-4 text-right">{{ rating.prop.name }}</div>
                                    <div class="col-md-8">
                                        <div class="progress">
                                            {% widthratio rating.rating 100 100 as bar_width %}
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ bar_width }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ bar_width }}%;">
                                                <span>{{ bar_width }}%</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="col-md-6 kitreviews--text-preview">
                            {{ review.html|safe|default:review.raw_text }}
                        </div>

                    </div>

                    <footer>
                        <a class="btn btn-default" href="{{ review.topic_url }}">{% trans "Topic" %}</a>

                        <a class="btn btn-default" href="{{ review.album.get_absolute_url }}">{% trans "album" %}</a>
                    </footer>
                </article>
            {% endfor %}
        </div>
    </section>
</article>
{% endblock %}
