{% extends "kitreviews/kit_review_list.html" %}
{% load i18n kitreviews %}

{% block reviews %}

    <h2 id="review-body">{% trans "Review" %}</h2>
    <section>
        {{ review.render_raw_text|safe }}
    </section>

    <h2>{% trans "Ratings" %}</h2>
    <ul class="list-unstyled kitreviews--ratings-list">
        {% for rating in review.ratings.all %}
            <li class="row">
                <div class="col-md-2 text-right">
                    <strong>{{ rating.prop.name }}</strong>
                </div>
                <div class="col-md-10">
                    <div class="progress">
                        {% widthratio rating.rating 100 100 as bar_width %}
                        <div
                            class="progress-bar progress-bar-{{ bar_width|rating_class }}"
                            role="progressbar" aria-valuenow="{{ bar_width }}" aria-valuemin="0"
                            aria-valuemax="100" style="width: {{ bar_width }}%;">
                            {{ bar_width }}%
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if other_reviews %}
        <h2>{% trans "other reviews" %}</h2>
        <aside class="kitreviews--review-list">
            {% for other_review in other_reviews %}
                {% render_review_preview other_review %}
            {% endfor %}
        </aside>
    {% endif %}
{% endblock %}
