{% extends "kitreviews/kit_review_list.html" %}
{% load i18n kitreviews %}

{% block reviews %}
    <section class="review">

        <h2 id="review-body">
            {% trans "Review" %}
            <small>
                &ndash; {{ review.reviewer_name }}
                ({% blocktrans trimmed with time_ago=review.submitted_on|timesince%}
                    {{ time_ago }} ago
                {% endblocktrans %})
            </small>
        </h2>
        {% if review.topic_url or review.album %}
            <div>
                {% if review.topic_url %}
                    <a class="button button--icon button--light-blue" href="{{ review.topic_url }}">
                        <i class="fa fa-comments-o"></i>
                        {% trans "view topic" %}
                    </a>
                {% endif %}
                {% if review.album %}
                    <a class="button button--icon button--light-blue" href="{{ review.album.get_absolute_url }}">
                        <i class="fa fa-camera"></i>
                        {% trans "view album" %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <div class="review__body">{{ review.raw_text|linebreaksbr }}</div>

        <h2>{% trans "Ratings" %}</h2>
        {% detailed_ratings review is_preview=False %}

    </section>

    {% if other_reviews %}
        <aside>
            <h2>{% trans "other reviews" %}</h2>
            {% for other_review in other_reviews %}
                {% render_review_preview other_review %}
            {% endfor %}
        </aside>
    {% endif %}
{% endblock %}
