{% load i18n sniplates %}

{% block form %}

    <fieldset class="well">
        {% load_widgets form='horizontal.form' %}
        {% form_field form.model_kit %}
        {% form_field form.album %}
        {% form_field form.topic_id %}
        {% form_field form.external_topic_url %}

        {% with label_grid_offset='col-sm-offset-2' %}
            {% form_field form.show_real_name %}
        {% endwith %}
    </fieldset>
    <fieldset class="well">
        {% with formset=properties %}
            {% for form in formset %}
                {% form_field form.prop 'form:HiddenSelect' label=_('Property') %}
                {% form_field form.rating %}
            {% endfor %}
        {% endwith %}
        {% form_field form.raw_text %}
    </fieldset>



{% endblock %}
