{% load i18n sniplates %}

{% block form %}

    {% load_widgets form='horizontal.form' %}
    {% form_field form.model_kit %}
    {% form_field form.raw_text %}
    {% form_field form.album %}
    {% form_field form.topic_id %}
    {% form_field form.external_topic_url %}
    {% form_field form.show_real_name %}

    {% with formset=properties %}
        {% for form in formset %}
            {% form_field form.prop %}
            {% form_field form.rating %}
        {% endfor %}
    {% endwith %}

{% endblock %}
