{% extends "base.html" %}
{% load i18n static %}

{% block title %}
Modelbrouwers.nl &bull; {% trans "Build reports" %}
{% endblock %}

{% block body-attrs %} class="fade-small-logo"{% endblock %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/builds.css" %}" charset="utf-8"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "scripts/handlebars-1.0.0.js" %}"></script>
    <script type="text/javascript">
        var search_url = '{% url 'builds:search' %}';
        // var own_albums_url = '{% url 'api_dispatch_list' resource_name='own_albums' api_name='v1' %}';
        var own_albums_url = '/';
        // var album_photos_url = '{% url 'api_dispatch_list' resource_name='photo' api_name='v1' %}';
        var album_photos_url = '/';
        // key: tpl name, value: tpl url
        var hbs_templates = {
            'albums': '{% url "hbs_template" app_name="builds" template_name="albums" %}',
            'photo_preview': '{% url "hbs_template" app_name="builds" template_name="photo_preview" %}',
            'invalid_img_url': '{% url "hbs_template" app_name="builds" template_name="invalid_img_url" %}'
        };
    </script>
    <script type="text/javascript" src="{% static "js/builds.js" %}"></script>
{% endblock %}

{% block menu %}
    <li>
        <a href="{% url 'builds:add_build' %}">
            {% trans 'Overview / Add build report' %}
        </a>
    </li>
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'builds:user_build_list' user_id=user.id %}">
                {% trans 'My builds' %}
            </a>
        </li>
    {% endif %}
{% endblock %}
