{% load i18n %}


<table id="builds-overview">
    <tr id="table-header">
        <th></th>
        <th class="title">{% trans "Title" %}</th>
        <th class="brand">{% trans "Brand" %}</th>
        <th class="scale">{% trans "Scale" %}</th>
    </tr>
    {% for build in builds %}
        <tr class="content {% cycle 'light' 'dark' %}">
            <td>
                <a href="{% url 'builds:user_build_list' build.user.id %}">
                    {{ build.profile.forum_nickname|truncatechars:10 }}
                </a>
            </td>
            <td class="title" id="{{ build.slug }}">
                <a class="link-project" href="{{ build.get_absolute_url }}">
                    {{ build.title }}
                </a>
            </td>
            <td class="brand">
                {{ build.brand.name }}
            </td>
            <td class="scale">
                {% if build.scale %}
                    {{ build.get_scale }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr class="content light">
            <td colspan="4">{% trans "No build reports were found for this user!" %}
            </td>
        </tr>
    {% endfor %}
</table>
