{% extends "builds/base.html" %}
{% load i18n staticfiles builds %}

{% block content %}
{% comment %}
{% with build.id|add:"-1" as prev_id %}
<p id="buttons">
<a id="button_left" href="{% url build_detail prev_id %}" title="Vorige"><img src="{{STATIC_URL}}images/prev.gif" width="26" height="25" alt="previous"/></a>
{% endwith %}
{% with build.id|add:"1" as next_id %}
<a id="button_right" href="{% url build_detail next_id %}" title="Volgende"><img src="{{STATIC_URL}}images/next.gif" width="26" height="25" alt="next"/></a>
{% endwith %}
</p>
{% endcomment %}

<div class="tab title">
    <span class="title">{{ build.title }}</span>
    &bull;
    <a href="{{ build.user.get_absolute_url }}">
        <span class="author">{{ build.user.get_profile.forum_nickname }}</span>
    </a>
    &bull;
    <a class="topic-link" href="{{ build.topic_url }}">{% trans "View topic" %}</a>

    {% if build|can_edit:user %}
    {% spaceless %}
        <a class="edit-link right" href="{% url 'builds:edit' build.slug %}">
            <img src="{% static "images/edit.gif" %}" width="90" height="20" alt="edit"/>
        </a>
    {% endspaceless %}
    {% endif %}

    <span class="right properties">

        {% if build.start_date %}
            {{ build.start_date }}
        {% endif %}
        {% if build.end_date %}
            &dash; {{ build.end_date }}
        {% endif %}

    </span>

</div>


<div class="tab-content">
    {% if build.get_brand_name or build.get_scale %}
        <div class="kit-info">

            <div class="column scale">
                {{ build.get_scale }}
            </div>
            <div class="column brand">
                {% if build.brand.logo %}
                    <img src="{{ build.brand.logo.url }}" class="brand-logo" />
                {% else %}
                    {{ build.get_brand_name }}
                {% endif %}
            </div>
            <div class="clear"></div>


        </div>
        <div class="handle">=</div>
    {% endif %}

    <div class="photos">
        {% for photo in photos %}
            <p class="center">
                <img src="{{ photo.image_url }}" alt="img{{ forloop.counter }}" width="640" />
            </p>
        {% endfor %}
    </div>
</div>

{# <div class="tab">{% trans "Kit information" %}</div> #}
{% endblock %}
