{% extends "builds/base.html" %}{% load i18n sniplates system_tags %}


{% block eye-catcher-content %}
    <h1>
        {% trans "Add a new build" %}
        <i class="pull-right fa fa-cube fa-2x"></i>
    </h1>

    <p>{% blocktrans %}
        By adding new builds to your profile, all your creations are easily
        retrieved without having to dig through the entire forum.
    {% endblocktrans %}</p>
{% endblock %}


{% block builds-nav-left %}
    <a href="{% url 'builds:index' %}" class="btn bg-main-blue">{% trans "Cancel" %}</a>
{% endblock %}


{% block content %}
<form action="." method="post">{% csrf_token %}
	{% load_widgets form='builds/forms.html' %}
	{% load_widgets kits='kits/widgets.html' %}
	{% with label_grid_offset='col-sm-offset-2' %}

		{% widget 'form:non_field_errors' %}

		{{ photos.management_form }}

		<fieldset class="well form-horizontal">
			{% form_field form.title %}
			{% form_field form.topic %}
			{% form_field form.topic_start_page %}
			{% form_field form.start_date %}
			{% form_field form.end_date %}
		</fieldset>

		<h2>{% trans "Used kit(s)" %}</h2>
        <p class="text-muted">
        {% blocktrans %}You can select kits from our database here. Use the
        dropdowns to narrow your search. If your kit isn't in our database yet,
        you can add it yourself!{% endblocktrans %}
        </p>
        <fieldset class="well form-horizontal">
			{% form_field form.kits widget='kits:ModelKitSelect' label=_('Select a kit') %}
		</fieldset>

		<h2>{% trans "Photos" %}</h2>
		<fieldset class="well">
            {% with formset=photos %}
                {% widget 'form:non_form_errors' %}

                {% for form in formset %}
                <div class="formset-form">
                    {% reuse 'non_field_errors' %}

                    {% form_field form.id %}
                    {% form_field form.build %}
                    {% form_field form.order 'form:HiddenInput' %}

                    {% form_field form.DELETE %}

                    <div class="btn-group">
                        <a href="#from-albums-{{ forloop.counter }}" class="btn bg-main-blue" data-toggle="tab">
                            <i class="fa fa-camera"></i>
                        </a>
                        <a href="#from-web-{{ forloop.counter }}" class="btn bg-main-light-blue" data-toggle="tab">
                            <i class="fa fa-globe"></i>
                        </a>
                    </div>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="from-albums-{{ forloop.counter }}">
                            {% form_field form.photo 'form:BuildPhotoInput' %}
                        </div>

                        <div role="tabpanel" class="tab-pane" id="from-web-{{ forloop.counter }}">
                            {% form_field form.photo_url 'form:BuildPhotoInput' %}
                        </div>
                    </div>


                    <div class="preview hidden">
                        <figure class="thumbnail">
                            <img src="#" class="img-responsive">
                            <figcaption>{% trans "Preview" %}</figcaption>
                        </figure>
                    </div>

                </div>

                <hr style="border-color:red;">
                {% endfor %}
            {% endwith %}
		</fieldset>

		{% widget 'form:submit' btn_text=btn_text|default:_('Add build') %}
	{% endwith %}
</form>
{% endblock %}


{% block js_no_compress %}
    {% load_widgets js='sniplates/js.html' %}
    {% widget 'js:systemjs-base' %}
{% endblock %}


{% block extrascript %}
    {{ block.super }}
    {% widget 'kits:ModelKitSelectJS' %}
    {% systemjs_import 'builds/js/builds.js' %}
{% endblock extrascript %}
