{% extends "base.html" %}

{% block title %}
Brouwverslagenoverzicht
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/builds.css" charset="utf-8"/>
{% endblock %}

{% block submenu %}
<li><a href="/builds/">Zoeken</a></li>
<li><a href="/builds/add/">Toevoegen</a></li>
{% if user.is_authenticated %}
	<li><a href="/builds/profile/{{user.get_profile.id}}/">Mijn projecten</a></li>
{% endif %}
{% endblock submenu %}

{% block content %}
<h1>Brouwverslagenoverzicht</h1>
<hr />
<br />
<p>Op deze pagina kan je de verslagen van andere brouwers terugvinden. Geef in het zoekveld (een stuk van) de forumnaam op, en klik op 'zoeken'. Klik vervolgens op de juiste nickname om een overzicht te krijgen.</p>
<br />
<br />
<form action="." method="post">{% csrf_token %}
	<p>{{form.nickname}} <input type = "submit" value="Zoek"/></p>
	{% for error in form.nickname.errors %}
		<p class="error"><strong>{{error}}</strong></p>
	{% endfor %}
</form>
<br />
<br />
{% block results %}
<h1>Laatst toegevoegd</h1>
<hr />
<br />
{% for build in builds %}
<p><a class="link" href="/builds/profile/{{build.profile.id}}/">{{build.profile}}</a>: <a class="link project" href="/builds/{{build.id}}/">{{build.title}}</a></p>
<br />
{% endfor %}
{% endblock %}
{% endblock %}
