{% extends "builds/base.html" %}

{% block content %}
<h1>{{build}}</h1>
<hr />
<br />
<p>
--- {{build.category}} ---
<br />
<br />
<a href="{{build.url}}" target="_blank" title="Forumtopic">Forumtopic</a>
<br />
<br />
Merk: {{build.brand}}
<br />
Schaal: {{build.scale}}
<br />
<br />
{% if build.start_date %}
Project gestart op {{build.start_date|date:"d/m/Y"}}{% if build.end_date %}, en op {{build.end_date|date:"d/m/Y"}} afgewerkt{% endif %}.
{% endif %}
<br />
</p>
<br />
<br />
<br />
<br />
{% if build.img1 %}
<h2 class="center">Enkele foto's</h2>
<br />
<p class="center" id="img_build">
<img src="{{build.img1}}" alt="img1" width="640"></img>
{% if build.img2 %}
<br />
<br />
<img src="{{build.img2}}" alt="img2" width="640"></img>
{% if build.img3 %}
<br />
<br />
<img src="{{build.img3}}" alt="img3" width="640"></img>
{% endif %}
{% endif %}
</p>
{% endif %}
{% endblock %}
