.category {

  &__search-container {
    margin: 1rem auto;
  }

  &__carousel, &__carousel-item, &__inner {
    height: 300px;
  }


}

.flex-row {
  display: flex;
  width: 100%;
  flex-flow: wrap;
}

.t {
  width: 33%;
}
