{% if is_paginated %}{% load i18n %}
<nav class="text-right">
  <ul class="pagination">
    <li class="{{ page_obj.has_previous|yesno:',disabled' }}">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}" aria-label="{% trans "Previous" %}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        {% else %}
            <a href="#"><span aria-hidden="true">&laquo;</span></a>
        {% endif %}
    </li>

    {% for page in paginator.page_range %}
        <li class="{% if page == page_obj.number %}active{% endif %}">
            <a href="?page={{ page }}">{{ page }}</a>
        </li>
    {% endfor %}

    <li class="{{ page_obj.has_next|yesno:',disabled' }}">
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" aria-label="{% trans "Next" %}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        {% else %}
            <a href="#"><span aria-hidden="true">&raquo;</span></a>
        {% endif %}
    </li>
  </ul>
</nav>
{% endif %}
