DEBUG = True
DEVELOPMENT = True
ADMINS = ()

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '{ CD }brouwers.db'
    }
}

EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = '{ CD }mails/'

VOTE_END_MONTH = 1
VOTE_END_DAY = 15
