Beaker==1.6.4
BeautifulSoup==3.2.1
Django==1.4.3
Mako==0.8.1
Markdown==2.3.1
MarkupSafe==0.15
Mezzanine==1.4.5
MySQL-python==1.2.4
PIL==1.1.7
SQLAlchemy==0.8.1
South==0.7.6
Twisted==13.0.0
bleach==1.2.1
distribute==0.6.45
django-cas==2.0.3
django-chartit==0.1
django-debug-toolbar==0.9.4
django-extensions==1.1.1
django-filter==0.6
django-tastypie==0.9.15
django-tinymce==1.5.1
djangorestframework==2.3.4
filebrowser-safe==0.2.25
fontforge==1.0
git-remote-helpers==0.1.0
grappelli-safe==0.2.19
html5lib==0.95
httplib2==0.7.7
lxml==3.1beta1
matplotlib==1.2.1
mimeparse==0.1.3
numpy==1.7.1
oauth2==1.5.211
psycopg2==2.5.1
pygobject==3.8.3
pygraphviz==1.1
pyparsing==1.5.7
pysane==2.0
pyserial==2.6
python-dateutil==2.1
pytz==2013b
reportlab==2.7
scipy==0.12.0
selenium==2.28.0
sessionprofile==1.0
six==1.3.0
urwid==1.1.1
virtualenv==1.9.1
wicd==1.7.2.4
wsgiref==0.1.2
zope.interface==4.0.5
