{% extends "brouwersdag/base.html" %}
{% load i18n brouwers %}

{% block body-class %}groupbuilds{% endblock %}

{% block sub-nav %}
{% comment %}
<div class="container">
    {% url 'brouwersdag:index' as url_bd_index %}
    {% url 'brouwersdag:model-signup' as url_bd_signup %}
    {% url 'brouwersdag:my-models' as url_bd_my_models %}
    <div class="pull-right"><ul class="nav nav-pills">
      <li{% if request.path == url_bd_index %} class="active"{% endif %}><a href="{{ url_bd_index }}">Home</a></li>
      <li{% if request.path == url_bd_signup %} class="active"{% endif %}><a href="{{ url_bd_signup }}">{% trans "Signup" %}</a></li>
      <li{% if request.path == url_bd_my_models %} class="active"{% endif %}><a href="{{ url_bd_my_models }}">{% trans "My models" %}</a></li>
    </ul></div>
</div>
{% endcomment %}
{% endblock %}

{% block extrastyle %}
<style>
    .gb {border: solid 1px #EEE; padding: 0 10px; margin-top: 15px;}
</style>
{% endblock %}


{% block content %}
<div class="container list">

    <div class="row">
        <div class="col-md-10">
            <section class="object-list">
                <div class="row">
                    {% for gb in object_list %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="gb">
                                <h2>{{ gb.theme }} <small class="pull-right">{{ gb.get_status_display }}</small></h2>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class="col-md-2">
            <aside class="filters">
                {# FIXME: layout #}
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">{% trans "Status" %}</a>
                    {% for vaue, status in statuses %}
                        <a href="#{{ value }}" class="list-group-item">{{ status }}</a>
                    {% endfor %}
                  </div>
                </div>
            </aside>
        </div>
    </div>

</div>
{% endblock content %}