{% extends "groupbuilds/groupbuild_detail.html" %}{% load i18n %}


{% block gb-content %}
    <h3>
        {% trans "Submitting the group build" %}
        {% if request.user in gb.admins.all %}
        <small>
            <a class="pull-right" href="{% url 'groupbuilds:edit' slug=gb.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
        </small>
        {% endif %}
    </h3>

    <p>{% blocktrans %}
        To submit the groupbuild you need to have set a start date and duration.
        If you confirm to submit the groupbuild, the moderators take a look if all
        requirements are met and if so, put it on the calendar. If not all requirements
        are met, you will receive feedback about this.
    {% endblocktrans %}</p>

    {% if gb.is_submittable %}
        <form action="." method="post">{% csrf_token %}
            {{ form }}
            <button type="submit" class="btn bg-main-orange">{% trans "Confirm submission" %}</button>
    {% else %}
        <p>
            {% trans "This groupbuild cannot be submitted. Make sure you meet all the requirements." %}
        </p>
    {% endif %}

    <a href="{% url 'groupbuilds:edit' slug=gb.slug %}" class="btn btn-default">{% trans "Go to edit page" %}</a>

    {% if gb.is_submittable %}</form>{% endif %}

{% endblock %}
