{% extends "groupbuilds/base.html" %}
{% load i18n brouwers l10n %}


{% block page-title %}<h1 class="pull-left page-title">{% trans "Group builds dashboard" %}</h1>{% endblock %}


{% block content %}
<div class="container list">

    <div class="row">
        <div class="col-md-6">
            <h2>{% trans "New concepts" %}</h2>
            <div class="list-group">
                {% for gb in new_concepts %}
                    <a href="{{ gb.get_absolute_url }}" class="list-group-item">
                        <strong>{{ gb.theme }}</strong>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <h2>{% trans "Starting soon" %}</h2>
            <div class="list-group">
                {% for gb in starting_soon %}
                    <a href="{{ gb.get_absolute_url }}" class="list-group-item">
                        {{ gb.start|date }} &bull; <strong>{{ gb.theme }}</strong>
                        ({% blocktrans count n_participants=gb.participants.count %}1 participant{% plural %}{{ n_participants }} participants{% endblocktrans %})
                    </a>
                {% empty %}
                {% url 'groupbuilds:create' as url_gb_concept %}
                {% blocktrans %}
                    Nothing new planned for the next 6 weeks! Maybe you can
                    <a href="{{ url_gb_concept }}">submit your own idea?</a>
                {% endblocktrans %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <section class="calendar col-md-12">
            <h2>{% trans "Calendar" %}</h2>

            <div class="row">
                {% for date in dates %}
                    <div class="month-name col-xs-2 text-center">{{ date|date:"F" }}</div>
                {% endfor %}
            </div>

            {% for gb in calendar_gbs %}
            <div class="row gb-wrapper">
                <div class="col-md-12 calendar-gb {% cycle 'bg-main-green' 'bg-main-red' 'bg-main-blue' 'bg-main-pink' 'bg-main-grey' 'bg-main-orange' %}"
                    style="width: {{ gb.calendar_dimensions.width|unlocalize }}%; margin-left: {{ gb.calendar_dimensions.offset|unlocalize }}%;"
                    title="Start: {{ gb.start }}, End: {{ gb.end }}">
                    <a href="{{ gb.get_absolute_url }}" title="{{ gb.theme }}, {{ gb.start|date }} - {{ gb.end|date }}">
                        {{ gb.theme }} <span class="end">{{ gb.end|date:"d/m" }}</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>


</div>
{% endblock content %}
