{% extends "groupbuilds/base.html" %}
{% load i18n brouwers %}


{% block extrastyle %}
<style>
    .gb {border: solid 1px #CCC; padding: 0 10px; margin-top: 15px;}
    .cal-month {
        min-height: 50px;
        border-top: solid 1px #AAA;
        border-bottom: solid 1px #AAA;
    }
    .cal-month:first-child {
        border-left: solid 1px #AAA;
    }
    .cal-month:last-child {
        border-right: solid 1px #AAA;
    }
</style>
{% endblock %}


{% block page-title %}<h1 class="pull-left page-title">{% trans "Group builds dashboard" %}</h1>{% endblock %}


{% block content %}
<div class="container list">

    <div class="row">
        <div class="col-md-6">
            <h2>{% trans "New concepts" %}</h2>
            <div class="list-group">
                {% for gb in new_concepts %}
                    <a href="{{ gb.get_absolute_url }}" class="list-group-item">
                        <strong>{{ gb.theme }}</strong>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
            <h2>{% trans "Starting soon" %}</h2>
            <div class="list-group">
                {% for gb in starting_soon %}
                    <a href="{{ gb.get_absolute_url }}" class="list-group-item">
                        {{ gb.start|date }} &bull; <strong>{{ gb.theme }}</strong>
                        ({% blocktrans count n_participants=gb.participants.count %}1 participant{% plural %}{{ n_participants }} participants{% endblocktrans %})
                    </a>
                {% empty %}
                {% url 'groupbuilds:create' as url_gb_concept %}
                {% blocktrans %}
                    Nothing new planned for the next 6 weeks! Maybe you can
                    <a href="{{ url_gb_concept }}">submit your own idea?</a>
                {% endblocktrans %}
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2>{% trans "Calendar" %}</h2>
            <div class="row">
                {% for date in dates %}
                    <div class="month-name col-xs-2">{{ date|date:"F"|capfirst }}</div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="cal-month col-xs-2"></div>
                <div class="cal-month col-xs-2"></div>
                <div class="cal-month col-xs-2"></div>
                <div class="cal-month col-xs-2"></div>
                <div class="cal-month col-xs-2"></div>
                <div class="cal-month col-xs-2"></div>
            </div>
        </div>
    </div>






    <div class="row" style="margin-top: 200px;">
        <div class="col-md-10">
            <section class="object-list">
                <div class="row">
                    {% for gb in object_list %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="gb">
                                <h2>{{ gb.theme }} <small class="pull-right">{{ gb.get_status_display }}</small></h2>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class="col-md-2">
            <aside class="filters">
                {# FIXME: layout #}
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">{% trans "Status" %}</a>
                    {% for vaue, status in statuses %}
                        <a href="#{{ value }}" class="list-group-item">{{ status }}</a>
                    {% endfor %}
                  </div>
                </div>
            </aside>
        </div>
    </div>

</div>
{% endblock content %}
