{% extends "groupbuilds/base.html" %}
{% load i18n bbcode_tags formulation %}

{% block title %}{{ block.super }}: {{ gb.theme }}{% endblock %}


{% block content %}
<article class="gb detail">
{# TODO: visual cue if it's ongoing #}
    <header class="eye-catcher container-fluid">
        <div class="container">
            <div class="row relative">
                {% if gb.category.icon_class %}<i class="category-icon fa {{ gb.category.icon_class }}"></i>{% endif %}
                <div class="col-md-3">
                    <h2>
                        {{ gb.category }}
                    <small><br>
                    {% blocktrans with status=gb.get_status_display %}
                        Status: {{ status }}
                    {% endblocktrans %}</small>
                    </h2>
                </div>

                <div class="col-md-9">
                    <h1> {{ gb.theme }} </h1>
                    <p>
                        <i class="fa fa-calendar"></i>
                        {{ gb.start|default:_('to be determined') }}
                        &bull;
                        {{ gb.end|default:_('to be determined') }}

                        {% if gb.forum %}
                            &bull;
                            <a href="{{ gb.forum.get_absolute_url }}">{% trans "Go to forum" %}</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <h3>
                    {% trans "All you need to know..." %}
                    {% if request.user in gb.admins.all %}
                    <small>
                        <a class="pull-right" href="{% url 'groupbuilds:edit' slug=gb.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
                    </small>
                    {% endif %}
                </h3>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                        <a href="#desc" role="tab" data-toggle="tab">{% trans "Introduction" %}</a>
                    </li>
                    <li>
                        <a href="#rules" role="tab" data-toggle="tab">{% trans "Rules" %}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="desc">
                        <p>{{ gb.description|bbcode|safe }}</p>
                    </div>

                    <div class="tab-pane" id="rules">
                        {% if gb.rules %}
                            <p>{{ gb.rules|bbcode|safe }}</p>
                        {% else %}
                            {% if self.rules_topic %}
                                {% blocktrans with url=self.rules_topic.get_absolute_url %}
                                    <p>Go read the <a href="{{ url }}">rules topic</a> {{ ';)'|bbcode|safe }}</p>
                                {% endblocktrans %}
                            {% else %}
                                {% trans "No specific rules, which means the default rules apply!" %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <hr>

                <h3>{% blocktrans count n_part=participants|length %}1 participant{% plural %}{{ n_part }} participants{% endblocktrans %}</h3>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{% trans "#" %}</th>
                            <th>{% trans "Builder" %}</th>
                            <th>{% trans "Model" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for participant in participants %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ participant.user }}</td>
                            <td>{{ participant.model_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md-3">
                {% if gb.is_open %}
                    <h3>
                        {% if gb.is_ongoing %}
                            {% trans "Join us!" %}
                        {% else %}
                            {% trans "Show your interest!" %}
                        {% endif %}
                    </h3>
                    <form action="{% url 'groupbuilds:participate' slug=gb.slug %}" method="post" class="well">
                        {% csrf_token %}
                        {% form 'stacked.form' %}
                            {% for field in participate_form %}
                                {% field field %}
                            {% endfor %}
                        {% endform %}
                        <button type="submit" class="btn bg-main-orange">{% trans "Submit!" %}</button>
                        <p>
                            <small>{% trans "Hitting the button is enough, but providing more information is always nice!" %}</small>
                        </p>
                    </form>
                {% endif %}

                {% if gb.has_links %}
                    <h3>{% trans "Links" %}</h3>
                    <aside>
                        <div class="list-group">
                            {% if gb.forum %}
                                <a class="list-group-item" href="{{ gb.forum.get_absolute_url }}">
                                    {% trans "Go to forum" %}</a>
                            {% endif %}
                            {% if gb.introduction_topic %}
                                <a class="list-group-item" href="{{ gb.introduction_topic.get_absolute_url }}">
                                    {{ gb.introduction_topic }}</a>
                            {% endif %}
                            {% if gb.rules_topic %}
                                <a class="list-group-item" href="{{ gb.rules_topic.get_absolute_url }}">
                                    {{ gb.rules_topic }}</a>
                            {% endif %}
                            {% if gb.homepage_topic %}
                                <a class="list-group-item" href="{{ gb.homepage_topic.get_absolute_url }}">
                                    {{ gb.homepage_topic }}</a>
                            {% endif %}
                        </div>
                    </aside>
                {% endif %}

                <h3>{% blocktrans count n_admins=gb.admins.all %}Organiser{% plural %}Organisers{% endblocktrans %}</h3>
                <aside>
                    <ul class="list-group">
                    {% for user in gb.admins.all %}
                        <li class="list-group-item">
                            <a href="{{ user.get_absolute_url }}">{{ user }}</a>
                            {# TODO: button to pm #}
                        </li>
                    {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>
    </div>

    <footer></footer>
</article>
{% endblock content %}
