body.forum {

  #photo-sidebar {
    height: 100vh;
    padding: 5px;
    background: rgba($main-blue, 0.87);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: $white;

    @include raised(2);
    @include transition(width 0.5s ease);

    &, & > * {
      @include box-sizing(border-box);
    }

    &.open {
      width: 20%;

      .lid {
        display: none;
      }
    }

    &.closed {
      width: 0;
      padding: 0;

      > :not(.lid) {
        display: none;
      }
    }

    .open-close {
      &:hover {
        cursor: pointer;
      }
    }

    .lid {
      background: inherit;
      $width: 30px;
      $height: 50px;

      position: absolute;
      right: -$width;
      top: 25vh;

      width: $width;
      height: $height;
      margin-top: -$height/2;
      padding-left: 3px;
      @include border-right-radius(5px);
      @include raised(2);

      .fa {
        line-height: $height;
      }
    }

  }

  h2 {
    color: $white;
  }

}
