@use "sass:math";

body.forum {

  $sidebar-width: 20%;
  $sidebar-bg: rgba($main-blue, 0.87);

  .box-sizing,
  .box-sizing * {
    box-sizing: border-box;
  }

  #photo-sidebar {
    height: 100vh;
    padding: 5px 15px 5px 5px;
    background: $sidebar-bg;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: $white;
    overflow: hidden; // required for perfect scrollbar

    @include raised(2);
    transition: width 0.5s ease;

    input,
    select {
      width: 100%;
      transition: width 0.5s ease;
    }

    &.open {
      width: $sidebar-width;

      & + .lid {
        left: $sidebar-width;
        visibility: hidden;
        opacity: 0;
        transition-delay: 0s;
      }

      #close-sidebar {
        left: 17%; // fallback
        left: calc(20% - 2em - 10px);
        visibility: visible;
        opacity: 1;
      }
    }

    &.closed {
      width: 0;
      padding: 0;
      > * {
        display: none;
      }
    }

    & + .lid {
      background: $sidebar-bg;
      color: $white;
      $width: 30px;
      $height: 50px;

      position: fixed;
      left: 0;
      top: 25vh;

      width: $width;
      height: $height;
      margin-top: math.div(-$height, 2);
      padding-left: 3px;
      overflow: hidden;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      @include raised(2);
      transition: opacity 0.5s linear 0.5s, left 0.5s ease, visibility 0.5s linear 0.5s;

      .fa {
        line-height: $height;
      }
    }

  }

  .open-close {
    &:hover {
      cursor: pointer;
    }
  }

  #close-sidebar {
    left: 0;
    position: fixed;
    top: 2px;
    @include text-raised(1);
    z-index: 11;
    visibility: hidden;
    opacity: 0;

    &:hover {
      @include text-raised(2);
    }
  }

  h2 {
    color: $white;
  }

  #photo-list {
    list-style: none;
    margin: 0;

    .album-photo {
      position: relative;
      margin: 5px 0;

      a {
        display: block;
        max-width: 100%;
        text-align: center;
        background-color: rgba($white, 0.9);
        @include raised(1);
      }

      img {
        max-width: 100%;
      }

      figcaption {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 2px 3px;
        width: 100%;
        text-shadow: 0 0 3px $black;

        &:hover {
          padding: 2px 3px 4px;
          background: rgba($black, 0.7);
          @include raised(1);
        }

      }
    }
  }

  .pagination > li > a > .fa {
    line-height: inherit;
  }

}
