body.forum {

  .box-sizing,
  .box-sizing * {
    @include box-sizing(border-box);
  }

  #photo-sidebar {
    $sidebar-bg: rgba($main-blue, 0.87);
    height: 100vh;
    padding: 5px;
    background: $sidebar-bg;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    color: $white;
    overflow-y: scroll;

    @include raised(2);
    @include transition(width 0.5s ease);

    input,
    select {
      width: 100%;
      @include transition(width 0.5s ease);
    }

    &.open {
      width: 20%;

      & + .lid {
        left: 20%;
        visibility: hidden;
        @include opacity(0);
      }
    }

    &.closed {
      width: 0;
      padding: 0;
      > * {
        display: none;
      }
    }

    & + .lid {
      background: $sidebar-bg;
      color: $white;
      $width: 30px;
      $height: 50px;

      position: absolute;
      left: 0;
      top: 25vh;

      width: $width;
      height: $height;
      margin-top: -$height/2;
      padding-left: 3px;
      overflow: hidden;
      @include border-right-radius(5px);
      @include raised(2);
      @include transition(opacity 0 linear 0.5s, left 0.5s ease, visibility 0 linear 0.5s);

      .fa {
        line-height: $height;
      }
    }

  }

  .open-close {
    &:hover {
      cursor: pointer;
    }
  }

  h2 {
    color: $white;
  }

  #photo-list {
    list-style: none;
    margin: 0;

    .album-photo {
      margin: 5px 0;

      a {
        display: block;
        max-width: 100%;
        @include raised(1);
      }

      img {
        max-width: 100%;
      }
    }
  }

}
