body.forum {

  a.link-builds {

    height: 18px;
    overflow: visible;

    & > span {
      background: url('../images/icons/icon_builds.gif') no-repeat;
      display: inline-block;
      width: 70px;
      height: 20px;
    }
  }

}
