body.builds {

.preview {

  h3 {
    @include ellipsis;
  }

  .thumbnail {
    position: relative;

    h4 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 2em;
      position: absolute;
      top: 0;
      left: 4px; // padding thumb
      right: 4px; // padding thumb

      @include text-background();
      color: $white;
    }
  }
}

&.detail {
  figure img {
    margin: 0 auto;
  }
}

.fa-spinner {
  @include spinner();
}


#empty-form {
  display: none;
}


.photo-list {

  input {
    &[type="checkbox"] {
      display: none;
    }

    + label {
      @include gt-mobile {
        &, & .thumbnail {
          margin-bottom: 0;
        }
      }
    }

    @include selected-fa;
  }
}

}
