.kitreview__preview {
  border: solid 1px $default-border-color;
  padding: 15px;
  margin-bottom: 15px;

  &__title {
    font-size: 18px;
    margin: 0;
  }

  &__details {
    color: $main-grey;
  }

  &__body {
    max-height: 100px;
    position: relative;
    min-height: 50px;
    overflow: hidden;

    br + br {
      display: none;
    }

    &:after {
      content: " ";
      position: absolute;
      width: 100%;
      display: block;
      height: 50px;

      bottom: 0;
      left: 0;

      @include background(linear-gradient(180deg, transparent, $white));
    }
  }
}
