{% extends "data-download/base.html" %}

{% block content %}
<article>
    <h1>Album downloads ({{ downloads.count }})</h1>
    <ul>
        {% for download in downloads %}
            <li>
                <h2>{{ download.album }}</h2>
                <p>
                    Downloaded at: {{ download.timestamp }}
                    <br>
                    Download failed: {{ download.failed }}
                </p>
            </li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}
