{% extends "data-download/base.html" %}

{% block content %}
<article>
    <h1>Award votes</h1>
    <ul>
        {% for vote in nomination_votes %}
            <li>
                <h2>Vote for {{ vote.category }}, on {{ vote.submitted }}</h2>
                <ol>
                    <li>
                        {% if vote.project1 %}
                            <a href="{{ vote.project1.url }}">{{ vote.project1 }}</a>
                        {% else %}
                        -
                        {% endif %}
                    </li>
                    <li>
                        {% if vote.project2 %}
                            <a href="{{ vote.project2.url }}">{{ vote.project2 }}</a>
                        {% else %}
                        -
                        {% endif %}
                    </li>
                    <li>
                        {% if vote.project3 %}
                            <a href="{{ vote.project3.url }}">{{ vote.project3 }}</a>
                        {% else %}
                        -
                        {% endif %}
                    </li>
                </ol>
            </li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}
