{% extends "data-download/base.html" %}

{% block content %}
<article>
    <h1>Build history</h1>
    <ul>
        {% for build in builds %}
            <li>
                <h2>{{ build.title }}</h2>
                {% if build.topic %}<a href="{{ build.topic_url }}">topic</a>{% endif %}
                <p>
                    Kits used: {{ build.kits.all|join:", " }}
                </p>

                <h3>Photos</h3>
                <ul>
                    {% for photo in build.photos.all %}
                        <li>
                            {% if photo.photo_id %}
                                <a href="./photos.html#photo-{{ photo.photo_id }}">image</a>
                            {% else %}
                                <a href="{{ photo.photo.image.url }}">image</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</article>
{% endblock content %}
