{% extends "data-download/base.html" %}


{% block content %}
<section>
    <h1>Profile</h1>

    <dl>
        <dt>Username</dt>
        <dd>{{ user.username }}</dd>

        <dt>Forum nickname</dt>
        <dd>{{ user.forum_nickname }}</dd>

        <dt>Email</dt>
        <dd>{{ user.email }}</dd>

        <dt>First name</dt>
        <dd>{{ user.first_name }}</dd>

        <dt>Last name</dt>
        <dd>{{ user.last_name }}</dd>

        <dt>Joined</dt>
        <dd>{{ user.date_joined }}</dd>

        <dt>Last login</dt>
        <dd>{{ user.last_login }}</dd>

        <dt>Last Awards vote</dt>
        <dd>{{ user.last_vote }}</dd>

        <dt>Exclude from Awards nominations</dt>
        <dd>{{ user.exclude_from_nomination }}</dd>

        <dt>Awards categories voted (last time)</dt>
        <dd>{{ user.categories_voted.all|join:"," }}</dd>

        <dt>Address</dt>
        <dd>
            <address>
                {{ user.street }} {{ user.number }}
                <br>
                {{ user.postal }} {{ user.city }}
                <br>
                {{ user.province }}
                <br>
                {{ user.country }}
            </address>
        </dd>
    </dl>
</section>

<section>
    <h1>Albums ({{ albums.count }})</h1>

    <ul>
        {% for album in albums %}
            <li>
                <h2>{{ album.title }}</h2>
                <small>ID: {{ album.id }}</small>
                <div>
                    Created: {{ album.created }}
                    <br>
                    Modified: {{ album.modified }}
                    <br>
                    Last upload: {{ album.last_upload }}
                    <br>
                    Views: {{ album.views }}
                    <br>
                    Public? {{ album.public }}
                    <br>
                    Trashed? {{ album.trash }}
                </div>
                <p>{{ album.category }}</p>
                <p>{{ album.description }}</p>
                <p>Cover photo: {{ album.cover_id }}</p>
                <p>
                    Related topic: {{ album.topic }}
                </p>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Album groups ({{ album_groups.count }})</h1>
    <ul>
        {% for group in album_groups %}
            <li>
                <h2>{{ group.album }}</h2>
                <p>{{ group.users.all|join:"," }}</p>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Photos ({{ photos.count }})</h1>
    <ul>
        {% for photo in photos %}
            <li>
                <h2>{{ photo.image.name }}</h2>
                {# TODO: link to file & include file #}
                <p>
                    Album: {{ photo.album_id }}
                    <br>
                    {{ photo.description }}
                </p>
                <p>
                    Uploaded: {{ photo.uploaded }}
                    <br>
                    Modified: {{ photo.modified }}
                    <br>
                    Views: {{ photo.views }}
                    <br>
                    Trashed: {{ photo.trash }}
                </p>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Album downloads ({{ downloads.count }})</h1>
    <ul>
        {% for download in downloads %}
            <li>
                <h2>{{ download.album }}</h2>
                <p>
                    Downloaded at: {{ download.timestamp }}
                    <br>
                    Download failed: {{ download.failed }}
                </p>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Submitted award nominations</h1>
    <ul>
        {% for project in submitted_projects %}
            <li>
                <h2>{{ project.name }}</h2>
                <a href="{{ project.url }}">Topic</a>
                <p>
                    Nominated {{ project.nomination_date }}.
                </p>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Award votes</h1>
    <ul>
        {% for vote in nomination_votes %}
            <li>
                <h2>Vote for {{ vote.category }}, on {{ vote.submitted }}</h2>
                <ol>
                    <li>
                        {% if vote.project1 %}
                            <a href="{{ vote.project1.url }}">{{ vote.project1 }}</a>
                        {% else %}
                        -
                        {% endif %}
                    </li>
                    <li>
                        {% if vote.project2 %}
                            <a href="{{ vote.project2.url }}">{{ vote.project2 }}</a>
                        {% else %}
                        -
                        {% endif %}
                    </li>
                    <li>
                        {% if vote.project3 %}
                            <a href="{{ vote.project3.url }}">{{ vote.project3 }}</a>
                        {% else %}
                        -
                        {% endif %}
                    </li>
                </ol>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Bans</h1>
    <ul>
        {% for ban in bans %}
            <li>
                Expiry: {{ band.expiry_date }}
                {% if ban.ip %}<br>
                    <strong>{{ ban.ip }}</strong>
                {% endif %}
                <br>
                Reason: {{ ban.reason }}
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Showcased models (Modelbouwdag)</h1>
    <ul>
        {% for model in showcased_models %}
            <li>
                <h2>{{ model.name }}</h2>
                <h3>{{ model.owner_name }} - {{ model.email }}</h3>

                <p>
                    {{ model.brand }}, 1/{{ model.scale }}
                </p>

                <blockquote>{{ model.remarks }}</blockquote>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Build history</h1>
    <ul>
        {% for build in builds %}
            <li>
                <h2>{{ build.title }}</h2>
                {% if build.topic %}<a href="{{ build.topic_url }}">topic</a>{% endif %}
                <p>
                    Kits used: {{ build.kits.all|join:", " }}
                </p>

                <h3>Photos</h3>
                <ul>
                    {% for photo in build.photos.all %}
                        <li>
                            {# TODO: include image #}
                            <a href="{{ photo.photo.image.url }}">image</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</section>

<section>
    <h1>Kit reviews</h1>
    <ul>
        {% for review in reviews %}
            <li>
                <h2>
                    Review for {{ review.model_kit }}
                </h2>
                <div>
                    {{ review.raw_text|linebreaksbr }}
                </div>
                <p>
                    Related album: {{ review.album_id }}
                    <br>
                    Related topic: <a href="{{ review.topic_url }}">topic</a>
                </p>
                <p>
                    Name displayed: {{ review.reviewer_name }}
                    <br>
                    Submitted {{ review.submitted_on }}
                </p>
            </li>
        {% endfor %}
    </ul>
</section>

{% if tracked_user %}
<section>
    <h1>User tracking</h1>
    <div>
        You were last seen on {{ tracked_user.last_seen }}, and your online-being
        is tracked since {{ tracked_user.tracking_since }}. If you are online,
        the moderators do {% if not tracked_user.notificate %}not {% endif %}receive a notification.
    </div>
</section>
{% endif %}

<section>
    <h1>Data downloads</h1>
    <ul>
        {% for download in data_downloads %}
            <li>
                Download requested at {{ download.created }}.
                <br>
                Finished: {{ download.finished|default:'-' }}
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}
