{% extends "data-download/base.html" %}

{% block content %}
<article>
    <h1>Profile</h1>

    <dl>
        <dt>Username</dt>
        <dd>{{ user.username }}</dd>

        <dt>Forum nickname</dt>
        <dd>{{ user.forum_nickname }}</dd>

        <dt>Email</dt>
        <dd>{{ user.email }}</dd>

        <dt>First name</dt>
        <dd>{{ user.first_name }}</dd>

        <dt>Last name</dt>
        <dd>{{ user.last_name }}</dd>

        <dt>Joined</dt>
        <dd>{{ user.date_joined }}</dd>

        <dt>Last login</dt>
        <dd>{{ user.last_login }}</dd>

        <dt>Last Awards vote</dt>
        <dd>{{ user.last_vote }}</dd>

        <dt>Exclude from Awards nominations</dt>
        <dd>{{ user.exclude_from_nomination }}</dd>

        <dt>Awards categories voted (last time)</dt>
        <dd>{{ user.categories_voted.all|join:"," }}</dd>

        <dt>Address</dt>
        <dd>
            <address>
                {{ user.street }} {{ user.number }}
                <br>
                {{ user.postal }} {{ user.city }}
                <br>
                {{ user.province }}
                <br>
                {{ user.country }}
            </address>
        </dd>
    </dl>
</article>
{% endblock content %}
