{% extends "base.html" %}

{% block title %}
Secret Santa {{year}} - Modelbrouwers applicaties
{% endblock %}

{% block content %}
<h1>Secret Santa {{year}}</h1>
<hr />
<br />
<img class="right" src="/media/images/santa.jpg" alt="Santa Image">
<p><i>Juggernaut</i> schreef het volgende:</p>
<br />
<p>Het idee van SS is dat je, net als bij lootjes trekken, een cadeautje (in de vorm van een kitje) krijgt van een ander forumlid.
Het is de bedoeling om het cadeautje vóór 25-12-11 af te hebben (en ik hoop dat iedereen dat ook gaat lukken).</p>
<br />
<p>De prijsklasse is 10 tot 15 Euro, erboven mag altijd, maar omdat het lullig is als jij een kit van &euro;30,- opstuurt en je krijgt een kitje van 12,50 terug, is het verstandig om in de buurt van deze prijsklasse te blijven.
Verder is het niet verplicht om een Kerstgedichtje bij het cadeautje te doen, maar het is wel leuk natuurlijk.</p>
<br />
<p>Aanmelden kan tot Zondag 5 December, daarna worden de lootjes verdeelt en kan iedereen een cadeautje kopen voor degene die op z'n lootje staat...</p>
<br />
<br />
<h3>Inschrijven</h3>
<br />
<p>Inschrijven gebeurt via je <a href="/profile/">gebruikersprofiel</a>. Vink het vakje bij 'Secret Santa' aan om je in te schrijven, en vul je adresgegevens aan.</p>
<br />
<br />
<h3>Wiens lootje heb ik nou?</h3>
<br />
<p>Dat ontdek je - pas vanaf 5 december! - door <a class= "link" href="receiver">hier</a> te klikken! De gegevens kunnen ook naar je e-mailadres (indien ingevuld) gestuurd worden.</p>
<br />
<br />
<h3>Ingeschreven deelnemers</h3>
<br />
<ul>
{% for participant in participants %}
<li type="1" class="updates">{{participant.user.get_profile.forum_nickname}}
{% if participant.verified %}
&nbsp;---&nbsp;Bevestigd
{% endif %}
</li>
{% endfor %}
</ul>
<br />
<br />
{% if user.is_staff %}
<br />
<hr />
<div class="admin">
<p><strong>Deze paragraaf (en al de rest dat ingesprongen is) is enkel voor admins zichtbaar.</strong></p>
<br />
<p>Door op onderstaande link te klikken wijs je random mensen toe aan elkaar als zender en ontvanger. Je kan achteraf in de admin het resultaat controleren, bij het '<strong>Secret Santa</strong>' gedeelte klik je naar het '<strong>Couples</strong>' gedeelte.<br /><br />Na het klikken word je naar de Secret Santa homepage doorverwezen. Als je per ongeluk meerdere keren op de link klikt, worden eerst de vorige koppels gewist en worden ze gewoon opnieuw random toegewezen.</p>
<br />
<a href="do_lottery">Wijs de mensen aan elkaar toe!</a>
</div>
{% endif %}
{% endblock %}
{% block appname %}Secret Santa{% endblock %}
