{% extends "secret_santa/base.html" %}

{% block content %}
	<div class="tab">Adresgegevens van jouw ontvanger</div>
	<img class="right" src="{{STATIC_URL}}images/santa.jpg" alt="Santa Image">
	<p>Op deze pagina zie je de gegevens van de persoon die jij hebt voor de Secret Santa.</p>
    
	<p>Ontvanger:&nbsp;<i>{{ receiver.user.get_profile.forum_nickname }}</i></p>
	<p><strong>Adres</strong></p>
	<p>
	    {% if receiver.user.get_full_name %}
		    {{ receiver.user.get_full_name }}
	    {% else %}
		    {{ receiver.user.get_profile.forum_nickname }}
	    {% endif %}
	    <br />{{ receiver.user.get_profile.street }}&nbsp;{{ receiver.user.get_profile.number }}
	    <br />{{ receiver.user.get_profile.postal }}&nbsp;{{ receiver.user.get_profile.city }}
	    <br />{{ receiver.user.get_profile.province }}
	    <br />{{ receiver.user.get_profile.get_country_display }}
	</p>

    <div class="midpage tab"><strong>Voorkeuren</strong></div>
	<p>Dit wil hij/zij <u>wel</u>:
	    <div class="preferences_ss">{{ receiver.user.get_profile.preference|linebreaks }}</div>
	</p>
	
	<p>Dit wil hij/zij <u>niet</u>:
	    <div class="preferences_ss">{{ receiver.user.get_profile.refuse|linebreaks }}</div>
	</p>
</div>
{% endblock %}
