label {
  font-weight: 500;

  &.required {
    font-weight: 700;
    &:after {
      content: "*";
    }
  }
}

textarea.form-control {
  height: 100px;
}

li.error {
  color: red;
  font-weight: bolder;
}

form {
  .submit-wrapper {
    text-align: right;
    margin-bottom: 30px;
  }

  fieldset {

    &.well {
      h3 {
        margin-top: 0;
      }
    }

    &.tab-pane {
      border: solid 1px #DDD;
      border-top: none;
      padding: 15px;
      margin-bottom: 15px;
    }
  }
}


/* buttons */
.btn {
  color: $white;

  &:hover, &:active, &:focus {
    color: $white;
    text-decoration: underline;
  }

  &.btn-default {
    background-color: $main-grey;
  }
}

.selectpicker {
  color: $text-color;

  &.btn-default {
    background-color: transparent;
  }

  &:hover {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
  }
}