.lightbox {
  --swiper-theme-color: #{$main-orange};

  .swiper-scrollbar {
    background: $main-orange;
  }

  .modal.modal--native {
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 0;
    grid-template-areas:
      'body body'
      'body body';
    position: relative;

    @include gt-mobile {
      padding: 0;
    }

    .modal__body {
      grid-column-start: body;
      grid-column-end: close;

      padding: 0;
      border: none;
      max-block-size: 100%;

      block-size: 90dvh;
      @include gt-mobile {
        inline-size: 75dvw;
      }
    }

    .modal__close {
      color: #cccccc;
      margin: 0;
      font-size: 200%;
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      z-index: 3;
    }
  }

  .fa-spinner {
    line-height: 90dvh;
    opacity: 0.75;
  }

  .swiper {
    block-size: 100%;
  }

  .image-wrapper {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    background-color: white; // for transparent images
    max-block-size: 100%;
    max-inline-size: 100%;
    padding: 5px;
  }
}
