@use "sass:math";

/* Lightbox */
$lightbox-height: 90vh;
$lightbox-margin: math.div((100vh - $lightbox-height), 2);

.lightbox {
  padding-right: 0 !important; // stupid bootstrap

  .modal-dialog {
    @include gt-mobile {
      width: 75vw;
      padding: 0;
    }
  }

  .modal-content {
    border-radius: 0;
    height: $lightbox-height;
    margin-top: $lightbox-margin;
    margin-bottom: $lightbox-margin;
    background-color: rgba($black, 0.95);
  }

  .modal-content > * {
    padding: 0;
    border: none;
    max-height: 100%;
  }

  .fa-spinner {
    @include spinner();
    line-height: $lightbox-height;
    opacity: 0.75;
  }

  .swiper {
    height: 100%;
  }

  .image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    background-color: white; // for transparent images
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
  }
}
