@import 'perfect-scrollbar/css/perfect-scrollbar';

// Colors
$ps-rail-hover: $main-blue;
$ps-bar-default: $main-green;
$ps-bar-hover: $main-green;

$ps-rail-width: 8px;
$ps-rail-offset: 3px;


@mixin ps-dimensions($dimension, $width: $ps-rail-width, $offset: $ps-rail-offset) {
  $width-property: null;
  $offset-property: null;

  @if $dimension == x {
    $width-property: height;
    $offset-property: bottom;
  } @else if $dimension == y {
    $width-property: width;
    $offset-property: right;
  } @else {
    @error "Unknown dimension #{$dimension}";
  }

  #{$width-property}: $width;
  #{$offset-property}: $offset;
}


.ps {
  @each $dimension in x, y {

    & &__rail-#{$dimension} {
      @include ps-dimensions($dimension);
      background-color: $ps-rail-hover;
      border-radius: 4px;

      &:hover,
      &:focus,
      &.ps--clicking {
        background-color: $ps-rail-hover;

        .ps__thumb-#{$dimension} {
          @include ps-dimensions($dimension, $offset: 0);
          background-color: $ps-bar-hover;
        }
      }
    }

    &__thumb-#{$dimension} {
      background-color: $ps-bar-default;
      @include ps-dimensions($dimension, $offset: 0);
    }
  }
}
