@import 'perfect-scrollbar/css/perfect-scrollbar';

// Colors
$ps-rail-hover: $main-blue;
$ps-bar-default: $main-green;
$ps-bar-hover: $main-green;

$ps-rail-width: 8px;
$ps-rail-offset: 3px;

.ps {
  & &__rail-x,
  & &__rail-y {
    background-color: $ps-rail-hover;

    &:hover,
    &:focus,
    &.ps--clicking {
      background-color: $ps-rail-hover;
    }
  }

  & &__rail-y {
    width: $ps-rail-width;
    right: $ps-rail-offset;
    border-radius: 4px;

    &:hover,
    &:focus,
    &.ps--clicking {
      .ps__thumb-y {
        background-color: $ps-bar-hover;
        width: $ps-rail-width;
        right: 0;
      }
    }
  }

  & &__rail-x {
    height: $ps-rail-width;
    bottom: $ps-rail-offset;
    border-radius: 4px;

    &:hover,
    &:focus,
    &.ps--clicking {
      .ps__thumb-x {
        background-color: $ps-bar-hover;
        height: $ps-rail-width;
        bottom: 0;
      }
    }
  }

  &__thumb-y {
    background-color: $ps-bar-default;
    width: $ps-rail-width;
    right: 0;
  }

  &__thumb-x {
    background-color: $ps-bar-default;
    height: $ps-rail-width;
    bottom: 0;
  }
}


.album-photo {
  min-height: 300px;
}
