@use "../modules/bem";
@use "../modules/responsive";

// headings

.heading {
  @include bem.modifier("plain") {
    color: var(--mb-color-text);
  }
}

@include responsive.lte-mobile {
  h1 {
    font-size: 28px;
    margin-top: 6px;
  }

  h2 {
    font-size: 24px;
    margin-top: 6px;
  }
}
