@use '../../modules/bem';

@keyframes change-color {
  0% {
    color: $main-red;
  }
  20% {
    color: $main-green;
  }
  40% {
    color: $main-light-blue;
  }
  60% {
    color: $main-pink;
  }
  80% {
    color: $main-grey;
  }
  100% {
    color: $main-blue;
  }
}

.loader {
  @include bem.modifier('centered') {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include bem.element('spinner') {
    animation:
      fa-spin 1s infinite steps(8),
      change-color 1s infinite steps(6);
  }
}
