{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}
<style type="text/css">
p{margin-top:1em;}
code{font-size:1.2em;font-weight:bolder;}
div.preferences_ss{
    margin: 1em;
    margin-right: 5em;
    padding: 0.3em;
    background-color: #EEE;
    width: 70%;
}
</style>
{% endblock %}

{% block title %}
Modelbrouwers.nl &bull; {{ secret_santa }}
{% endblock %}

{% block content %}
<div class="tab">
    {{ secret_santa }} &bull; <a href="#participants">{% trans 'Participants' %}</a> {% if is_participant %}&bull; <a href="{% url secret_santa.views.receiver %}">{% trans 'My Secret Santa' %}</a>{% endif %}
</div>
<img class="right" src="{{STATIC_URL}}images/santa.jpg" alt="Santa Image">

<!-- TODO: translations -->
<p>Het idee van Secret Santa (SS) is dat je, net als bij lootjes trekken, een cadeautje (in de vorm van een kitje) krijgt van een ander forumlid.
Het is de bedoeling om het cadeautje vóór 25-12-{{ secret_santa.year|add:"1" }} af te hebben (en we hopen dat dat ook iedereen lukt). Je plaatst je brouwverslag in het gewone forumdeel, maar je zet in je topictitel de volgende tag: <code>[SS {{ secret_santa.year }}]</code>.
</p>
<!-- TODO: translations -->
<p>De prijsklasse is ongeveer {{ secret_santa.get_price_class }} euro, erboven mag altijd, maar omdat het lullig is als jij een kit van &euro;30,- opstuurt en je krijgt een kitje van &euro;12,50,- terug, is het verstandig om in de buurt van deze prijsklasse te blijven.
Verder is het niet verplicht om een Kerstgedichtje bij het cadeautje te doen, maar het is wel leuk natuurlijk.
</p>
<!-- TODO: translations -->
<p>Aanmelden kan van {{ secret_santa.enrollment_start|date:"l j F" }} <strong>tot {{ secret_santa.enrollment_end|date:"l j F" }}</strong>, daarna ({{ secret_santa.lottery_date|date:"j F" }}) worden de lootjes verdeeld en kan iedereen een cadeautje kopen voor degene die op z'n lootje staat... Je krijgt een notificatie per e-mail als de lootjes verdeeld zijn.</p>

<div class="tab midpage">{% trans 'Enrollment' %}</div>
<p>
{% url general.views.profile as profile_url %}
{% if secret_santa.enrollment_open %}
    {% blocktrans %}To be able to enroll, you must make sure that your address
    details are complete in your <a href="{{ profile_url }}">profile</a>.{% endblocktrans %}
    <br />
    <br />
    {% if user.get_profile.is_address_ok %}
        {% if not is_participant %}
            <form action="{% url secret_santa.views.enroll %}" method="post">{% csrf_token %}
                {{ form.as_p }}
                <input class="submit-button" type="submit" value="{% trans 'Join!' %}" />
            </form>
        {% else %}
            Je bent al ingeschreven!
        {% endif %}
    {% else %}
        {% if not is_participant %}
            <input class="submit-button" type="submit" value="{% trans 'Join!' %}" disabled="disabled"/> {% trans 'Your address details are incomplete.' %}
        {% else %}
            {% trans 'You are already participating.' %}
        {% endif %}
    {% endif %}
{% else %}
    {% trans 'Enrollment is not possible at the moment.' %}
{% endif %}
</p>

<!-- TODO: some more translations -->
<div class="midpage tab">Wiens lootje heb ik nou?</div>
<p>Dat ontdek je - pas vanaf {{ secret_santa.lottery_date|date:"j F" }}! - door <a href="receiver">hier</a> te klikken! De gegevens worden ook gemaild eenmaal de lootjes verdeeld zijn.</p>

<div class="midpage tab" id="participants">{% trans 'Participants' %}</div>
<p><ul id="participants" style="margin-left:2em;">
    {% for participant in participants %}
        <li type="1">
            {{ participant.user.get_profile.forum_nickname }}
        </li>
    {% endfor %}
</ul></p>

{% if user.is_staff %}
    <div class="midpage tab staff">{% trans 'Do the lottery' %}</div>
    <p>
        {% if not secret_santa.lottery_done %}
            {% if can_do_lottery %}
                <a href="do_lottery"><button>{% trans 'Do the lottery' %}</button></a>
            {% else %}
                {% blocktrans with date=secret_santa.lottery_date|date:"d-m-y" %}The lottery can only be done on {{ date }} or later.{% endblocktrans %}
            {% endif %}
        {% else %}
            {% trans 'Done already!' %}
        {% endif %}
    </p>
{% endif %}
{% endblock %}
